@model WaterResource.Web.Models.IndexViewModel
@{
    ViewBag.Title = "ĐỔI MẬT KHẨU";
}


<style>
    .password-change-success {
        width: 100vw;
        height: 100vh;
        background: #000000db;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 9999;
        cursor: not-allowed;
    }

        .password-change-success .message {
            color: #20c997;
        }
</style>
<div class="password-change-success">
    <div class="col-md-12 row m-0 justify-content-center">
        <h3 class="message col-12 text-center m-0 py-5 text-uppercase">@TempData["success"]</h3>
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "nav-link p-0" }))
        {
            @Html.AntiForgeryToken() <!-- Menu Toggle Button -->
            <a class="bg-danger nav-link" href="javascript:document.getElementById('logoutForm').submit()"> Đăng xuất </a>
        }
    </div>
</div>