@using WaterResource.Service;
@{
    UserRightService _service = new UserRightService();
    string user = User.Identity.Name;
}
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <a href="http://tainguyenmoitruongsonla.vn/" class="brand-link logo-switch">
        <span class="brand-image-xs logo-xl"><img src="~/LocalFiles/images/logo_sotnmtsonla.png" width="40" height="40" alt="logo_sotnmtsonla" /> Sở TNMT Sơn La</span>
    </a>
    <nav>
        <ul class="nav nav-pills nav-sidebar nav-child-indent flex-column" data-widget="treeview" role="menu">
            <li class="nav-item"> <a href="/" class="nav-link font-13 text-white"> <i class="fa-solid fa-house"></i> <p> TRANG CHỦ TNN </p></a></li>
            @if (_service.IsViewAction("/cong-trinh", user, "VIEW"))
            {
                if (_service.IsInRole(user, "Default") || _service.IsInRole(user, "Construction") || _service.IsInRole(user, "Business"))
                {
                    <li class="nav-item"><a href="/cong-trinh" class="nav-link font-13 text-white"><p>Công trình</p></a></li>
                }
                else
                {
                    <li class="nav-item has-treeview">
                        <a href="#" class="nav-link font-13 nav-link text-white">
                            <p>Công trình KTSDN<i class="right fas fa-angle-left"></i></p>
                        </a>
                        <ul class="nav nav-treeview p-0" style="display: none;">
                            <li class="nav-item"><a href="/cong-trinh" class="nav-link font-13 ml-2"><i class="far fa-circle nav-icon"></i><p>Bản đồ vị trí công trình</p></a></li>
                            <li class="nav-item"><a href="/cong-trinh/nuoc-mat" class="nav-link font-13 ml-2"><i class="far fa-circle nav-icon"></i><p>Nước mặt</p></a></li>
                            <li class="nav-item"><a href="/cong-trinh/nuoc-duoi-dat" class="nav-link font-13 ml-2"><i class="far fa-circle nav-icon"></i><p>Nước dưới đất</p></a></li>
                            <li class="nav-item"><a href="/cong-trinh/xa-thai" class="nav-link font-13 ml-2"><i class="far fa-circle nav-icon"></i><p>Xả thải</p></a></li>
                        </ul>
                    </li>
                }
            }
            @if (_service.IsViewAction("/giay-phep", user, "VIEW"))
            {
                if (_service.IsInRole(user, "Default") || _service.IsInRole(user, "Construction") || _service.IsInRole(user, "Business"))
                {
                    <li class="nav-item"><a href="/giay-phep" class="nav-link font-13 text-white"><p>Giấy phép</p></a></li>
                }
                else
                {
                    <li class="nav-item has-treeview">
                        <a href="#" class="nav-link font-13 text-white">
                            <p>Quản lý giấy phép<i class="right fas fa-angle-left"></i></p>
                        </a>
                        <ul class="nav nav-treeview p-0" style="display: none;">
                            <li class="nav-item"><a href="/giay-phep" class="nav-link font-13 ml-2"> <i class="far fa-circle nav-icon"></i> Quản lý cấp phép </a></li>
                            <li class="nav-item"><a href="/giay-phep/nuoc-mat" class="nav-link font-13 ml-2"> <i class="far fa-circle nav-icon"></i> Khai thác, sử dụng nước mặt </a></li>
                            <li class="nav-item"><a href="/giay-phep/khai-thac-nuoc-duoi-dat" class="nav-link font-13 ml-2"> <i class="far fa-circle nav-icon"></i> Khai thác, sử dụng NDD </a></li>
                            <li class="nav-item"><a href="/giay-phep/tham-do-nuoc-duoi-dat" class="nav-link font-13 ml-2"> <i class="far fa-circle nav-icon"></i> Thăm dò NDD </a></li>
                            <li class="nav-item"><a href="/giay-phep/hanh-nghe-khoan-nuoc-duoi-dat" class="nav-link font-13 ml-2"> <i class="far fa-circle nav-icon"></i> Hành nghề khoan NDD </a></li>
                            <li class="nav-item"><a href="/giay-phep/xa-thai" class="nav-link font-13 ml-2"> <i class="far fa-circle nav-icon"></i> Xả nước thải vào nguồn nước </a></li>
                        </ul>
                    </li>
                }
            }
            @if (_service.IsViewAction("/doanh-nghiep", user, "VIEW"))
            {
                <li class="nav-item"><a href="/doanh-nghiep" class="nav-link font-13 text-white"><p>Doanh nghiệp</p></a></li>
            }
            @if (_service.IsViewAction("/tien-cap-quyen", user, "VIEW"))
            {
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link font-13 text-white">
                        <p>Tiền cấp quyền<i class="right fas fa-angle-left"></i></p>
                    </a>
                    <ul class="nav nav-treeview p-0" style="display: none;">
                        <li class="nav-item"><a href="/tien-cap-quyen" class="nav-link font-13 ml-2"> <i class="far fa-circle nav-icon"></i> Tổng quan </a></li>
                        <li class="nav-item"><a href="/tien-cap-quyen/bo-cap" class="nav-link font-13 ml-2"> <i class="far fa-circle nav-icon"></i> Giấy phép Bộ cấp </a></li>
                        <li class="nav-item"><a href="/tien-cap-quyen/tinh-cap" class="nav-link font-13 ml-2"> <i class="far fa-circle nav-icon"></i> Giấy phép Tỉnh cấp </a></li>
                    </ul>
                </li>
            }
            @if (_service.IsViewAction("/yeu-cau-ket-noi", user, "VIEW"))
            {
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link font-13 text-white">
                        <p>Hệ thống giám sát<i class="right fas fa-angle-left"></i></p>
                    </a>
                    <ul class="nav nav-treeview p-0" style="display: none;">
                        <li class="nav-item"><a href="/yeu-cau-ket-noi" class="nav-link font-13 ml-2"> <i class="far fa-circle nav-icon"></i>Yêu cầu kết nối </a></li>
                        @if (_service.IsSuperUser(user))
                        {

                            <li class="nav-item"><a href="/quan-ly-yeu-cau-ket-noi" class="nav-link font-13 ml-2"> <i class="far fa-circle nav-icon"></i>Quản lý yêu cầu kết nối </a></li>
                        }
                        <li class="nav-item"><a href="/he-thong-giam-sat" class="nav-link font-13 ml-2"> <i class="far fa-circle nav-icon"></i> Bản đồ vị trí công trình </a></li>
                        <li class="nav-item"><a href="/he-thong-giam-sat/nuoc-mat" class="nav-link font-13 ml-2"> <i class="far fa-circle nav-icon"></i> Khai thác, sử dụng nước mặt </a></li>
                        <li class="nav-item"><a href="/he-thong-giam-sat/nuoc-duoi-dat" class="nav-link font-13 ml-2"> <i class="far fa-circle nav-icon"></i> Khai thác, sử dụng NDD </a></li>
                        <li class="nav-item"><a href="/he-thong-giam-sat/xa-thai" class="nav-link font-13 ml-2"> <i class="far fa-circle nav-icon"></i> Xả nước thải vào nguồn nước </a></li>
                    </ul>
                </li>
            }
            @if (_service.IsViewAction("/thong-tin-du-lieu", user, "VIEW"))
            {
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link font-13 text-white">
                        <p>Thông tin - Báo cáo biểu mẫu<i class="right fas fa-angle-left"></i></p>
                    </a>
                    <ul class="nav nav-treeview p-0" style="display: none;">
                        <li class="nav-item">
                            <a href="#" class="nav-link font-13 ml-2">
                                <p><i class="far fa-circle nav-icon"></i> Thông tin dữ liệu <i class="right fas fa-angle-left"></i></p>
                            </a>
                            <ul class="nav nav-treeview p-0" style="display: none;">
                                <li class="nav-item">
                                    <a href="#" class="nav-link font-13 ml-4">
                                        <p><i class="far fa-circle nav-icon"></i> Văn bản quy phạm pháp luật <i class="right fas fa-angle-left"></i></p>
                                    </a>
                                    <ul class="nav nav-treeview p-0" style="display: none;">
                                        <li class="nav-item"><a href="http://dwrm.gov.vn/index.php/vi/laws/Tai-nguyen-nuoc/" target="_blank" rel="noopener noreferrer" class="nav-link font-13 ml-5"> <i class="far fa-dot-circle nav-icon"></i> Trung ương</a></li>
                                        <li class="nav-item"><a href="/thong-tin-du-lieu/van-ban-quy-pham-phap-luat/dia-phuong" class="nav-link font-13 ml-5"> <i class="far fa-dot-circle nav-icon"></i> Địa Phương</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link font-13 ml-4">
                                        <p><i class="far fa-circle nav-icon"></i> Số liệu điều tra <i class="right fas fa-angle-left"></i></p>
                                    </a>
                                    <ul class="nav nav-treeview p-0" style="display: none;">
                                        <li class="nav-item"><a href="/thong-tin-du-lieu/so-lieu-dieu-tra/nuoc-mat" class="nav-link font-13 ml-5"> <i class="far fa-dot-circle nav-icon"></i> Nước mặt</a></li>
                                        <li class="nav-item ml-5">
                                            <a href="#" class="nav-link font-13">
                                                <p><i class="far fa-circle nav-icon"></i> Nước dưới đất <i class="right fas fa-angle-left"></i></p>
                                            </a>
                                            <ul class="nav nav-treeview p-0" style="display: none;">
                                                <li class="nav-item"><a href="/thong-tin-du-lieu/so-lieu-dieu-tra/nuoc-duoi-dat/khao-sat-dia-chat" class="nav-link font-13 ml-2"> <i class="far fa-dot-circle nav-icon"></i>Khảo sát địa chất thủy văn</a></li>
                                                <li class="nav-item"><a href="/thong-tin-du-lieu/so-lieu-dieu-tra/nuoc-duoi-dat/tiem-nang-nuoc-ngam" class="nav-link font-13 ml-2"> <i class="far fa-dot-circle nav-icon"></i>Đánh giá tiềm năng nước ngầm</a></li>
                                            </ul>
                                        </li>
                                        <li class="nav-item"><a href="/thong-tin-du-lieu/so-lieu-dieu-tra/xa-thai" class="nav-link font-13 ml-5"> <i class="far fa-dot-circle nav-icon"></i>  Xả thải</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link font-13 ml-4">
                                        <p><i class="far fa-circle nav-icon"></i> Hồ sơ kỹ thuật công trình <i class="right fas fa-angle-left"></i></p>
                                    </a>
                                    <ul class="nav nav-treeview p-0" style="display: none;">
                                        <li class="nav-item"><a href="/thong-tin-du-lieu/ho-so-ky-thuat/nuoc-mat" class="nav-link font-13 ml-5"> <i class="far fa-dot-circle nav-icon"></i> Nước mặt</a></li>
                                        <li class="nav-item"><a href="/thong-tin-du-lieu/ho-so-ky-thuat/nuoc-duoi-dat" class="nav-link font-13 ml-5"> <i class="far fa-dot-circle nav-icon"></i> Nước dưới đất</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link font-13 ml-4">
                                        <p><i class="far fa-circle nav-icon"></i> Danh mục sông suối <i class="right fas fa-angle-left"></i></p>
                                    </a>
                                    <ul class="nav nav-treeview p-0" style="display: none;">
                                        <li class="nav-item"><a href="/thong-tin-du-lieu/danh-muc-song-suoi/noi-tinh" class="nav-link font-13 ml-5"> <i class="far fa-dot-circle nav-icon"></i>Sông, suối nội tỉnh</a></li>
                                        <li class="nav-item"><a href="/thong-tin-du-lieu/danh-muc-song-suoi/ao-ho" class="nav-link font-13 ml-5"> <i class="far fa-dot-circle nav-icon"></i>Ao, hồ</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item"><a href="/thong-tin-du-lieu/tai-nguyen-nuoc" class="nav-link font-13 ml-4"> <i class="far fa-circle nav-icon"></i> Tài nguyên nước </a></li>
                                <li class="nav-item"><a href="/thong-tin-du-lieu/ket-qua-cap-phep" class="nav-link font-13 ml-4"> <i class="far fa-circle nav-icon"></i> Kết quả cấp phép </a></li>
                            </ul>
                        </li>
                        <li class="nav-item"><a href="/bao-cao-bieu-mau" class="nav-link font-13 ml-2"> <i class="far fa-circle nav-icon"></i> Báo cáo biểu mẫu </a></li>
                    </ul>
                </li>
            }
            <li class="nav-item has-treeview">
                <a href="#" class="nav-link font-13 text-white">
                    <p>Nội dung khác<i class="right fas fa-angle-left"></i></p>
                </a>
                <ul class="nav nav-treeview p-0" style="display: none;">
                    @if (_service.IsViewAction("/thanh-tra-kiem-tra", user, "VIEW"))
                    {
                        <li class="nav-item"><a href="/thanh-tra-kiem-tra" class="nav-link font-13 ml-2"> <i class="far fa-circle nav-icon"></i> Thanh tra kiểm tra </a></li>
                    }
                    @if (_service.IsViewAction("/luu-vuc", user, "VIEW"))
                    {
                        <li class="nav-item"><a href="/luu-vuc" class="nav-link font-13 ml-2"> <i class="far fa-circle nav-icon"></i> Lưu vực </a></li>
                    }
                    @if (_service.IsViewAction("/song-suoi", user, "VIEW"))
                    {
                        <li class="nav-item"><a href="/song-suoi" class="nav-link font-13 ml-2"> <i class="far fa-circle nav-icon"></i> Sông, suối </a></li>
                    }
                    @if (_service.IsViewAction("/quy-hoach-tai-nguyen-nuoc", user, "VIEW"))
                    {
                        <li class="nav-item">
                            <a href="#" class="nav-link font-13 ml-2">
                                <p><i class="far fa-circle nav-icon"></i> Quy hoạch TNN <i class="right fas fa-angle-left"></i></p>
                            </a>

                            <ul class="nav nav-treeview p-0" style="display: none;">
                                <li class="nav-item ml-4">
                                    <a href="#" class="nav-link font-13">
                                        <p><i class="far fa-dot-circle nav-icon"></i> Phân vùng quy hoạch và các bản đồ quy hoạch <i class="right fas fa-angle-left"></i></p>
                                    </a>

                                    <ul class="nav nav-treeview p-0" style="display: none;">
                                        <li class="nav-item"><a href="/quy-hoach-tai-nguyen-nuoc/ban-do-phan-vung-quy-hoach" class="nav-link font-13 ml-4"> <i class="far fa-dot-circle nav-icon"></i>Bản đồ phân vùng quy hoạch</a></li>
                                        <li class="nav-item"><a href="/quy-hoach-tai-nguyen-nuoc/bang-phan-vung-quy-hoach" class="nav-link font-13 ml-4"> <i class="far fa-dot-circle nav-icon"></i>Bảng phân vùng quy hoạch</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item ml-4">
                                    <a href="#" class="nav-link font-13">
                                        <p><i class="far fa-dot-circle nav-icon"></i> Tổng lượng nguồn nước <i class="right fas fa-angle-left"></i></p>
                                    </a>

                                    <ul class="nav nav-treeview p-0" style="display: none;">
                                        <li class="nav-item"><a href="/quy-hoach-tai-nguyen-nuoc/tong-luong-nguon-nuoc/nuoc-mua" class="nav-link font-13 ml-4"> <i class="far fa-dot-circle nav-icon"></i>Lượng nước mưa</a></li>
                                        <li class="nav-item"><a href="/quy-hoach-tai-nguyen-nuoc/tong-luong-nguon-nuoc/nuoc-mat" class="nav-link font-13 ml-4"> <i class="far fa-dot-circle nav-icon"></i>Lượng nước mặt</a></li>
                                        <li class="nav-item"><a href="/quy-hoach-tai-nguyen-nuoc/tong-luong-nguon-nuoc/nuoc-duoi-dat" class="nav-link font-13 ml-4"> <i class="far fa-dot-circle nav-icon"></i>Lượng nước dưới đất</a></li>
                                    </ul>
                                </li>

                                <li class="nav-item ml-4">
                                    <a href="#" class="nav-link font-13">
                                        <p><i class="far fa-dot-circle nav-icon"></i> Nhu cầu sử dụng nước <i class="right fas fa-angle-left"></i></p>
                                    </a>

                                    <ul class="nav nav-treeview p-0" style="display: none;">
                                        <li class="nav-item"><a href="/quy-hoach-tai-nguyen-nuoc/nhu-cau-su-dung-nuoc/nong-nghiep" class="nav-link font-13 ml-4"> <i class="far fa-dot-circle nav-icon"></i>Cho nông nghiệp</a></li>
                                        <li class="nav-item"><a href="/quy-hoach-tai-nguyen-nuoc/nhu-cau-su-dung-nuoc/cong-nghiep" class="nav-link font-13 ml-4"> <i class="far fa-dot-circle nav-icon"></i>Cho công nghiệp</a></li>
                                        <li class="nav-item"><a href="/quy-hoach-tai-nguyen-nuoc/nhu-cau-su-dung-nuoc/sinh-hoat" class="nav-link font-13 ml-4"> <i class="far fa-dot-circle nav-icon"></i>Cho sinh hoạt</a></li>
                                        <li class="nav-item"><a href="/quy-hoach-tai-nguyen-nuoc/nhu-cau-su-dung-nuoc/chan-nuoi" class="nav-link font-13 ml-4"> <i class="far fa-dot-circle nav-icon"></i>Cho chăn nuôi</a></li>
                                        <li class="nav-item"><a href="/quy-hoach-tai-nguyen-nuoc/nhu-cau-su-dung-nuoc/nuoi-trong-thuy-san" class="nav-link font-13 ml-4"> <i class="far fa-dot-circle nav-icon"></i>Cho nuôi trồng thủy sản</a></li>
                                        <li class="nav-item"><a href="/quy-hoach-tai-nguyen-nuoc/nhu-cau-su-dung-nuoc/y-te" class="nav-link font-13 ml-4"> <i class="far fa-dot-circle nav-icon"></i>Cho y tế </a></li>
                                        <li class="nav-item"><a href="/quy-hoach-tai-nguyen-nuoc/nhu-cau-su-dung-nuoc/du-lich" class="nav-link font-13 ml-4"> <i class="far fa-dot-circle nav-icon"></i>Cho dịch vụ du lịch</a></li>
                                        <li class="nav-item"><a href="/quy-hoach-tai-nguyen-nuoc/nhu-cau-su-dung-nuoc/moi-truong" class="nav-link font-13 ml-4"> <i class="far fa-dot-circle nav-icon"></i>Cho môi trường sinh thái </a></li>
                                        <li class="nav-item"><a href="/quy-hoach-tai-nguyen-nuoc/nhu-cau-su-dung-nuoc/tong" class="nav-link font-13 ml-4"> <i class="far fa-dot-circle nav-icon"></i>Tổng nhu cầu SDN</a></li>
                                    </ul>
                                </li>

                                <li class="nav-item"><a href="/quy-hoach-tai-nguyen-nuoc/kha-nang-dap-ung-nguon-nuoc" class="nav-link font-13 ml-4"> <i class="far fa-dot-circle nav-icon"></i> Khả năng đáp ứng nguồn nước </a></li>
                                <li class="nav-item"><a href="/quy-hoach-tai-nguyen-nuoc/dong-chay-toi-thieu" class="nav-link font-13 ml-4"> <i class="far fa-dot-circle nav-icon"></i> Nhu cầu dòng chảy tối thiểu  </a></li>
                                <li class="nav-item ml-4">
                                    <a href="#" class="nav-link font-13 "> <i class="far fa-dot-circle nav-icon"></i> Mục tiêu chất lượng nước <i class="right fas fa-angle-left"></i> </a>

                                    <ul class="nav nav-treeview p-0" style="display: none;">
                                        <li class="nav-item"><a href="/quy-hoach-tai-nguyen-nuoc/chat-luong-nuoc-mat" class="nav-link font-13 ml-4"> <i class="far fa-dot-circle nav-icon"></i>Mục tiêu chất lượng nước mặt</a></li>
                                        <li class="nav-item"><a href="/quy-hoach-tai-nguyen-nuoc/chat-luong-nuoc-duoi-dat" class="nav-link font-13 ml-4"> <i class="far fa-dot-circle nav-icon"></i>Mục tiêu chất lượng nước dưới đất</a></li>
                                    </ul>
                                </li>

                                <li class="nav-item"><a href="/quy-hoach-tai-nguyen-nuoc/muc-nuoc-lon-nhat-khai-thac" class="nav-link font-13 ml-4"> <i class="far fa-dot-circle nav-icon"></i> Mực nước lớn nhất có thể khai thác NDD  </a></li>
                                <li class="nav-item"><a href="/quy-hoach-tai-nguyen-nuoc/quy-mo-cong-trinh-khai-thac" class="nav-link font-13 ml-4"> <i class="far fa-dot-circle nav-icon"></i> Quy mô công trình khai thác sử dụng nước </a></li>
                                <li class="nav-item"><a href="/quy-hoach-tai-nguyen-nuoc/bao-cao-quy-hoach-tai-nguyen-nuoc" class="nav-link font-13 ml-4"> <i class="far fa-dot-circle nav-icon"></i> Quyết định/Báo cáo quy hoạch (file PDF)  </a></li>
                            </ul>
                        </li>
                    }
                </ul>
            </li>
            @if (_service.IsViewAction("/thong-bao", user, "VIEW"))
            {
                <li class="nav-item"> <a href="/thong-bao" class="nav-link font-13 text-white"> <p> Thông báo - Cảnh báo </p> </a></li>
            }

            <li class="nav-item"> <a href="/huong-dan-su-dung" class="nav-link font-13 text-white"> <p> Hướng dẫn sử dụng </p></a></li>
            @if (_service.IsSuperUser(user))
            {
                <li class="text-dark border-bottom bg-light nav-link rounded-0"> <i class="nav-icon fa fa-fw fa-institution"></i> HỆ THỐNG</li>
                <li class="nav-item">
                    <a href="#" class="nav-link font-13 text-white">
                        <p> Quản lý hệ thống <i class="right fas fa-angle-left"></i></p>
                    </a>
                    <ul class="nav nav-treeview p-0" style="display: none;">
                        <li class="nav-item"><a href="/dashboard" class="nav-link font-13 ml-2"> <i class="far fa-circle nav-icon"></i> Quản lý trang truy cập </a></li>
                        <li class="nav-item"><a href="/roleman" class="nav-link font-13 ml-2"> <i class="far fa-circle nav-icon"></i> Quản lý nhóm người dùng </a></li>
                        <li class="nav-item"><a href="/userman" class="nav-link font-13 ml-2"> <i class="far fa-circle nav-icon"></i> Quản lý người dùng </a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link font-13 text-white">
                        <p> Phân quyền <i class="right fas fa-angle-left"></i></p>
                    </a>
                    <ul class="nav nav-treeview p-0" style="display: none;">
                        <li class="nav-item"><a href="/rolepermit" class="nav-link font-13 ml-2"> <i class="far fa-circle nav-icon"></i> Phân quyền nhóm người dùng </a></li>
                        <li class="nav-item"><a href="/userpermit" class="nav-link font-13 ml-2"> <i class="far fa-circle nav-icon"></i> Phân quyền người dùng </a></li>
                    </ul>
                </li>
            }
        </ul>
    </nav>

    <p class="text-white row m-0 p-2 text-center justify-content-between font-weight-bold font-10 col-12" style="position: absolute; bottom: 0; background: #996a15;">
        @*<img src="~/LocalFiles/images/logo-vienthuy-van.jpg" width="35" height="35" alt="logo_sotnmtsonla" />*@
        <span>
            <i>Đơn vị phát triển</i>
            <br />
            <span> Viện Thủy văn Môi trường & Biến đổi khí hậu - Trường Đại Học Thuỷ Lợi</span>
            <br />
            <span> 02438522027 - tvmtbdkh@gmail.com</span>
        </span>
    </p>
</aside>