@using WaterResource.Web.Models
@using WaterResource.Service;
@{
    ViewBag.Title = "Các trang truy cập";
    UserRightService _service = new UserRightService();
}
@if (_service.IsSuperUser(User.Identity.Name))
{
    <!-- Content Wrapper. Contains page content -->
    <div ng-controller="myCntrl as demo">
        <script src="~/Scripts/Dashboard/Service.js"></script>
        <script src="~/Scripts/Dashboard/Controller.js"></script>

        <!-- Main content -->
        <section class="content container-fluid">
            <div class="col-md-12">
                <!-- Horizontal Form -->
                <div class="box box-info">
                    <div class="box-header with-border d-flex py-2">
                        <div class="col-md-12 d-flex align-items-center justify-content-end">
                            <div class="col-12 col-sm-6 d-flex col-md-4 col-lg-3">
                                <input type="text" class="form-control pull-right" placeholder="Tìm kiếm... " ng-model="Keyword">
                                <button class="btn btn-sm btn-addnew px-4 mx-1" ng-click="Search()"><i class="fa-solid fa-magnifying-glass"></i></button>
                            </div>
                            <button type="button" class="btn btn-addnew pull-right" data-toggle="modal" data-target="#addnew-window" ng-click="AddItem()"><i class="fa fa-plus"></i> Thêm mới</button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form class="form-horizontal">
                        <div class="box-body">
                            <table class="table table-sm no-margin table-hover">
                                <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Tên trang web</th>
                                        <th>Mô tả</th>
                                        <th>Đường dẫn</th>
                                        <th style="text-align:center">Quyền truy cập</th>
                                        <th style="text-align:center">Truy cập theo tài khoản</th>
                                        <th class="command" style="text-align:center">#</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in Dashboards">
                                        <td ng-bind-html="(currentPage -1)*numPerPage+$index+1"></td>
                                        <td ng-bind-html="item.Name"></td>
                                        <td ng-bind-html="item.Description"></td>
                                        <td ng-bind-html="item.FileControl"></td>
                                        <td style="text-align:center"><input type="checkbox" ng-model="item.PermitAccess" /></td>
                                        <td style="text-align:center"><input type="checkbox" ng-model="item.PermitByUser" /></td>
                                        <td class="command" style="text-align:center">
                                            <div class="tools d-flex center-center">
                                                <a href="javascript:void(0)" data-toggle="modal" data-target="#addnew-window" ng-click="EditItem(item)">
                                                    <i class="fa fa-edit"></i>
                                                </a>
                                                <a href="javascript:void(0)" class="text-red" ng-click="DeleteItem(item)">
                                                    <i class="fa-solid fa-trash-can"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer">
                            <div class="box-tools pull-right">
                                <ul uib-pagination
                                    total-items="TotalItem"
                                    ng-model="currentPage"
                                    items-per-page="numPerPage"
                                    boundary-links="true"
                                    previous-text=" &#xf104; " next-text=" &#xf105; "
                                    first-text=" &#xf100; " last-text=" &#xf101; "
                                    max-size="5" ng-change="pageChanged()"
                                    rotate="true"
                                    force-ellipses="true" class="pagination pagination-sm inline fa d-flex"></ul>
                            </div>
                        </div>
                        <!-- /.box-footer -->
                    </form>
                </div>
                <!-- /.box -->
            </div>
            <!-- Primary modal -->
            <div id="addnew-window" class="modal fade">
                <div class="modal-dialog" style="max-width:66%">
                    <div class="modal-content">
                        <div class="modal-header bg-primary d-flex">
                            <h6 class="modal-title">Cập nhật thông tin người dùng</h6>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <div class="form-horizontal">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>Tên Dashboard :</label>
                                        <input type="text" ng-model="myitem.Name" class="form-control" />
                                    </div>
                                    <div class="col-md-12">
                                        <label>File Control : </label>
                                        <input type="text" ng-model="myitem.FileControl" class="form-control" />
                                    </div>
                                    <div class="col-md-12">
                                        <label>Mô tả : </label>
                                        <input type="text" id="tbxIssuePlace" ng-model="myitem.Description" class="form-control" />
                                    </div>
                                    <div class="col-md-4 mt-3">
                                        <div class="form-control">
                                            <label for="chkPermitAccess">
                                                <input type="checkbox" id="chkPermitAccess" ng-model="myitem.PermitAccess" /> Cho phép truy cập
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-4 mt-3">
                                        <div class="form-control">
                                            <label for="chkPermitByUser">
                                                <input type="checkbox" id="chkPermitByUser" ng-model="myitem.PermitByUser" /> Truy cập theo User
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-addnew" data-dismiss="modal" ng-click="Save()">Lưu thay đổi</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /primary modal -->
        </section>
        <!-- /.content -->
    </div>
}
else
{
    <div class="ban-dashboard">
        <i class="fa fa-ban" aria-hidden="true"></i>
    </div>
}