<div id="BieuMauBaoCao_BieuMau1" class="sidenav p-0 ">
    <div class="doc-title p-2 col-12 d-flex align-items-center" style="background:#15538f; color: #fff; height: 50px">
        <div class="d-flex col-12 p-0 align-items-center">
            <div class="col-10 p-0">
                <div class="admission-title d-flex center-center">
                    <p class="m-0 col-12 p-0 text-left text-uppercase font-16">Biểu mẫu thông tư 31/2018/TT-BTNMT/ Biểu mẫu số 1 </p>
                </div>
            </div>
            <a href="javascript:void(0)" class="closebtn m-0 p-0 text-white" ng-click="closeAside('BieuMauBaoCao_BieuMau1')">&times;</a>
        </div>
    </div>
    <div class="p-sm-3">
        <div class="card">
            <div class="card-header row m-0">
                <h5 class="card-title m-0 col-md-11">Biểu mẫu số 1. Số lượng trạm quan trắc khí tượng, thủy văn, tài nguyên nước, nước dưới đất</h5>
                <div class="row m-0 justify-content-end col-md-1">
                    <button class="btn btn-outline-success rounded-0 px-2 py-1" title="Xuất file excel" ng-click="exportToExcel('#bieu-mau-1')">
                        <i class="fa-solid fa-file-excel"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <!-- PHẦN ĐẦU TRANG -->
                <div class="form-title d-flex justify-content-between col-12">
                    <div class="col-6 col-sm-3 text-center p-0">
                        <h5 class="font-sm-14 m-0">UBND TỈNH SƠN LA</h5>
                        <h5 class="font-sm-14 font-weight-bold m-0">SỞ TÀI NGUYÊN VÀ MÔI TRƯỜNG</h5>
                        <p class="font-sm-13 d-flex center-center">Số: <input type="text" class="form-control form-control-sm" style="width: 50px;" />   /STNMT-TNN-KS&KTTV</p>
                    </div>
                    <div class="col-6 col-sm-4 text-center">
                        <h5 class="font-sm-14 m-0">CỘNG HOÀ XÃ HỘI CHỦ NGHĨA VIỆT NAM</h5>
                        <h5 class="font-sm-14 font-weight-bold m-0">Độc lập - Tự do - Hạnh phúc</h5>
                        <i class="font-sm-13">Sơn La, ngày {{getDatetime | date:'dd'}} tháng {{getDatetime | date:'MM'}} năm {{getDatetime | date:'yyyy'}}</i>
                    </div>
                </div>

                <div class="form-title col-12 text-center mt-2 my-4">
                    <h4 class="font-sm-18 m-0 font-weight-bold">BÁO CÁO </h4>
                    <p class="font-sm-15 m-0 font-weight-bold"> Số lượng trạm quan trắc khí tượng, thuỷ văn, tài nguyên nước, nước dưới đất</p>
                    <p class="m-0 font-weight-bold d-flex center-center">(Kỳ báo cáo:  <input type="text" class="form-control form-control-sm font-weight-bold" style="width: 50px;" />)</p>
                </div>

                <!-- KẾT THÚC PHẦN ĐẦU TRANG -->
                <!--copy fom lọc + nút thêm mới-->
                <!--hết copy fom lọc + nút thêm mới-->

                <div class="table-responsive">
                    <table class="table no-margin table-hover table-bordered" id="bieu-mau-1">
                        <thead class="custom-table-thead">
                            <tr>
                                <th rowspan="5" class="text-center align-middle">STT</th>
                                <th rowspan="3" class="text-center align-middle">Lưu vực</th>
                                <th rowspan="2" colspan="3" class="text-center align-middle"> Tổng số trạm quan trắc(trạm) </th>
                                <th colspan="12" class="text-center align-middle"> Loại trạm </th>
                            </tr>
                            <tr>
                                <th colspan="3" class="text-center align-middle">Khí tượng</th>
                                <th colspan="3" class="text-center align-middle">Thủy văn, thủy văn kết hợp tài nguyên nước</th>
                                <th colspan="3" class="text-center align-middle">Tài nguyên nước độc lập</th>
                                <th colspan="3" class="text-center align-middle">Quan trắc nước dưới đất</th>
                            </tr>
                            <tr>
                                <th class="text-center align-middle">Kỳ trước</th>
                                <th class="text-center align-middle">Kỳ báo cáo</th>
                                <th class="text-center align-middle">Thay đổi</th>

                                <th class="text-center align-middle">Kỳ trước</th>
                                <th class="text-center align-middle">Kỳ báo cáo</th>
                                <th class="text-center align-middle">Thay đổi</th>

                                <th class="text-center align-middle">Kỳ trước</th>
                                <th class="text-center align-middle">Kỳ báo cáo</th>
                                <th class="text-center align-middle">Thay đổi</th>

                                <th class="text-center align-middle">Kỳ trước</th>
                                <th class="text-center align-middle">Kỳ báo cáo</th>
                                <th class="text-center align-middle">Thay đổi</th>

                                <th class="text-center align-middle">Kỳ trước</th>
                                <th class="text-center align-middle">Kỳ báo cáo</th>
                                <th class="text-center align-middle">Thay đổi</th>
                            </tr>
                            <tr>
                                <th class="text-center align-middle">(1)&nbsp;</th>
                                <th class="text-center align-middle">(2)&nbsp;</th>
                                <th class="text-center align-middle">(3)&nbsp;</th>
                                <th class="text-center align-middle">(4)=(3)-(2)</th>
                                <th class="text-center align-middle">(5)&nbsp;</th>
                                <th class="text-center align-middle">(6)&nbsp;</th>
                                <th class="text-center align-middle">(7)=(6)-(5)</th>
                                <th class="text-center align-middle">(8)&nbsp;</th>
                                <th class="text-center align-middle">(9)&nbsp;</th>
                                <th class="text-center align-middle">(10)=(9)-(8)</th>
                                <th class="text-center align-middle">(11)&nbsp;</th>
                                <th class="text-center align-middle">(12)&nbsp;</th>
                                <th class="text-center align-middle">(13)=(12)-(11)</th>
                                <th class="text-center align-middle">(14)&nbsp;</th>
                                <th class="text-center align-middle">(15)&nbsp;</th>
                                <th class="text-center align-middle">(16)=(15)-(14)</th>
                            </tr>
                            <tr>

                                <th class="text-center align-middle">Tổng số </th>

                                <td class="text-center align-middle" ng-bind="TongBieuMau1.TongTramKyTruoc"></td>
                                <td class="text-center align-middle" ng-bind="TongBieuMau1.TongTramBaoCao"></td>
                                <td class="text-center align-middle" ng-bind="TongBieuMau1.TongTramThayDoi"></td>
                                <td class="text-center align-middle" ng-bind="TongBieuMau1.TramKTKyTruoc"></td>
                                <td class="text-center align-middle" ng-bind="TongBieuMau1.TramKTBaoCao"></td>
                                <td class="text-center align-middle" ng-bind="TongBieuMau1.TramKTThayDoi"></td>
                                <td class="text-center align-middle" ng-bind="TongBieuMau1.TramTVKyTruoc"></td>
                                <td class="text-center align-middle" ng-bind="TongBieuMau1.TramTVBaoCao"></td>
                                <td class="text-center align-middle" ng-bind="TongBieuMau1.TramTVThayDoi"></td>
                                <td class="text-center align-middle" ng-bind="TongBieuMau1.TramTNNKyTruoc"></td>
                                <td class="text-center align-middle" ng-bind="TongBieuMau1.TramTNNBaoCao"></td>
                                <td class="text-center align-middle" ng-bind="TongBieuMau1.TramTNNThayDoi"></td>
                                <td class="text-center align-middle" ng-bind="TongBieuMau1.TramNDDKyTruoc"></td>
                                <td class="text-center align-middle" ng-bind="TongBieuMau1.TramNDDBaoCao"></td>
                                <td class="text-center align-middle" ng-bind="TongBieuMau1.TramNDDThayDoi"></td>
                            </tr>
                        </thead>
                        <tbody class="custom-table-tbody">
                            <tr ng-repeat="item in BaoCaoBieuMauSoMot">
                                <!-- lấy DataBieuMauSo1 từ file scrip/controler.js-->
                                <th class="text-center align-middle" ng-bind="(currentPage -1)*numPerPage+$index+1"> </th>
                                <!-- đưa (currentPage -1)*numPerPage+$index+1 để đếm hàng-->
                                <td>{{item.LuuVucSong}}</td>
                                <td class="text-center align-middle" ng-bind="item.TongTramKyTruoc"></td>
                                <td class="text-center align-middle" ng-bind="item.TongTramBaoCao"></td>
                                <td class="text-center align-middle" ng-bind="item.TongTramThayDoi"></td>
                                <td class="text-center align-middle" ng-bind="item.TramKTKyTruoc"></td>
                                <td class="text-center align-middle" ng-bind="item.TramKTBaoCao"></td>
                                <td class="text-center align-middle" ng-bind="item.TramKTThayDoi"></td>
                                <td class="text-center align-middle" ng-bind="item.TramTVKyTruoc"></td>
                                <td class="text-center align-middle" ng-bind="item.TramTVBaoCao"></td>
                                <td class="text-center align-middle" ng-bind="item.TramTVThayDoi"></td>
                                <td class="text-center align-middle" ng-bind="item.TramTNNKyTruoc"></td>
                                <td class="text-center align-middle" ng-bind="item.TramTNNBaoCao"></td>
                                <td class="text-center align-middle" ng-bind="item.TramTNNThayDoi"></td>
                                <td class="text-center align-middle" ng-bind="item.TramNDDKyTruoc"></td>
                                <td class="text-center align-middle" ng-bind="item.TramNDDBaoCao"></td>
                                <td class="text-center align-middle" ng-bind="item.TramNDDThayDoi"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- pagination -->
                <div class="box-footer">
                    <div class="box-tools pull-right">
                        <ul uib-pagination
                            total-items="TotalItem"
                            ng-model="currentPage"
                            items-per-page="numPerPage"
                            boundary-links="true"
                            previous-text=" &#xf104; " next-text=" &#xf105; "
                            first-text=" &#xf100; " last-text=" &#xf101; "
                            max-size="5" ng-change="pageChanged()"
                            rotate ="true"
                            force-ellipses="true" class="pagination pagination-sm d-flex fa my-3"></ul>
                    </div>
                </div>
                <!-- PHẦN CHÂN TRANG -->
                <div class="form-title d-flex justify-content-between col-12 my-3">
                    <div class="col-6 col-md-3 text-left p-0 font-sm-13">
                        <i>Nơi nhận</i>
                        <p class="m-0">- Ban Giám đốc Sở</p>
                        <p class="m-0">- Lưu: VT; TNN, KS&KTTV; VP, 10b</p>
                    </div>
                    <div class="col-6 col-md-4 text-center font-sm-13">
                        <p class="mb-5 font-weight-bold h5 font-sm-16 font-sm-14">NGƯỜI THỐNG KÊ </p>
                    </div>
                </div>

                <!-- KẾT THÚC PHẦN CHÂN TRANG -->
            </div>
            <!-- /.card-body -->
        </div>
    </div>
</div>
<!--Popup thêm mới -->
<!--hết Popup thêm mới -->
<!--Popup chỉnh sửa mới -->
<!--hết Popup thêm mới -->
<!--End Nav Pane-->
<!--End Nav Pane-->