@using WaterResource.Service;
@{
    UserRightService _service = new UserRightService();
}
<div id="BieuMauBaoCao_BieuMau19" class="sidenav p-0 ">
    <div class="doc-title p-2 col-12 d-flex align-items-center" style="background:#15538f; color: #fff; height: 50px">
        <div class="d-flex col-12 p-0 align-items-center">
            <div class="col-10 p-0">
                <div class="admission-title d-flex center-center">
                    <p class="m-0 col-12 p-0 text-left text-uppercase font-16"> Biểu mẫu thông tư 31/2018/TT-BTNMT/ Biểu mẫu số 19 </p>
                </div>
            </div>
            <a href="javascript:void(0)" class="closebtn m-0 p-0 text-white" ng-click="closeAside('BieuMauBaoCao_BieuMau19')">&times;</a>
        </div>
    </div>
    <div class="p-sm-3">
        <div class="card">
            <div class="card-header row m-0">
                <h5 class="card-title m-0 col-md-11">Biểu mẫu số 19. Số lượng công trình khai thác nước mặt, nước dưới đất theo mục đích sử dụng</h5>
                <div class="row m-0 justify-content-end col-md-1">
                    <button class="btn btn-outline-success rounded-0 px-2 py-1" title="Xuất file excel" ng-click="exportToExcel('#bieu-mau-19')">
                        <i class="fa-solid fa-file-excel"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <!-- PHẦN ĐẦU TRANG -->
                <div class="form-title d-flex justify-content-between col-12">
                    <div class="col-6 col-sm-3 text-center p-0">
                        <h5 class="font-sm-14 m-0">UBND TỈNH SƠN LA</h5>
                        <h5 class="font-sm-14 font-weight-bold m-0">SỞ TÀI NGUYÊN VÀ MÔI TRƯỜNG</h5>
                        <p class="font-sm-13 d-flex center-center">Số: <input type="text" class="form-control form-control-sm" style="width: 50px;" />   /STNMT-TNN-KS&KTTV</p>
                    </div>
                    <div class="col-6 col-sm-4 text-center">
                        <h5 class="font-sm-14 m-0">CỘNG HOÀ XÃ HỘI CHỦ NGHĨA VIỆT NAM</h5>
                        <h5 class="font-sm-14 font-weight-bold m-0">Độc lập - Tự do - Hạnh phúc</h5>
                        <i class="font-sm-13">Sơn La, ngày {{getDatetime | date:'dd'}} tháng {{getDatetime | date:'MM'}} năm {{getDatetime | date:'yyyy'}}</i>
                    </div>
                </div>

                <div class="form-title col-12 text-center mt-2 my-4">
                    <h4 class="font-sm-18 m-0 font-weight-bold">BÁO CÁO </h4>
                    <p class="font-sm-15 m-0 font-weight-bold"> Tổng hợp kết quả thanh tra trong lĩnh vực tài nguyên nước</p>
                    <p class="m-0 font-weight-bold d-flex center-center">(Kỳ báo cáo:  <input type="text" class="form-control form-control-sm font-weight-bold" style="width: 50px;" />)</p>
                </div>

                <!-- KẾT THÚC PHẦN ĐẦU TRANG -->
                <!--copy fom lọc + nút thêm mới-->
                <div class="col-12 row m-0 align-items-center justify-content-end">
                    <div class="row">
                        <div class="floating-label m-2">
                            <input class="floating-input w-100" type="text" data-toggle="dropdown" placeholder=" " ng-model="Keyword">
                            <ul class="dropdown-menu w-100" role="menu">
                                <li class="border-bottom border-secondary p-1 m-0" ng-repeat='item in AllInspection | filter:Keyword'>
                                    <a href="javascript:void(0)" class="m-0" ng-click="SetKeyword(item.DecisionNumber)">
                                        <p class="m-0 text-dark" style="font-size: 0.85rem">{{item.ConstructionName}}</p>
                                        <p class="m-0 text-muted" style="font-size: 0.75rem">{{item.DecisionNumber}}</p>
                                    </a>
                                </li>
                            </ul>
                            <label>Tên văn bản</label>
                        </div>
                        <div class="m-2">
                            <button class="btn btn-sm btn-addnew px-4 rounded-0" ng-click="SearchThanhTra()">Lọc</button>
                        </div>
                        @if (_service.IsViewAction("/bao-cao-bieu-mau", User.Identity.Name, "ADD"))
                        {
                            <div class="row m-2 align-items-center">
                                <button class="btn btn-sm btn-addnew px-4 rounded-0" ng-click="AddThanhTra('BieuMauBaoCao_BieuMau19_addnew-windows')" title="Thêm văn bản mới">Thêm mới</button>
                            </div>
                        }
                    </div>
                </div>
                <!--hết copy fom lọc + nút thêm mới-->

                <div class="table-responsive">
                    <table class="table no-margin table-hover table-bordered" id="bieu-mau-19">
                        <thead class="custom-table-thead">
                            <tr>
                                <th class="text-center align-middle text-nowrap">STT</th>
                                <th class="text-center align-middle text-nowrap"> Số văn bản </th>
                                <th class="text-center align-middle text-nowrap"> Đợt thanh tra </th>
                                <th class="text-center align-middle text-nowrap"> Đơn vị thanh tra </th>
                                <th class="text-center align-middle text-nowrap"> Ngày thanh tra </th>
                                <th class="text-center align-middle text-nowrap"> Tên công trình được thanh tra </th>
                                <th class="text-center align-middle text-nowrap"> Ghi chú </th>
                                <th class="text-center align-middle text-nowrap"> Tổng số tiền xử phạt vi phạm hành chính </th>
                                <th class="text-center align-middle text-nowrap"> Văn bản kết luận thanh tra </th>
                                <th rowspan="2" class="text-center align-middle" style="width:50px">Thao tác</th>
                            </tr>
                            <tr>
                                <th class="text-center align-middle">(1)&nbsp;</th>
                                <th class="text-center align-middle">(2)&nbsp;</th>
                                <th class="text-center align-middle">(3)&nbsp; </th>
                                <th class="text-center align-middle">(4)&nbsp;</th>
                                <th class="text-center align-middle">(5)&nbsp;</th>
                                <th class="text-center align-middle">(6)&nbsp;</th>
                                <th class="text-center align-middle">(7)&nbsp;</th>
                                <th class="text-center align-middle">(8)&nbsp;</th>
                                <th class="text-center align-middle">(9)&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody class="custom-table-tbody">
                            <tr ng-repeat="item in getDataInspection">
                                <td class="text-center align-middle text-nowrap" ng-bind="(currentPage -1)*numPerPage+$index+1"></td>
                                <td class="text-center align-middle text-nowrap" ng-bind="item.DecisionNumber"></td>
                                <td class="text-center align-middle text-nowrap" ng-bind="item.InspectionName"></td>
                                <td class="text-center align-middle text-nowrap" ng-bind="item.InspectionUnit"></td>
                                <td class="text-center align-middle text-nowrap" ng-bind="item.InspectionDate | date:'dd/MM/yyyy'"></td>
                                <td class="text-center align-middle text-nowrap" ng-bind="item.ConstructionName"></td>
                                <td ng-bind="item.Description" style="min-width:400px"></td>
                                <td class="text-center align-middle" ng-bind="item.Fines" style="width:150px"></td>
                                <td class="command text-center align-middle">
                                    <div class="tools d-flex justify-content-center" ng-if="item.FilePDF != null">
                                        <a href="javascript:void(0)" ng-click="openThanhTraFile(item)">
                                            <i class="fa-solid fa-file-pdf" title="Xem file PDF" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </td>
                                <td class="sticky-col end-col text-center align-middle">
                                    <div class="tools d-flex justify-content-center">
                                        @if (_service.IsViewAction("/bao-cao-bieu-mau", User.Identity.Name, "EDIT"))
                                        {
                                            <a href="javascript:void(0)" class="px-2" title="Chỉnh sửa văn bản" ng-click="EditThanhTra('BieuMauBaoCao_BieuMau19_addnew-windows',item)"><i class="fa fa-edit"></i></a>
                                        }
                                        @if (_service.IsViewAction("/bao-cao-bieu-mau", User.Identity.Name, "DELETE"))
                                        {
                                            <a href="javascript:void(0)" class="px-2 text-danger" title="Xoá văn bản" ng-click="DeleteThanhTra(item)"><i class="fa-solid fa-trash-can"></i></a>
                                        }

                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <!-- pagination phân trang -->
                <div class="box-footer ">
                    <div class="box-tools pull-right">
                        <ul uib-pagination
                            total-items="totalInspection"
                            ng-model="currentPage"
                            items-per-page="numPerPage_Inspection"
                            boundary-links="true"
                            previous-text=" &#xf104; " next-text=" &#xf105; "
                            first-text=" &#xf100; " last-text=" &#xf101; "
                            max-size="5" ng-change="pageChanged()"
                            rotate="true"
                            force-ellipses="true" class="pagination pagination-sm d-flex fa my-3"></ul>
                    </div>
                </div>
                <!-- PHẦN CHÂN TRANG -->
                <div class="form-title d-flex justify-content-between col-12 my-3">
                    <div class="col-6 col-md-3 text-left p-0 font-sm-13">
                        <i>Nơi nhận</i>
                        <p class="m-0">- Ban Giám đốc Sở</p>
                        <p class="m-0">- Lưu: VT; TNN, KS&KTTV; VP, 10b</p>
                    </div>
                    <div class="col-6 col-md-4 text-center font-sm-13">
                        <p class="mb-5 font-weight-bold h5 font-sm-16 font-sm-14">NGƯỜI THỐNG KÊ </p>
                    </div>
                </div>

                <!-- KẾT THÚC PHẦN CHÂN TRANG -->
            </div>
            <!-- /.card-body -->
        </div>
    </div>
</div>
<!--End Nav Pane-->
<!--Popup thêm mới -->
<div class="sidenav p-0" id="BieuMauBaoCao_BieuMau19_addnew-windows">
    <div class="modal-content rounded">
        <div class="modal-content rounded">
            <div class="modal-header bg-primary d-flex">
                <p class="text-center text-white font-sm-15">{{HeaderAction}} KẾT QUẢ THANH TRA KIỂM TRA KHAI THÁC SỬ DỤNG XẢ THẢI </p>
                <a href="javascript:void(0)" class="closebtn m-0 p-0 text-white" title="Đóng" ng-click="closeAside('BieuMauBaoCao_BieuMau19_addnew-windows')">&times;</a>
            </div>
            <div class="modal-body">
                <div class="row m-0">
                    <p class="divHead hidden">{{Action}}</p>
                    <!--dàn hàng ngang các thẻ bên trong -->

                    <div class="col-12 p-0 row m-0 py-3">
                        @*<div class="col-6">
                                <div class="floating-label">
                                    <div class="dropdown dropdown-scroll">
                                        <input class="floating-input w-100 text-left" type="text" readonly data-toggle="dropdown" placeholder=" " value="{{license_number}}" />
                                        <label>Giấy phép</label>
                                        <ul class="dropdown-menu w-100" role="menu">
                                            <li>
                                                <input class="floating-input w-100 text-left" type="text" ng-model="licenseData.LicenseNumber" placeholder=" Tìm giấy phép " />
                                            </li>
                                            <li class="border-bottom border-secondary p-0" ng-repeat='license in LicenseForSelect | filter:licenseData'>
                                                <a href="javascript:void(0)" class="text-primary nav-link py-0 px-1" ng-click="GetLicenseId(license.Id, license.LicenseNumber)"> {{license.LicenseNumber}} - {{license.LicenseName}} </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>*@
                        <div class="col-12">
                            <div class="floating-label">
                                <div class="dropdown dropdown-scroll">
                                    <input class="floating-input w-100 text-left" type="text" readonly data-toggle="dropdown" placeholder=" " value="{{construction_name}}" />
                                    <label>Công trình</label>
                                    <ul class="dropdown-menu w-100" role="menu">
                                        <li>
                                            <input class="floating-input w-100 text-left" type="text" ng-model="consData.ConstructionName" placeholder=" Tìm công trình " />
                                        </li>
                                        <li class="border-bottom border-secondary p-0">
                                            <a href="javascript:void(0)" class="text-primary nav-link py-0 px-1" ng-click="SetConsId(0, 'Khác', 0)">Khác</a>
                                        </li>
                                        <li class="border-bottom border-secondary p-0" ng-repeat='cons in AllConstruction | filter: consData'>
                                            <a href="javascript:void(0)" class="text-primary nav-link py-0 px-1" ng-click="SetConsId(cons.Id, cons.ConstructionName, cons.TypeOfConstructionId)"> {{cons.ConstructionName}}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 row mx-0 pb-3">
                        <!-- chiều dài 50%, chia 3 hàng trong 1 cột thì theo 3 input  -->
                        <fieldset class="border border-dark col-12 row mx-0">
                            <legend class="font-14 text-violet" style="width: auto"> Kết quả thanh kiểm tra</legend>
                            <div class="col-md-6">
                                <div class="floating-label my-2">
                                    <input class="floating-input w-100" ng-model="item.DecisionNumber" placeholder=" ">
                                    <label>Số công văn thanh tra</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="floating-label my-2">
                                    <input class="floating-input w-100" ng-model="item.InspectionName" placeholder=" ">
                                    <label>Đợt thanh tra</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="floating-label my-2">
                                    <input class="floating-input w-100" ng-model="item.InspectionUnit" placeholder=" ">
                                    <label>Đơn vị thanh tra</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="floating-label my-2">
                                    <input class="floating-input w-100 datepicker" datepicker="" ng-model="item.InspectionDate" placeholder=" ">
                                    <label>Ngày thanh tra</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="floating-label my-2">
                                    <input class="floating-input w-100" ng-model="item.Fines" placeholder=" ">
                                    <label>Tổng số tiền xử phạt vi phạm hành chính</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="floating-label my-2">
                                    <input type="file" accept="application/pdf" class="floating-input w-100 h-100" ng-model="item.FilePDF" placeholder=" " id="fileAttachs">
                                    <label>File kết luận thanh tra</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="floating-label mb-2 mt-3">
                                    <textarea class="floating-input floating-textarea w-100 h-100" rows="3" ng-model="item.Description" placeholder=" "></textarea>
                                    <label>Ghi chú</label>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="form-group d-flex align-items-center justify-content-end col-12 mt-2">
                        <button type="button" class="btn btn-sm btn-addnew" data-dismiss="modal" ng-click="SaveThanhTra('BieuMauBaoCao_BieuMau19_addnew-windows','BieuMauBaoCao_BieuMau19')">Lưu lại <i class="fa fa-chevron-right"></i> </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>