.accordionItem {
	float: left;
	display: block;
	width: 100%;
	box-sizing: border-box;
	border: 1px solid #ffddc3;
	opacity: 1 !important;
	margin-bottom:5px;
}
.accordionItemHeading {
	cursor: pointer;
	margin: 0px 0px 0px 0px;
	width: 100%;
	box-sizing: border-box;
	text-align:center;
}
.close .accordionItemContent {
	height: 0px;
	transition: height 1s ease-out;
	-webkit-transform: scaleY(0);
	transform: scaleY(0);
	float: left;
	display: block;
}
.open .accordionItemContent {
	padding: 5px;
	background-color: #fff;
	border: 0px solid #ddd;
	width: 100%;
	margin: 0px 0px 10px 0px;
	display: block;
	-webkit-transform: scaleY(1);
	transform: scaleY(1);
	-webkit-transform-origin: top;
	transform-origin: top;
	transition: -webkit-transform 0.4s ease;
	transition: transform 0.4s ease;
	transition: transform 0.4s ease, -webkit-transform 0.4s ease;
	box-sizing: border-box;
}
.open .accordionItemHeading {
	margin: 0px;
	background-color: #bdc3c7;
}