@using WaterResource.Service;
@{
    ViewBag.Title = "Hệ thống quản lý cơ sở dữ liệu cấp phép khai thác sử dụng nước mặt";
    UserRightService _service = new UserRightService();
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (_service.IsViewAction("test", User.Identity.Name, "VIEW"))
{

    <input type="hidden" id="tbxUsername" value="@User.Identity.Name" />
    <!-- /.content-wrapper -->
}
<div ng-controller="myCntrl as demo">
    Hello  @User.Identity.Name
    <h1>Test pages</h1>
</div>
