@using WaterResource.Service;
@{
    UserRightService _service = new UserRightService();
}
<div id="formCreateLicense" class="sidenav p-0 font-13">
    <div>
        <div class="doc-title py-2 px-0 col-12 d-flex align-items-center" style="background:#15538f; color: #fff; height: 50px">
            <div class="d-flex col-12 p-0 align-items-center">
                <div class="col-10">
                    <div class="admission-title d-flex center-center">
                        <p class="m-0 col-12 p-0 text-left text-uppercase font-16" ng-bind-html="asideHeader"></p>
                    </div>
                </div>
                <a href="javascript:void(0)" class="closebtn m-0 p-0 text-white" ng-click="closeAside('formCreateLicense')">&times;</a>
            </div>
        </div>
    </div>

    <div class="col-12">
        <fieldset class="col-12 border border-secondary p-2 mb-2 background-color bg-lightgray">
            <legend class="font-18 font-weight-bold text-primary" style="width: auto">THÔNG TIN TỔ CHỨC/CÁ NHÂN </legend>
            <div class="mb-2">
                <div class="col-sm-12 p-0 py-3 row m-0">
                    <div class="col-12 col-md-5">
                        <label class="font-13">Tên tổ chức/cá nhân được CP<sup class="text-danger font-13">*</sup> </label>
                        <div class="dropdown dropdown-scroll">
                            <input class="floating-input w-100 text-left" type="text" data-toggle="dropdown" placeholder="Tên tổ chức/cá nhân được CP" ng-model="license.Business.Name" id="business_name" onkeyup="filterBusiness()" />
                            <ul class="dropdown-menu w-100 px-2" role="menu" id="business_dropdown">
                                <li class="border-bottom border-secondary p-0" ng-repeat='item in Business'>
                                    <a href="javascript:void(0)" class="m-1 nav-link font-weight-normal py-0 px-1" ng-click="SetBusiness(item)">
                                        <p class="m-0 text-primary" style="font-size: 0.85rem">{{item.Name}}</p>
                                        <p class="m-0 text-muted" style="font-size: 0.75rem">{{item.Address}}</p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-md-5">
                        <label class="font-13">Địa chỉ<sup class="text-danger font-13">*</sup> </label>
                        <input class="floating-input w-100 text-left" type="text" placeholder="Địa chỉ" ng-model="license.Business.Address" />
                    </div>
                    <div class="col-12 col-md-2 row m-0 py-2 py-md-0 align-items-end">
                        <button class="btn btn-sm btn-addnew" data-toggle="modal" data-target="#addNewBusinessName" ng-if="license.BusinessId">  Xem / sửa thông tin </button> &nbsp;
                        <button class="btn btn-sm btn-addnew" data-toggle="modal" ng-click="addNewBusiness()" data-target="#addNewBusinessName"> Thêm mới </button>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>

    <div class="col-12">
        <fieldset class="col-12 border border-secondary p-2 mb-2 background-color bg-lightgray">
            <legend class="font-18 font-weight-bold text-primary" style="width: auto">THÔNG TIN GIẤY PHÉP</legend>
            <div class="mb-2">
                <div class="col-sm-12 p-0 py-3">
                    <div class="col-sm-12 p-0 row m-0">
                        <div class="col-12 row m-0">
                            <div class="col-12 col-md-6">
                                <label>Số giấy phép<sup class="text-danger font-13">*</sup></label>
                                <input class="floating-input w-100" ng-model="license.LicenseNumber" type="text" placeholder="Số giấy phép" />
                            </div>
                            <div class="col-12 col-md-6">
                                <label>Ngày ký <sup class="text-danger font-13">*</sup></label>
                                <input type="text" class="floating-input w-100" placeholder="Ngày ký" uib-datepicker-popup="{{format}}" ng-model="license.SignDate" is-open="LicenseSignDate.opened" datepicker-options="dateOptions" ng-required="true" close-text="Đóng" current-text="Hôm nay" clear-text="Xóa" alt-input-formats="altInputFormats" ng-click="openDatepicker('LicenseSignDate')" />
                            </div>
                            <div class="col-12 col-md-6">
                                <label>Tên văn bản</label>
                                <input class="floating-input w-100" ng-model="license.LicenseName" type="text" placeholder="Tên văn bản" />
                            </div>
                            <div class="col-12 col-md-6">
                                <label>Ngày có hiệu lực<sup class="text-danger font-13"></sup></label>
                                <input type="text" class="floating-input w-100 dpicker" placeholder="Ngày có hiệu lực" uib-datepicker-popup="{{format}}" ng-model="license.IssueDate" is-open="LicenseIssueDate.opened" datepicker-options="dateOptions" ng-required="true" close-text="Đóng" current-text="Hôm nay" clear-text="Xóa" alt-input-formats="altInputFormats" ng-click="openDatepicker('LicenseIssueDate')" />
                            </div>
                            <div class="col-12 col-md-6">
                                <label>Loại hình giấy phép<sup class="text-danger font-13">*</sup></label>
                                <div class="floating-label w-100">
                                    <select ng-options="opt.Id as opt.Name for opt in LicensingTypes" ng-model="license.LicensingTypeId" ng-change="changeLicenseTypeAddNew(license.LicensingTypeId)" class="floating-select w-100">
                                        <option value="" hidden>-- Chọn loại hình giấy phép --</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <label>Thời hạn giấy phép<sup class="text-danger font-13">*</sup></label>
                                <input class="floating-input w-100" type="text" placeholder="Thời hạn giấy phép" ng-model="license.Duration" />
                            </div>
                            <div class="col-12 col-md-6">
                                <label>Cơ quan cấp phép<sup class="text-danger font-13">*</sup></label>
                                <select ng-options="otp.Id as otp.Name for otp in ListLicensingAuthorities" ng-model="license.LicensingAuthorities" ng-change="changeLicensingAuthorities(license.LicensingAuthorities)" class="floating-select w-100">
                                    <option value="" hidden>-- Chọn cơ quan cấp phép --</option>
                                </select>
                            </div>
                            <div class="col-12 col-md-6">
                                <label>Ngày hết hiệu lực<sup class="text-danger font-13">*</sup></label>
                                <input type="text" class="floating-input w-100 dpicker" placeholder="Ngày hết hiệu lực" uib-datepicker-popup="{{format}}" ng-model="license.ExpireDate" is-open="LicenseExpireDate.opened" datepicker-options="dateOptions" ng-required="true" close-text="Đóng" current-text="Hôm nay" clear-text="Xóa" alt-input-formats="altInputFormats" ng-click="openDatepicker('LicenseExpireDate')" />
                            </div>
                            <div class="col-12 col-md-6">
                                <label>Thiết bị quan trắc mực nước</label>
                                <input type="text" ng-model="license.ThietBiQuanTracMucNuoc" class="floating-input w-100" placeholder="Thiết bị quan trắc mực nước">
                            </div>
                            <div class="col-12 col-md-6">
                                <label>Thiết bị quan trắc mực nước</label>
                                <input type="text" ng-model="license.ThietBiQuanTracMua" class="floating-input w-100" placeholder="Thiết bị quan trắc mực nước">
                            </div>
                            <div class="col-12 col-md-6">
                                <label>Thiết bị quan trắc lưu lượng</label>
                                <input type="text" ng-model="license.ThietBiQuanTracLuuLuong" class="floating-input w-100" placeholder="Thiết bị quan trắc lưu lượng">
                            </div>
                            <div class="col-12 col-md-6">
                                <label>Thiết bị quan trắc dòng chảy tối thiểu</label>
                                <input type="text" ng-model="license.ThietBiQuanTracDongChayToiThieu" class="floating-input w-100" placeholder="Thiết bị quan trắc dòng chảy tối thiểu">
                            </div>
                            <div class="col-12 col-md-6">
                                <label>Thiết bị quan trắc định kỳ</label>
                                <input type="text" ng-model="license.ThietBiQuanTracDinhKy" class="floating-input w-100" placeholder="Thiết bị quan trắc định kỳ">
                            </div>
                            <div class="col-sm-12 p-0 row m-0" ng-show="checkAddOldLicense">
                                <div class="col-12 col-md-6">
                                    <label class="font-13">Số giấy phép cũ<sup class="text-danger font-13">*</sup> </label>
                                    <div class="dropdown dropdown-scroll">
                                        <input class="floating-input w-100 text-left" type="text" data-toggle="dropdown" placeholder=" " ng-model="license.OldLicense.LicenseNumber" />
                                        <ul class="dropdown-menu w-100 px-2" role="menu">
                                            <li class="border-bottom border-secondary p-0" ng-repeat='item in AllLicenses | filter:license.OldLicense.LicenseNumber'>
                                                <a href="javascript:void(0)" class="m-1 nav-link font-weight-normal py-0 px-1" ng-click="SetOldLicense(item)">
                                                    <p class="m-0 text-primary" style="font-size: 0.85rem">Số gp: <span ng-bind="item.LicenseNumber"></span></p>
                                                    <p class="m-0 text-muted" style="font-size: 0.75rem">Ngày ký: <span ng-bind="item.SignDate | date:'dd/MM/yyyy'"></span></p>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <label class="font-13">Ngày ký giấy phép cũ<sup class="text-danger font-13">*</sup></label>
                                    <input readonly class="floating-input w-100" ng-model="license.OldLicense.SignDate" type="text" placeholder="Ngày ký giấy phép cũ" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
    <div class="col-12">
        <fieldset class="col-12 border border-secondary p-2 mb-2 background-color bg-lightgray">
            <legend class="font-18 font-weight-bold text-primary text-uppercase" style="width: auto">Mục đích khai thác sử dụng</legend>
            <div class="mb-2">
                <div class="table-responsive">
                    <table class="table table-sm table-bordered">
                        <thead>
                            <tr>
                                <th class="text-center align-middle font-13 font-weight-normal" rowspan="2">TT</th>
                                <th class="text-center align-middle font-13 font-weight-normal" rowspan="2">Mục đích khai thác sử dụng</th>
                                <th class="text-center align-middle font-13 font-weight-normal">Lưu lượng(m<sup>3</sup>/<sub>ngày đêm</sub>)</th>
                                <th class="text-center align-middle font-13 font-weight-normal" style="width:50px">
                                    <button title="Tạo mới mục đích ktsd" type="button" ng-click="AddMiningPurpose()" class="w-100 d-flex center-center btn btn-link btn-sm">
                                        Thêm
                                    </button>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in license.MiningPurposes">
                                <th class="text-center align-middle font-13" ng-bind-html="$index+1"></th>
                                <td style="min-width: 150px;"><input type="text" class="floating-input w-100" placeholder="Mục đích khai thác sử dụng" ng-model="item.Purpose"></td>
                                <td style="min-width: 100px;"><input type="number" placeholder="Lưu lượng(m3/ngày đêm)" class="floating-input w-100" ng-model="item.WaterExploitedFlow"></td>
                                <td class="text-center align-middle">
                                    <button type="button" ng-click="RemoveMiningPurpose($index, item)" class="center-center text-danger btn btn-link btn-sm">
                                        <i class="fa fa-trash text-danger"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </fieldset>
    </div>
    <div class="col-12">
        <fieldset class="col-12 border border-secondary p-2 mb-2 background-color bg-lightgray">
            <legend class="font-18 font-weight-bold text-primary" style="width: auto">THÔNG TIN CÔNG TRÌNH</legend>
            <div class="mb-2">
                <p class="font-weight-bold text-primary m-0"> </p>
                <div class="col-sm-12 p-0 py-3">
                    <div class="row m-0">
                        <div class="col-12 col-md-5">
                            <label class="font-weight-bold">Loại công trình<sup class="text-danger font-13">*</sup></label>
                            <div class="floating-label w-100">
                                <select ng-options="opt.Id as opt.TypeName for opt in TypeOfConstructions" ng-model="Id" ng-change="changeTypeOfCons(Id, false)" class="floating-select w-100">
                                    <option value="" hidden>-- Chọn loại công trình --</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-12 col-md-5">
                            <label class="font-weight-bold">Công trình<sup class="text-danger font-13">*</sup></label>
                            <input type="hidden" ng-model="license.LicenseId" />
                            <div class="dropdown dropdown-scroll">
                                <input class="floating-input w-100 text-left" type="text" data-toggle="dropdown" placeholder="Tên công trình" ng-model="license.Construction.ConstructionName" />
                                <ul class="dropdown-menu w-100 px-2" role="menu">
                                    <li class="border-bottom border-secondary p-0" ng-repeat='construction in DataConstruction | filter:license.Construction.ConstructionName'>
                                        <a href="javascript:void(0)" class="text-primary nav-link font-weight-normal py-0 px-1" ng-click="GetConsData(construction)"> {{construction.ConstructionName}} </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-12 col-md-2 row m-0 py-2 py-md-0 align-items-end">
                            <button class="btn btn-sm btn-addnew" data-toggle="modal" data-target="#addNewConsName" ng-if="license.Construction.Id"> Xem / sửa thông tin </button> &nbsp;
                            <button class="btn btn-sm btn-addnew" data-toggle="modal" ng-click="addNewCons()" data-target="#addNewConsName"> Thêm mới </button>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>

    <div class="col-12">
        <fieldset class="col-12 border border-secondary p-2 mb-2 background-color bg-lightgray">
            <legend class="font-18 font-weight-bold text-primary" style="width: auto">THEO DÕI QUÁ TRÌNH SAU GIẤY PHÉP</legend>
            <div class="mb-2">
                <div class="col-sm-12 p-0 py-3">
                    <fieldset class="col-12 border border-secondary p-2 mb-2 background-color bg-lightgray">
                        <legend class="font-16 font-weight-bold text-dark" style="width: auto">Thanh tra - Kiểm tra</legend>
                        <div class="table-responsive">
                            <table class="table table-sm table-bordered">
                                <tr>
                                    <th class="text-center align-middle font-13 font-weight-normal">TT</th>
                                    <th class="text-center align-middle font-13 font-weight-normal">Tên đợt thanh tra </th>
                                    <th class="text-center align-middle font-13 font-weight-normal">Đơn vị thực hiện  </th>
                                    <th class="text-center align-middle font-13 font-weight-normal">Số quyết định</th>
                                    <th class="text-center align-middle font-13 font-weight-normal">Thời gian thanh tra  </th>
                                    <th class="text-center align-middle font-13 font-weight-normal">Tổng tiền phạt</th>
                                    <th class="text-center align-middle font-13 font-weight-normal">Kết luận thanh tra </th>
                                    <th class="text-center align-middle font-13 font-weight-normal" style="width:50px">
                                        <button title="Tạo mới mục đích ktsd" type="button" ng-click="AddInspection()" class="w-100 d-flex center-center btn btn-link btn-sm">
                                            Thêm
                                        </button>
                                    </th>
                                </tr>
                                <tr ng-repeat="item in license.Construction.Inspection">
                                    <th class="text-center align-middle font-13" ng-bind-html="$index+1"></th>
                                    <td class="align-middle"><input class="floating-input w-100" type="text" placeholder="Tên đợt thanh tra" ng-model="item.InspectionName" /></td>
                                    <td class="align-middle"><input class="floating-input w-100" type="text" placeholder="Đơn vị thực hiện" ng-model="item.InspectionUnit" /></td>
                                    <td class="align-middle"><input class="floating-input w-100" type="text" placeholder="Số quyết định" ng-model="item.DecisionNumber" /></td>
                                    <td class="align-middle">
                                        <input type="text" class="floating-input w-100 dpicker" placeholder="Thời gian thanh tra" uib-datepicker-popup="{{format}}" ng-model="item.InspectionDate" is-open="InspectionDate.opened" datepicker-options="dateOptions" ng-required="true" close-text="Đóng" current-text="Hôm nay" clear-text="Xóa" alt-input-formats="altInputFormats" ng-click="openDatepicker('InspectionDate')" />
                                    </td>
                                    <td class="align-middle"><input class="floating-input w-100 " type="number" placeholder="Kết luận thanh tra" ng-model="item.Fines" /></td>
                                    <td class="align-middle"><input class="floating-input w-100" type="file" id="fileAttachsInspection{{$index}}" placeholder=" " ng-model="item.FilePDF" /></td>
                                    <th style="width: 50px;" class="text-center align-middle text- font-13">
                                        <button type="button" class="center-center btn btn-link btn-smnowrap text-danger" ng-click="RemoveInspection($index, item)">
                                            <i class="fa fa-trash text-danger"></i>
                                        </button>
                                    </th>
                                </tr>
                            </table>
                        </div>
                    </fieldset>
                    <fieldset class="col-12 border border-secondary p-2 mb-2 background-color bg-lightgray">
                        <legend class="font-16 font-weight-bold text-dark" style="width: auto">Tiền cấp quyền</legend>
                        <div class="table-responsive">
                            <table class="table table-sm table-bordered">
                                <tr>
                                    <th class="text-center align-middle font-13 font-weight-normal">Số quyết định</th>
                                    <th class="text-center align-middle font-13 font-weight-normal">Ngày ký</th>
                                    <th class="text-center align-middle font-13 font-weight-normal">Tổng tiền</th>
                                    <th class="text-center align-middle font-13 font-weight-normal">File PDF</th>
                                </tr>
                                <tr>
                                    <td class="align-middle"><input class="floating-input text-nowrap w-100" type="text" placeholder="Số quyết định" ng-model="license.LicenseFee.LicenseFeeNumber" /></td>
                                    <td class="align-middle">
                                        <input type="text" class="floating-input w-100 dpicker" placeholder="Ngày ký" uib-datepicker-popup="{{format}}" ng-model="license.LicenseFee.SignDate" is-open="LicenseFeeSignDate.opened" datepicker-options="dateOptions" ng-required="true" close-text="Đóng" current-text="Hôm nay" clear-text="Xóa" alt-input-formats="altInputFormats" ng-click="openDatepicker('LicenseFeeSignDate')" />
                                    </td>
                                    <td class="align-middle"><input class="floating-input text-nowrap w-100" type="text" placeholder="Tổng tiền" ng-model="license.LicenseFee.TotalMoney" /></td>
                                    <td class="align-middle"><input class="floating-input text-nowrap w-100 h-auto" type="file" placeholder="File PDF" id="fileAttachsLicenseFee" ng-model="license.LicenseFee.FilePDF" /></td>
                                </tr>
                            </table>
                        </div>
                    </fieldset>
                </div>
            </div>
        </fieldset>
    </div>

    <div class="col-12">
        <fieldset class="col-12 border border-secondary p-2 mb-2 background-color bg-lightgray">
            <legend class="font-18 font-weight-bold text-primary" style="width: auto">GIẤY TỜ, TÀI LIỆU NỘP KÈM THEO (.pdf)</legend>
            <div class="mb-2 row mx-0 p-0 py-3">
                <div class="col-12 col-md-4">
                    <label class="font-13">Hồ sơ cấp phép(giấy phép)<sup class="text-danger font-13">*</sup></label>
                    <input class="floating-input w-100 h-auto" type="file" placeholder=" " id="fileAttachsLicense" ng-model="license.LicenseFile" />
                </div>
                <div class="col-12 col-md-4">
                    <label class="font-13">Đơn xin cấp phép</label>
                    <input class="floating-input w-100 h-auto" type="file" placeholder=" " id="fileAttachsLicenseRequest" ng-model="license.LicenseRequestFile" />
                </div>
                <div class="col-12 col-md-4">
                    <label class="font-13">Hồ sơ pháp lý có liên quan</label>
                    <input class="floating-input w-100 h-auto" type="file" placeholder=" " id="fileAttachsRelated" ng-model="license.RelatedDocumentFile" />
                </div>
            </div>
        </fieldset>
    </div>

    <div class="pb-4 col-sm-12 d-flex justify-content-end">
        @if (_service.IsViewAction("/giay-phep", User.Identity.Name, "Save"))
        {
            <button type="button" class="btn btn-addnew mx-2 fw-bold font-14 d-flex align-items-center" ng-click="Save('formCreateLicense')">
                XÁC NHẬN &nbsp; <i class="fa fa-edit"></i>
            </button>
        }
        <button type="button" class="btn btn-cancel mx-2 fw-bold font-14 d-flex align-items-center" href="#" ng-click="closeAside('formCreateLicense')">
            ĐÓNG &nbsp; <i class="fa fa-times-circle"></i>
        </button>
    </div>
</div>

<script>
    function filterBusiness() {
        var input, filter, ul, li, a, i;
        input = document.getElementById("business_name");
        filter = input.value.toUpperCase();
        div = document.getElementById("business_dropdown");
        a = div.getElementsByTagName("li");
        for (i = 0; i < a.length; i++) {
            txtValue = a[i].textContent || a[i].innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                a[i].style.display = "";
            } else {
                a[i].style.display = "none";
            }
        }
    }
</script>