<!-- pagination -->
<div class="box-footer ">
    <div class="row m-0 justify-content-end align-items-center">
        <div class="col-12 d-flex justify-content-end">Bản ghi từ &nbsp; <span ng-bind="fromRecord"></span> &nbsp; đến &nbsp; <span> <span ng-bind="currentPage * numPerPage"></span> </span> &nbsp; / &nbsp; <span ng-bind="TotalItem"></span></div>
        <ul uib-pagination
            total-items="TotalItem"
            ng-model="currentPage"
            items-per-page="numPerPage"
            boundary-links="true"
            previous-text=" &#xf104; " next-text=" &#xf105; "
            first-text=" &#xf100; " last-text=" &#xf101; "
            max-size="5" ng-change="pageChanged()"
            rotate="true"
            force-ellipses="true" class="pagination pagination-sm d-flex fa col-8"></ul>
    </div>
</div>