@using WaterResource.Service;
@{
    ViewBag.Title = "YÊU CẦU KẾT NỐI TRUYỀN DỮ LIỆU";
    UserRightService _service = new UserRightService();
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (_service.IsViewAction("/yeu-cau-ket-noi", User.Identity.Name, "VIEW"))
{
<style>
    .leaflet-popup-content {
        width: max-content !important;
        height: unset;
    }
</style>
<link href="~/Assets/leaflet/leaflet.css" rel="stylesheet" />
<script src="~/Assets/leaflet/leaflet.js"></script>
<script src="~/Assets/leaflet/L.KML.js"></script>
 <!-- Load Esri Leaflet from CDN -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/esri-leaflet/2.0.4/esri-leaflet.js"></script>

 <!-- Load Esri Leaflet Vector from CDN -->
<script src="https://unpkg.com/esri-leaflet-vector@3.1.3/dist/esri-leaflet-vector.js" crossorigin=""></script>
<script src="~/Assets/leaflet/leaflet-bing-layer.js"></script>
<script src="~/Assets/leaflet/Bing.js"></script>
<div ng-controller="myCntrl as demo" style="margin-left: 0%">
    <script src="~/Scripts/Map/InitMap.js"></script>
    <script src="~/Scripts/RequestConnection/Controller.js"></script>
    @Html.Partial("ImportServiceJs")
    <input type="hidden" id="userName" value="@User.Identity.Name" />
    <div class="m-0">
        <div class="box-body">
            <div class="row m-0">
                <div class="col-md-8 p-0 p-4">
                    <div class="row mx-0">
                        <div class="input-group col-md-12 px-0">
                            <div class="col-md-12 p-0 mb-2 row mx-0 justify-content-end align-items-center">
                                <div class="floating-label col-6 px-1 col-md-3 p-0">
                                    <div class="dropdown dropdown-scroll">
                                        <input class="floating-input w-100 text-left" type="text" data-toggle="dropdown" placeholder=" " ng-model="ConstructionName" />
                                        <label class="font-13">Chọn công trình</label>
                                        <ul class="dropdown-menu w-100" role="menu">
                                            <li class="border-bottom border-secondary p-0" ng-repeat='construction in DataConstruction | filter:ConstructionName '>
                                                <a href="javascript:void(0)" class="text-primary nav-link py-0 px-1" ng-click="selectCons(construction)"> {{construction.ConstructionName}} </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="floating-label col-6 px-1 col-md-3 p-0">
                                    <div class="dropdown dropdown-scroll">
                                        <input class="floating-input w-100 text-left" type="text" readonly data-toggle="dropdown" placeholder=" " value="{{licenseTitle}}" />
                                        <label class="font-13">Chọn giấy phép</label>
                                        <ul class="dropdown-menu w-100" role="menu">
                                            <li>
                                                <input class="floating-input w-100 text-left" type="text" ng-model="licenseData.LicenseNumber" placeholder=" Tìm giấy phép " />
                                            </li>
                                            <li class="border-bottom border-secondary p-0" ng-repeat='license in Licenses | filter:licenseData '>
                                                <a href="javascript:void(0)" class="text-primary nav-link py-0 px-1" ng-click="selectLicense(license)"> {{license.LicenseNumber}} - {{license.LicenseName}} </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-6 col-md-3 m-auto py-3">
                                    <button ng-disabled="disabledButton" class="btn btn-sm btn-addnew w-100" type="button" ng-click="zoomConstruction(license.Construction, license.Construction.Lng, license.Construction.Lat)">
                                        Xem vị trí công trình <i class="fa fa-eye"></i>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <fieldset class="col-12 border border-dark p-3 mb-2 background-color bg-lightgray">
                            <legend class="font-18" style="width: auto">Thông tin công trình</legend>
                            <div class="row m-0">
                                <div class="col-md-4">
                                    <label class="font-13">Tên đơn vị XCP</label>
                                    <div class="floating-label">
                                        <input class="floating-input w-100" type="text" placeholder=" " readonly ng-model="license.LicenseHolderName">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label class="font-13">Địa chỉ đơn vị XCP </label>
                                    <div class="floating-label">
                                        <textarea class="floating-input w-100 floating-textarea" placeholder=" " readonly ng-model="license.LicenseHolderAddress"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label class="font-13">Thời hạn GP</label>
                                    <div class="floating-label">
                                        <input class="floating-input w-100" type="text" placeholder=" " readonly ng-model="license.Duration">
                                    </div>
                                </div>
                            </div>

                            <div class="row m-0">
                                <div class="col-md-4">
                                    <label class="font-13">Cơ quan CP </label>
                                    <div class="floating-label">
                                        <input class="floating-input w-100" type="text" placeholder=" " readonly ng-model="license.LicensingAuthoritiesName">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label class="font-13">Ký hiệu CT </label>
                                    <div class="floating-label">
                                        <input class="floating-input w-100" type="text" placeholder=" " readonly ng-model="license.Construction.ConstructionCode">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label class="font-13">Tên CT</label>
                                    <div class="floating-label">
                                        <input class="floating-input w-100" type="text" placeholder=" " readonly ng-model="license.Construction.ConstructionName">
                                    </div>
                                </div>
                            </div>

                            <div class="row m-0">
                                <div class="col-md-4">
                                    <label class="font-13">Địa điểm CT </label>
                                    <div class="floating-label">
                                        <input class="floating-input w-100" type="text" placeholder=" " readonly ng-model="license.Construction.ConstructionLocation">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label class="font-13">Huyện </label>
                                    <div class="floating-label">
                                        <input class="floating-input w-100" type="text" placeholder=" " readonly ng-model="license.Construction.Commune.DistrictName">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label class="font-13">Xã</label>
                                    <div class="floating-label">
                                        <input class="floating-input w-100" type="text" placeholder=" " readonly ng-model="license.Construction.Commune.CommuneName">
                                    </div>
                                </div>
                            </div>

                            <div class="row m-0">
                                <div class="col-md-4">
                                    <label class="font-13">Loại CT </label>
                                    <div class="floating-label">
                                        <input class="floating-input w-100" type="text" placeholder=" " readonly ng-model="license.Construction.ConstructionTypeName">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label class="font-13">Tọa độ X </label>
                                    <div class="floating-label">
                                        <input class="floating-input w-100" type="text" placeholder=" " readonly ng-model="license.Construction.X">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label class="font-13">Tọa độ Y</label>
                                    <div class="floating-label">
                                        <input class="floating-input w-100" type="text" placeholder=" " readonly ng-model="license.Construction.Y">
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class="col-12 border border-dark p-3 mb-2 table-responsive">
                            <legend class="font-18" style="width: auto ">Tài khoản kết nối đến công trình </legend>
                            <div class="table-responsive">
                                <table class="table no-margin table-hover table-bordered">
                                    <thead class="custom-table-thead">
                                        <tr>
                                            <th rowspan="2" class="text-center align-middle">STT</th>
                                            <td class="text-nowrap">Địa chỉ FTP</td>
                                            <td class="text-nowrap">Tài Khoản</td>
                                            <td class="text-nowrap">Mật khẩu</td>
                                            <td class="text-nowrap">Đường dẫn Camera</td>
                                            <td class="text-nowrap">Giao thức truyền</td>
                                            <td class="text-nowrap">Cổng kết nối FTP</td>
                                        </tr>
                                    </thead>
                                    <tbody class="custom-table-tbody">
                                        <tr ng-repeat="item in DataTransmission">
                                            <!-- lấy DataBieuMauSo3 từ file scrip/controler.js-->
                                            <th class="text-center align-middle" ng-bind="(currentPage -1)*numPerPage+$index+1"> </th>
                                            <!-- đưa (currentPage -1)*numPerPage+$index+1 để đếm hàng-->
                                            <td>{{item.FTPAddress}}</td>
                                            <td>{{item.UserName}}</td>
                                            <td>{{item.Password}}</td>
                                            <td ng-bind-html="cameraLink(item)"></td>
                                            <td>{{item.Protocol}}</td>
                                            <td>{{item.Port}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <!-- MAP -->
                <div class="col-md-4 p-0 bg-info">
                    <div style="width: 100%; height: calc( 100vh - 120px )">
                        <select id="basemaps" class="form-select switch-basemap" aria-label="Default select example">
                            <option value="Imagery">Bản đồ vệ tinh</option>
                            <option value="Topographic">Bản đồ địa hình</option>
                            <option value="Streets">Bản đồ đường</option>
                            <option value="Gray">Bản đồ xám</option>
                        </select>

                        <div class="bg-map" id="Map_RequestConnection" style="width:100%;height:100%"></div>
                    </div>
                </div>
                <!-- END MAP -->
            </div>
        </div>
    </div>
</div>
}
else
{
@Html.Partial("_401")
}