@{
    ViewBag.Title = "TÀI NGUYÊN NƯỚC - TÀI NGUYÊN MÔI TRƯỜNG SƠN LA";
}
<style>
    .content-wrapper {
        margin-left: 0 !important;
        height: 100vh !important;
    }

    .sidebar-toggle, .main-sidebar, .main-header {
        display: none;
    }

    #_404 > .main-header {
        display: block !important;
    }
</style>
<div id="_404">
    <img src="~/LocalFiles/images/ANHSOTNMT.png" alt="banner" style=" height: 140px; width:100% " />
    @Html.Partial("_Header")
    <div id="notfound">
        <div class="notfound">
            <div class="notfound-404">
                <h1>401</h1>
                @if (!Request.IsAuthenticated)
                {

                <h2>Bạn cần đăng nhập</h2>
                }
                else
                {
                <h2 style="top: 63px;">Bạn không có quyền truy cập</h2>
                }
            </div>
            <a href="/">Trang chủ</a>
        </div>
    </div>
</div>