@{
    ViewBag.Title = "KHÍ TƯỢNG THỦY VĂN - TÀI NGUYÊN MÔI TRƯỜNG SƠN LA";
}
<style>
    .content-wrapper {
        margin-left: 0 !important;
        height: 100vh !important;
    }

    .sidebar-toggle, .main-sidebar, .main-header {
        display: none;
    }

    #_404 > .main-header {
        display: block !important;
    }

    #notfound {
        height: 100vh;
    }
</style>
<div id="_404">
    <div id="notfound">
        <div class="notfound">
            <div class="notfound-404">
                <h1>404</h1>
                <h2>Trang không tồn tại</h2>
            </div>
            <a href="/">Trang chủ</a>
        </div>
    </div>
</div>