@using WaterResource.Service;
@{
    ViewBag.Title = "Thông tin công trình xả thải";
    UserRightService _service = new UserRightService();
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (_service.IsViewAction("/cong-trinh", User.Identity.Name, "VIEW"))
{
    <style>
        .leaflet-popup-content {
            overflow-y: auto;
        }
    </style>
    <link href="~/Assets/leaflet/leaflet.css" rel="stylesheet" />
    <script src="~/Assets/leaflet/leaflet.js"></script>
    <script src="~/Assets/leaflet/L.KML.js"></script>
    <!-- Load Esri Leaflet from CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/esri-leaflet/2.0.4/esri-leaflet.js"></script>

    <!-- Load Esri Leaflet Vector from CDN -->
    <script src="https://unpkg.com/esri-leaflet-vector@3.1.3/dist/esri-leaflet-vector.js" crossorigin=""></script>
    <script src="~/Assets/leaflet/leaflet-bing-layer.js"></script>
    <script src="~/Assets/leaflet/Bing.js"></script>
    <div ng-controller="myCntrl as demo" id="congtrinh">
        <script src="~/Scripts/Construction/Controller.js"></script>
        @Html.Partial("ImportServiceJs")

        <!-- Main content -->
        <section class="content p-0">
            <div class="row m-0">
                <div class="col-md-12 p-0" style="width: 100%; height: calc( 65vh - 50px )">
                    <select id="basemaps" class="form-select switch-basemap" aria-label="Default select example">
                        <option value="Imagery">Bản đồ vệ tinh</option>
                        <option value="Topographic">Bản đồ địa hình</option>
                        <option value="Streets">Bản đồ đường</option>
                        <option value="Gray">Bản đồ xám</option>
                    </select>
                    <ul class="annotate-layer cursor-pointer" id="annotate-layer">
                        <li class="m-0 d-flex">
                            <input type="checkbox" class="mr-2" id="cons-name" ng-click="toggleShow()">
                            <label for="cons-name">Hiển thị tên công trình</label>
                        </li>
                    </ul>
                    <div class="bg-map" id="Map" style="width:100vw;height:100%"></div>
                </div>
                <div class="col-md-12 p-0">
                    <div class="col-md-12 p-0">
                        <div class="row m-0 justify-content-between align-items-center px-2 py-1">
                            <div class="col-lg-3 p-0 row m-0 align-items-center">
                                <div class="col-12 p-0">Tổng số công trình xả thải vào nguồn nước: <span class="font-weight-bold text-success" ng-bind-html="TotalConstruction"></span> </div>
                                <div class="col-12 p-0">Số công trình đã cấp phép: <span class="font-weight-bold text-success" ng-bind-html="TotalConstruction - TotalConsNoLicense"></span> </div>
                            </div>
                            <div class="col-lg-9 row m-0 align-items-center justify-content-end pt-3 px-0 pt-md-0">
                                @Html.Partial("_search")
                            </div>
                        </div>
                        <div class="table-responsive wrapper-sticky">
                            <table class="table no-margin table-hover table-bordered" id="table-show-license">
                                <thead class="custom-table-thead">
                                    <tr>
                                        <th rowspan="2" class="text-center align-middle sticky-col start-col">STT</th>
                                        <th rowspan="2" class="text-center align-middle text-nowrap sticky-col start-col">Tên công trình</th>
                                        <th rowspan="2" class="text-center align-middle text-nowrap">Vị trí công trình </th>
                                        <th colspan="2" class="text-center align-middle text-nowrap">Tọa độ (VN2000, Kinh tuyến trục 104⁰, múi chiếu 3⁰</th>
                                        <th rowspan="2" class="text-center align-middle text-nowrap">Vị trí xả thải</th>
                                        <th rowspan="2" class="text-center align-middle text-nowrap">Nguồn tiếp nhận nước thải</th>
                                        <th colspan="4" class="text-center align-middle text-nowrap">Phương thức xả nước thải </th>
                                        <th rowspan="2" class="text-center align-middle text-nowrap">Chất lượng nước thải <br /> hệ số Kq và Kf</th>
                                        <th colspan="3" class="text-center align-middle text-nowrap">Thông tin cấp phép</th>
                                        <th colspan="2" class="text-center align-middle text-nowrap">Quyết định tiền cấp quyền</th>
                                        <th rowspan="2" class="text-center align-middle text-nowrap sticky-col end-col">Thao tác </th>
                                    </tr>
                                    <tr>
                                        <th class="text-center align-middle text-nowrap">X</th>
                                        <th class="text-center align-middle text-nowrap">Y</th>
                                        <th class="text-center align-middle text-nowrap">Phương thức xả nước thải</th>
                                        <th class="text-center align-middle text-nowrap">Chế độ xả nước thải</th>
                                        <th class="text-center align-middle text-nowrap">Q<sub>xả trung bình</sub> <br /> (m<sup>3</sup>/ngày đêm) </th>
                                        <th class="text-center align-middle text-nowrap">Q<sub>xả lớn nhất</sub> <br /> (m<sup>3</sup>/ngày đêm)</th>
                                        <!--license-->
                                        <th rowspan="2" class="text-center align-middle text-nowrap">Số GP</th>
                                        <th rowspan="2" class="text-center align-middle text-nowrap">Ngày cấp</th>
                                        <th rowspan="2" class="text-center align-middle text-nowrap">Thời hạn CP</th>
                                        <!--license fee-->
                                        <th rowspan="2" class="text-center align-middle text-nowrap">Số QĐ</th>
                                        <th rowspan="2" class="text-center align-middle text-nowrap">Tổng tiền <br /> (đồng) </th>
                                    </tr>
                                </thead>
                                <tbody class="custom-table-tbody">
                                    <tr ng-repeat="item in DataConstruction ">
                                        <td class="text-center align-middle sticky-col start-col"> {{(currentPage -1)*numPerPage+$index+1}} </td>
                                        <td class="text-nowrap sticky-col start-col" style="min-width:100px">
                                            <span ng-bind-html="item.ConstructionName" class="text-primary" ng-click="zoomConstruction(item.Lng, item.Lat, item.Id)"></span>
                                            <img class="grid-item-image" style="width: 15px;" src="~/LocalFiles/images/earth.png" alt="altImg">
                                        </td>
                                        <td ng-bind-html="item.ConstructionLocation"></td>
                                        <td ng-bind-html="item.X"></td>
                                        <td ng-bind-html="item.Y"></td>
                                        <td ng-bind-html="item.ConstructionDetailLocation"></td>
                                        <td ng-bind-html="item.DischargeWS"></td>
                                        <td ng-bind-html="item.DischargeMethod"></td>
                                        <td ng-bind-html="item.DischargeMode"></td>
                                        <td ng-bind-html="item.AverageDischargeFlow"></td>
                                        <td ng-bind-html="item.MaximumWasteWaterFlow"></td>
                                        <td ng-bind-html="item.KqKf"></td>
                                        <!--license-->
                                        <td>
                                            <div ng-repeat="license in item.Licenses">
                                                <span ng-click="openAsideFile(license)" class="text-primary text-nowrap" ng-bind-html="license.LicenseNumber"></span>
                                            </div>
                                        </td>
                                        <td>
                                            <div ng-repeat="license in item.Licenses">
                                                <span ng-bind-html="license.IssueDate | date:'MM/dd/yyyy'"></span>
                                            </div>
                                        </td>
                                        <td>
                                            <div ng-repeat="license in item.Licenses">
                                                <span ng-bind-html="license.Duration | date:'MM/dd/yyyy'"></span>
                                            </div>
                                        </td>
                                        <!--license fee-->
                                        <td>
                                            <div ng-repeat="licFee in item.LicenseFees">
                                                <span ng-click="openLicenseFeeFile(licFee)" class="text-primary text-nowrap" ng-bind-html="licFee.LicenseFeeNumber"></span>
                                            </div>
                                        </td>
                                        <td>
                                            <div ng-repeat="licFee in item.LicenseFees">
                                                <span ng-bind-html="licFee.TotalMoney | number : fractionSize"></span>
                                            </div>
                                        </td>
                                        <!--Action-->
                                        <td class="sticky-col end-col">
                                            <div class="d-flex">
                                                @if (_service.IsViewAction("/cong-trinh", User.Identity.Name, "EDIT"))
                                                {
                                                    <a href="javascript:void(0)" class="px-2" title="Chỉnh sửa công trình" ng-click="EditDataCons('formCreateCons' ,item)"><i class="fa fa-edit"></i></a>
                                                }
                                                @if (_service.IsViewAction("/cong-trinh", User.Identity.Name, "DELETE"))
                                                {
                                                    <a href="javascript:void(0)" class="px-2 text-danger" title="Xoá công trình" ng-click="DeleteItem(item)"><i class="fa-solid fa-trash-can"></i></a>
                                                }
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <!-- using for export -->
                            <table class="d-none" id="excel-export">
                                <thead>
                                    <tr>
                                        <th rowspan="2">STT</th>
                                        <th rowspan="2">Tên công trình</th>
                                        <th rowspan="2">Địa điểm</th>
                                        <th colspan="2">Tọa độ đập chính </th>
                                        <th rowspan="2">Nguồn nước KT</th>
                                        <th rowspan="2">Năm bắt đầu VH</th>
                                        <th colspan="10">Thông số của công trình</th>
                                        <th colspan="3">Thông tin giấy phép</th>
                                        <th colspan="2">Tiền cấp quyền</th>
                                    </tr>
                                    <tr>
                                        <!-- lat,long -->
                                        <th>X (m) </th>
                                        <th>Y (m) </th>
                                        <!-- construction specifications -->
                                        <th>Công suất (MW)</th>
                                        <th>Chiều cao đập (m)</th>
                                        <th>Qmax qua NM(m3/s)</th>
                                        <th>Qtt(m3/s)</th>
                                        <th>MNC(m)</th>
                                        <th>MNDBT(m)</th>
                                        <th>MNLTK(m)</th>
                                        <th>MNLKT(m)</th>
                                        <th>W toàn bộ (triệu m3)</th>
                                        <th>W hữu ích (triệu m3)</th>
                                        <!--license-->
                                        <th>Số GP</th>
                                        <th>Ngày cấp</th>
                                        <th>Thời hạn</th>
                                        <!--license fee-->
                                        <th rowspan="2">QĐ cấp quyền</th>
                                        <th rowspan="2">Tổng tiền cấp quyền (đồng) </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in DataConsForExportExcel">
                                        <!-- lấy DataBieuMauSo1 từ file scrip/controler.js-->
                                        <!-- đưa (currentPage -1)*numPerPage+$index+1 để đếm hàng-->
                                        <td> {{(currentPage -1)*numPerPage+$index+1}} </td>
                                        <td ng-bind-html="item.ConstructionName"></td>
                                        <td ng-bind-html="item.ConstructionLocation"></td>
                                        <td ng-bind-html="item.X"></td>
                                        <td ng-bind-html="item.Y"></td>
                                        <td ng-bind-html="item.ExploitedWS"></td>
                                        <td ng-bind-html="item.StartDate"></td>
                                        <!-- construction specifications -->
                                        <td ng-bind-html="item.Power"></td>
                                        <td ng-bind-html="item.DamHeight"></td>
                                        <td ng-bind-html="item.MaximumFlow"></td>
                                        <td ng-bind-html="item.MinimumFlow"></td>
                                        <td ng-bind-html="item.DeadWL"></td>
                                        <td ng-bind-html="item.RiseWL"></td>
                                        <td ng-bind-html="item.DesignFloodLevel"></td>
                                        <td ng-bind-html="item.CheckFloodWL"></td>
                                        <td ng-bind-html="item.TotalCapacity"></td>
                                        <td ng-bind-html="item.UsefulCapacity"></td>
                                        <!--license-->
                                        <td>
                                            <div ng-repeat="license in item.Licenses">
                                                <span ng-bind-html="license.LicenseNumber"></span>
                                            </div>
                                        </td>
                                        <td>
                                            <div ng-repeat="license in item.Licenses">
                                                <span ng-bind-html="license.IssueDate | date:'MM/dd/yyyy'"></span>
                                            </div>
                                        </td>
                                        <td>
                                            <div ng-repeat="license in item.Licenses">
                                                <span ng-bind-html="license.Duration | date:'MM/dd/yyyy'"></span>
                                            </div>
                                        </td>
                                        <!--license fee-->
                                        <td>
                                            <div ng-repeat="licFee in item.LicenseFees">
                                                <span ng-bind-html="licFee.LicenseFeeNumber"></span>
                                            </div>
                                        </td>
                                        <td>
                                            <div ng-repeat="licFee in item.LicenseFees">
                                                <span ng-bind-html="licFee.TotalMoney | number : fractionSize"></span>
                                            </div>
                                        </td>
                                        <!--Action-->
                                    </tr>
                                </tbody>
                            </table>
                            <!-- /using for export -->
                        </div>
                        <div class="box-footer ">
                            <div class="box-tools pull-right">
                                <ul uib-pagination
                                    total-items="TotalConstruction"
                                    ng-model="currentPage"
                                    items-per-page="numPerPage"
                                    boundary-links="true"
                                    previous-text=" &#xf104;"
                                    next-text=" &#xf105;"
                                    first-text=" &#xf100;"
                                    last-text=" &#xf101;"
                                    max-size="maxSize"
                                    ng-change="pageChanged()"
                                    class="pagination pagination-sm inline fa d-flex m-0"></ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="formCreateCons" class="sidenav p-0 font-13">
                <div>
                    <div class="doc-title py-2 px-0 col-12 d-flex align-items-center" style="background:#15538f; color: #fff; height: 50px">
                        <div class="d-flex col-12 p-0 align-items-center">
                            <div class="col-10">
                                <div class="admission-title d-flex center-center">
                                    <p class="m-0 col-12 p-0 text-left text-uppercase font-16">THÔNG TIN CÔNG TRÌNH KHAI THÁC, SỬ DỤNG NƯỚC MẶT</p>
                                </div>
                            </div>
                            <a href="javascript:void(0)" class="closebtn m-0 p-0 text-white" ng-click="closeAside('formCreateCons')">&times;</a>
                        </div>
                    </div>
                </div>
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="form-horizontal">
                            <input type="hidden" ng-model="license.TypeOfConstructionId" />
                            <fieldset class="col-12 border border-secondary px-2 mb-2 background-color bg-lightgray">
                                <legend class="font-18 font-weight-bold text-primary" style="width: auto">THÔNG TIN CÔNG TRÌNH</legend>
                                <div class="row col-12 pt-3 m-0">
                                    <div class="col-md-3 py-1">
                                        <label>Loại công trình <sup class="text-danger font-13">*</sup></label>
                                        <div class="floating-label w-100">
                                            <select ng-options="opt.Id as opt.TypeName for opt in TypeOfConstructions" ng-model="Id" ng-change="changeTypeOfCons(Id)" class="floating-select w-100">
                                                <option value="" hidden>-- Chọn loại công trình --</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-5 py-1">
                                        <label> Tên công trình </label>
                                        <div class="floating-label">
                                            <input type="text" class="floating-input w-100" placeholder=" " ng-model="construction.ConstructionName">
                                        </div>
                                    </div>
                                    <div class="col-md-4 py-1">
                                        <label>Giấy phép</label>
                                        <div class="floating-label">
                                            <input type="hidden" ng-model="construction.LicenseId" />
                                            <input type="hidden" ng-model="construction.LicenseNumber" />
                                            <div class="dropdown dropdown-scroll">
                                                <input class="floating-input w-100 text-left" type="text" data-toggle="dropdown" placeholder=" " ng-model="license_number" />
                                                <ul class="dropdown-menu w-100" role="menu">
                                                    <li class="border-bottom border-secondary p-0">
                                                        <a href="javascript:void(0)" class="text-primary nav-link py-2 px-1" ng-click="GetLicenseId(0, 'Chưa có giấy phép')"> Chưa có giấy phép </a>
                                                    </li>
                                                    <li class="border-bottom border-secondary p-0" ng-repeat='license in Licenses | filter:license_number'>
                                                        <a href="javascript:void(0)" class="text-primary nav-link py-0 px-1" ng-click="GetLicenseId(license.Id, license.LicenseNumber)"> {{license.LicenseNumber}} - {{license.LicenseName}} </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 py-1">
                                        <label>Tỉnh :</label>
                                        <div class="floating-label">
                                            <select ng-options="opt.Id as opt.CityName for opt in Provinces" ng-model="construction.ProvinceId" ng-change="ProvinceChange(construction.ProvinceId)" class="floating-select" style="width:100%"><option value="" hidden class="" selected="selected">[--Chọn Tỉnh/TP--]</option><option label="Tỉnh Sơn La" value="number:1">Tỉnh Sơn La</option></select>
                                        </div>
                                    </div>
                                    <div class="col-md-4 py-1">
                                        <label>Quận/Huyện :</label>
                                        <div class="floating-label">
                                            <select ng-options="opt.Id as opt.DistrictName for opt in Districts" ng-model="construction.DistrictId" ng-change="DistrictChange(construction.DistrictId)" class="floating-select" style="width:100%"><option value="" hidden class="" selected="selected">[--Chọn Quận/Huyện--]</option></select>
                                        </div>
                                    </div>
                                    <div class="col-md-4 py-1">
                                        <label>Xã/Phường :</label>
                                        <div class="floating-label">
                                            <select ng-options="opt.Id as opt.CommuneName for opt in Communes" ng-model="construction.CommuneId" class="floating-select" style="width:100%"><option value="" hidden class="" selected="selected">[--Chọn Xã/Phường--]</option></select>
                                        </div>
                                    </div>
                                    <div class="col-md-9 py-1">
                                        <label> Địa điểm công trình </label>
                                        <div class="floating-label">
                                            <input type="text" class="floating-input w-100" placeholder=" " ng-model="construction.ConstructionLocation">
                                        </div>
                                    </div>
                                    <div class="col-md-3 py-1">
                                        <label> Năm bắt đầu vận hành </label>
                                        <div class="floating-label">
                                            <input type="text" class="floating-input w-100" placeholder=" " ng-model="construction.StartDate">
                                        </div>
                                    </div>
                                    <div class="col-md-6 py-1">
                                        <label> Vĩ độ </label>
                                        <div class="floating-label">
                                            <input type="text" class="floating-input w-100" placeholder=" " ng-model="construction.X">
                                        </div>
                                    </div>
                                    <div class="col-md-6 py-1">
                                        <label> Kinh độ </label>
                                        <div class="floating-label">
                                            <input type="text" class="floating-input w-100" placeholder=" " ng-model="construction.Y">
                                        </div>
                                    </div>
                                    <div class="col-md-6 py-1">
                                        <label> Vị trí xả thải </label>
                                        <div class="floating-label">
                                            <input type="text" class="floating-input w-100" placeholder=" " ng-model="construction.ConstructionDetailLocation">
                                        </div>
                                    </div>
                                    <div class="col-md-6 py-1">
                                        <label> Nguồn tiếp nhận nước thải </label>
                                        <div class="floating-label">
                                            <input type="text" class="floating-input w-100" placeholder=" " ng-model="construction.DischargeWS">
                                        </div>
                                    </div>
                                    <div class="col-md-6 py-1">
                                        <label> Phương thức xả nước thải </label>
                                        <div class="floating-label">
                                            <input type="text" class="floating-input w-100" placeholder=" " ng-model="construction.DischargeMethod">
                                        </div>
                                    </div>
                                    <div class="col-md-6 py-1">
                                        <label> Chế độ xả nước thải </label>
                                        <div class="floating-label">
                                            <input type="text" class="floating-input w-100" placeholder=" " ng-model="construction.DischargeMode">
                                        </div>
                                    </div>
                                    <div class="col-md-6 py-1">
                                        <label> Lưu lượng xả trung bình m3/ngày đêm </label>
                                        <div class="floating-label">
                                            <input type="text" class="floating-input w-100" placeholder=" " ng-model="construction.AverageDischargeFlow">
                                        </div>
                                    </div>
                                    <div class="col-md-6 py-1">
                                        <label> Lưu lượng xả lớn nhất m3/ngày đêm </label>
                                        <div class="floating-label">
                                            <input type="text" class="floating-input w-100" placeholder=" " ng-model="construction.MaximumWasteWaterFlow">
                                        </div>
                                    </div>
                                    <div class="col-md-6 py-1">
                                        <label> Chất lượng nước thải, hệ số Kq và Kf </label>
                                        <div class="floating-label">
                                            <input type="text" class="floating-input w-100" placeholder=" " ng-model="construction.KqKf">
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset class="col-12 border border-secondary px-2 mb-2 background-color bg-lightgray">
                                <legend class="font-18 font-weight-bold text-primary" style="width: auto">VỊ TRÍ CÁC HẠNG MỤC CHÍNH CỦA CÔNG TRÌNH KHAI THÁC SỬ DỤNG NƯỚC</legend>
                                <div class="mb-2 mt-5 mt-md-0">
                                    <div class="col-12 p-1 table-responsive">
                                        <table class="table table-sm">
                                            <thead>
                                                <tr>
                                                    <th class="text-center align-middle font-13" rowspan="2">TT</th>
                                                    <th class="text-center align-middle font-13" rowspan="2">Hạng mục</th>
                                                    <th class="text-center align-middle font-13">Tọa độ X</th>
                                                    <th class="text-center align-middle font-13">Tọa độ Y</th>
                                                    <th class="text-center align-middle font-13" style="width:50px">
                                                        <button title="Tạo mới hạng mục" type="button" ng-click="AddConstructionItem()" class="w-100 d-flex center-center btn btn-link btn-sm">
                                                            Thêm
                                                        </button>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="item in construction.ConstructionItems">
                                                    <th class="text-center align-middle font-13" ng-bind-html="$index+1"></th>
                                                    <td><input type="text" name="tenhangmuc" class="floating-input w-100" ng-model="item.Name"></td>
                                                    <td><input type="number" name="x" class="floating-input w-100" ng-model="item.X"></td>
                                                    <td><input type="number" name="y" class="floating-input w-100" ng-model="item.Y"></td>
                                                    <td class="text-center align-middle">
                                                        <button type="button" ng-click="RemoveConstructionItem($index, item)" class="center-center text-danger btn btn-link btn-sm">
                                                            <i class="fa fa-trash text-danger"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <div class="d-flex col-12 justify-content-end">
                        @if (_service.IsViewAction("/cong-trinh", User.Identity.Name, "SAVE"))
                        {
                            <button type="button" class="btn btn-addnew mx-2 fw-bold font-14 d-flex align-items-center" ng-click="Save('formCreateCons')">
                                XÁC NHẬN &nbsp; <i class="fa fa-edit"></i>
                            </button>
                        }
                        <button type="button" class="btn btn-cancel mx-2 fw-bold font-14 d-flex align-items-center" href="javascript:void(0)" ng-click="closeAside('formCreateCons')">
                            ĐÓNG &nbsp; <i class="fa fa-times-circle"></i>
                        </button>
                    </div>
                </div>
            </div>
        </section>
        @Html.Partial("ViewFilePDF")
    </div>
    <!-- /.content-wrapper -->
}
else
{
    @Html.Partial("_401")
}