@using WaterResource.Service;
@{
    UserRightService _service = new UserRightService();
}
<div ng-controller="myCntrl as demo">
    <script src="~/Scripts/Construction/Controller.js"></script>
    @Html.Partial("ImportServiceJs")

    <!-- Main content -->
    <section class="content p-0" id="Surfacewater">
        <div class="row m-0">
            <div class="col-md-12 p-0" style="width: 100%; height: calc( 65vh - 50px )">
                <select id="basemaps" class="form-select switch-basemap" aria-label="Default select example">
                    <option value="Imagery">Bản đồ vệ tinh</option>
                    <option value="Topographic">Bản đồ địa hình</option>
                    <option value="Streets">Bản đồ đường</option>
                    <option value="Gray">Bản đồ xám</option>
                </select>
                <ul class="annotate-layer cursor-pointer" id="annotate-layer">
                    <li class="m-0 d-flex">
                        <input type="checkbox" checked class="mr-2" id="cons-name" ng-click="toggleShow()">
                        <label for="cons-name">Hiển thị tên công trình</label>
                    </li>
                </ul>
                <div class="bg-map" id="Map" style="width: 100%; height: 100%"></div>
            </div>
            <div class="col-md-12 p-0">
                <div class="col-md-12 p-0">
                    <div class="row m-0 justify-content-between align-items-center p-1 px-2">
                        <div class="col-lg-3 p-0 row m-0 align-items-center">
                            <div class="col-12 p-0">Tổng số công trình: <span class="font-weight-bold text-success" ng-bind-html="TotalConstruction"></span> </div>
                            <div class="col-12 p-0">Số công trình đã cấp phép: <span class="font-weight-bold text-success" ng-bind-html="TotalConstruction - TotalConsNoLicense"></span> </div>
                        </div>
                        <div class="col-lg-9 row m-0 align-items-center justify-content-end pt-3 px-0 pt-md-0">
                            <div class="col-12 col-md-3 py-2">
                                <div class="floating-label w-100">
                                    <select name="TypeOfConstructions" ng-options="opt.Id as opt.TypeName for opt in TypeOfConstructions track by opt.Id" ng-model="TypeOfConstructionId" ng-change="filterConsByType(TypeOfConstructionId, 1)" class="floating-select w-100">
                                        <option value="">-- Tất cả --</option>
                                    </select>
                                    <label>Loại công trình</label>
                                </div>
                            </div>
                            <div class="col-12 col-md-3 py-2">
                                <div class="floating-label">
                                    <input type="text" class="floating-input w-100" ng-model="Keyword" />
                                    <label>Tìm công trình</label>
                                </div>
                            </div>
                            <div class="row m-0 align-items-center px-1 pl-0">
                                <button class="btn btn-sm btn-addnew px-4 mx-1" ng-click="filterCons()"><i class="fa-solid fa-magnifying-glass"></i></button>
                            </div>
                            <button class="btn btn-outline-success rounded-0 px-4 py-1 mx-1" title="Xuất file excel" ng-click="exportToExcel('#table-show-license-export')">
                                <i class="fa-solid fa-file-excel"></i>
                            </button>
                            <div class="row m-0 align-items-center p-1">
                                @if (_service.IsViewAction("/cong-trinh", User.Identity.Name, "Add"))
                                {
                                    <button class="btn btn-sm btn-addnew px-4 m-2" title="Thêm mới" ng-click="AddDataCons('formCreateCons')"><i class="fa-solid fa-plus"></i></button>
                                }
                            </div>
                        </div>
                    </div>

                    <div class="table-responsive wrapper-sticky">
                        <table class="table no-margin table-hover table-bordered" id="table-show-license">
                            <thead class="custom-table-thead">
                                <tr>
                                    <th rowspan="2" class="text-center align-middle sticky-col start-col">STT</th>
                                    <th rowspan="2" class="text-center align-middle text-nowrap sticky-col start-col">Tên công trình</th>
                                    <th rowspan="2" class="text-center align-middle text-nowrap">Địa điểm</th>
                                    <th colspan="2" class="text-center align-middle text-nowrap">Tọa độ đập chính </th>
                                    <th rowspan="2" class="text-center align-middle text-nowrap">Nguồn nước KT</th>
                                    <th rowspan="2" class="text-center align-middle text-nowrap">Phương thức KT</th>
                                    <th rowspan="2" class="text-center align-middle text-nowrap">Chế độ KT</th>
                                    <th rowspan="2" class="text-center align-middle text-nowrap">Mục đích KT</th>
                                    <th ng-if="CheckShowColumnTableByCons(TypeOfConstructionId,[1,4,5]) || TypeOfConstructionId == 1 || TypeOfConstructionId == undefined" rowspan="2" class="text-center align-middle text-nowrap">Tiểu vùng quy hoạch</th>
                                    <th rowspan="2" class="text-center align-middle text-nowrap">Năm xây dựng</th>
                                    <th rowspan="2" class="text-center align-middle text-nowrap">Năm bắt đầu VH</th>
                                    <th ng-if="CheckShowColumnTableByCons(TypeOfConstructionId,[1]) || TypeOfConstructionId == 1 || TypeOfConstructionId == undefined" colspan="26" class="text-center align-middle text-nowrap">Thông số của công trình</th>
                                    <th ng-if="CheckShowColumnTableByCons(TypeOfConstructionId,[4,5])" colspan="21" class="text-center align-middle text-nowrap">Thông số của công trình</th>
                                    <th ng-if="CheckShowColumnTableByCons(TypeOfConstructionId,[6])" colspan="6" class="text-center align-middle text-nowrap">Thông số của công trình</th>
                                    <th colspan="3" class="text-center align-middle text-nowrap">Thông tin cấp phép</th>
                                    <th colspan="2" class="text-center align-middle text-nowrap">Quyết định tiền cấp quyền</th>
                                    <th rowspan="2" class="text-center align-middle text-nowrap sticky-col end-col">Thao tác</th>
                                </tr>
                                <tr>
                                    <!-- lat,long -->
                                    <th class="text-center align-middle text-nowrap">X (m) </th>
                                    <th class="text-center align-middle text-nowrap">Y (m) </th>
                                    <!-- construction specifications -->
                                    <th ng-if="CheckShowColumnTableByCons(TypeOfConstructionId,[1,4,5]) || TypeOfConstructionId == 1 || TypeOfConstructionId == undefined" class="text-center align-middle text-nowrap">Cấp công trình</th>
                                    <th ng-if="CheckShowColumnTableByCons(TypeOfConstructionId,[1,4,5]) || TypeOfConstructionId == 1 || TypeOfConstructionId == undefined" class="text-center align-middle text-nowrap">Diện tích lưu vực</th>
                                    <th ng-if="CheckShowColumnTableByCons(TypeOfConstructionId,[1,4,5]) || TypeOfConstructionId == 1 || TypeOfConstructionId == undefined" class="text-center align-middle text-nowrap">Lượng mưa trung bình nhiều năm</th>
                                    <th ng-if="CheckShowColumnTableByCons(TypeOfConstructionId,[1,4,5]) || TypeOfConstructionId == 1 || TypeOfConstructionId == undefined" class="text-center align-middle text-nowrap">Lưu lượng trung bình nhiều năm</th>
                                    <th ng-if="CheckShowColumnTableByCons(TypeOfConstructionId,[1,4,5,6]) || TypeOfConstructionId == 1 || TypeOfConstructionId == undefined" class="text-center align-middle text-nowrap">Công suất (MW)</th>
                                    <th ng-if="CheckShowColumnTableByCons(TypeOfConstructionId,[1,4,5]) || TypeOfConstructionId == 1 || TypeOfConstructionId == undefined" class="text-center align-middle text-nowrap">Công suất đảm bảo(MW)</th>
                                    <th ng-if="CheckShowColumnTableByCons(TypeOfConstructionId,[1,4,5]) || TypeOfConstructionId == 1 || TypeOfConstructionId == undefined" class="text-center align-middle text-nowrap">Chiều cao đập (m)</th>
                                    <th ng-if="CheckShowColumnTableByCons(TypeOfConstructionId,[1,4,5]) || TypeOfConstructionId == 1 || TypeOfConstructionId == undefined" class="text-center align-middle text-nowrap">Qmax qua NM(m3/s)</th>
                                    <th ng-if="CheckShowColumnTableByCons(TypeOfConstructionId,[1,4,5]) || TypeOfConstructionId == 1 || TypeOfConstructionId == undefined" class="text-center align-middle text-nowrap">Qtt(m3/s)</th>
                                    <th ng-if="CheckShowColumnTableByCons(TypeOfConstructionId,[1,4,5]) || TypeOfConstructionId == 1 || TypeOfConstructionId == undefined" class="text-center align-middle text-nowrap">Q đảm bảo(m3/s)</th>
                                    <th ng-if="CheckShowColumnTableByCons(TypeOfConstructionId,[1,4,5]) || TypeOfConstructionId == 1 || TypeOfConstructionId == undefined" class="text-center align-middle text-nowrap">Q đỉnh lũ(0.2%)</th>
                                    <th ng-if="CheckShowColumnTableByCons(TypeOfConstructionId,[1,4,5]) || TypeOfConstructionId == 1 || TypeOfConstructionId == undefined" class="text-center align-middle text-nowrap">Q đỉnh lũ(1%)</th>
                                    <th ng-if="CheckShowColumnTableByCons(TypeOfConstructionId,[1,4,5]) || TypeOfConstructionId == 1 || TypeOfConstructionId == undefined" class="text-center align-middle text-nowrap">Q đỉnh lũ(5%)</th>
                                    <th ng-if="CheckShowColumnTableByCons(TypeOfConstructionId,[1,4,5]) || TypeOfConstructionId == 1 || TypeOfConstructionId == undefined" class="text-center align-middle text-nowrap">Q đỉnh lũ(10%)</th>
                                    <th ng-if="CheckShowColumnTableByCons(TypeOfConstructionId,[1,4,5]) || TypeOfConstructionId == 1 || TypeOfConstructionId == undefined" class="text-center align-middle text-nowrap">MNC(m)</th>
                                    <th ng-if="CheckShowColumnTableByCons(TypeOfConstructionId,[1,4,5]) || TypeOfConstructionId == 1 || TypeOfConstructionId == undefined" class="text-center align-middle text-nowrap">MNDBT(m)</th>
                                    <th ng-if="CheckShowColumnTableByCons(TypeOfConstructionId,[1,4,5]) || TypeOfConstructionId == 1 || TypeOfConstructionId == undefined" class="text-center align-middle text-nowrap">MNLTK(m)</th>
                                    <th ng-if="CheckShowColumnTableByCons(TypeOfConstructionId,[1,4,5]) || TypeOfConstructionId == 1 || TypeOfConstructionId == undefined" class="text-center align-middle text-nowrap">MNLKT(m)</th>
                                    <th ng-if="CheckShowColumnTableByCons(TypeOfConstructionId,[1,4,5]) || TypeOfConstructionId == 1 || TypeOfConstructionId == undefined" class="text-center align-middle text-nowrap">W toàn bộ (triệu m3)</th>
                                    <th ng-if="CheckShowColumnTableByCons(TypeOfConstructionId,[1,4,5]) || TypeOfConstructionId == 1 || TypeOfConstructionId == undefined" class="text-center align-middle text-nowrap">W chết (triệu m3)</th>
                                    <th ng-if="CheckShowColumnTableByCons(TypeOfConstructionId,[1,4,5]) || TypeOfConstructionId == 1 || TypeOfConstructionId == undefined" class="text-center align-middle text-nowrap">W hữu ích (triệu m3)</th>
                                    <th ng-if="CheckShowColumnTableByCons(TypeOfConstructionId,[1,6]) || TypeOfConstructionId == 1 || TypeOfConstructionId == undefined" class="text-center align-middle text-nowrap">Số máy bơm</th>
                                    <th ng-if="CheckShowColumnTableByCons(TypeOfConstructionId,[1,6]) || TypeOfConstructionId == 1 || TypeOfConstructionId == undefined" class="text-center align-middle text-nowrap">Lưu lượng thiết kế (m3/h)</th>
                                    <th ng-if="CheckShowColumnTableByCons(TypeOfConstructionId,[1,6]) || TypeOfConstructionId == 1 || TypeOfConstructionId == undefined" class="text-center align-middle text-nowrap">Lưu lượng thực tế (m3/h)</th>
                                    <th ng-if="CheckShowColumnTableByCons(TypeOfConstructionId,[1,6]) || TypeOfConstructionId == 1 || TypeOfConstructionId == undefined" class="text-center align-middle text-nowrap">Diện tích tưới thiết kế (ha)</th>
                                    <th ng-if="CheckShowColumnTableByCons(TypeOfConstructionId,[1,6]) || TypeOfConstructionId == 1 || TypeOfConstructionId == undefined" class="text-center align-middle text-nowrap">Diện tích tưới thực tế (ha)</th>
                                    <!--license-->
                                    <th class="text-center align-middle text-nowrap">Số GP</th>
                                    <th class="text-center align-middle text-nowrap">Ngày cấp</th>
                                    <th class="text-center align-middle text-nowrap">Thời hạn</th>
                                    <!--license fee-->
                                    <th rowspan="2" class="text-center align-middle text-nowrap">QĐ cấp quyền</th>
                                    <th rowspan="2" class="text-center align-middle text-nowrap">Tổng tiền cấp quyền (đồng) </th>
                                </tr>
                            </thead>
                            <tbody class="custom-table-tbody">
                                <tr ng-repeat="item in DataConstruction">
                                    <!-- lấy DataBieuMauSo1 từ file scrip/controler.js-->
                                    <!-- đưa (currentPage -1)*numPerPage+$index+1 để đếm hàng-->
                                    <td class="text-center align-middle sticky-col start-col"> {{(currentPage -1)*numPerPage+$index+1}} </td>
                                    <td class="text-nowrap sticky-col start-col" style="min-width:100px">
                                        <span ng-bind-html="item.ConstructionName" class="text-primary" ng-click="zoomConstruction(item.Lng, item.Lat, item.Id)"></span>
                                        <img class="grid-item-image" style="width: 15px;" src="~/LocalFiles/images/earth.png" alt="altImg">
                                    </td>
                                    <td style="min-width:200px" ng-bind-html="item.ConstructionLocation"></td>
                                    <td ng-bind-html="item.X"></td>
                                    <td ng-bind-html="item.Y"></td>
                                    <td style="min-width:200px" ng-bind-html="item.ExploitedWS"></td>
                                    <td style="min-width:200px" ng-bind-html="item.MiningMethod"></td>
                                    <td style="min-width:100px" ng-bind-html="item.MiningMode"></td>
                                    <td ng-bind-html="item.MiningPurpose"></td>
                                    <td ng-if="CheckShowColumnTableByCons(TypeOfConstructionId,[1,4,5]) || TypeOfConstructionId == 1 || TypeOfConstructionId == undefined" style="min-width:200px" ng-bind-html="item.SmallPlanningArea"></td>
                                    <td style="width:100px" ng-bind-html="item.ConstructionTime"></td>
                                    <td style="width:100px" ng-bind-html="item.StartDate"></td>
                                    <!-- construction specifications -->
                                    <td ng-if="CheckShowColumnTableByCons(TypeOfConstructionId,[1,4,5]) || TypeOfConstructionId == 1 || TypeOfConstructionId == undefined" ng-bind-html="item.ConstructionLevel"></td>
                                    <td ng-if="CheckShowColumnTableByCons(TypeOfConstructionId,[1,4,5]) || TypeOfConstructionId == 1 || TypeOfConstructionId == undefined" ng-bind-html="item.BasinArea"></td>
                                    <td ng-if="CheckShowColumnTableByCons(TypeOfConstructionId,[1,4,5]) || TypeOfConstructionId == 1 || TypeOfConstructionId == undefined" ng-bind-html="item.RainAvgForYears"></td>
                                    <td ng-if="CheckShowColumnTableByCons(TypeOfConstructionId,[1,4,5]) || TypeOfConstructionId == 1 || TypeOfConstructionId == undefined" ng-bind-html="item.FlowAvgForYears"></td>
                                    <td ng-if="CheckShowColumnTableByCons(TypeOfConstructionId,[1,4,5,6]) || TypeOfConstructionId == 1 || TypeOfConstructionId == undefined" ng-bind-html="item.Power"></td>
                                    <td ng-if="CheckShowColumnTableByCons(TypeOfConstructionId,[1,4,5]) || TypeOfConstructionId == 1 || TypeOfConstructionId == undefined" ng-bind-html="item.GuaranteedPower"></td>
                                    <td ng-if="CheckShowColumnTableByCons(TypeOfConstructionId,[1,4,5]) || TypeOfConstructionId == 1 || TypeOfConstructionId == undefined" ng-bind-html="item.DamHeight"></td>
                                    <td ng-if="CheckShowColumnTableByCons(TypeOfConstructionId,[1,4,5]) || TypeOfConstructionId == 1 || TypeOfConstructionId == undefined" ng-bind-html="item.MaximumFlow"></td>
                                    <td ng-if="CheckShowColumnTableByCons(TypeOfConstructionId,[1,4,5]) || TypeOfConstructionId == 1 || TypeOfConstructionId == undefined" ng-bind-html="item.MinimumFlow"></td>
                                    <td ng-if="CheckShowColumnTableByCons(TypeOfConstructionId,[1,4,5]) || TypeOfConstructionId == 1 || TypeOfConstructionId == undefined" ng-bind-html="item.GuaranteedFlow"></td>
                                    <td ng-if="CheckShowColumnTableByCons(TypeOfConstructionId,[1,4,5]) || TypeOfConstructionId == 1 || TypeOfConstructionId == undefined" ng-bind-html="item.FloodPeakPointTwoPercent"></td>
                                    <td ng-if="CheckShowColumnTableByCons(TypeOfConstructionId,[1,4,5]) || TypeOfConstructionId == 1 || TypeOfConstructionId == undefined" ng-bind-html="item.FloodPeakOnePercent"></td>
                                    <td ng-if="CheckShowColumnTableByCons(TypeOfConstructionId,[1,4,5]) || TypeOfConstructionId == 1 || TypeOfConstructionId == undefined" ng-bind-html="item.FloodPeakFivePercent"></td>
                                    <td ng-if="CheckShowColumnTableByCons(TypeOfConstructionId,[1,4,5]) || TypeOfConstructionId == 1 || TypeOfConstructionId == undefined" ng-bind-html="item.FloodPeakTenPercent"></td>
                                    <td ng-if="CheckShowColumnTableByCons(TypeOfConstructionId,[1,4,5]) || TypeOfConstructionId == 1 || TypeOfConstructionId == undefined" ng-bind-html="item.DeadWL"></td>
                                    <td ng-if="CheckShowColumnTableByCons(TypeOfConstructionId,[1,4,5]) || TypeOfConstructionId == 1 || TypeOfConstructionId == undefined" ng-bind-html="item.RiseWL"></td>
                                    <td ng-if="CheckShowColumnTableByCons(TypeOfConstructionId,[1,4,5]) || TypeOfConstructionId == 1 || TypeOfConstructionId == undefined" ng-bind-html="item.DesignFloodLevel"></td>
                                    <td ng-if="CheckShowColumnTableByCons(TypeOfConstructionId,[1,4,5]) || TypeOfConstructionId == 1 || TypeOfConstructionId == undefined" ng-bind-html="item.CheckFloodWL"></td>
                                    <td ng-if="CheckShowColumnTableByCons(TypeOfConstructionId,[1,4,5]) || TypeOfConstructionId == 1 || TypeOfConstructionId == undefined" ng-bind-html="item.TotalCapacity"></td>
                                    <td ng-if="CheckShowColumnTableByCons(TypeOfConstructionId,[1,4,5]) || TypeOfConstructionId == 1 || TypeOfConstructionId == undefined" ng-bind-html="item.DeadCapacity"></td>
                                    <td ng-if="CheckShowColumnTableByCons(TypeOfConstructionId,[1,4,5]) || TypeOfConstructionId == 1 || TypeOfConstructionId == undefined" ng-bind-html="item.UsefulCapacity"></td>
                                    <td ng-if="CheckShowColumnTableByCons(TypeOfConstructionId,[1,6]) || TypeOfConstructionId == 1 || TypeOfConstructionId == undefined" ng-bind-html="item.PumpNumber"></td>
                                    <td ng-if="CheckShowColumnTableByCons(TypeOfConstructionId,[1,6]) || TypeOfConstructionId == 1 || TypeOfConstructionId == undefined" ng-bind-html="item.FlowDesigned"></td>
                                    <td ng-if="CheckShowColumnTableByCons(TypeOfConstructionId,[1,6]) || TypeOfConstructionId == 1 || TypeOfConstructionId == undefined" ng-bind-html="item.RealityFlow"></td>
                                    <td ng-if="CheckShowColumnTableByCons(TypeOfConstructionId,[1,6]) || TypeOfConstructionId == 1 || TypeOfConstructionId == undefined" ng-bind-html="item.WateringAreaDesigned"></td>
                                    <td ng-if="CheckShowColumnTableByCons(TypeOfConstructionId,[1,6]) || TypeOfConstructionId == 1 || TypeOfConstructionId == undefined" ng-bind-html="item.RealityWateringArea"></td>
                                    <!--license-->
                                    <td>
                                        <div ng-repeat="license in item.Licenses">
                                            <span ng-click="openAsideFile(license)" class="text-primary text-nowrap" ng-bind-html="license.LicenseNumber"></span>
                                        </div>
                                    </td>
                                    <td>
                                        <div ng-repeat="license in item.Licenses">
                                            <span ng-bind-html="license.IssueDate | date:'MM/dd/yyyy'"></span>
                                        </div>
                                    </td>
                                    <td>
                                        <div ng-repeat="license in item.Licenses">
                                            <span ng-bind-html="license.Duration | date:'MM/dd/yyyy'"></span>
                                        </div>
                                    </td>
                                    <!--license fee-->
                                    <td>
                                        <div ng-repeat="licFee in item.LicenseFees">
                                            <span ng-click="openLicenseFeeFile(licFee)" class="text-primary text-nowrap" ng-bind-html="licFee.LicenseFeeNumber"></span>
                                        </div>
                                    </td>
                                    <td>
                                        <div ng-repeat="licFee in item.LicenseFees">
                                            <span ng-bind-html="licFee.TotalMoney | number : fractionSize"></span>
                                        </div>
                                    </td>
                                    <!--Action-->
                                    <td class="sticky-col end-col">
                                        <div class="d-flex">
                                            @if (_service.IsViewAction("/cong-trinh", User.Identity.Name, "Edit"))
                                            {
                                                <a href="javascript:void(0)" class="px-2" title="Chỉnh sửa công trình" ng-click="EditDataCons('formCreateCons' ,item)"><i class="fa fa-edit"></i></a>
                                            }
                                            @if (_service.IsViewAction("/cong-trinh", User.Identity.Name, "Delete"))
                                            {
                                                <a href="javascript:void(0)" class="px-2 text-danger" title="Xoá công trình" ng-click="DeleteItem(item)"><i class="fa-solid fa-trash-can"></i></a>
                                            }
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- using for export -->
                        <table class="d-none" id="excel-export">
                            <thead>
                                <tr>
                                    <th rowspan="2">STT</th>
                                    <th rowspan="2">Tên công trình</th>
                                    <th rowspan="2">Địa điểm</th>
                                    <th colspan="2">Tọa độ đập chính </th>
                                    <th rowspan="2">Nguồn nước KT</th>
                                    <th rowspan="2">Phương thức KT</th>
                                    <th rowspan="2">Chế độ KT</th>
                                    <th rowspan="2">Mục đích KT</th>
                                    <th ng-if="CheckShowColumnTableByCons(TypeOfConstructionId,[1,4,5]) || TypeOfConstructionId == 1 || TypeOfConstructionId == undefined" rowspan="2">Tiểu vùng quy hoạch</th>
                                    <th rowspan="2">Năm xây dựng</th>
                                    <th rowspan="2">Năm bắt đầu VH</th>
                                    <th ng-if="CheckShowColumnTableByCons(TypeOfConstructionId,[1]) || TypeOfConstructionId == 1 || TypeOfConstructionId == undefined" colspan="26">Thông số của công trình</th>
                                    <th ng-if="CheckShowColumnTableByCons(TypeOfConstructionId,[4,5])" colspan="21">Thông số của công trình</th>
                                    <th ng-if="CheckShowColumnTableByCons(TypeOfConstructionId,[6])" colspan="6">Thông số của công trình</th>
                                    <th colspan="3">Thông tin giấy phép</th>
                                    <th colspan="2">Tiền cấp quyền</th>
                                </tr>
                                <tr>
                                    <!-- lat,long -->
                                    <th>X (m) </th>
                                    <th>Y (m) </th>
                                    <!-- construction specifications -->
                                    <th ng-if="CheckShowColumnTableByCons(TypeOfConstructionId,[1,4,5]) || TypeOfConstructionId == 1 || TypeOfConstructionId == undefined">Cấp công trình</th>
                                    <th ng-if="CheckShowColumnTableByCons(TypeOfConstructionId,[1,4,5]) || TypeOfConstructionId == 1 || TypeOfConstructionId == undefined">Diện tích lưu vực</th>
                                    <th ng-if="CheckShowColumnTableByCons(TypeOfConstructionId,[1,4,5]) || TypeOfConstructionId == 1 || TypeOfConstructionId == undefined">Lượng mưa trung bình nhiều năm</th>
                                    <th ng-if="CheckShowColumnTableByCons(TypeOfConstructionId,[1,4,5]) || TypeOfConstructionId == 1 || TypeOfConstructionId == undefined">Lưu lượng trung bình nhiều năm</th>
                                    <th ng-if="CheckShowColumnTableByCons(TypeOfConstructionId,[1,4,5,6]) || TypeOfConstructionId == 1 || TypeOfConstructionId == undefined">Công suất (MW)</th>
                                    <th ng-if="CheckShowColumnTableByCons(TypeOfConstructionId,[1,4,5]) || TypeOfConstructionId == 1 || TypeOfConstructionId == undefined">Công suất đảm bảo (MW)</th>
                                    <th ng-if="CheckShowColumnTableByCons(TypeOfConstructionId,[1,4,5]) || TypeOfConstructionId == 1 || TypeOfConstructionId == undefined">Chiều cao đập (m)</th>
                                    <th ng-if="CheckShowColumnTableByCons(TypeOfConstructionId,[1,4,5]) || TypeOfConstructionId == 1 || TypeOfConstructionId == undefined">Qmax qua NM(m3/s)</th>
                                    <th ng-if="CheckShowColumnTableByCons(TypeOfConstructionId,[1,4,5]) || TypeOfConstructionId == 1 || TypeOfConstructionId == undefined">Qtt(m3/s)</th>
                                    <th ng-if="CheckShowColumnTableByCons(TypeOfConstructionId,[1,4,5]) || TypeOfConstructionId == 1 || TypeOfConstructionId == undefined">Q đảm bảo(m3/s)</th>
                                    <th ng-if="CheckShowColumnTableByCons(TypeOfConstructionId,[1,4,5]) || TypeOfConstructionId == 1 || TypeOfConstructionId == undefined">Q đỉnh lũ(0.2%)</th>
                                    <th ng-if="CheckShowColumnTableByCons(TypeOfConstructionId,[1,4,5]) || TypeOfConstructionId == 1 || TypeOfConstructionId == undefined">Q đỉnh lũ(1%)</th>
                                    <th ng-if="CheckShowColumnTableByCons(TypeOfConstructionId,[1,4,5]) || TypeOfConstructionId == 1 || TypeOfConstructionId == undefined">Q đỉnh lũ(5%)</th>
                                    <th ng-if="CheckShowColumnTableByCons(TypeOfConstructionId,[1,4,5]) || TypeOfConstructionId == 1 || TypeOfConstructionId == undefined">Q đỉnh lũ(10%)</th>
                                    <th ng-if="CheckShowColumnTableByCons(TypeOfConstructionId,[1,4,5]) || TypeOfConstructionId == 1 || TypeOfConstructionId == undefined">MNC(m)</th>
                                    <th ng-if="CheckShowColumnTableByCons(TypeOfConstructionId,[1,4,5]) || TypeOfConstructionId == 1 || TypeOfConstructionId == undefined">MNDBT(m)</th>
                                    <th ng-if="CheckShowColumnTableByCons(TypeOfConstructionId,[1,4,5]) || TypeOfConstructionId == 1 || TypeOfConstructionId == undefined">MNLTK(m)</th>
                                    <th ng-if="CheckShowColumnTableByCons(TypeOfConstructionId,[1,4,5]) || TypeOfConstructionId == 1 || TypeOfConstructionId == undefined">MNLKT(m)</th>
                                    <th ng-if="CheckShowColumnTableByCons(TypeOfConstructionId,[1,4,5]) || TypeOfConstructionId == 1 || TypeOfConstructionId == undefined">W toàn bộ (triệu m3)</th>
                                    <th ng-if="CheckShowColumnTableByCons(TypeOfConstructionId,[1,4,5]) || TypeOfConstructionId == 1 || TypeOfConstructionId == undefined">W chết (triệu m3)</th>
                                    <th ng-if="CheckShowColumnTableByCons(TypeOfConstructionId,[1,4,5]) || TypeOfConstructionId == 1 || TypeOfConstructionId == undefined">W hữu ích (triệu m3)</th>
                                    <th ng-if="CheckShowColumnTableByCons(TypeOfConstructionId,[1,6]) || TypeOfConstructionId == 1 || TypeOfConstructionId == undefined">Số máy bơm</th>
                                    <th ng-if="CheckShowColumnTableByCons(TypeOfConstructionId,[1,6]) || TypeOfConstructionId == 1 || TypeOfConstructionId == undefined">Lưu lượng thiết kế (m3/h)</th>
                                    <th ng-if="CheckShowColumnTableByCons(TypeOfConstructionId,[1,6]) || TypeOfConstructionId == 1 || TypeOfConstructionId == undefined">Lưu lượng thực tế (m3/h)</th>
                                    <th ng-if="CheckShowColumnTableByCons(TypeOfConstructionId,[1,6]) || TypeOfConstructionId == 1 || TypeOfConstructionId == undefined">Diện tích tưới thiết kế (ha)</th>
                                    <th ng-if="CheckShowColumnTableByCons(TypeOfConstructionId,[1,6]) || TypeOfConstructionId == 1 || TypeOfConstructionId == undefined">Diện tích tưới thực tế (ha)</th>
                                    <!--license-->
                                    <th>Số GP</th>
                                    <th>Ngày cấp</th>
                                    <th>Thời hạn</th>
                                    <!--license fee-->
                                    <th rowspan="2">QĐ cấp quyền</th>
                                    <th rowspan="2">Tổng tiền cấp quyền (đồng) </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in DataConsForExportExcel">
                                    <!-- lấy DataBieuMauSo1 từ file scrip/controler.js-->
                                    <!-- đưa (currentPage -1)*numPerPage+$index+1 để đếm hàng-->
                                    <td> {{(currentPage -1)*numPerPage+$index+1}} </td>
                                    <td ng-bind-html="item.ConstructionName"></td>
                                    <td ng-bind-html="item.ConstructionLocation"></td>
                                    <td ng-bind-html="item.X"></td>
                                    <td ng-bind-html="item.Y"></td>
                                    <td ng-bind-html="item.ExploitedWS"></td>
                                    <td ng-bind-html="item.MiningMethod"></td>
                                    <td ng-bind-html="item.MiningMode"></td>
                                    <td ng-if="CheckShowColumnTableByCons(TypeOfConstructionId,[1,4,5]) || TypeOfConstructionId == 1 || TypeOfConstructionId == undefined" ng-bind-html="item.SmallPlanningArea"></td>
                                    <td ng-bind-html="item.ConstructionTime"></td>
                                    <td ng-bind-html="item.StartDate"></td>
                                    <!-- construction specifications -->
                                    <td ng-if="CheckShowColumnTableByCons(TypeOfConstructionId,[1,4,5]) || TypeOfConstructionId == 1 || TypeOfConstructionId == undefined" ng-bind-html="item.ConstructionLevel"></td>
                                    <td ng-if="CheckShowColumnTableByCons(TypeOfConstructionId,[1,4,5]) || TypeOfConstructionId == 1 || TypeOfConstructionId == undefined" ng-bind-html="item.BasinArea"></td>
                                    <td ng-if="CheckShowColumnTableByCons(TypeOfConstructionId,[1,4,5]) || TypeOfConstructionId == 1 || TypeOfConstructionId == undefined" ng-bind-html="item.RainAvgForYears"></td>
                                    <td ng-if="CheckShowColumnTableByCons(TypeOfConstructionId,[1,4,5]) || TypeOfConstructionId == 1 || TypeOfConstructionId == undefined" ng-bind-html="item.FlowAvgForYears"></td>
                                    <td ng-if="CheckShowColumnTableByCons(TypeOfConstructionId,[1,4,5,6]) || TypeOfConstructionId == 1 || TypeOfConstructionId == undefined" ng-bind-html="item.Power"></td>
                                    <td ng-if="CheckShowColumnTableByCons(TypeOfConstructionId,[1,4,5]) || TypeOfConstructionId == 1 || TypeOfConstructionId == undefined" ng-bind-html="item.GuaranteedPower"></td>
                                    <td ng-if="CheckShowColumnTableByCons(TypeOfConstructionId,[1,4,5]) || TypeOfConstructionId == 1 || TypeOfConstructionId == undefined" ng-bind-html="item.DamHeight"></td>
                                    <td ng-if="CheckShowColumnTableByCons(TypeOfConstructionId,[1,4,5]) || TypeOfConstructionId == 1 || TypeOfConstructionId == undefined" ng-bind-html="item.MaximumFlow"></td>
                                    <td ng-if="CheckShowColumnTableByCons(TypeOfConstructionId,[1,4,5]) || TypeOfConstructionId == 1 || TypeOfConstructionId == undefined" ng-bind-html="item.MinimumFlow"></td>
                                    <td ng-if="CheckShowColumnTableByCons(TypeOfConstructionId,[1,4,5]) || TypeOfConstructionId == 1 || TypeOfConstructionId == undefined" ng-bind-html="item.GuaranteedFlow"></td>
                                    <td ng-if="CheckShowColumnTableByCons(TypeOfConstructionId,[1,4,5]) || TypeOfConstructionId == 1 || TypeOfConstructionId == undefined" ng-bind-html="item.FloodPeakPointTwoPercent"></td>
                                    <td ng-if="CheckShowColumnTableByCons(TypeOfConstructionId,[1,4,5]) || TypeOfConstructionId == 1 || TypeOfConstructionId == undefined" ng-bind-html="item.FloodPeakOnePercent"></td>
                                    <td ng-if="CheckShowColumnTableByCons(TypeOfConstructionId,[1,4,5]) || TypeOfConstructionId == 1 || TypeOfConstructionId == undefined" ng-bind-html="item.FloodPeakFivePercent"></td>
                                    <td ng-if="CheckShowColumnTableByCons(TypeOfConstructionId,[1,4,5]) || TypeOfConstructionId == 1 || TypeOfConstructionId == undefined" ng-bind-html="item.FloodPeakTenPercent"></td>
                                    <td ng-if="CheckShowColumnTableByCons(TypeOfConstructionId,[1,4,5]) || TypeOfConstructionId == 1 || TypeOfConstructionId == undefined" ng-bind-html="item.DeadWL"></td>
                                    <td ng-if="CheckShowColumnTableByCons(TypeOfConstructionId,[1,4,5]) || TypeOfConstructionId == 1 || TypeOfConstructionId == undefined" ng-bind-html="item.RiseWL"></td>
                                    <td ng-if="CheckShowColumnTableByCons(TypeOfConstructionId,[1,4,5]) || TypeOfConstructionId == 1 || TypeOfConstructionId == undefined" ng-bind-html="item.DesignFloodLevel"></td>
                                    <td ng-if="CheckShowColumnTableByCons(TypeOfConstructionId,[1,4,5]) || TypeOfConstructionId == 1 || TypeOfConstructionId == undefined" ng-bind-html="item.CheckFloodWL"></td>
                                    <td ng-if="CheckShowColumnTableByCons(TypeOfConstructionId,[1,4,5]) || TypeOfConstructionId == 1 || TypeOfConstructionId == undefined" ng-bind-html="item.TotalCapacity"></td>
                                    <td ng-if="CheckShowColumnTableByCons(TypeOfConstructionId,[1,4,5]) || TypeOfConstructionId == 1 || TypeOfConstructionId == undefined" ng-bind-html="item.DeadCapacity"></td>
                                    <td ng-if="CheckShowColumnTableByCons(TypeOfConstructionId,[1,4,5]) || TypeOfConstructionId == 1 || TypeOfConstructionId == undefined" ng-bind-html="item.UsefulCapacity"></td>
                                    <td ng-if="CheckShowColumnTableByCons(TypeOfConstructionId,[1,6]) || TypeOfConstructionId == 1 || TypeOfConstructionId == undefined" ng-bind-html="item.PumpNumber"></td>
                                    <td ng-if="CheckShowColumnTableByCons(TypeOfConstructionId,[1,6]) || TypeOfConstructionId == 1 || TypeOfConstructionId == undefined" ng-bind-html="item.FlowDesigned"></td>
                                    <td ng-if="CheckShowColumnTableByCons(TypeOfConstructionId,[1,6]) || TypeOfConstructionId == 1 || TypeOfConstructionId == undefined" ng-bind-html="item.RealityFlow"></td>
                                    <td ng-if="CheckShowColumnTableByCons(TypeOfConstructionId,[1,6]) || TypeOfConstructionId == 1 || TypeOfConstructionId == undefined" ng-bind-html="item.WateringAreaDesigned"></td>
                                    <td ng-if="CheckShowColumnTableByCons(TypeOfConstructionId,[1,6]) || TypeOfConstructionId == 1 || TypeOfConstructionId == undefined" ng-bind-html="item.RealityWateringArea"></td>
                                    <!--license-->
                                    <td>
                                        <div ng-repeat="license in item.Licenses">
                                            <span ng-bind-html="license.LicenseNumber"></span>
                                        </div>
                                    </td>
                                    <td>
                                        <div ng-repeat="license in item.Licenses">
                                            <span ng-bind-html="license.IssueDate | date:'MM/dd/yyyy'"></span>
                                        </div>
                                    </td>
                                    <td>
                                        <div ng-repeat="license in item.Licenses">
                                            <span ng-bind-html="license.Duration | date:'MM/dd/yyyy'"></span>
                                        </div>
                                    </td>
                                    <!--license fee-->
                                    <td>
                                        <div ng-repeat="licFee in item.LicenseFees">
                                            <span ng-bind-html="licFee.LicenseFeeNumber"></span>
                                        </div>
                                    </td>
                                    <td>
                                        <div ng-repeat="licFee in item.LicenseFees">
                                            <span ng-bind-html="licFee.TotalMoney | number : fractionSize"></span>
                                        </div>
                                    </td>
                                    <!--Action-->
                                </tr>
                            </tbody>
                        </table>
                        <!-- /using for export -->
                    </div>
                </div>
                <!-- pagination -->
                <div class="box-footer">
                    <div class="box-tools pull-right">
                        <ul uib-pagination
                            total-items="TotalConstruction"
                            ng-model="currentPage"
                            items-per-page="numPerPage"
                            boundary-links="true"
                            previous-text=" &#xf104; " next-text=" &#xf105; "
                            first-text=" &#xf100; " last-text=" &#xf101; "
                            max-size="5" ng-change="pageChanged()"
                            rotate="true"
                            force-ellipses="true" class="pagination pagination-sm fa m-0"></ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="formCreateCons" class="sidenav p-0 font-13">
            <div>
                <div class="doc-title py-2 px-0 col-12 d-flex align-items-center" style="background:#15538f; color: #fff; height: 50px">
                    <div class="d-flex col-12 p-0 align-items-center">
                        <div class="col-10">
                            <div class="admission-title d-flex center-center">
                                <p class="m-0 col-12 p-0 text-left text-uppercase font-16">THÔNG TIN CÔNG TRÌNH KHAI THÁC, SỬ DỤNG NƯỚC MẶT</p>
                            </div>
                        </div>
                        <a href="javascript:void(0)" class="closebtn m-0 p-0 text-white" ng-click="closeAside('formCreateCons')">&times;</a>
                    </div>
                </div>
            </div>
            <div class="modal-content">
                <div class="modal-body">
                    <div class="form-horizontal">
                        <input type="hidden" ng-model="construction.TypeOfConstructionId" />
                        <fieldset class="col-12 border border-secondary px-2 mb-2 background-color bg-lightgray">
                            <legend class="font-18 font-weight-bold text-primary" style="width: auto">THÔNG TIN CÔNG TRÌNH</legend>
                            <div class="row col-12 pt-3 m-0">
                                <div class="col-md-3">
                                    <label class="font-weight-bold">Loại công trình <sup class="text-danger font-13">*</sup></label>
                                    <div class="floating-label w-100">
                                        <select ng-options="opt.Id as opt.TypeName for opt in TypeOfConstructions" ng-model="Id" ng-change="changeTypeOfCons(Id)" class="floating-select w-100">
                                            <option value="" hidden>-- Chọn loại công trình --</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-5 py-3">
                                    <div class="floating-label">
                                        <input type="text" class="floating-input w-100" placeholder=" " ng-model="construction.ConstructionName">
                                        <label> Tên công trình </label>
                                    </div>
                                </div>
                                <div class="col-md-4 py-3">
                                    <div class="floating-label">
                                        <input type="hidden" ng-model="construction.LicenseId" />
                                        <div class="dropdown dropdown-scroll">
                                            <input class="floating-input w-100 text-left" type="text" readonly data-toggle="dropdown" placeholder=" " value="{{license_number}}" />
                                            <label>Giấy phép</label>
                                            <ul class="dropdown-menu w-100" role="menu">
                                                <li>
                                                    <input class="floating-input w-100 text-left" type="text" ng-model="licenseData.LicenseNumber" placeholder=" Tìm giấy phép " />
                                                </li>
                                                <li class="border-bottom border-secondary p-0">
                                                    <a href="javascript:void(0)" class="text-primary nav-link py-2 px-1" ng-click="GetLicenseId(0, 'Chưa có giấy phép')"> Chưa có giấy phép </a>
                                                </li>
                                                <li class="border-bottom border-secondary p-0" ng-repeat='license in Licenses | filter:licenseData'>
                                                    <a href="javascript:void(0)" class="text-primary nav-link py-0 px-1" ng-click="GetLicenseId(license.Id, license.LicenseNumber)"> {{license.LicenseNumber}} - {{license.LicenseName}} </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 py-3">
                                    <div class="floating-label">
                                        <select ng-options="opt.Id as opt.CityName for opt in Provinces" ng-model="construction.ProvinceId" ng-change="ProvinceChange(construction.ProvinceId)" class="floating-select" style="width:100%"><option value="" hidden class="" selected="selected">[--Chọn Tỉnh/TP--]</option><option label="Tỉnh Sơn La" value="number:1">Tỉnh Sơn La</option></select>
                                        <label>Tỉnh :</label>
                                    </div>
                                </div>
                                <div class="col-md-4 py-3">
                                    <div class="floating-label">
                                        <select ng-options="opt.Id as opt.DistrictName for opt in Districts" ng-model="construction.DistrictId" ng-change="DistrictChange(construction.DistrictId)" class="floating-select" style="width:100%"><option value="" hidden class="" selected="selected">[--Chọn Quận/Huyện--]</option></select>
                                        <label>Quận/Huyện :</label>
                                    </div>
                                </div>
                                <div class="col-md-4 py-3">
                                    <div class="floating-label">
                                        <select ng-options="opt.Id as opt.CommuneName for opt in Communes" ng-model="construction.CommuneId" class="floating-select" style="width:100%"><option value="" hidden class="" selected="selected">[--Chọn Xã/Phường--]</option></select>
                                        <label>Xã/Phường :</label>
                                    </div>
                                </div>
                                <div class="col-md-6 py-3">
                                    <div class="floating-label">
                                        <input type="text" class="floating-input w-100" placeholder=" " ng-model="construction.ConstructionLocation">
                                        <label> Địa điểm công trình </label>
                                    </div>
                                </div>
                                <div class="col-md-3 py-3">
                                    <div class="floating-label">
                                        <input type="text" class="floating-input w-100" placeholder=" " ng-model="construction.X">
                                        <label> Vĩ độ </label>
                                    </div>
                                </div>
                                <div class="col-md-3 py-3">
                                    <div class="floating-label">
                                        <input type="text" class="floating-input w-100" placeholder=" " ng-model="construction.Y">
                                        <label> Kinh độ </label>
                                    </div>
                                </div>
                                <div class="col-md-3 py-3">
                                    <div class="floating-label">
                                        <input type="text" class="floating-input w-100" placeholder=" " ng-model="construction.StartDate">
                                        <label> Năm bắt đầu vận hành </label>
                                    </div>
                                </div>
                                <div class="col-md-3 py-3">
                                    <div class="floating-label">
                                        <input type="text" class="floating-input w-100" placeholder=" " ng-model="construction.ConstructionTime">
                                        <label> Năm xây dựng </label>
                                    </div>
                                </div>
                                <div class="col-md-6 py-3">
                                    <div class="floating-label">
                                        <input type="text" class="floating-input w-100" placeholder=" " ng-model="construction.SmallPlanningArea">
                                        <label> Tiểu vùng quy hoạch </label>
                                    </div>
                                </div>
                                <div class="col-md-6 py-3">
                                    <div class="floating-label">
                                        <select ng-options="opt.Id as opt.Name for opt in Basins" ng-model="construction.BasinId" ng-change="changeBasinAddNew(construction.BasinId)" class="floating-select" style="width:100%"><option value="" hidden class="" selected="selected">[--Chọn lưu vực--]</option></select>
                                        <label> Lưu vực sông </label>
                                    </div>
                                </div>
                                <div class="col-md-6 py-3">
                                    <div class="floating-label">
                                        <input type="text" class="floating-input w-100" placeholder=" " ng-model="construction.ExploitedWS">
                                        <label> Nguồn nước khai thác </label>
                                    </div>
                                </div>
                                <div class="col-md-12 py-3">
                                    <div class="floating-label">
                                        <input type="text" class="floating-input w-100" placeholder=" " ng-model="construction.MiningMethod">
                                        <label> Phương thức khai thác </label>
                                    </div>
                                </div>
                                <div class="col-md-6 py-3">
                                    <div class="floating-label">
                                        <input type="text" class="floating-input w-100" placeholder=" " ng-model="construction.MiningMode">
                                        <label> Chế độ khai thác </label>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset ng-if="Id == 4 || Id == 5 || Id == 13 || Id == 6" class="col-12 border border-secondary px-2 mb-2 background-color bg-lightgray">
                            <legend class="font-18 font-weight-bold text-primary" style="width: auto">THÔNG SỐ CÔNG TRÌNH</legend>
                            <div class="row col-12 mt-3 m-md-0">

                                <div ng-if="Id == 4 || Id == 5" class="row col-md-12 m-0 p-0">
                                    <div class="col-md-6 py-3">
                                        <div class="floating-label">
                                            <input type="text" class="floating-input w-100" placeholder=" " ng-model="construction.ConstructionLevel">
                                            <label> Cấp công trình </label>
                                        </div>
                                    </div>
                                    <div class="col-md-6 py-3">
                                        <div class="floating-label">
                                            <input type="text" class="floating-input w-100" placeholder=" " ng-model="construction.BasinArea">
                                            <label> Diện tích lưu vực </label>
                                        </div>
                                    </div>
                                    <div class="col-md-6 py-3">
                                        <div class="floating-label">
                                            <input type="text" class="floating-input w-100" placeholder=" " ng-model="construction.RainAvgForYears">
                                            <label> Lượng mưa trung bình nhiều năm </label>
                                        </div>
                                    </div>
                                    <div class="col-md-6 py-3">
                                        <div class="floating-label">
                                            <input type="text" class="floating-input w-100" placeholder=" " ng-model="construction.FlowAvgForYears">
                                            <label> Lưu lượng trung bình nhiều năm </label>
                                        </div>
                                    </div>
                                    <div class="col-md-6 py-3">
                                        <div class="floating-label">
                                            <input type="text" class="floating-input w-100" placeholder=" " ng-model="construction.Power">
                                            <label> Công suất </label>
                                        </div>
                                    </div>
                                    <div class="col-md-6 py-3">
                                        <div class="floating-label">
                                            <input type="text" class="floating-input w-100" placeholder=" " ng-model="construction.GuaranteedPower">
                                            <label> Công suất đảm bảo </label>
                                        </div>
                                    </div>
                                    <div class="col-md-6 py-3">
                                        <div class="floating-label">
                                            <input type="text" class="floating-input w-100" placeholder=" " ng-model="construction.DamHeight">
                                            <label> Chiều cao đập </label>
                                        </div>
                                    </div>
                                    <div class="col-md-6 py-3">
                                        <div class="floating-label">
                                            <input type="text" class="floating-input w-100" placeholder=" " ng-model="construction.MaximumFlow">
                                            <label> Lưu lượng tối đa </label>
                                        </div>
                                    </div>
                                    <div class="col-md-6 py-3">
                                        <div class="floating-label">
                                            <input type="text" class="floating-input w-100" placeholder=" " ng-model="construction.MinimumFlow">
                                            <label> Lưu lượng tối thiểu </label>
                                        </div>
                                    </div>
                                    <div class="col-md-6 py-3">
                                        <div class="floating-label">
                                            <input type="text" class="floating-input w-100" placeholder=" " ng-model="construction.GuaranteedFlow">
                                            <label> Lưu lượng đảm bảo </label>
                                        </div>
                                    </div>
                                    <div class="col-md-6 py-3">
                                        <div class="floating-label">
                                            <input type="text" class="floating-input w-100" placeholder=" " ng-model="construction.FloodPeakPointTwoPercent">
                                            <label> Lưu lượng đỉnh lũ (tần suất 0.2%) </label>
                                        </div>
                                    </div>
                                    <div class="col-md-6 py-3">
                                        <div class="floating-label">
                                            <input type="text" class="floating-input w-100" placeholder=" " ng-model="construction.FloodPeakOnePercent">
                                            <label> Lưu lượng đỉnh lũ (tần suất 1%) </label>
                                        </div>
                                    </div>
                                    <div class="col-md-6 py-3">
                                        <div class="floating-label">
                                            <input type="text" class="floating-input w-100" placeholder=" " ng-model="construction.FloodPeakFivePercent">
                                            <label> Lưu lượng đỉnh lũ (tần suất 5%) </label>
                                        </div>
                                    </div>
                                    <div class="col-md-6 py-3">
                                        <div class="floating-label">
                                            <input type="text" class="floating-input w-100" placeholder=" " ng-model="construction.FloodPeakTenPercent">
                                            <label> Lưu lượng đỉnh lũ (tần suất 10%) </label>
                                        </div>
                                    </div>

                                    <div ng-if="Id == 4" class="col-md-12 m-0 p-0 row">
                                        <div class="col-md-6 py-3">
                                            <div class="floating-label">
                                                <input type="text" class="floating-input w-100" placeholder=" " ng-model="construction.DeadWL">
                                                <label> Mực nước chết </label>
                                            </div>
                                        </div>
                                        <div class="col-md-6 py-3">
                                            <div class="floating-label">
                                                <input type="text" class="floating-input w-100" placeholder=" " ng-model="construction.RiseWL">
                                                <label> Mực nước dâng bình thường </label>
                                            </div>
                                        </div>
                                        <div class="col-md-6 py-3">
                                            <div class="floating-label">
                                                <input type="text" class="floating-input w-100" placeholder=" " ng-model="construction.DesignFloodLevel">
                                                <label> Mực nước lũ thiết kế </label>
                                            </div>
                                        </div>
                                        <div class="col-md-6 py-3">
                                            <div class="floating-label">
                                                <input type="text" class="floating-input w-100" placeholder=" " ng-model="construction.CheckFloodWL">
                                                <label> Mực nước lũ kiểm tra </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6 py-3">
                                        <div class="floating-label">
                                            <input type="text" class="floating-input w-100" placeholder=" " ng-model="construction.TotalCapacity">
                                            <label> Dung tích toàn bộ </label>
                                        </div>
                                    </div>
                                    <div class="col-md-6 py-3">
                                        <div class="floating-label">
                                            <input type="text" class="floating-input w-100" placeholder=" " ng-model="construction.DeadCapacity">
                                            <label> Dung tích chết </label>
                                        </div>
                                    </div>
                                    <div class="col-md-6 py-3">
                                        <div class="floating-label">
                                            <input type="text" class="floating-input w-100" placeholder=" " ng-model="construction.UsefulCapacity">
                                            <label> Dung tích hữu ích </label>
                                        </div>
                                    </div>
                                </div>

                                <div ng-if="Id == 6" class="row col-md-12 m-0 p-0">
                                    <div class="col-md-6 py-3">
                                        <div class="floating-label">
                                            <input type="text" class="floating-input w-100" placeholder=" " ng-model="construction.PumpNumber">
                                            <label> Số máy bơm </label>
                                        </div>
                                    </div>
                                    <div class="col-md-6 py-3">
                                        <div class="floating-label">
                                            <input type="text" class="floating-input w-100" placeholder=" " ng-model="construction.WateringAreaDesigned">
                                            <label> Diện tích tưới thiết kế </label>
                                        </div>
                                    </div>
                                    <div class="col-md-6 py-3">
                                        <div class="floating-label">
                                            <input type="text" class="floating-input w-100" placeholder=" " ng-model="construction.RealityWateringArea">
                                            <label> Diện tích tưới thực tế </label>
                                        </div>
                                    </div>
                                    <div class="col-md-6 py-3">
                                        <div class="floating-label">
                                            <input type="text" class="floating-input w-100" placeholder=" " ng-model="construction.FlowDesigned">
                                            <label> Lưu lượng thiết kế </label>
                                        </div>
                                    </div>
                                    <div class="col-md-6 py-3">
                                        <div class="floating-label">
                                            <input type="text" class="floating-input w-100" placeholder=" " ng-model="construction.RealityFlow">
                                            <label> Lưu lượng thực tế </label>
                                        </div>
                                    </div>
                                    <div class="col-md-6 py-3">
                                        <div class="floating-label">
                                            <input type="text" class="floating-input w-100" placeholder=" " ng-model="construction.PumpDesignFlow">
                                            <label> Qtk(m3/ngày đêm) </label>
                                        </div>
                                    </div>
                                    <div class="col-md-6 py-3">
                                        <div class="floating-label">
                                            <input type="text" class="floating-input w-100" placeholder=" " ng-model="construction.PumpMaxFlow">
                                            <label> Qmax (m3/ngày đêm) </label>
                                        </div>
                                    </div>
                                    <div class="col-md-6 py-3">
                                        <div class="floating-label">
                                            <input type="text" class="floating-input w-100" placeholder=" " ng-model="construction.SuctionTankWL">
                                            <label> Mực nước bể hút  </label>
                                        </div>
                                    </div>
                                </div>
                                <div ng-if="Id == 13" class="row col-md-12 m-0 p-0">
                                    <div class="col-md-6 py-3">
                                        <div class="floating-label">
                                            <input type="text" class="floating-input w-100" placeholder=" " ng-model="construction.DrainElevation">
                                            <label> Cao trình cống </label>
                                        </div>
                                    </div>
                                    <div class="col-md-6 py-3">
                                        <div class="floating-label">
                                            <input type="text" class="floating-input w-100" placeholder=" " ng-model="construction.DrainLength">
                                            <label> Chiều dài cống </label>
                                        </div>
                                    </div>
                                    <div class="col-md-6 py-3">
                                        <div class="floating-label">
                                            <input type="text" class="floating-input w-100" placeholder=" " ng-model="construction.DrainDiameter">
                                            <label> Đường kính (m) </label>
                                        </div>
                                    </div>
                                    <div class="col-md-6 py-3">
                                        <div class="floating-label">
                                            <input type="text" class="floating-input w-100" placeholder=" " ng-model="construction.DrainSize">
                                            <label> Kích thước (rộng * cao)  </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class="col-12 border border-secondary px-2 mb-2 background-color bg-lightgray">
                            <legend class="font-18 font-weight-bold text-primary" style="width: auto">VỊ TRÍ CÁC HẠNG MỤC CHÍNH CỦA CÔNG TRÌNH KHAI THÁC SỬ DỤNG NƯỚC</legend>
                            <div class="mb-2 mt-5 mt-md-0">
                                <div class="col-12 p-1 table-responsive">
                                    <table class="table table-sm">
                                        <thead>
                                            <tr>
                                                <th class="text-center align-middle font-13" rowspan="2">TT</th>
                                                <th class="text-center align-middle font-13" rowspan="2">Hạng mục</th>
                                                <th class="text-center align-middle font-13">Tọa độ X</th>
                                                <th class="text-center align-middle font-13">Tọa độ Y</th>
                                                <th class="text-center align-middle font-13" style="width:50px">
                                                    <button title="Tạo mới hạng mục" type="button" ng-click="AddConstructionItem()" class="w-100 d-flex center-center btn btn-link btn-sm">
                                                        Thêm
                                                    </button>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in construction.ConstructionItems">
                                                <th class="text-center align-middle font-13" ng-bind-html="$index+1"></th>
                                                <td><input type="text" name="tenhangmuc" class="floating-input w-100" ng-model="item.Name"></td>
                                                <td><input type="number" name="x" class="floating-input w-100" ng-model="item.X"></td>
                                                <td><input type="number" name="y" class="floating-input w-100" ng-model="item.Y"></td>
                                                <td class="text-center align-middle">
                                                    <button type="button" ng-click="RemoveConstructionItem($index, item)" class="center-center text-danger btn btn-link btn-sm">
                                                        <i class="fa fa-trash text-danger"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div class="d-flex col-12 justify-content-end">
                    @if (_service.IsViewAction("/cong-trinh", User.Identity.Name, "Save"))
                    {
                        <button type="button" class="btn btn-addnew mx-2 fw-bold font-14 d-flex align-items-center" ng-click="Save('formCreateCons')">
                            XÁC NHẬN &nbsp; <i class="fa fa-edit"></i>
                        </button>
                    }
                    <button type="button" class="btn btn-cancel mx-2 fw-bold font-14 d-flex align-items-center" href="javascript:void(0)" ng-click="closeAside('formCreateCons')">
                        ĐÓNG &nbsp; <i class="fa fa-times-circle"></i>
                    </button>
                </div>
            </div>
        </div>
    </section>
    @Html.Partial("ViewFilePDF")
</div>
<!-- /.content-wrapper -->