@using Microsoft.AspNet.Identity
@using WaterResource.Service;
@{
    ViewBag.Title = "THÔNG TIN DỮ LIỆU VỀ LƯỢNG NƯỚC ĐẾN TIỂU VÙNG QUY HOẠCH DO MƯA";
    UserRightService _service = new UserRightService();
}

<div class="row m-0 align-items-center justify-content-end">
    <div class="floating-label mb-2">
        <input class="floating-input w-100" type="text" data-toggle="dropdown" placeholder=" " ng-model="Keyword">
        <ul class="dropdown-menu w-100" role="menu">
            <li class="border-bottom border-secondary m-0 p-1" ng-repeat='item in ItemsForSearch | filter:Keyword'>
                <a href="javascript:void(0)" class="m-0" ng-click="SetKeyword(item.Basin)">
                    <p class="m-0 text-dark" style="font-size: 0.85rem">{{item.Basin}}</p>
                </a>
            </li>
        </ul>
        <label>Vùng điều tra</label>
    </div>
    <div class="row mx-0 mx-md-2 mb-2 align-items-center">
        <button class="btn btn-sm btn-addnew px-4 rounded-0" ng-click="Search()">Lọc</button>
    </div>
    @if (_service.IsViewAction("/quy-hoach-tai-nguyen-nuoc", User.Identity.Name, "ADD"))
    {
        <div class="row mx-0 mx-md-2 mb-2 align-items-center">
            <button class="btn btn-sm btn-addnew rounded-0" ng-click="Add()" title="Thêm văn bản mới">Thêm mới</button>
        </div>
    }
</div>