@{
    ViewBag.Title = "Quy hoạch bảo vệ tài nguyên nước trên địa bàn tỉnh Sơn La";
    Layout = "~/Views/Shared/_Layout.cshtml";
}<!--Begin Nav Pane-->
<div class="p-0 ">
    <section class="content">
        <div class="px-2">
            <object ng-attr-data="~/LocalFiles/pdf/Mục tiêu chất lượng nước mặt trên các đoạn sông thuộc.pdf#view=Fit" type="application/pdf" style="width:100%;height:100vh;z-index:12;">
            </object>
        </div>
    </section>
</div>

<!--End Nav Pane-->