@using Microsoft.AspNet.Identity
@using WaterResource.Service;
@{
    ViewBag.Title = "THÔNG TIN DỮ LIỆU VỀ MỰC NƯỚC LỚN NHẤT CÓ THỂ KHAI THÁC NƯỚC DƯỚI ĐẤT TRÊN ĐỊA BÀN TỈNH SƠN LA";
    UserRightService _service = new UserRightService();
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (_service.IsViewAction("/quy-hoach-tai-nguyen-nuoc", User.Identity.Name, "VIEW"))
{
    <div ng-controller="myCntrl as demo">

        <!-- BỘ QUẢN LÝ -->
        <!--Nh-->
        <script src="~/Scripts/WaterResourcePlanning/Service.js"></script>
        <script src="~/Scripts/WaterResourcePlanning/Controller.js"></script>

        <!-- HẾT NHÚNG FILE MAP -->
        <!-- Main content -->
        <section class="content p-0">
            <div class="form-title d-flex justify-content-between col-12">
                <div class="col-6 col-sm-3 text-center p-0">
                    <h5 class="font-sm-14 m-0">UBND TỈNH SƠN LA</h5>
                    <h5 class="font-sm-14 font-weight-bold m-0">SỞ TÀI NGUYÊN VÀ MÔI TRƯỜNG</h5>
                    <p class="font-sm-13 d-flex center-center">Số: <input type="text" class="form-control form-control-sm" style="width: 50px;" />   /STNMT-TNN-KS&KTTV</p>
                </div>
                <div class="col-6 col-sm-4 text-center">
                    <h5 class="font-sm-14 m-0">CỘNG HOÀ XÃ HỘI CHỦ NGHĨA VIỆT NAM</h5>
                    <h5 class="font-sm-14 font-weight-bold m-0">Độc lập - Tự do - Hạnh phúc</h5>
                    <i class="font-sm-13">Sơn La, ngày {{getDatetime | date:'dd'}} tháng {{getDatetime | date:'MM'}} năm {{getDatetime | date:'yyyy'}}</i>
                </div>
            </div>

            <div class="form-title col-12 text-center mt-2 my-4">
                <h4 class="font-sm-18 m-0 font-weight-bold">THỐNG KÊ </h4>
                <p class="font-sm-15 m-0 font-weight-bold">THÔNG TIN DỮ LIỆU VỀ MỰC NƯỚC LỚN NHẤT CÓ THỂ KHAI THÁC NƯỚC DƯỚI ĐẤT TRÊN ĐỊA BÀN TỈNH SƠN LA </p>
                <p class="m-0 font-weight-bold d-flex center-center">(Kỳ báo cáo:  <input type="text" class="form-control form-control-sm font-weight-bold" style="width: 50px;" />)</p>
            </div>

            <div class="row m-0 align-items-center justify-content-end">
                <div class="floating-label mb-2">
                    <input class="floating-input w-100" type="text" data-toggle="dropdown" placeholder=" " ng-model="Keyword">
                    <ul class="dropdown-menu w-100" role="menu">
                        <li class="border-bottom border-secondary m-0 p-1" ng-repeat='item in ItemsForSearch | filter:Keyword'>
                            <a href="javascript:void(0)" class="m-0" ng-click="SetKeyword(item.Basin)">
                                <p class="m-0 text-dark" style="font-size: 0.85rem">{{item.Basin}}</p>
                            </a>
                        </li>
                    </ul>
                    <label>Lưu vực</label>
                </div>
                <div class="row mx-0 mx-md-2 mb-2 align-items-center">
                    <button class="btn btn-sm btn-addnew px-4 rounded-0" ng-click="Search()">Lọc</button>
                </div>
                @if (_service.IsViewAction("/quy-hoach-tai-nguyen-nuoc", User.Identity.Name, "ADD"))
                {
                    <div class="row mx-0 mx-md-2 mb-2 align-items-center">
                        <button class="btn btn-sm btn-addnew rounded-0" ng-click="Add()" title="Thêm văn bản mới">Thêm mới</button>
                    </div>
                }
            </div>

            <div class="table-responsive">
                <table class="table no-margin table-hover table-bordered">
                    <thead class="custom-table-thead">
                        <tr>
                            <th rowspan="2" class="text-center align-middle">STT</th>
                            <th rowspan="2" class="text-center align-middle" style="width: 550px"> Lưu vực </th>
                            <th rowspan="2" class="text-center align-middle"> Số hiệu lỗ khoan </th>
                            <th rowspan="2" class="text-center align-middle"> Xã/TT </th>
                            <th rowspan="2" class="text-center align-middle"> Huyện/TP </th>
                            <th rowspan="2" class="text-center align-middle"> Chiều sâu lỗ khoan (m)</th>
                            <th rowspan="2" class="text-center align-middle"> Mực nước tĩnh H (m)</th>
                            <th rowspan="2" class="text-center align-middle"> Giới hạn chiều sâu mực nước khai thác Scf (m)</th>
                            <th rowspan="2" class="text-center align-middle"> Chiều sâu mực nước lớn nhất cho phép Hdmax (m)</th>
                            <th rowspan="2" class="text-center align-middle"> Ghi chú </th>
                            <th rowspan="2" class="text-center align-middle">Thao tác</th>
                        </tr>
                    </thead>
                    <tbody class="custom-table-tbody">
                        <tr class="text-center" ng-repeat="item in Data">
                            <th class="text-center align-middle">{{(currentPage -1)*numPerPage+$index+1}}</th>
                            <td class="text-center align-middle" ng-bind="item.Basin"></td>
                            <td class="text-center align-middle" ng-bind="item.BoreholeNumber"></td>
                            <td class="text-center align-middle" ng-bind="item.Commune"></td>
                            <td class="text-center align-middle" ng-bind="item.District"></td>
                            <td class="text-center align-middle" ng-bind="item.I"></td>
                            <td class="text-center align-middle" ng-bind="item.II"></td>
                            <td class="text-center align-middle" ng-bind="item.III"></td>
                            <td class="text-center align-middle" ng-bind="item.IV"></td>
                            <td><span ng-bind="item.Description"></span></td>
                            <td class="text-center align-middle">
                                <div class="d-flex">
                                    @if (_service.IsViewAction("/quy-hoach-tai-nguyen-nuoc", User.Identity.Name, "EDIT"))
                                    {
                                        <a href="javascript:void(0)" class="px-2" title="Chỉnh sửa" ng-click="Edit(item)"><i class="fa fa-edit"></i></a>
                                    }
                                    @if (_service.IsViewAction("/quy-hoach-tai-nguyen-nuoc", User.Identity.Name, "DELETE"))
                                    {
                                        <a href="javascript:void(0)" class="text-red" title="Xóa" ng-click="Delete(item)"><i class="fa-solid fa-trash-can"></i></a>
                                    }
                                        
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- PHẦN phân trang file cshtml-->
            <div class="box-footer">
                <div class="box-tools pull-right">
                    <ul uib-pagination
                        total-items="TotalItem "
                        ng-model="currentPage"
                        items-per-page="numPerPage "
                        boundary-links="true"
                        previous-text=" &#xf104;"
                        next-text=" &#xf105;"
                        first-text=" &#xf100;"
                        last-text=" &#xf101;"
                        max-size="5" ng-change="pageChanged()"
                        rotate="true"
                        force-ellipses="true" class="pagination pagination-sm inline fa d-flex"></ul>
                </div>
            </div>

            <!-- PHẦN CHÂN TRANG -->
            <div class="form-title d-flex justify-content-between col-12 my-3">
                <div class="col-6 col-md-3 text-left p-0 font-sm-13">
                    <i>Nơi nhận</i>
                    <p class="m-0">- Ban Giám đốc Sở</p>
                    <p class="m-0">- Lưu: VT; TNN, KS&KTTV; VP, 10b</p>
                </div>
                <div class="col-6 col-md-4 text-center font-sm-13">
                    <p class="mb-5 font-weight-bold h5 font-sm-16 font-sm-14">NGƯỜI THỐNG KÊ </p>
                    <p class="mb-0 mt-5 font-weight-bold">
                        @if (Request.IsAuthenticated)
                        {
                            @User.Identity.GetUserName()
                        }
                    </p>
                </div>
            </div>
            <!-- KẾT THÚC PHẦN CHÂN TRANG -->
        </section>
        <div class="sidenav p-0" id="aside">
            <div>
                <div class="doc-title py-2 px-0 col-12 d-flex align-items-center" style="background:#15538f; color: #fff; height: 50px">
                    <div class="d-flex col-12 p-0 align-items-center">
                        <div class="col-10">
                            <div class="admission-title d-flex center-center">
                                <p class="m-0 col-12 p-0 text-left text-uppercase font-16">{{HeaderAction}}</p>
                            </div>
                        </div>
                        <a href="javascript:void(0)" class="closebtn m-0 p-0 text-white" ng-click="closeAside()">&times;</a>
                    </div>
                </div>
            </div>
            <div class="col-12 row">
                <fieldset class="col-12 m-2 border border-secondary p-2 background-color bg-lightgray">
                    <div class="mb-2">
                        <div class="col-sm-12 p-0 row">
                            <div class="col-md-6 p-2">
                                <div class="floating-label my-2">
                                    <input ng-model="item.Basin" class="floating-input w-100" placeholder=" ">
                                    <label>Lưu vực</label>
                                </div>
                            </div>
                            <div class="col-md-6 p-2">
                                <div class="floating-label my-2">
                                    <input ng-model="item.BoreholeNumber" class="floating-input w-100" placeholder=" ">
                                    <label>Số hiệu lỗ khoan</label>
                                </div>
                            </div>
                            <div class="col-md-6 p-2">
                                <div class="floating-label my-2">
                                    <input ng-model="item.Commune" class="floating-input w-100" placeholder=" ">
                                    <label>Xã/TT</label>
                                </div>
                            </div>
                            <div class="col-md-6 p-2">
                                <div class="floating-label my-2">
                                    <input ng-model="item.District" class="floating-input w-100" placeholder=" ">
                                    <label>Huyện/TP</label>
                                </div>
                            </div>
                            <div class="col-md-6 p-2">
                                <div class="floating-label my-2">
                                    <input type="number" ng-model="item.I" class="floating-input w-100" placeholder=" ">
                                    <label> Mực nước tĩnh H (m)</label>
                                </div>
                            </div>
                            <div class="col-md-6 p-2">
                                <div class="floating-label my-2">
                                    <input type="number" ng-model="item.II" class="floating-input w-100" placeholder=" ">
                                    <label>Lượng nước mưa (m3/người/năm)</label>
                                </div>
                            </div>
                            <div class="col-md-6 p-2">
                                <div class="floating-label my-2">
                                    <input type="number" ng-model="item.III" class="floating-input w-100" placeholder=" ">
                                    <label>Giới hạn chiều sâu mực nước khai thác Scf (m)</label>
                                </div>
                            </div>
                            <div class="col-md-6 p-2">
                                <div class="floating-label my-2">
                                    <input type="number" ng-model="item.IV" class="floating-input w-100" placeholder=" ">
                                    <label>Chiều sâu mực nước lớn nhất cho phép Hdmax (m)</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <div class="col-12 mx-2 p-2">
                    <div class="floating-label">
                        <textarea class="floating-input floating-textarea w-100 h-100" rows="3" ng-model="item.Description" placeholder=" "></textarea>
                        <label>Ghi chú</label>
                    </div>
                </div>
            </div>
            <div class="pt-1 col-sm-12 d-flex justify-content-end">
                <button type="button" class="btn btn-sm btn-addnew mx-2" ng-click="Save()"><i class="fa fa-floppy-o" aria-hidden="true"></i> Lưu </button>
            </div>
        </div>
    </div>
}
else
{
    @Html.Partial("_401")
}