@using WaterResource.Web.Models
@using WaterResource.Service;
@model LoginViewModel
@{
    ViewBag.Title = "Hệ thống quản lý, giám sát khai thác sử dụng tài nguyên nước";
    UserRightService _service = new UserRightService();
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<link href="~/Assets/leaflet/leaflet.css" rel="stylesheet" />
<script src="~/Assets/leaflet/leaflet.js"></script>
<script src="~/Assets/leaflet/L.KML.js"></script>
<!-- Load Esri Leaflet from CDN -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/esri-leaflet/2.0.4/esri-leaflet.js"></script>

<!-- Load Esri Leaflet Vector from CDN -->
<script src="https://unpkg.com/esri-leaflet-vector@3.1.3/dist/esri-leaflet-vector.js" crossorigin=""></script>

<div ng-controller="HomeCntrl as demo">
    <script src="~/Scripts/Onegate/Controller.js"></script>
    @Html.Partial("ImportServiceJs")

    <section class="content p-0">
        <aside class="p-2" id="Constructions">
            <div class="card-header border-0">
                <h3 class="card-title font-sm-14">
                    THỐNG KÊ DỮ LIỆU TÀI NGUYÊN NƯỚC ( {{currentTime}} )
                </h3>
            </div>
            <div class="row m-0">
                <div class="col-12 col-md-4 p-0 px-md-1">
                    <div class="col-12 card p-0">
                        <div class="card-header font-weight-bold py-2 bg-darkblue">
                            Trạng thái công trình thủy điện
                        </div>
                        <div class="card-body">
                            <div class="row m-0 font-14 py-2 align-items-center">
                                <span class="font-weight-bold d-block col-4">Tổng số: </span>
                                <span class="d-block col-3 text-end" ng-bind-html="ConstructionNum"></span>
                            </div>
                            <div class="row m-0 font-14 py-2">
                                <span class="font-weight-bold d-block col-12">Trạm kết nối bình thường: </span>
                                <div class="col-12">
                                    <div class="progress progress-xxl active border border-success position-relative">
                                        <div class="progress-bar bg-success progress-bar-striped" role="progressbar" aria-valuenow="{{countStableConnection}}" aria-valuemin="0" aria-valuemax="100" style="{{calculateWidth(countStableConnection, ConstructionNum)}}">

                                        </div>
                                        <span class="font-weight-bold position-absolute w-100 h-100 d-flex align-items-center justify-content-center" ng-bind-html="countStableConnection + ' / ' + ConstructionNum"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row m-0 font-14 py-2">
                                <span class="font-weight-bold d-block col-12">Trạm mất kết nối: </span>
                                <div class="col-12">
                                    <div class="progress progress-xxl active border border-warning position-relative">
                                        <div class="progress-bar bg-warning progress-bar-striped" role="progressbar" aria-valuenow="{{countLostConnection}}" aria-valuemin="0" aria-valuemax="100" style="{{calculateWidth(countLostConnection, ConstructionNum)}}">

                                        </div>
                                        <span class="font-weight-bold position-absolute w-100 h-100 d-flex align-items-center justify-content-center" ng-bind-html="countLostConnection  + ' / ' + ConstructionNum"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row m-0 font-14 py-2">
                                <span class="font-weight-bold d-block col-12">Trạm vận hành chưa đúng: </span>
                                <div class="col-12">
                                    <div class="progress progress-xxl active border border-secondary position-relative">
                                        <div class="progress-bar bg-danger progress-bar-striped" role="progressbar" aria-valuenow="{{countFalseOperation}}" aria-valuemin="0" aria-valuemax="100" style="{{calculateWidth(countFalseOperation, ConstructionNum)}}">

                                        </div>
                                        <span class="font-weight-bold position-absolute w-100 h-100 d-flex align-items-center justify-content-center" ng-bind-html="countFalseOperation  + ' / ' + ConstructionNum"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 card p-0">
                        <div class="card-header font-weight-bold py-2 bg-secondary">
                            Tổng số giấy phép
                        </div>
                        <div class="card-body">
                            <div class="row m-0">
                                <div class="col-12 col-lg-6 font-weight-bold row center-center mx-0 px-2">
                                    <div>
                                        <span class="col-12 d-block p-0 text-center m-0 font-16 text-nowrap"> Tổng số giấy phép đã cấp </span>
                                        <span class="col-12 d-block p-0 text-center m-0 font-30"> {{TotalLicenses}} </span>
                                    </div>
                                </div>
                                <div class="col-lg-6 d-flex center-center">
                                    <div id="chartAllLicense"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 card p-0">
                        <div class="card-header font-weight-bold py-2 bg-secondary">
                            Tổng số giấy phép
                        </div>
                        <div class="card-body">
                            <div class="row m-0">
                                <div class="col-12 col-lg-6 font-weight-bold row center-center mx-0 px-2">
                                    <div class="col-12">
                                        <span class="col-12 d-block p-0 text-center m-0 font-16 text-nowrap"> Tổng số tiền cấp quyền (VNĐ) </span>
                                        <span class="col-12 d-block p-0 text-center m-0 font-20"> {{TotalLicenseFee - 0 | customCurrency}} </span>
                                    </div>
                                    <div class="col-12 p-0">
                                        <div class="col-12 d-flex">
                                            <div class=" col-4 text-left font-14 text-nowrap"> BTNMT: </div>
                                            <div class=" col-8 text-right font-14"> {{TotalMoney[0] - 0 | customCurrency}} </div>
                                        </div>
                                        <div class="col-12 d-flex">
                                            <div class=" col-4 text-left font-14 text-nowrap"> UBND Tỉnh: </div>
                                            <div class=" col-8 text-right font-14"> {{TotalMoney[1] - 0 | customCurrency}} </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 d-flex center-center">
                                    <div id="chartLicenseFee"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-8 p-0 d-flex flex-column" style="height: max-content;">
                    <div class="col-12 card p-0">
                        <div class="card-header font-weight-bold py-2 bg-secondary">
                            Trạng thái vận hành công trình thủy điện
                        </div>
                        <div class="card-body p-0" style="width: 100%; height: 100%">
                            <span class="showAnnotateLayerBtn btn btn-light"> << </span>
                            <ul class="annotate-layer cursor-pointer p-2 font-12" id="annotate-layer">
                                <li><span class="showAnnotateLayerBtn btn btn-danger"> &times; </span></li>
                                <li class="m-0 d-flex">
                                    <input type="checkbox" class="mr-2" id="cons-name" ng-click="toggleShow()">
                                    <label for="cons-name">Hiển thị tên công trình</label>
                                </li>

                                <li class="m-0">
                                    <input type="checkbox" checked id="checkbox-binh-thuong" ng-click="toggleMarker('binh-thuong')">
                                    <span class="p-1 ng-binding"><img width="20" src="~/LocalFiles/images/ICON_GHICHUCONGTRINH/thuydien.png"></span>
                                    <label for="thuydien">Vận hành đúng</label>
                                </li>
                                <li class="m-0">
                                    <input type="checkbox" checked id="checkbox-canh-bao" ng-click="toggleMarker('canh-bao')">
                                    <span class="p-1 ng-binding"><img width="20" src="~/LocalFiles/images/ICON_GHICHUCONGTRINH/thuydien-warning.png"></span>
                                    <label for="thuydien">Vận hành chưa đúng</label>
                                </li>
                                <li class="m-0">
                                    <input type="checkbox" checked id="checkbox-mat-ket-noi" ng-click="toggleMarker('mat-ket-noi')">
                                    <span class="p-1 ng-binding"><img width="20" src="~/LocalFiles/images/ICON_GHICHUCONGTRINH/thuydien-lostconnect.png"></span>
                                    <label for="thuydien">Mất kết nối</label>
                                </li>
                            </ul>
                            <div class="common-map" id="Map_Home" style="height: calc(80vh - 100px)"></div>
                        </div>
                    </div>

                    <div class="col-12 card p-0">
                        <div class="card-header font-weight-bold py-2 bg-secondary">
                            Bản đồ vị trí công trình
                        </div>
                        <div class="card-body p-0" style="width: 100%; height: 100%">
                            <div style="width: 100%;">
                                <span class="showAnnotateLayerBtn btn btn-light"> << </span>

                                <ul class="annotate-layer cursor-pointer p-2 font-12" id="annotate-layer">
                                    <li><span class="showAnnotateLayerBtn btn btn-danger"> &times; </span></li>
                                    <li class="m-0 d-flex">
                                        <input type="checkbox" class="mr-2" id="cons-name" ng-click="toggleShow()">
                                        <label for="cons-name">Hiển thị tên công trình</label>
                                    </li>
                                    <li class="text-uppercase ng-scope">
                                        <div class="header mt-1 mb-0 ng-binding d-flex">
                                            <input type="checkbox" checked id="checkbox-nuocmat" class="mr-2" ng-click="toggleMarker('nuocmat')">
                                            <div class="d-flex justify-content-between w-100 dropdown-text">
                                                <span>NƯỚC MẶT</span><i class="fa-solid fa-caret-down"></i>
                                            </div>
                                        </div>
                                        <ul class="dropdown-content">
                                            <li class="m-0">
                                                <input type="checkbox" checked id="checkbox-thuydien" ng-click="toggleMarker('thuydien')">
                                                <span class="p-1 ng-binding"><img width="20" src="~/LocalFiles/images/ICON_GHICHUCONGTRINH/thuydien.png"></span>
                                                <label for="thuydien">Thủy điện</label>&nbsp;(<span ng-bind-html="countHydroelectric"></span>)
                                            </li>
                                            <li class="m-0">
                                                <input type="checkbox" checked id="checkbox-hochua" ng-click="toggleMarker('hochua')">
                                                <span class="p-1 ng-binding"><img width="20" src="~/LocalFiles/images/ICON_GHICHUCONGTRINH/hochua.png"></span>
                                                <label for="hochua">Hồ chứa</label>&nbsp;(<span ng-bind-html="countIrrigation"></span>)
                                            </li>
                                            <li class="m-0">
                                                <input type="checkbox" checked id="checkbox-trambom" ng-click="toggleMarker('trambom')">
                                                <span class="p-1 ng-binding"><img width="20" src="~/LocalFiles/images/ICON_GHICHUCONGTRINH/trambom.png"></span>
                                                <label for="trambom">Trạm bơm</label>&nbsp;(<span ng-bind-html="countPumpStation"></span>)
                                            </li>
                                            <li class="m-0">
                                                <input type="checkbox" checked id="checkbox-tramcapnuoc" ng-click="toggleMarker('tramcapnuoc')">
                                                <span class="p-1 ng-binding"><img width="20" src="~/LocalFiles/images/ICON_GHICHUCONGTRINH/tramcapnuoc.png"></span>
                                                <label for="tramcapnuoc">Trạm cấp nước</label>&nbsp;(<span ng-bind-html="countWaterSupplyStation"></span>)
                                            </li>
                                            <li class="m-0">
                                                <input type="checkbox" checked id="checkbox-cong" ng-click="toggleMarker('cong')">
                                                <span class="p-1 ng-binding"><img width="20" src="~/LocalFiles/images/ICON_GHICHUCONGTRINH/cong.png"></span>
                                                <label for="cong">Cống</label>&nbsp;(<span ng-bind-html="countDrainStation"></span>)
                                            </li>
                                            <li class="m-0">
                                                <input type="checkbox" checked id="checkbox-nhamaynuoc" ng-click="toggleMarker('nhamaynuoc')">
                                                <span class="p-1 ng-binding"><img width="20" src="~/LocalFiles/images/ICON_GHICHUCONGTRINH/nhamaynuoc.png"></span>
                                                <label for="nhamaynuoc">Nhà máy nước</label>&nbsp;(<span ng-bind-html="countWaterFactory"></span>)
                                            </li>
                                            <li class="m-0">
                                                <input type="checkbox" checked id="checkbox-quyhoachnuocmat" ng-click="toggleMarker('quyhoachnuocmat')">
                                                <span class="p-1 ng-binding"><img width="20" src="~/LocalFiles/images/ICON_GHICHUCONGTRINH/quyhoachnuocmat.png"></span>
                                                <label for="cong">Quy hoạch nước mặt</label>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="text-uppercase ng-scope">
                                        <div class="header mt-1 mb-0 ng-binding d-flex">
                                            <input type="checkbox" checked id="checkbox-nuocduoidat" class="mr-2" ng-click="toggleMarker('nuocduoidat')">
                                            <div class="d-flex justify-content-between w-100 dropdown-text">
                                                <span>NƯỚC DƯỚI ĐẤT</span><i class="fa-solid fa-caret-down"></i>
                                            </div>
                                        </div>
                                        <ul class="dropdown-content">
                                            <li class="m-0">
                                                <input type="checkbox" checked id="checkbox-khaithac" ng-click="toggleMarker('khaithac')">
                                                <span class="p-1 ng-binding"><img width="25" src="~/LocalFiles/images/ICON_GHICHUCONGTRINH/khaithac.png"></span>
                                                <label for="khaithac">Khai thác</label>&nbsp;(<span ng-bind-html="countExploitStation"></span>)
                                            </li>
                                            <li class="m-0">
                                                <input type="checkbox" checked id="checkbox-thamdo" ng-click="toggleMarker('thamdo')">
                                                <span class="p-1 ng-binding"><img width="25" src="~/LocalFiles/images/ICON_GHICHUCONGTRINH/thamdo.png"></span>
                                                <label for="thamdo">Thăm dò</label>&nbsp;(<span ng-bind-html="countGroundExploration"></span>)
                                            </li>
                                            <li class="m-0">
                                                <input type="checkbox" checked id="checkbox-quyhoachnuocduoidat" ng-click="toggleMarker('quyhoachnuocduoidat')">
                                                <span class="p-1 ng-binding"><img width="25" src="~/LocalFiles/images/ICON_GHICHUCONGTRINH/quyhoachnuocduoidat.png"></span>
                                                <label for="cong">Quy hoạch nước dưới đất</label>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="text-uppercase ng-scope">
                                        <div class="header mt-1 mb-0 ng-binding d-flex">
                                            <input type="checkbox" checked id="checkbox-xathai" class="mr-2" ng-click="toggleMarker('xathai')">
                                            <div class="d-flex justify-content-between w-100 dropdown-text">
                                                <span>XẢ THẢI</span><i class="fa-solid fa-caret-down"></i>
                                            </div>
                                        </div>
                                        <ul class="dropdown-content">
                                            <li class="m-0">
                                                <input type="checkbox" checked id="checkbox-kh_cumcn_taptrung" ng-click="toggleMarker('kh_cumcn_taptrung')">
                                                <span class="p-1 ng-binding"><img width="20" src="~/LocalFiles/images/ICON_GHICHUCONGTRINH/kh_cumcn_taptrung.png"></span>
                                                <label for="kh_cumcn_taptrung">Khu / cụm CN</label>&nbsp;(<span ng-bind-html="countIndustrialArea"></span>)
                                            </li>
                                            <li class="m-0">
                                                <input type="checkbox" checked id="checkbox-sx_tieuthu_cn" ng-click="toggleMarker('sx_tieuthu_cn')">
                                                <span class="p-1 ng-binding"><img width="20" src="~/LocalFiles/images/ICON_GHICHUCONGTRINH/sx_tieuthu_cn.png"></span>
                                                <label for="sx_tieuthu_cn">SX tiểu thủ CN</label>&nbsp;(<span ng-bind-html="countHandycraftProduction"></span>)
                                            </li>
                                            <li class="m-0">
                                                <input type="checkbox" checked id="checkbox-cs_benhvien" ng-click="toggleMarker('cs_benhvien')">
                                                <span class="p-1 ng-binding"><img width="20" src="~/LocalFiles/images/ICON_GHICHUCONGTRINH/cs_benhvien.png"></span>
                                                <label for="cs_benhvien">CS bệnh viện</label>&nbsp;(<span ng-bind-html="countHospital"></span>)
                                            </li>
                                            <li class="m-0">
                                                <input type="checkbox" checked id="checkbox-xathai_congtrinhkhac" ng-click="toggleMarker('xathai_congtrinhkhac')">
                                                <span class="p-1 ng-binding"><img width="20" src="~/LocalFiles/images/ICON_GHICHUCONGTRINH/xathai_congtrinhkhac.png"></span>
                                                <label for="xathai_congtrinhkhac">Công trình khác</label>&nbsp;(<span ng-bind-html="countOtherDischarge"></span>)
                                            </li>
                                            <li class="m-0">
                                                <input type="checkbox" checked id="checkbox-quyhoachxathai" ng-click="toggleMarker('quyhoachxathai')">
                                                <span class="p-1 ng-binding"><img width="20" src="~/LocalFiles/images/ICON_GHICHUCONGTRINH/quyhoachxathai.png"></span>
                                                <label for="quyhoachxathai">Quy hoạch xả thải</label>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                                <div class="bg-map" id="Map_Construction" style="height: calc(80vh - 100px)"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card col-12 px-0 py-2 m-0">
                <div class="card-header font-weight-bold py-2 bg-secondary">
                    Số liệu thống kê giấy phép đã được cấp phép theo năm
                </div>
                <div class="card-body p-0" style="display: block;">
                    <div class="col-md-12 row mt-4 mx-0 p-0 justify-content-between position-relative">
                        <div class="col-12 p-0 row m-0">
                            <div class="col-12 col-md-12 p-0">
                                <div class="row mx-0">
                                    <div class="col-12 col-md-2 p-2">
                                        <div class="floating-label w-100 p-1">
                                            <input readonly class="floating-input w-100" type="text" data-toggle="dropdown" placeholder=" " ng-model="TypeOfConstructionFilter">
                                            <ul class="dropdown-menu w-100" role="menu">
                                                <li role="option" class="border-bottom border-secondary m-0 p-1">
                                                    <a href="javascript:void(0)" class="m-0" ng-click="filterConsByType(0, 'Chọn loại CT')">
                                                        <p class="m-0 text-primary" style="font-size: 0.85rem">Chọn loại CT</p>
                                                    </a>
                                                </li>
                                                <li role="option" class="border-bottom border-secondary m-0 p-1" ng-repeat="e in TypeOfConstructions">
                                                    <a href="javascript:void(0)" class="m-0" ng-click="filterConsByType(e.Id, e.TypeName)">
                                                        <p class="m-0 text-primary" style="font-size: 0.85rem" ng-bind="e.TypeName"></p>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-2 p-2">
                                        <div class="floating-label w-100 p-1">
                                            <input readonly class="floating-input w-100" type="text" data-toggle="dropdown" placeholder=" " ng-model="LicensingTypeFilter">
                                            <ul class="dropdown-menu w-100" role="menu">
                                                <li role="option" class="border-bottom border-secondary m-0 p-1">
                                                    <a href="javascript:void(0)" class="m-0" ng-click="filterLicenseByType(-1, 'Chọn loại hình CP')">
                                                        <p class="m-0 text-primary" style="font-size: 0.85rem">Chọn loại CT</p>
                                                    </a>
                                                </li>
                                                <li role="option" class="border-bottom border-secondary m-0 p-1" ng-repeat="e in LicensingTypes">
                                                    <a href="javascript:void(0)" class="m-0" ng-click="filterLicenseByType(e.Id, e.Name)">
                                                        <p class="m-0 text-primary" style="font-size: 0.85rem" ng-bind="e.Name"></p>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-2 p-2">
                                        <div class="floating-label w-100 p-1">
                                            <input readonly class="floating-input w-100" type="text" data-toggle="dropdown" placeholder=" " ng-model="LicenseEffectFilter">
                                            <ul class="dropdown-menu w-100" role="menu">
                                                <li role="option" class="border-bottom border-secondary m-0 p-1" ng-repeat="e in ListLicenseEffect">
                                                    <a href="javascript:void(0)" class="m-0" ng-click="filterLicenseByEffect(e.Id, e.Name)">
                                                        <p class="m-0 text-primary" style="font-size: 0.85rem" ng-bind="e.Name"></p>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-2 p-2">
                                        <div class="floating-label w-100 p-1">
                                            <input readonly class="floating-input w-100" type="text" data-toggle="dropdown" placeholder=" " ng-model="LicensingAuthoritiesFilter">
                                            <ul class="dropdown-menu w-100" role="menu">
                                                <li role="option" class="border-bottom border-secondary m-0 p-1" ng-repeat="e in ListLicensingAuthorities">
                                                    <a href="javascript:void(0)" class="m-0" ng-click="filterLicenseByLicensingAuthorities(e.Id, e.Name)">
                                                        <p class="m-0 text-primary" style="font-size: 0.85rem" ng-bind="e.Name"></p>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-2 p-2">
                                        <div class="floating-label w-100 p-1">
                                            <input readonly class="floating-input w-100" type="text" data-toggle="dropdown" placeholder=" " ng-model="DistrictFilter">
                                            <ul class="dropdown-menu w-100" role="menu">
                                                <li role="option" class="border-bottom border-secondary m-0 p-1">
                                                    <a href="javascript:void(0)" class="m-0" ng-click="filterLicenseByDistrict(0, 'Chọn huyện')">
                                                        <p class="m-0 text-primary" style="font-size: 0.85rem">Chọn huyện</p>
                                                    </a>
                                                </li>
                                                <li role="option" class="border-bottom border-secondary m-0 p-1" ng-repeat="e in Districts">
                                                    <a href="javascript:void(0)" class="m-0" ng-click="filterLicenseByDistrict(e.Id, e.DistrictName)">
                                                        <p class="m-0 text-primary" style="font-size: 0.85rem" ng-bind="e.DistrictName"></p>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-2 p-2">
                                        <div class="floating-label w-100 p-1">
                                            <input readonly class="floating-input w-100" type="text" data-toggle="dropdown" placeholder=" " ng-model="AquiferFilter">
                                            <ul class="dropdown-menu w-100" role="menu">
                                                <li role="option" class="border-bottom border-secondary m-0 p-1">
                                                    <a href="javascript:void(0)" class="m-0" ng-click="filterLicenseByAquifer(0, 'Chọn tầng chứa nước')">
                                                        <p class="m-0 text-primary" style="font-size: 0.85rem">Chọn tầng chứa nước</p>
                                                    </a>
                                                </li>
                                                <li role="option" class="border-bottom border-secondary m-0 p-1" ng-repeat="e in AllAquifers">
                                                    <a href="javascript:void(0)" class="m-0" ng-click="filterLicenseByAquifer(e.Id, e.Name)">
                                                        <p class="m-0 text-primary" style="font-size: 0.85rem" ng-bind="e.Name"></p>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-2 p-2">
                                        <div class="floating-label w-100 p-1">
                                            <input readonly class="floating-input w-100" type="text" data-toggle="dropdown" placeholder=" " ng-model="BasinFilter">
                                            <ul class="dropdown-menu w-100" role="menu">
                                                <li role="option" class="border-bottom border-secondary m-0 p-1">
                                                    <a href="javascript:void(0)" class="m-0" ng-click="filterLicenseByBasin(0, 'Chọn tiểu vùng quy hoạch')">
                                                        <p class="m-0 text-primary" style="font-size: 0.85rem">Chọn tiểu vùng quy hoạch</p>
                                                    </a>
                                                </li>
                                                <li role="option" class="border-bottom border-secondary m-0 p-1" ng-repeat="e in Basins">
                                                    <a href="javascript:void(0)" class="m-0" ng-click="filterLicenseByBasin(e.Id, e.Name)">
                                                        <p class="m-0 text-primary" style="font-size: 0.85rem" ng-bind="e.Name"></p>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-2 p-2">
                                        <div class="floating-label w-100 p-1">
                                            <input readonly class="floating-input w-100" type="text" data-toggle="dropdown" placeholder=" " ng-model="StartYearFilter">
                                            <ul class="dropdown-menu w-100" role="menu">
                                                <li role="option" class="border-bottom border-secondary m-0 p-1" ng-repeat="e in DataYear">
                                                    <a href="javascript:void(0)" class="m-0" ng-click="filterLicenseByDataYear(e.Year, EndYear)">
                                                        <p class="m-0 text-primary" style="font-size: 0.85rem">Từ năm: <span ng-bind="e.Year"></span></p>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-2 p-2">
                                        <div class="floating-label w-100 p-1">
                                            <input readonly class="floating-input w-100" type="text" data-toggle="dropdown" placeholder=" " ng-model="EndYearFilter">
                                            <ul class="dropdown-menu w-100" role="menu">
                                                <li role="option" class="border-bottom border-secondary m-0 p-1" ng-repeat="e in DataYear">
                                                    <a href="javascript:void(0)" class="m-0" ng-click="filterLicenseByDataYear(StartYear, e.Year)">
                                                        <p class="m-0 text-primary" style="font-size: 0.85rem">Đến năm: <span ng-bind="e.Year"></span></p>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="row m-0 align-items-center p-2">
                                        <button class="btn btn-sm font-10 btn-addnew px-4 mx-1" ng-click="Search()">
                                            <i class="fa-solid fa-magnifying-glass"></i> Tìm kiếm
                                        </button>
                                    </div>
                                    <div class="row m-0 align-items-center p-2">
                                        <button class="btn btn-sm font-10 btn-outline-success rounded-0 px-4 m-1" title="Xuất file excel" ng-click="exportToExcel('#excel-export')">
                                            <i class="fa-solid fa-file-excel"></i> Xuất excel
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div id="chartCountNumLicenseFollowYear"></div>
                    </div>
                </div>
            </div>
        </aside>
    </section>
</div>

<script>
    $(document).ready(function () {
        $('.dropdown-content').hide();

        $(".dropdown-text").click(function () {
            $(this).parent().next().slideToggle();
        });

        $('.showAnnotateLayerBtn').click(function () {
            $('.annotate-layer').toggle('slow');
        });
    });
</script>