<div>
    <section class="content py-2 px-0">
        <div class="col-md-12 p-0">
            <div class="row m-0">
                <div class="col-md-12 row mx-0 p-0">
                    <div class="col-12 col-sm-12 col-md-6 col-lg-4 p-2">
                        <div class="card text-white px-0 py-2 m-0 bg-box-surfacewater collapsed-card">
                            <div class="card-header p-0 border-0 ui-sortable-handle">

                                <p class="card-title col-auto font-16 rounded text-center">
                                    KTSD nước mặt
                                    <span class="col-12 p-0 text-center m-0 font-20">: {{CountLicenses.surfacewater[0] - 0}}</span>
                                </p>

                                <div class="card-tools mr-2">
                                    <button type="button" class="btn btn-collapsed-box-count-license btn-outline-link border-light text-light btn-sm" data-card-widget="collapse" title="Collapse">
                                        <i class="fas fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="card-body p-0" style="display: none;">
                                <div class="d-flex">
                                    <div class="col-4 font-weight-bold row center-center mx-0 px-2">
                                        <span class="col-12 p-0 text-center m-0 font-16 text-nowrap"> Giấy phép đã cấp </span>
                                        <span class="col-6 p-0 text-center m-0 font-30"> {{CountLicenses.surfacewater[0] - 0}}</span>
                                        <span class="col-6 p-0 text-center m-0 font-30"> <i class="fa-solid fa-2xl fa-water"></i></span>
                                    </div>
                                    <div class="col-8">
                                        <div class="font-weight-bold col-12 d-flex px-2">
                                            <p class="col-7 px-sm-0 font-13 mb-1">Còn hiệu lực: </p>
                                            <p class="col-5"> {{CountLicenses.surfacewater[0] - CountLicenses.surfacewater[1]}} </p>
                                        </div>
                                        <a href="/giay-phep/nuoc-mat?bo-cap" class="text-white font-weight-bold col-12 d-flex px-2">
                                            <p class="col-7 px-sm-0 font-13 mb-1">BTNMT cấp: </p>
                                            <p class="col-5"> {{CountLicenses.surfacewater[3] - 0}} </p>
                                        </a>
                                        <a href="/giay-phep/nuoc-mat?tinh-cap" class="text-white font-weight-bold col-12 d-flex px-2">
                                            <p class="col-7 px-sm-0 font-13 mb-1">UBND Tỉnh cấp: </p>
                                            <p class="col-5"> {{CountLicenses.surfacewater[4] - 0}} </p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-4 p-2">
                        <div class="card text-white px-0 py-2 m-0 bg-box-exploidgroundwater collapsed-card">
                            <div class="card-header p-0 border-0 ui-sortable-handle">
                                <p class="card-title col-auto font-16 rounded text-center">
                                    KTSD nước dưới đất
                                    <span class="col-12 p-0 text-center m-0 font-20">: {{CountLicenses.exploidGroundwater[0] - 0}}</span>
                                </p>
                                <div class="card-tools mr-2">
                                    <button type="button" class="btn btn-collapsed-box-count-license btn-outline-link border-light text-light btn-sm" data-card-widget="collapse" title="Collapse">
                                        <i class="fas fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="card-body p-0" style="display: none;">
                                <div class="d-flex">
                                    <div class="col-4 font-weight-bold row center-center mx-0 px-2">
                                        <span class="col-12 p-0 text-center m-0 font-16 text-nowrap"> Giấy phép đã cấp </span>
                                        <span class="col-6 p-0 text-center m-0 font-30"> {{CountLicenses.exploidGroundwater[0] - 0}}</span>
                                        <span class="col-6 p-0 text-center m-0 font-30"><i class="fa-solid fa-2xl fa-arrow-up-from-ground-water"></i></span>
                                    </div>
                                    <div class="col-8">
                                        <div class="font-weight-bold col-12 d-flex px-2">
                                            <p class="col-7 px-sm-0 font-13 mb-1">Còn hiệu lực: </p>
                                            <p class="col-5"> {{CountLicenses.exploidGroundwater[0] - CountLicenses.exploidGroundwater[1]}} </p>
                                        </div>
                                        <a href="/giay-phep/khai-thac-nuoc-duoi-dat?bo-cap" class="text-white font-weight-bold col-12 d-flex px-2">
                                            <p class="col-7 px-sm-0 font-13 mb-1">BTNMT cấp: </p>
                                            <p class="col-5"> {{CountLicenses.exploidGroundwater[3] - 0}} </p>
                                        </a>
                                        <a href="/giay-phep/khai-thac-nuoc-duoi-dat?bo-cap" class="text-white font-weight-bold col-12 d-flex px-2">
                                            <p class="col-7 px-sm-0 font-13 mb-1">UBND Tỉnh cấp: </p>
                                            <p class="col-5"> {{CountLicenses.exploidGroundwater[4] - 0}} </p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-4 p-2">
                        <div class="card text-white px-0 py-2 m-0 bg-box-probegroundwater collapsed-card">
                            <div class="card-header p-0 border-0 ui-sortable-handle">
                                <p class="card-title col-auto font-16 rounded text-center">
                                    Thăm dò nước dưới đất
                                    <span class="col-12 p-0 text-center m-0 font-20">: {{CountLicenses.probeGroundwater[0] - 0}}</span>
                                </p>
                                <div class="card-tools mr-2">
                                    <button type="button" class="btn btn-collapsed-box-count-license btn-outline-link border-light text-light btn-sm" data-card-widget="collapse" title="Collapse">
                                        <i class="fas fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="card-body p-0" style="display: none;">
                                <div class="d-flex">
                                    <div class="col-4 font-weight-bold row center-center mx-0 px-2">
                                        <span class="col-12 p-0 text-center m-0 font-16 text-nowrap"> Giấy phép đã cấp </span>
                                        <span class="col-6 p-0 text-center m-0 font-30"> {{CountLicenses.probeGroundwater[0] - 0}}</span>
                                        <span class="col-6 p-0 text-center m-0 font-30"><i class="fa-solid fa-2xl fa-telescope"></i></span>
                                    </div>
                                    <div class="col-8">
                                        <div class="font-weight-bold col-12 d-flex px-2">
                                            <p class="col-7 px-sm-0 font-13 mb-1">Còn hiệu lực: </p>
                                            <p class="col-5"> {{CountLicenses.probeGroundwater[0] - CountLicenses.probeGroundwater[1]}} </p>
                                        </div>
                                        <a href="/giay-phep/tham-do-nuoc-duoi-dat?bo-cap" class="text-white font-weight-bold col-12 d-flex px-2">
                                            <p class="col-7 px-sm-0 font-13 mb-1">BTNMT cấp: </p>
                                            <p class="col-5"> {{CountLicenses.probeGroundwater[3] - 0}} </p>
                                        </a>
                                        <a href="/giay-phep/tham-do-nuoc-duoi-dat?bo-cap" class="text-white font-weight-bold col-12 d-flex px-2">
                                            <p class="col-7 px-sm-0 font-13 mb-1">UBND Tỉnh cấp: </p>
                                            <p class="col-5"> {{CountLicenses.probeGroundwater[4] - 0}} </p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-4 p-2">
                        <div class="card text-white px-0 py-2 m-0 bg-box-drillingpracticegroundwater collapsed-card">
                            <div class="card-header p-0 border-0 ui-sortable-handle">
                                <p class="card-title col-auto font-16 rounded text-center">
                                    Hành nghề khoan
                                    <span class="col-12 p-0 text-center m-0 font-20">: {{CountLicenses.drillingPracticeGroundwater[0] - 0}}</span>
                                </p>
                                <div class="card-tools mr-2">
                                    <button type="button" class="btn btn-collapsed-box-count-license btn-outline-link border-light text-light btn-sm" data-card-widget="collapse" title="Collapse">
                                        <i class="fas fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="card-body p-0" style="display: none;">
                                <div class="d-flex">
                                    <div class="col-4 font-weight-bold row center-center mx-0 px-2">
                                        <span class="col-12 p-0 text-center m-0 font-16 text-nowrap"> Giấy phép đã cấp </span>
                                        <span class="col-6 p-0 text-center m-0 font-30"> {{CountLicenses.drillingPracticeGroundwater[0] - 0}}</span>
                                        <span class="col-6 p-0 text-center m-0 font-30"><i class="fa-solid fa-2xl fa-bore-hole"></i></span>
                                    </div>
                                    <div class="col-8">
                                        <div class="font-weight-bold col-12 d-flex px-2">
                                            <p class="col-7 px-sm-0 font-13 mb-1">Còn hiệu lực: </p>
                                            <p class="col-5"> {{CountLicenses.drillingPracticeGroundwater[0] - CountLicenses.drillingPracticeGroundwater[1]}} </p>
                                        </div>
                                        <a href="/giay-phep/hanh-nghe-khoan-nuoc-duoi-dat?bo-cap" class="text-white font-weight-bold col-12 d-flex px-2">
                                            <p class="col-7 px-sm-0 font-13 mb-1">BTNMT cấp: </p>
                                            <p class="col-5"> {{CountLicenses.drillingPracticeGroundwater[3] - 0}} </p>
                                        </a>
                                        <a href="/giay-phep/hanh-nghe-khoan-nuoc-duoi-dat?bo-cap" class="text-white font-weight-bold col-12 d-flex px-2">
                                            <p class="col-7 px-sm-0 font-13 mb-1">UBND Tỉnh cấp: </p>
                                            <p class="col-5"> {{CountLicenses.drillingPracticeGroundwater[4] - 0}} </p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-4 p-2">
                        <div class="card text-white px-0 py-2 m-0 bg-box-discharge collapsed-card">
                            <div class="card-header p-0 border-0 ui-sortable-handle">
                                <p class="card-title col-auto font-16 rounded text-center">
                                    Xả thải vào nguồn nước
                                    <span class="col-12 p-0 text-center m-0 font-20">: {{CountLicenses.dischargewater[0] - 0}}</span>
                                </p>
                                <div class="card-tools mr-2">
                                    <button type="button" class="btn btn-collapsed-box-count-license btn-outline-link border-light text-light btn-sm" data-card-widget="collapse" title="Collapse">
                                        <i class="fas fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="card-body p-0" style="display: none;">
                                <div class="d-flex">
                                    <div class="col-4 font-weight-bold row center-center mx-0 px-2">
                                        <span class="col-12 p-0 text-center m-0 font-16 text-nowrap"> Giấy phép đã cấp </span>
                                        <span class="col-6 p-0 text-center m-0 font-30"> {{CountLicenses.dischargewater[0] - 0}}</span>
                                        <span class="col-6 p-0 text-center m-0 font-30"><i class="fa-solid fa-2xl fa-recycle"></i></span>
                                    </div>
                                    <div class="col-8">
                                        <div class="font-weight-bold col-12 d-flex px-2">
                                            <p class="col-7 px-sm-0 font-13 mb-1">Còn hiệu lực: </p>
                                            <p class="col-5"> {{CountLicenses.dischargewater[0] - CountLicenses.dischargewater[1]}} </p>
                                        </div>
                                        <a href="/giay-phep/xa-thai?bo-cap" class="text-white font-weight-bold col-12 d-flex px-2">
                                            <p class="col-7 px-sm-0 font-13 mb-1">BTNMT cấp: </p>
                                            <p class="col-5"> {{CountLicenses.dischargewater[3] - 0}} </p>
                                        </a>
                                        <a href="/giay-phep/xa-thai?bo-cap" class="text-white font-weight-bold col-12 d-flex px-2">
                                            <p class="col-7 px-sm-0 font-13 mb-1">UBND Tỉnh cấp: </p>
                                            <p class="col-5"> {{CountLicenses.dischargewater[4] - 0}} </p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 row mx-0 p-2 pb-0">
                    <!-- BAR CHART -->
                    <div class="card col-12 px-0 py-2 m-0">
                        <div class="card-header p-0 border-bottom ui-sortable-handle">
                            <p class="card-title col-auto font-16 pb-2">
                                Số liệu thống kê giấy phép đã được cấp phép theo năm
                            </p>
                            <div class="card-tools mr-2">
                                <button type="button" class="btn btn-collapsed-box-count-license btn-outline-primary border-primary btn-sm" data-card-widget="collapse" title="Collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body p-0" style="display: block;">
                            @Html.Partial("_search")
                            <div>
                                <!-- CHART -->
                                <div id="chartCountNumLicenseFollowYear"></div>
                                <!-- /CHART -->
                            </div>
                        </div>
                        <!-- /BAR CHART -->
                    </div>
                </div>
            </div>
        </div>
        <!-- /primary modal -->
    </section>
    <!-- /.content -->
    <script>
        $(document).ready(function () {
            $('.btn-collapsed-box-count-license').click(function () {
                let totalTag = $(this).parent().prev().children("span");
                if (totalTag.css("display") == 'none') {
                    totalTag.css("display", 'inline');
                } else {
                    totalTag.css("display", 'none');
                }
            })
        });
    </script>
    <!-- MAP -->
    <div class="d-none">
        <div style="width: 100%; height: 45vh">
            <select id="basemaps" class="form-select switch-basemap" aria-label="Default select example">
                <option value="Imagery">Bản đồ vệ tinh</option>
                <option value="Topographic">Bản đồ địa hình</option>
                <option value="Streets">Bản đồ đường</option>
                <option value="Gray">Bản đồ xám</option>
            </select>
            <div class="common-map" id="Map"></div>
        </div>
    </div>
    <!-- END MAP -->
</div>