@using Microsoft.AspNet.Identity
@using WaterResource.Service;
@{
    ViewBag.Title = "THÔNG TIN DỮ LIỆU VỀ KHAI THÁC SỬ DỤNG NƯỚC TRÊN ĐỊA BÀN TỈNH SƠN LA";
    UserRightService _service = new UserRightService();
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (_service.IsViewAction("/thong-tin-du-lieu", User.Identity.Name, "VIEW"))
{
    <div ng-controller="myCntrl as demo">

        <!-- BỘ QUẢN LÝ -->
        <!--Nh-->
        @Html.Partial("ImportServiceJs")
        <script src="~/Scripts/DataInformation/Controller.js"></script>

        <!-- HẾT NHÚNG FILE MAP -->
        <!-- Main content -->

        <section class="content p-0">

            <div class="p-3">

                <div class="form-title col-12 text-center mt-2 my-4">
                    <h4 class="font-sm-18 m-0 font-weight-bold">THỐNG KÊ </h4>
                    <p class="font-sm-15 m-0 font-weight-bold">HỒ SƠ KỸ THUẬT CÁC CÔNG TRÌNH QUAN TRẮC NƯỚC DƯỚI ĐẤT </p>
                </div>
                <!--copy fom lọc + nút thêm mới-->
                <div class="row m-0 align-items-center justify-content-end">
                    <div class="floating-label mb-2">
                        <input class="floating-input w-100" type="text" data-toggle="dropdown" placeholder=" " ng-model="Keyword">
                        <ul class="dropdown-menu w-100" role="menu">
                            <li class="border-bottom border-secondary m-0 p-1" ng-repeat='item in ItemsForSearch | filter:Keyword'>
                                <a href="javascript:void(0)" class="m-0" ng-click="SetKeyword(item.TenTaiLieuCongTrinhQuanTrac)">
                                    <p class="m-0 text-dark" style="font-size: 0.85rem">{{item.TenTaiLieuCongTrinhQuanTrac}}</p>
                                    <p class="m-0 text-muted" style="font-size: 0.75rem">{{item.TenToChucThucHienQuanTrac}}</p>
                                </a>
                            </li>
                        </ul>
                        <label>Tên tài liệu</label>
                    </div>
                    <div class="row mx-0 mx-md-2 mb-2 align-items-center">
                        <button class="btn btn-sm btn-addnew px-4 rounded-0" ng-click="SearchThongTinDuLieuHoSoTram(2)">Lọc</button>
                    </div>
                    <div class="row mx-0 mx-md-2 mb-2 align-items-center">
                        @if (_service.IsViewAction("/thong-tin-du-lieu", User.Identity.Name, "ADD"))
                        {<button class="btn btn-sm btn-addnew rounded-0" ng-click="Add('ThongTinDuLieuHoSoTram-windows')" title="Thêm văn bản mới">Thêm mới</button>}
                    </div>
                </div>
                <!--hết copy fom lọc + nút thêm mới-->

                <div class="table-responsive">
                    <!--thêm class để co giãn màn hình -->
                    <table class="table no-margin table-hover table-bordered">
                        <thead class="custom-table-thead">
                            <tr>
                                <th class="text-center text-nowrap align-middle">STT</th>
                                <th class="text-center text-nowrap align-middle">Ký hiệu công trình </th>
                                <th class="text-center text-nowrap align-middle">Tên tài liệu hồ sơ công trình quan trắc </th>
                                <th class="text-center text-nowrap align-middle"> Tên tổ chức thực hiện quan trắc </th>
                                <th class="text-center text-nowrap align-middle"> Người thành lập hồ sơ </th>
                                <th class="text-center text-nowrap align-middle"> Người kiểm tra hồ sơ </th>
                                <th class="text-center text-nowrap align-middle">File PDF</th>
                                <th class="text-center text-nowrap align-middle" style="width: 90px;"> Thao tác </th>
                            </tr>
                        </thead>
                        <tbody class="custom-table-tbody">
                            <tr class="text-center" ng-repeat="item in getDataThongTinDuLieuHoSoTram">
                                <!-- Lấy trong hàng  $scope.getDataThongTinDuLieuHoSoTram = items.data.ListData; của controler.js-->
                                <td ng-bind="(currentPage -1)*numPerPage+$index+1" style="width:50px"></td>
                                <td ng-bind="item.KyHieuCongTrinh" style="width:150px"></td>
                                <td style="width:25%" ng-bind="item.TenTaiLieuCongTrinhQuanTrac"></td>
                                <td ng-bind="item.TenToChucThucHienQuanTrac"></td>
                                <td style="width:120px" ng-bind="item.NguoiThanhLapHoSo"></td>
                                <td style="width:120px" ng-bind="item.NguoiKiemTraHoSo "></td>
                                <td class="command text-center">
                                    <div class="tools d-flex justify-content-center">
                                        <a href="javascript:void(0)" ng-click="openAsideFileStation(item)" ng-bind="item.FilePDF">
                                            <i class="fa-solid fa-file-pdf" title="Xem file PDF" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </td>
                                <td class="command" style="width:80px">
                                    <div class="tools d-flex justify-content-between">
                                        @if (_service.IsViewAction("/thong-tin-du-lieu", User.Identity.Name, "EDIT"))
                                        {<a href="javascript:void(0)" class="px-2" title="Chỉnh sửa văn bản" ng-click="EditThongTinDuLieuHoSoTram('ThongTinDuLieuHoSoTram-windows',item)"><i class="fa fa-edit"></i></a>}
                                        @if (_service.IsViewAction("/thong-tin-du-lieu", User.Identity.Name, "DELETE"))
                                        {<a href="javascript:void(0)" class="px-2 text-danger" title="Xoá văn bản" ng-click="DeleteThongTinDuLieuHoSoTram(item)"><i class="fa-solid fa-trash-can"></i></a>}

                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="box-footer">
                    <div class="box-tools pull-right">
                        <ul uib-pagination
                            total-items="TotalTWItem"
                            ng-model="currentPage"
                            items-per-page="numPerPage"
                            boundary-links="true"
                            previous-text=" &#xf104;"
                            next-text=" &#xf105;"
                            first-text=" &#xf100;"
                            last-text=" &#xf101;"
                            max-size="5" ng-change="pageChanged()"
                            rotate="true"
                            force-ellipses="true"
                            class="pagination pagination-sm inline fa d-flex"></ul>
                    </div>
                </div>
            </div>
            <div class="sidenav p-0" id="ThongTinDuLieuHoSoTram-windows">
                <div class="modal-content">
                    <div>
                        <div class="doc-title py-2 px-0 col-12 d-flex align-items-center" style="background:#15538f; color: #fff; height: 50px">
                            <div class="d-flex col-12 p-0 align-items-center">
                                <div class="col-10">
                                    <div class="admission-title d-flex center-center">
                                        <p class="m-0 col-12 p-0 text-left text-uppercase font-16 font-sm-13">{{HeaderAction}} HỒ SƠ KỸ THUẬT CÁC CÔNG TRÌNH QUAN TRẮC NƯỚC DƯỚI ĐẤT </p>
                                    </div>
                                </div>
                                <a href="javascript:void(0)" class="closebtn m-0 p-0 text-white" ng-click="closeAside('ThongTinDuLieuHoSoTram-windows')">&times;</a>
                            </div>
                        </div>

                        <div class="modal-body">
                            <div ng-show="divFrm">
                                <p class="divHead hidden">{{Action}}</p>
                                <div class="form-horizontal">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="floating-label my-2">
                                                <input ng-model="item.KyHieuCongTrinh" class="floating-input w-100" placeholder=" ">
                                                <label>Ký hiệu công trình</label>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="floating-label my-2">
                                                <input ng-model="item.TenTaiLieuCongTrinhQuanTrac" class="floating-input w-100" placeholder=" ">
                                                <label>Tên tài liệu hồ sơ công trình quan trắc</label>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="floating-label my-2">
                                                <input ng-model="item.TenToChucThucHienQuanTrac" class="floating-input w-100" placeholder=" ">
                                                <label>Tên tổ chức thực hiện quan trắc</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="floating-label my-2">
                                                <input ng-model="item.NguoiThanhLapHoSo" class="floating-input w-100" placeholder=" ">
                                                <label>Người thành lập hồ sơ</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="floating-label my-2">
                                                <input ng-model="item.NguoiKiemTraHoSo" class="floating-input w-100" placeholder=" ">
                                                <label>Người kiểm tra hồ sơ</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="floating-label my-2">
                                                <input type="file" accept="application/pdf" class="floating-input w-100" placeholder=" " id="fileAttachs" ng-model="item.FilePDF">
                                                <label>PDF</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-sm btn-addnew" data-dismiss="modal" ng-click="SaveThongTinDuLieuHoSoTram('ThongTinDuLieuHoSoTram-windows',2)"><i class="fa fa-floppy-o" aria-hidden="true"></i> Lưu </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        @Html.Partial("_ViewFilePDF")
    </div>
}
else
{
    @Html.Partial("_401")
}