.ui-layout-toggler{background:#AAA}
.ui-layout-toggler:hover{background:#CCC!important}
.ui-layout-resizer{background:#DDD}
.ui-layout-resizer:hover{background:#F5F5F5!important}
.ui-layout-resizer-east{border-right:1px solid #BBB}
.ms-welcomeMenu{background:#21374C;margin-right:20px}
.s4-title{padding:0}
.s4-mainarea{height:100%;width:100%}
#UserWelcome{background:inherit;display:block;height:20px;text-align:right;width:100%}
#UserWelcome .ms_MenuUIULLink{background:blue;height:20px!important}
#Header{background:url(../../Banner/BANNER1000x90%20copy.jpg);display:block;height:64px;width:100%}
.s4-ca{min-width:559px}
#s4-mainarea{display:block}
.button-action{border-bottom:solid 1px #A6A6A6;display:block;height:39px;width:100%}
ul.button-area{float:left;height:25px;margin:0;padding:5px;width:400px}
ul.button-area li{border-radius:2px;float:left;list-style:none;margin-right:5px;width:auto}
ul.button-area li a{display:block;padding-left:5px;padding-right:5px;text-decoration:none}
ul.button-area li a:hover{text-decoration:none}
.search-area{display:inline-block;float:right;height:32px;line-height:32px;padding-right:20px;padding-top:3px;width:200px}
.search-area input{border-radius:2px 0 0 2px;border-right:none;display:inline-block;float:left;width:150px}
.search-area img{border:solid 1px #CCC;border-left:none;border-radius:0 3px 3px 0;display:inline-block;float:left;height:26px;margin:0;width:27px}
.sidebar-header{background:url(/img/sidebar-header-bg.jpg);border-bottom:solid 1px #A6A6A6;border-radius:3px 3px 0 0;height:39px;text-align:center;width:100%}
.sidebar-header span{font-family:Arial;font-size:13px;font-weight:700;height:39px;line-height:39px}

#LeftSidebarToggle{display:block;margin-top:10px;text-align:center;width:100%}

ul.top-navigation{background:url(/_layouts/images/selbg.png) repeat-x #F6F6F6;border-bottom:1px #A6A6A6 solid;border-top:1px #F1F1F1 solid;float:left;font-size:13px;height:33px;line-height:33px;margin:0;width:100%}
ul.top-navigation li{background:url(/_layouts/images/selbg.png) repeat-x #F6F6F6;border-left:solid 1px #FFF;border-right:solid 1px #E8E8E8;display:inline-block;float:left}
ul.top-navigation li a{color:#32415A;display:block;font-size:13px;font-weight:300;height:33px;line-height:33px;padding:0 10px;vertical-align:middle;width:100%}
ul.top-navigation li img{margin-left:0!important;margin-top:0!important}
ul.top-navigation li a:hover{color:#44AFF6;text-decoration:none}
ul.top-navigation li ul{display:none;margin-left:-1px;margin-top:0;padding-left:0;position:absolute}
ul.top-navigation li:hover ul{border:solid 1px #D9D9D9;border-bottom:none;border-top:none;display:block;width:200px;z-index:99999}
ul.top-navigation li ul li{height:30px;width:200px}
ul.top-navigation li ul li a{background:#F7F7F7;border-bottom:solid 1px #D9D9D9;border-top:solid 1px #D9D9D9;display:block;font-size:12px;height:29px;line-height:29px;width:200px}
ul.top-navigation li ul li:hover{background:#EFEFEF}
.top-navi-selected{color:#44AFF6!important;font-weight:700!important}
.left-menu-selected a{color:#44AFF6!important;font-weight:700}
.form-container-2{max-width:800px;width:800px}
.form-container-1{max-width:400px;width:400px}
.two-column{display:inline-block;float:left!important;width:380px}
.control-group{float:none}
.radio-button{width:auto}
.radio-button tr{height:28px;line-height:28px;vertical-align:middle}
.radio-button input{float:left;height:28px;line-height:28px}
.radio-button label{height:28px;line-height:28px;padding-left:20px;padding-right:20px}
.span-large{max-width:590px!important;width:590px!important}
.span-medium{max-width:380px;width:380px}
.ms-WPHeader td:first-child{width:95%!important}
.btn-combobox{background:#EEE;border:solid 1px #CCC!important;border-left:none!important;border-radius:0 3px 3px 0;height:28px!important;tabindex:-1!important;width:28px!important}
.ajax__combobox_itemlist{border:solid 1px #ABABAB;border-radius:0 0 5px 5px;box-shadow:2px 3px 5px #D1D1D1}
.ajax__combobox_itemlist li{border-bottom:1px #CCC dotted;font-family:Arial, Helvetica, sans-serif;font-size:12px;height:25px;line-height:25px;padding-left:20px}
.ajax__combobox_itemlist li:hover{background:#74B9EF}
.pop-up{background:#FFF;border-radius:5px;height:400px;width:500px}
.popup-header{background:#F5F5F5;border-bottom:solid 1px #FFF;border-radius:5px 5px 0 0;height:31px;line-height:31px;width:100%}
.popup-content{background:#FFF;border-top:solid 1px #DDD;display:block;height:auto;width:100%}
.popup-title{background:inherit;border-radius:5px 5px 0 0;color:#2A2A2A;display:inline-block;font-family:Arial,'Segoe UI';font-size:16px;font-weight:700;height:31px;line-height:38px;padding-left:15px;width:80%}
.popup-button{background:inherit;color:#BBB;display:inline-block;float:right;font-family:Arial;font-size:12px;font-weight:700;line-height:12px;margin-right:2%;margin-top:2%;right:0;width:auto}
.popup-button:hover{color:red;cursor:pointer}
.popup-content iframe{height:100%;width:100%;z-index:99999}
.popup-footer{background:#F5F5F5;border-radius:0 0 5px 5px;border-top:#DDD;height:30px;width:100%}
.icon-datepick{background-position:-192px -120px}
.icon-timepick{background-position:-48px -24px}
.icon-popup{background-position:-120px -72px;cursor:pointer}
.icon-popup:hover{background-image:url(../../img/glyphicons-halflings-gray.png);background-position:-120px -72px;cursor:pointer}
.tooltip-inner{font-family:Soege UI, Arial;font-size:12px}
.ajax__combobox_inputcontainer{bottom:0!important;height:28px;line-height:28px;top:0!important}
#s4-leftpanel-content,#s4-leftpanel{min-width:32px;width:220px}
.timepicker,.datepick{border-left:none!important;left:1px;width:100px}
.combobox{}
.jspContainer{overflow:hidden;position:relative}
.jspPane{position:absolute}
.jspVerticalBar{background:red;height:100%;position:absolute;right:0;top:0;width:8px}
.jspHorizontalBar{background:red;bottom:0;height:8px;left:0;position:absolute;width:100%}
.jspVerticalBar *,.jspHorizontalBar *{margin:0;padding:0}
.jspHorizontalBar .jspCap{float:left}
.jspTrack{background:#D3D3D3;position:relative}
.jspDrag{background:#636363;cursor:pointer;left:0;position:relative;top:0}
.jspHorizontalBar .jspTrack,.jspHorizontalBar .jspDrag{float:left;height:100%}
.jspArrow{background:#50506d;cursor:pointer;display:block;text-indent:-20000px}
.jspArrow.jspDisabled{background:#80808d;cursor:default}
.jspVerticalBar .jspArrow{height:16px}
.jspHorizontalBar .jspArrow{float:left;height:100%;width:8px}
.jspVerticalBar .jspArrow:focus{outline:none}
.jspCorner{background:#eeeef4;float:left;height:100%}
* html .jspCorner{margin:0 -3px 0 0}
.btn-med{height:18px;line-height:18px}
.td-combobox ul{left:0!important;position:relative!important;top:-9px!important}
.ajax__fileupload_selectFileContainer{background:#f9f9f9;border-bottom-color:#ddd;border-bottom-style:solid;border-bottom-width:1px;border-top-color:#ddd;border-top-style:solid;border-top-width:1px;height:50px!important;margin-top:52px!important;top:-54px;width:100%!important}
.ajax__fileupload_selectFileContainer:hover{background:#d0dff3;border-bottom-color:#0072bc;border-bottom-style:solid;border-bottom-width:1px;border-top-color:#0072bc;border-top-style:solid;border-top-width:1px}
.ajax__fileupload_selectFileContainer input{background:blue;height:50px!important;margin:0;width:100%!important}
.ajax__fileupload_selectFileButton{background:inherit!important;color:blue!important;font-family:"Segoe UI";font-size:16px;font-weight:700;height:50px;line-height:50px;width:100%!important}
.ajax__fileupload_selectFileContainer:hover .ajax__fileupload_selectFileButton{font-size:20px}
.select-file-button{color:#888;font-size:24pt;height:100%;padding-top:8px;text-align:center;width:100%}
.select-file-button:hover{color:#494949}
.select-file-button img{height:48px;width:48px}
.removeButton{background:red;display:block!important;visibility:visible!important}
.filename{color:#333;font-family:"Segoe UI", Arial!important;font-size:11px!important}
.filename:hover{color:#7cbcf9}
.ajax__fileupload_queueContainer{display:block!important;height:60px;margin-top:-58px!important;max-height:60px;overflow:auto;visibility:visible!important}
.ajax__fileupload{overflow:hidden}
.ajax__fileupload_fileItemInfo{border-bottom-color:#ddd;border-bottom-style:dotted;border-bottom-width:thin;height:20px}
#FooterN{background:#47678D;border-top:#2A4053;bottom:6px;color:#FFF;display:block;font-size:12px;height:24px;line-height:24px;margin-bottom:0;padding-left:20px;padding-right:20px;position:fixed;width:100%}
.top-layout{background:#1D1D1D;color:#FFF;display:none;height:200px;position:absolute;top:0;width:100%;z-index:99999}
.cover-tagpopup{height:auto;margin:0;max-width:596px;width:100%}
.checkbox_box,.radio_box{margin-left:20px}
.left-menu li div img,.left-menu-min li div img{float:left;height:24px;line-height:31px;margin:4px;width:24px}
.left-menu-min li div a,.jspCap,.filetype{display:none}