.tdtbl {background:#fff}
table.tdtbl{width:100%}
table.tdtbl td.cell{font:'Segoe UI' 11px!important}
.tdtbl td{height:100%;} /*color:#555;*/
.tdtbl td.multiline{white-space: pre;}
.tdtbl th, .tdtbl th a:link{color:#00377D}
/*.tdtbl th{background-color:#335B7E}*/
.td-table-wrapper{margin:0px 10px}
.tdtbl .colheader,.tdtbl th.ms-vh2{text-align:left;border-bottom:1px #E2E2E2 solid!important}
.tdtbl .colheader,.tdtbl .cmd-colheader,.tdtbl .check-colheader{font-size:11px;padding: 5px 1px 1px 1px;color:#003759;vertical-align:top;font-weight:700;border-bottom:1px #ccc solid!important}
.tdtbl .check-colheader{width:40px;max-width:40px;text-align:center}
.tdtbl .cmd-colheader{width:5%}
.tdtbl .cell .btn{white-space:nowrap}
.tdtbl .row-selected{border-left:2px #6E6F70 solid!important;border-bottom:1px #F0F0F0 solid!important;background-color:#F0F0F0}
.tdtbl .tdrow,.tdtbl .altrow{border-bottom:1px #eee solid;border-left:2px #fff solid;height:24px;}
/*.tdtbl .altrow{background:#f8fcff}*/
.tdtbl .tdrow td,.tdtbl .altrow td{vertical-align:middle;height:32px;}
.tdtbl .row-hover:hover,.tdtbl .altrow.row-hover:hover{background-color:#D9EFFD;border-bottom:1px #D9EFFD solid!important;}
.tdtbl .btncheck,.tdtbl .check-all{text-align:center;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;margin:0 auto}
.tdtbl .check-cell,.tdtbl .check-colheader{padding:2px 6px}
/*.tdtbl .check-cell:hover,.tdtbl .check-colheader:hover,.tdtbl .cmdbtn:hover{background-color:#e5eDf7!important}*/
.tdtbl .check-cell>input{display:none}
.tdtbl .check-cell .btncheck{border:1px transparent solid;width:16px;height:16px}
.tdtbl .check-all,.tdtbl .check-all .tip,.tdtbl .ms-vh2 .check-all,.tdtbl .ms-vh2 .check-all .tick,.tdtbl .check-all .tick,.tdtbl .btn-check .tick,.tdtbl div.check-all.tip,.tdtbl div.btn-check.tip{width:16px!important;height:16px!important;max-height:16px;vertical-align:middle}
.tdtbl .check-all,.tdtbl .row-hover:hover .check-cell .btncheck,.tdtbl .check-cell .btncheck:hover{border:1px #888 solid;}
.tdtbl .tick{background-image:url(/img/icons/essen/16/check12.png);background-position:center;background-repeat:no-repeat;width:100%;height:100%}
.tdtbl .check-cell>input:checked{display:inline-block;background:url(/img/icons/check.png) no-repeat scroll 0 0 transparent}
.tdtbl .cmdbtn{display:inline-block;text-align:center;vertical-align:middle;cursor:pointer;padding:2px;width:100%;height:100%}
.tdtbl .cmdbtn>img,.tdtbl .cmdbtn>span{}
.tdtbl .hightlight:hover{background: #c0d8e2!important}
/**/
.tdtbl .old,.tdcal .old{color:#888}
.tdtbl .td-bold,.tdtbl .bold,.tdcal .bold{font-weight:bold;}
.tdtbl .text-left,.tdcal .text-left{text-align:left}
.tdtbl .text-right,.tdcal .text-right{text-align:left}
.tdtbl .text-center,.tdcal .text-center{text-align:center!important}
.tdtbl .min-width,.tdcal .min-width{width:20px}
.tdtbl .no-wrap,.tdcal .no-wrap{white-space:nowrap}
.tdtbl .pointer-cursor,.tdcal .pointer-cursor{cursor:pointer}
.tdtbl .padding-left,.tdcal .padding-left{padding-left:12px;}
.tdtbl .padding-right,.tdcal .padding-right{padding-left:12px;}
/*star*/
.tdtbl .td-custom-check-header{width:32px}
.tdtbl .td-custom-check-cell{text-align:center;font-size:10pt;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
.tdtbl td,.tdtbl th{
	border-right:1px #E2E2E2 solid
}
.tdtbl th.ms-vh2-nofilter{
	border:none
}
/*.tdtbl .cmdbtn:hover{border:1px #888 solid}*/
.ms-vh2>table{width:100%}
.tdtbl .ms-gb td{padding:10px 0 6px 0}
.btn-tray{display:table;width:100%;margin:2px 0 0}
.btn-tray input{margin:4px}
.ms-gb{height:36px}
.td-pager{display:table-row!important;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.td-pager>td{text-align:center;padding:12px 4px 4px 4px}
.td-pager>td>table{margin:0px auto;border-bottom:2px #888888 solid;height:32px}
.td-pager>td>table td{padding: 2px}
.td-pager>td>table a,.td-pager>td>table span{padding:4px 8px;margin:4px;font-family:"Segoe UI Light"}
.td-pager>td>table a{border:1px transparent solid;font-size:10pt;}
.td-pager>td>table a:link{color:#0072BC}
.td-pager>td>table a:hover{border:1px #EBEBEB solid;-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;background:#EBEBEB;text-shadow: 1px 1px white }
.td-pager>td>table span{font-size:20pt;color:#888888;padding:1px 4px}
.dvtool{margin:0px 8px 0px 4px;/*border:1px #888 solid;border-left:4px #888 solid;*/color:#888;background-color:#F5F5F5;display:table;height:24px;line-height:24px;text-align:center;}
.tool-separator:before{content:" "}
.float-btn{width:22px;height:22px;white-space:nowrap;margin:1px 0px 0px 1px;background-position:center center;background-repeat:no-repeat;cursor:pointer;float:right}
.float-btn:hover{background-color:#e5eDf7}
.fullscreen{position: fixed; top: 0; left: 0;margin:0px 6px;width:100%;height:100%;background:white;z-index:1504;overflow:auto;margin:auto}
.fullscreen .row-fluid:first-child{margin-top:8px}
.icon-full-on,.icon-full-off{height:14px;}
.icon-full-on{background-image:url(/img/icons/16/fullscreen.png);}
.icon-full-off{background-image:url(/img/icons/16/fullscreen_exit.png);}
.btn-word,.btn-excel{display:table;width:16px;height:16px;margin:2px}
.btn-word{background-image:url(/img/icons/16/word.png);}
.btn-excel{background-image:url(/img/icons/16/excel.png);}
.btn-refresh{background-image:url(/img/icons/16/refresh.png);}
.btn-show-filter{background-image:url(/img/icons/16/search.png);background-position:2px 2px;padding-left:22px;width:60px}
.empty-data{font-size:14pt;width:350px;margin:50px auto 50px auto;font-weight:100;font-family:'Segoe UI'}
.empty-data i{font-size:32pt;color:#888}
.empty-data p, .empty-data .icon-settings-32{float:left}
.empty-data p,.empt-clr-filter{line-height:32px;margin-left:12px;font-size:14pt;font-family:'Segoe UI'}
.empty-data .icon-settings-32{background-image:url(/img/icons/32/settings.png)!important;width:34px;height:34px;background-position:center center;background-repeat:no-repeat}
.empt-clr-filter{padding:0px 8px; margin: 20px auto auto auto;width:100%}
.empt-clr-filter .icon{background-image:url(/img/icons/20/clr-filter.png);background-position:center center;float:left;width:20px;height:20px;margin-right:12px;margin-top:6px}
.empty-data .icon{background-repeat:no-repeat;}
/*calendar*/
.tdcal{border-left:1px #f0f0f0 solid;border-right:1px #f0f0f0 solid;border-bottom:1px #f0f0f0 solid;border-top:1px #fff solid;width:100%;color:#4f4f4f;-webkit-box-shadow:  0px 0px 6px 1px rgba(0, 0, 0, .5);box-shadow:  0px 0px 6px 1px rgba(0, 0, 0, .5);}
.tdcal th{color:#494949;background:#f8f8f8}
.tdcal td{border-bottom:1px #f0f0f0 solid;}
.tdcal table td{border:none}
.tdcal td .btn{opacity: 0;transition: opacity .2s ease-in-out;-moz-transition: opacity .2s ease-in-out;-webkit-transition: opacity .2s ease-in-out;}
.tdcal td:hover .btn{opacity: 1}
.tdcal .date-cell,.tdcal .date-cell-alt{border-bottom:1px #f0f0f0 solid;border-right:1px #f0f0f0 solid;width:110px;padding:8px;background-image:url(/img/cross.png)}
.tdcal .date-cell,.tdcal .cell{background-color:#fff;}
.tdcal .date-cell-alt,.tdcal .cell-alt{background-color:#F3FBFD;}
.tdcal .cell,.tdcal .cell-alt,.tdcal th{height:32px}
.tdcal .date-cell .day,.tdcal .date-cell-alt .day{text-shadow: 0 0 4px #8af;font-family: 'Segoe UI light', Arial, Helvetica, sans-serif;font-size:24pt;font-weight:100;margin-bottom:2px;color:#494949}
.tdcal .day.t7{color:#03f!important}
.tdcal .day.cn{color:#f30!important}
.tdcal .date-cell .day-name,.tdcal .date-cell-alt .day-name{font-weight:bold;font-size:9pt;}
.tdcal .icon-add:before{content:"+";font-size:16px; width:14px;height:14px;font-weight:bold}
.tdcal .icon-delete:before{content:"×";font-size:16px; width:14px;height:14px;font-weight:bold;}
.tdcal .cal-title{font-weight:bold;color:#335B7E}
.tdcal table .cell-date{width:60px;cursor:pointer}
.tdcal .cell-today{background-color:#FFFFE1}
.date-range{font-size:11pt;margin-left:12px;color:#666}
.hdate{color:#333}
.cal-navbar, .cal-navbar .btn{font-size:9pt}
/*  treeview grid*/
.tdtbl .expander{
	float: left;
	width:10px;
}
.tdtbl .collapsable,.tdtbl .expandable,.tdtbl td.tree-cell div.node{
	background-image:url('../../img/unexpandable.png');
	height: 16px;
	width: 20px;
	margin-left: 0px;
	margin-top: 5px;
	float: left;
	background-position: center;
	background-repeat:no-repeat;
}
.tdtbl .expandable{
	background-image:url('../../img/expandable.png');
	cursor: pointer;
}
.tdtbl .collapsable{
	background-image:url('../../img/collapsable.png');
	cursor: pointer;
}

tr td.tree-cell{background-position:left;background-repeat:repeat-y}
tr[level='0'] td.tree-cell{
	/*background-image:url('../../img/tree-lv0-back.png');*/
}
tr[level='1'] td.tree-cell{
	background-image:url('../../img/tree-lv0-back.png');
}
tr[level='2'] td.tree-cell{
	background-image:url('../../img/tree-lv1-back.png');
}
tr[level='3'] td.tree-cell{
	background-image:url('../../img/tree-lv2-back.png');
}
tr[level='4'] td.tree-cell{
	background-image:url('../../img/tree-lv2-back.png');
}
tr[level='5'] td.tree-cell{
	background-image:url('../../img/tree-lv2-back.png');
}
tr[level='6'] td.tree-cell{
	background-image:url('../../img/tree-lv2-back.png');
}
tr[level='7'] td.tree-cell{
	background-image:url('../../img/tree-lv2-back.png');
}

tr[level='0'] td.index-cell{
	font-weight:bold
}
tr[level='1'] td.index-cell{
	padding-left:20px;
}
tr[level='2'] td.index-cell{
	padding-left:40px;
}
tr[level='3'] td.index-cell{
	padding-left:60px;
}
tr[level='4'] td.index-cell{
	padding-left:70px;
}
tr[level='5'] td.index-cell{
	padding-left:80px;
}
tr[level='6'] td.index-cell{
	padding-left:90px;
}
tr[level='7'] td.index-cell{
	padding-left:100px;
}
tr[level='8'] td.index-cell{
	padding-left:110px;
}