@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "VĂN BẢN QUY PHẠM PHÁP LUẬT, HƯỚNG DẪN KỸ THUẬT VỀ KHÍ TƯỢNG THỦY VĂN ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-controller="myCtrl as demo">
    <script src="~/Scripts/KTTVDoc/Controller.js"></script>
    <script src="~/Scripts/KTTVDoc/Service.js"></script>
    <section class="content p-0">

        <div class="row m-0">

            <div class="col-12 col-xl-12 p-0">
                <div class="row mx-0 my-2 align-items-center justify-content-end display-unset ">
                    <div class="mx-2 col-md-3 p-0 floating-label mt-4">
                        <input autocomplete="off" type="text" name="table_search" class="floating-input w-100" data-toggle="dropdown" placeholder=" " ng-model="Keyword">
                        <ul class="dropdown-menu w-100" role="menu">
                            <li class="border-bottom border-secondary m-0 p-1" ng-repeat='item in DocForSearch | filter:Keyword'>
                                <a href="javascript:void(0)" class="m-0" ng-click="SetKeyword(item.DocNumber)">
                                    <p class="m-0 text-dark" style="font-size: 0.85rem">{{item.Name}}</p>
                                    <p class="m-0 text-muted" style="font-size: 0.75rem">{{item.DocNumber}}</p>
                                </a>
                            </li>
                        </ul>
                        <label>Tên hoặc mã văn bản</label>
                    </div>
                    <div class="floating-label mx-2 p-0 mt-4">
                        <select class="floating-select w-100" ng-model="CoQuanBanHanh">
                            <option selected value="">[--Chọn Cơ quan ban hành--]</option>
                            <option value="Ủy ban nhân dân Tỉnh">Ủy ban nhân dân Tỉnh</option>
                            <option value="Sở Tài nguyên môi trường">Sở Tài nguyên môi trường</option>
                            <option value="Khác">Khác</option>
                        </select>
                        <label>Cơ quan ban hành</label>
                    </div>
                    <div class="floating-label mx-2  mt-4">
                        <input type="text" class="floating-input w-100 dpicker" uib-datepicker-popup="{{format}}" ng-model="TuNgay" is-open="TuNgay.opened" datepicker-options="dateOptions" ng-required="true" close-text="Đóng" current-text="Hôm nay" clear-text="Xóa" alt-input-formats="altInputFormats" ng-click="openDatepicker('TuNgay')" />
                        <label>Từ ngày<sup class="text-danger font-13"></sup></label>
                    </div>
                    <div class="floating-label mx-2 mt-4">
                        <input type="text" class="floating-input w-100 dpicker" uib-datepicker-popup="{{format}}" ng-model="DenNgay" is-open="DenNgay.opened" datepicker-options="dateOptions" ng-required="true" close-text="Đóng" current-text="Hôm nay" clear-text="Xóa" alt-input-formats="altInputFormats" ng-click="openDatepicker('DenNgay')" />
                        <label>Đến ngày<sup class="text-danger font-13"></sup></label>
                    </div>
                    <div class="row m-0 align-items-center p-1 mt-4">
                        <button class="btn btn-sm btn-addnew px-4 m-2" ng-click="Search()">Lọc</button>
                        <button class="btn btn-sm btn-addnew rounded-0" ng-click="Add()" title="Thêm văn bản mới">Thêm mới</button>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table no-margin table-hover table-bordered font-sm-13">
                        <thead class="custom-table-thead">
                            <tr>
                                <th class="text-center text-nowrap align-middle">STT</th>
                                <th class="text-center text-nowrap align-middle">Số văn bản </th>
                                <th class="text-center text-nowrap align-middle">Tên văn bản </th>
                                <th class="text-center text-nowrap align-middle">Cơ quan ban hành </th>
                                <th class="text-center text-nowrap align-middle">Ngày ban hành </th>
                                <th class="text-center text-nowrap align-middle">Ngày có hiệu lực </th>
                                <th class="text-center text-nowrap align-middle">File PDF</th>
                                <th class="text-center text-nowrap align-middle">Ghi chú </th>
                                <th class="text-center text-nowrap align-middle">Thao tác </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in DataKTTVDoc">
                                <td ng-bind="(currentPage -1)*numPerPage+$index+1" style="width:50px"></td>
                                <td ng-bind="item.DocNumber"></td>
                                <td ng-bind="item.Name"></td>
                                <td ng-bind="item.AgencyIssued"></td>
                                <td ng-bind="item.IssuedTime | date:'dd/MM/yyyy'"></td>
                                <td ng-bind="item.EffectDate | date:'dd/MM/yyyy'"></td>
                                <td class="command text-center">
                                    <div class="tools d-flex justify-content-center" ng-if="item.FilePDF !== null">
                                        <a href="javascript:void(0)" ng-click="openAsideFile(item)">
                                            <i class="fa-solid fa-file-pdf" title="Xem file PDF" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </td>
                                <td ng-bind="item.Description"></td>
                                <td class="sticky-col end-col">
                                    <div class="tools d-flex justify-content-center">
                                        <a href="javascript:void(0)" class="px-2" title="Chỉnh sửa công trình" ng-click="Edit(item)"><i class="fa fa-edit"></i></a>
                                        <a href="javascript:void(0)" class="px-2 text-danger" title="Xoá công trình" ng-click="Delete(item)"><i class="fa-solid fa-trash-can"></i></a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="box-footer">
                        <div class="box-tools pull-right">
                            <ul uib-pagination
                                total-items="TotalItem"
                                ng-model="currentPage"
                                items-per-page="numPerPage"
                                boundary-links="true"
                                previous-text=" &#xf104;"
                                next-text=" &#xf105;"
                                first-text=" &#xf100;"
                                last-text=" &#xf101;"
                                max-size="5" ng-change="pageChanged()"
                            rotate ="true"
                            force-ellipses="true"
                                class="pagination pagination-sm inline fa d-flex"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="sidenav p-0" id="aside">
            <div>
                <div class="doc-title py-2 px-0 col-12 d-flex align-items-center" style="background:#15538f; color: #fff; height: 50px">
                    <div class="d-flex col-12 p-0 align-items-center">
                        <div class="col-10">
                            <div class="admission-title d-flex center-center">
                                <p class="m-0 col-12 p-0 text-left text-uppercase font-16">{{HeaderAction}} VĂN BẢN QUY PHẠM PHÁP LUẬT, HƯỚNG DẪN KỸ THUẬT </p>
                            </div>
                        </div>
                        <a href="javascript:void(0)" class="closebtn m-0 p-0 text-white" ng-click="closeAside()">&times;</a>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <fieldset class="col-12 border border-secondary p-3 mb-2 background-color bg-lightgray">
                    <legend class="font-18 font-weight-bold text-primary" style="width: auto">Thông tin văn bản </legend>
                    <div class="mb-2">
                        <div class="col-sm-12 p-0 row">
                            <div class="col-md-6 p-2">
                                <div class="floating-label my-2">
                                    <input ng-model="item.Name" class="floating-input w-100" placeholder=" ">
                                    <label>Tên văn bản</label>
                                </div>
                            </div>
                            <div class="col-md-6 p-2">
                                <div class="floating-label my-2">
                                    <input ng-model="item.DocNumber" class="floating-input w-100" placeholder=" ">
                                    <label>Số văn bản</label>
                                </div>
                            </div>
                            <div class="col-md-6 p-2">
                                <div class="floating-label my-2">
                                    <input type="date" ng-model="item.IssuedTime" class="floating-input w-100" placeholder=" " />
                                    <label>Ngày phát hành</label>
                                </div>
                            </div>
                            <div class="col-md-6 p-2">
                                <div class="floating-label my-2">
                                    <input type="date" ng-model="item.EffectDate" class="floating-input w-100" placeholder=" " />
                                    <label>Ngày có hệu lực</label>
                                </div>
                            </div>
                            <div class="col-md-6 p-2">
                                <div class="floating-label my-2">
                                    <select class="floating-select w-100" ng-model="item.AgencyIssued">
                                        <option selected hidden value="">[--Chọn Cơ quan ban hành--]</option>
                                        <option value="Ủy ban nhân dân Tỉnh">Ủy ban nhân dân Tỉnh</option>
                                        <option value="Sở Tài nguyên môi trường">Sở Tài nguyên môi trường</option>
                                        <option value="Khác">Khác</option>
                                    </select>
                                    <label>Cơ quan ban hành</label>
                                </div>
                            </div>
                            <div class="col-md-6 p-2">
                                <div class="floating-label my-2">
                                    <input type="file" accept="application/pdf" class="floating-input w-100" placeholder=" " id="fileAttachs" ng-model="item.FilePDF">
                                    <label>PDF</label>
                                </div>
                            </div>
                            <div class="col-md-12 py-3">
                                <div class="floating-label">
                                    <textarea class="floating-input floating-textarea w-100 h-100" rows="3" ng-model="item.Description" placeholder=" "></textarea>
                                    <label>Ghi chú</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="pt-1 col-sm-12 d-flex justify-content-end">
                <button type="button" class="btn btn-sm btn-addnew mx-2" ng-click="Save()"><i class="fa fa-floppy-o" aria-hidden="true"></i> Lưu </button>
            </div>
        </div>
        @Html.Partial("_ViewPDF")
    </section>
</div>