@using Microsoft.AspNet.Identity
@using WaterResource.Service;
@{
    ViewBag.Title = "THÔNG TIN DỮ LIỆU VỀ QUY MÔ CÔNG TRÌNH KHAI THÁC SỬ DỤNG NƯỚC TRÊN ĐỊA BÀN TỈNH SƠN LA";
    UserRightService _service = new UserRightService();
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (_service.IsViewAction("/quy-hoach-tai-nguyen-nuoc", User.Identity.Name, "VIEW"))
{
    <div ng-controller="myCntrl as demo">

        <!-- BỘ QUẢN LÝ -->
        <!--Nh-->
        @Html.Partial("ImportServiceJs")
        <script src="~/Scripts/SacleOfWaterExploitation/Controller.js"></script>

        <!-- HẾT NHÚNG FILE MAP -->
        <!-- Main content -->
        <div class="form-title d-flex justify-content-between col-12">
            <div class="col-6 col-sm-3 text-center p-0">
                <h5 class="font-sm-14 m-0">UBND TỈNH SƠN LA</h5>
                <h5 class="font-sm-14 font-weight-bold m-0">SỞ TÀI NGUYÊN VÀ MÔI TRƯỜNG</h5>
                <p class="font-sm-13 d-flex center-center">Số: <input type="text" class="form-control form-control-sm" style="width: 50px;" />   /STNMT-TNN-KS&KTTV</p>
            </div>
            <div class="col-6 col-sm-4 text-center">
                <h5 class="font-sm-14 m-0">CỘNG HOÀ XÃ HỘI CHỦ NGHĨA VIỆT NAM</h5>
                <h5 class="font-sm-14 font-weight-bold m-0">Độc lập - Tự do - Hạnh phúc</h5>
                <i class="font-sm-13">Sơn La, ngày {{getDatetime | date:'dd'}} tháng {{getDatetime | date:'MM'}} năm {{getDatetime | date:'yyyy'}}</i>
            </div>
        </div>

        <div class="form-title col-12 text-center mt-2 my-4">
            <h4 class="font-sm-18 m-0 font-weight-bold">THỐNG KÊ </h4>
            <p class="font-sm-15 m-0 font-weight-bold">THÔNG TIN DỮ LIỆU VỀ QUY MÔ CÔNG TRÌNH KHAI THÁC SỬ DỤNG NƯỚC TRÊN ĐỊA BÀN TỈNH SƠN LA </p>
            <p class="m-0 font-weight-bold d-flex center-center">(Kỳ báo cáo:  <input type="text" class="form-control form-control-sm font-weight-bold" style="width: 50px;" />)</p>
        </div>

        <section class="content p-0">

            <div class="table-responsive">
                <table class="table no-margin table-hover table-bordered">
                    <thead class="custom-table-thead">
                        <tr>
                            <th rowspan="4" class="text-center align-middle">STT</th>
                            <th rowspan="3" class="text-center align-middle text-nowrap">Tên công trình </th>
                            <th rowspan="3" class="text-center align-middle text-nowrap"> Loại hình công trình </th>
                            <th rowspan="3" class="text-center align-middle text-nowrap"> Nguồn nước khai thác </th>
                            <th rowspan="2" colspan="2" class="text-center align-middle text-nowrap">Vị trí </th>
                            <th colspan="5" class="text-center align-middle text-nowrap">Thông số cơ bản </th>
                            <th colspan="2" class="text-center align-middle text-nowrap">Giếng khoan và loại hình khác</th>
                        </tr>
                        <tr>
                            <th colspan="5" class="text-center align-middle">Hồ chứa, đập</th>
                            <th rowspan="2" class="text-center align-middle">Lưu lượng thiết kế(m3/ngày đêm)</th>
                            <th rowspan="2" class="text-center align-middle">Lưu lượng thực tế (m3/ngày đêm)</th>
                        </tr>
                        <tr>
                            <th class="text-center align-middle">Xã </th>
                            <th class="text-center align-middle">Huyện </th>

                            <th class="text-center align-middle">Dung tích toàn bộ (triệu m3)</th>
                            <th class="text-center align-middle">Dung tích hữu ích (triệu m3)</th>
                            <th class="text-center align-middle">Công suất (MW)</th>
                            <th class="text-center align-middle">Lưu lượng thiết kế(m3/ngày đêm)</th>
                            <th class="text-center align-middle">Lưu lượng thực tế (m3/ngày đêm)</th>
                        </tr>
                        <tr>
                            <th class="text-center align-middle">(1)</th>
                            <th class="text-center align-middle">(2)</th>
                            <th class="text-center align-middle">(3)</th>
                            <th class="text-center align-middle">(4) </th>
                            <th class="text-center align-middle">(5)</th>
                            <th class="text-center align-middle">(6)</th>
                            <th class="text-center align-middle">(7)</th>
                            <th class="text-center align-middle">(8)</th>
                            <th class="text-center align-middle">(9) </th>
                            <th class="text-center align-middle">(10)</th>
                            <th class="text-center align-middle">(11)</th>
                            <th class="text-center align-middle">(12)</th>
                        </tr>
                    </thead>
                    <tbody class="custom-table-tbody">
                        <tr ng-repeat="item in DataConstruction">
                            <!-- lấy DataBieuMauSo9 từ file scrip/controler.js-->
                            <th class="text-center align-middle" ng-bind="(currentPage -1)*numPerPage+$index+1"> </th>
                            <!-- đưa (currentPage -1)*numPerPage+$index+1 để đếm hàng-->
                            <td class="text-center align-middle text-nowrap" ng-bind="item.ConstructionName"> </td>
                            <td class="text-center align-middle text-nowrap" ng-bind="item.MiningPurpose"> </td>
                            <td class="text-center align-middle text-nowrap" ng-bind="item.ExploitedWS"> </td>
                            <td class="text-center align-middle text-nowrap" ng-bind="item.CommuneName"> </td>
                            <td class="text-center align-middle text-nowrap" ng-bind="item.DistrictName"> </td>
                            <td class="text-center align-middle text-nowrap" ng-bind="item.TotalCapacity"> </td>
                            <td class="text-center align-middle text-nowrap" ng-bind="item.UsefulCapacity"> </td>
                            <td class="text-center align-middle text-nowrap" ng-bind="item.Power"> </td>
                            <td class="text-center align-middle text-nowrap" ng-bind="item.MaximumFlow"> </td>
                            <td class="text-center align-middle text-nowrap" ng-bind="item.MaximumFlow"> </td>
                            <td class="text-center align-middle text-nowrap" ng-bind="item.LuuLuongThietKeMayBom"> </td>
                            <td class="text-center align-middle text-nowrap" ng-bind="item.LuuLuongThietKeMayBom"> </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- PHẦN phân trang file cshtml-->
            <div class="box-footer">
                <div class="box-tools pull-right">
                    <ul uib-pagination
                        total-items="TotalItem "
                        ng-model="currentPage"
                        items-per-page="numPerPage "
                        boundary-links="true"
                        previous-text=" &#xf104;"
                        next-text=" &#xf105;"
                        first-text=" &#xf100;"
                        last-text=" &#xf101;"
                        max-size="5" ng-change="pageChanged()"
                        rotate="true"
                        force-ellipses="true" class="pagination pagination-sm inline fa d-flex"></ul>
                </div>
            </div>

            <!-- PHẦN CHÂN TRANG -->
            <div class="form-title d-flex justify-content-between col-12 my-3">
                <div class="col-6 col-md-3 text-left p-0 font-sm-13">
                    <i>Nơi nhận</i>
                    <p class="m-0">- Ban Giám đốc Sở</p>
                    <p class="m-0">- Lưu: VT; TNN, KS&KTTV; VP, 10b</p>
                </div>
                <div class="col-6 col-md-4 text-center font-sm-13">
                    <p class="mb-5 font-weight-bold h5 font-sm-16 font-sm-14">NGƯỜI THỐNG KÊ </p>
                    <p class="mb-0 mt-5 font-weight-bold">
                        @if (Request.IsAuthenticated)
                        {
                            @User.Identity.GetUserName()
                        }
                    </p>
                </div>
            </div>
            <!-- KẾT THÚC PHẦN CHÂN TRANG -->
        </section>
    </div>
}
else
{
    @Html.Partial("_401")
}