
/***
Custom tabs
***/
.tab-content {
  padding: 0px;  
  overflow: hidden;
}

.tabbable-custom { 
  -webkit-border-radius: 0; 
     -moz-border-radius: 0; 
          border-radius: 0; 
   margin-bottom: 15px;       
}

.widget .row-fluid:last-child .tabbable-custom {
  margin-bottom: 0px;
}

.tabbable-custom > .nav-tabs { 
  border: none; 
  margin: 0px;
}

.tabbable-custom > .tab-content { 
   background-color: #fff;
   border: 1px solid #ddd;  
   -webkit-border-radius: 0; 
   -moz-border-radius: 0; 
   border-radius: 0; 
   padding: 10px;
}

.tabbable-custom.boxless > .tab-content {
  padding:15px 0;
  border-left:none;
  border-right:none;
  border-bottom:none;
}

.tabbable-custom .nav-tabs > li { 
  margin-right: 2px; 
  border-top: 2px solid transparent; 
}

.tabbable-custom .nav-tabs > li > a { 
  -webkit-border-radius: 2px; 
  -moz-border-radius: 2px;
   border-radius: 2px; 
   margin-right: 0; 
   padding: 5px 10px; 
 }

.tabbable-custom .nav-tabs > li > a:hover { 
  background: none;
  border-color:transparent;
}

.tabbable-custom .nav-tabs > li.active { 
  border-top: 3px solid #d12610; 
  margin-top: 0; 
  position: relative; 
}

.tabbable-custom .nav-tabs > li.active > a  { 
  border-top: none; 
  font-weight: 400; 
}

.tabbable-custom .nav-tabs > li.active > a:hover { 
  background: #fff; 
  border-color: #d4d4d4 #d4d4d4 transparent; 
}

.tabbable-custom .nav-tabs > li { 
  margin-right: 2px; 
  border-top: 2px solid transparent; 
}

.tabs-below.tabbable-custom .nav-tabs > li { 
  border-top: none; 
  border-bottom: 2px solid transparent; 
  margin-top: -1px; 
}

.tabs-below.tabbable-custom .nav-tabs > li.active { 
    border-top: none; 
    border-bottom: 3px solid #d12610; 
    margin-bottom: 0; position: relative; 
}

.tabs-below.tabbable-custom .nav-tabs > li.active > a { 
  border-bottom: none 
}

.tabs-below.tabbable-custom .nav-tabs > li.active > a:hover { 
  background: #fff; 
  border-color: #d4d4d4 #d4d4d4 transparent; 
}
    
.tabs-left.tabbable-custom .nav-tabs > li { 
  margin-right: 0; border-left: 2px solid transparent; margin-top: none; 
}

.tabs-left.tabbable-custom .nav-tabs > li.active { 
  border-top: none; 
  border-left: 3px solid #d12610; 
  margin-top: 0; margin-right: -1px; position: relative; 
}

.tabs-left.tabbable-custom .nav-tabs > li.active > a { 
  border-top: 1px solid #d4d4d4; 
  border-left: 1px solid transparent; 
}

.tabs-left.tabbable-custom .nav-tabs > li.active > a:hover { 
  background: #fff; 
  border-color: #d4d4d4 transparent #d4d4d4 transparent; 
}
    
.tabs-right.tabbable-custom .nav-tabs > li { 
  margin-right: 0; 
  border-right: 2px solid transparent; 
  border-top: none; }

.tabs-right.tabbable-custom .nav-tabs > li.active { 
  border-top: none; 
  border-right: 3px solid #d12610; 
  margin-top: 0; 
  margin-left: -1px; 
  position: relative; 
}

.tabs-right.tabbable-custom .nav-tabs > li.active > a { 
  border-top: 1px solid #d4d4d4; 
  border-right: 1px solid transparent; 
}

.tabs-right.tabbable-custom .nav-tabs > li.active > a:hover { 
  background: #fff; 
  border-color: #d4d4d4 transparent #d4d4d4; 
}

.tabs-right.tabbable-custom .nav-tabs > li a, 
.tabs-left.tabbable-custom .nav-tabs > li a { 
  padding: 8px 10px 
}

.tab-pane > p:last-child {
  margin-bottom: 0px;
}

