<div class="modal fade addnew-windows" id="addNewConsName" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-horizontal">
                    <input type="hidden" ng-model="license.TypeOfConstructionId" />
                    <fieldset class="col-12 border border-secondary p-2 mb-2 background-color bg-lightgray">
                        <legend class="font-18 font-weight-bold text-primary" style="width: auto">THÔNG TIN CÔNG TRÌNH</legend>
                        <div class="row col-12 m-0 p-0">
                            <div class="col-md-6">
                                <label class="font-weight-bold">Loại công trình<sup class="text-danger font-13">*</sup></label>
                                <div class="floating-label w-100">
                                    <select ng-options="opt.Id as opt.TypeName for opt in TypeOfConstructions" ng-model="Id" ng-change="changeTypeOfCons(Id, false)" class="floating-select w-100">
                                        <option value="" hidden>-- Chọn loại công trình --</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label class="font-weight-bold">Tên công trình<sup class="text-danger font-13">*</sup></label>
                                <input class="floating-input w-100 text-left" type="text" placeholder=" " ng-model="license.Construction.ConstructionName" />
                            </div>
                            <div class="col-md-4">
                                <label>Tỉnh :</label>
                                <select ng-options="opt.Id as opt.CityName for opt in Provinces" ng-model="license.Construction.ProvinceId" ng-change="ProvinceChange(license.Construction.ProvinceId)" class="floating-select" style="width:100%"><option value="" hidden class="" selected="selected">[--Chọn Tỉnh/TP--]</option><option label="Tỉnh Sơn La" value="number:1">Tỉnh Sơn La</option></select>
                            </div>
                            <div class="col-md-4">
                                <label>Quận/Huyện :</label>
                                <select ng-options="opt.Id as opt.DistrictName for opt in Districts" ng-model="license.License_Fk.DistrictId" ng-change="DistrictChange(license.License_Fk.DistrictId)" class="floating-select" style="width:100%"><option value="" hidden class="" selected="selected">[--Chọn Quận/Huyện--]</option></select>
                            </div>
                            <div class="col-md-4">
                                <label>Xã/Phường :</label>
                                <select ng-options="opt.Id as opt.CommuneName for opt in Communes" ng-model="license.License_Fk.CommuneId" class="floating-select" style="width:100%"><option value="" hidden class="" selected="selected">[--Chọn Xã/Phường--]</option></select>
                            </div>
                            <div class="col-md-9">
                                <label> Địa điểm công trình </label>
                                <input type="text" class="floating-input w-100" placeholder=" " ng-model="license.Construction.ConstructionLocation">
                            </div>
                            <div class="col-md-3">
                                <label> Năm bắt đầu vận hành </label>
                                <input type="text" class="floating-input w-100" placeholder=" " ng-model="license.Construction.StartDate">
                            </div>
                            <div class="col-md-6">
                                <label> Vĩ độ </label>
                                <input type="text" class="floating-input w-100" placeholder=" " ng-model="license.Construction.X">
                            </div>
                            <div class="col-md-6">
                                <label> Kinh độ </label>
                                <input type="text" class="floating-input w-100" placeholder=" " ng-model="license.Construction.Y">
                            </div>
                            <div class="col-md-6">
                                <label> Vị trí xả thải </label>
                                <input type="text" class="floating-input w-100" placeholder=" " ng-model="license.Construction.ConstructionDetailLocation">
                            </div>
                            <div class="col-md-6">
                                <label> Nguồn tiếp nhận nước thải </label>
                                <input type="text" class="floating-input w-100" placeholder=" " ng-model="license.Construction.DischargeWS">
                            </div>
                            <div class="col-md-6">
                                <label> Phương thức xả nước thải </label>
                                <input type="text" class="floating-input w-100" placeholder=" " ng-model="license.Construction.DischargeMethod">
                            </div>
                            <div class="col-md-6">
                                <label> Chế độ xả nước thải </label>
                                <input type="text" class="floating-input w-100" placeholder=" " ng-model="license.Construction.DischargeMode">
                            </div>
                            <div class="col-md-6">
                                <label> Lưu lượng xả trung bình m3/ngày đêm </label>
                                <input type="text" class="floating-input w-100" placeholder=" " ng-model="license.Construction.AverageDischargeFlow">
                            </div>
                            <div class="col-md-6">
                                <label> Lưu lượng xả lớn nhất m3/ngày đêm </label>
                                <input type="text" class="floating-input w-100" placeholder=" " ng-model="license.Construction.MaximumWasteWaterFlow">
                            </div>
                            <div class="col-md-6">
                                <label> Chất lượng nước thải, hệ số Kq và Kf </label>
                                <input type="text" class="floating-input w-100" placeholder=" " ng-model="license.Construction.KqKf">
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="col-12 border border-secondary p-2 mb-2 background-color bg-lightgray">
                        <legend class="font-18 font-weight-bold text-primary" style="width: auto">VỊ TRÍ CÁC HẠNG MỤC CHÍNH CỦA CÔNG TRÌNH KHAI THÁC SỬ DỤNG NƯỚC</legend>
                        <div class="mb-2 p-0">
                            <div class="table-responsive">
                                <table class="table table-sm table-bordered">
                                    <thead>
                                        <tr>
                                            <th class="text-center align-middle font-13" rowspan="2">TT</th>
                                            <th class="text-center align-middle font-13" rowspan="2">Điểm xả thải</th>
                                            <th colspan="2" class="text-center align-middle font-13">Tọa độ (VN2000)</th>
                                            <th colspan="2" class="text-center align-middle font-13">Tọa độ (WGS84)</th>
                                            <th rowspan="2" class="text-center align-middle font-13" style="width:50px">
                                                <button title="Tạo mới hạng mục" type="button" ng-click="AddConstructionItem()" class="w-100 d-flex center-center btn btn-link btn-sm">
                                                    Thêm
                                                </button>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th class="text-center align-middle font-13">X</th>
                                            <th class="text-center align-middle font-13">Y</th>
                                            <th class="text-center align-middle font-13">X</th>
                                            <th class="text-center align-middle font-13">Y</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in license.Construction.ConstructionItems">
                                            <th class="text-center align-middle font-13" ng-bind-html="$index"></th>
                                            <td style="min-width: 250px;"><input type="text" name="tenhangmuc" class="floating-input w-100" ng-model="item.Name"></td>
                                            <td style="min-width: 100px;"><input type="number" name="x" class="floating-input w-100" ng-model="item.X"></td>
                                            <td style="min-width: 100px;"><input type="number" name="y" class="floating-input w-100" ng-model="item.Y"></td>
                                            <td style="min-width: 100px;"><input type="number" name="lat" class="floating-input w-100" ng-model="item.Lng"></td>
                                            <td style="min-width: 100px;"><input type="number" name="long" class="floating-input w-100" ng-model="item.Lat"></td>
                                            <td class="text-center align-middle">
                                                <button type="button" ng-click="RemoveConstructionItem($index, item)" class="center-center text-danger btn btn-link btn-sm">
                                                    <i class="fa fa-trash text-danger"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-cancel" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-addnew" data-dismiss="modal"><i class="fa fa-fw fa-save"></i>&nbsp;Lưu</button>
            </div>
        </div>
    </div>
</div>