<div class="modal fade addnew-windows" id="addNewConsName" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-horizontal">
                    <input type="hidden" ng-model="license.TypeOfConstructionId" />
                    <fieldset class="col-12 border border-secondary p-2 mb-2 background-color bg-lightgray">
                        <legend class="font-18 font-weight-bold text-primary" style="width: auto">THÔNG TIN CÔNG TRÌNH</legend>
                        <div class="row col-12 m-0 p-0">
                            <div class="col-md-6">
                                <label class="font-13">Loại công trình<sup class="text-danger font-13">*</sup></label>
                                <div class="floating-label w-100">
                                    <select ng-options="opt.Id as opt.TypeName for opt in TypeOfConstructions" ng-model="Id" ng-change="changeTypeOfCons(Id, false)" class="floating-select w-100">
                                        <option value="" hidden>-- Chọn loại công trình --</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label class="font-13">Tên công trình<sup class="text-danger font-13">*</sup></label>
                                <input class="floating-input w-100 text-left" type="text" placeholder="Tên công trình" ng-model="license.Construction.ConstructionName" />
                            </div>
                            <div class="col-md-4">
                                <label class="font-13">Tỉnh</label>
                                <select ng-options="opt.Id as opt.CityName for opt in Provinces" ng-model="license.Construction.ProvinceId" ng-change="ProvinceChange(license.Construction.ProvinceId)" class="floating-select" style="width:100%"><option value="" class="" selected="selected">[--Chọn Tỉnh/TP--]</option><option label="Tỉnh Sơn La" value="number:1">Tỉnh Sơn La</option></select>
                            </div>
                            <div class="col-md-4">
                                <label class="font-13">Quận/Huyện</label>
                                <select ng-options="opt.Id as opt.DistrictName for opt in Districts" ng-model="license.Construction.DistrictId" ng-change="DistrictChange(license.Construction.DistrictId)" class="floating-select" style="width:100%"><option value="" hidden class="" selected="selected">[--Chọn Quận/Huyện--]</option></select>
                            </div>
                            <div class="col-md-4">
                                <label class="font-13">Xã/Phường</label>
                                <select ng-options="opt.Id as opt.CommuneName for opt in Communes" ng-model="license.Construction.CommuneId" class="floating-select" style="width:100%"><option value="" hidden class="" selected="selected">[--Chọn Xã/Phường--]</option></select>
                            </div>
                            <div class="col-md-9">
                                <label class="font-13"> Địa điểm công trình </label>
                                <input type="text" class="floating-input w-100" placeholder="Địa điểm công trình" ng-model="license.Construction.ConstructionLocation">
                            </div>
                            <div class="col-md-3">
                                <label class="font-13"> Năm bắt đầu vận hành </label>
                                <input type="text" class="floating-input w-100" placeholder="Năm bắt đầu vận hành" ng-model="license.Construction.StartDate">
                            </div>
                            <div class="col-md-6">
                                <label class="font-13"> Vĩ độ </label>
                                <input type="text" class="floating-input w-100" placeholder="Vĩ độ" ng-model="license.Construction.X">
                            </div>
                            <div class="col-md-6">
                                <label class="font-13"> Kinh độ </label>
                                <input type="text" class="floating-input w-100" placeholder="Kinh độ" ng-model="license.Construction.Y">
                            </div>
                            <div class="col-md-6">
                                <label class="font-13"> Lưu vực sông </label>
                                <select class="floating-select" style="width:100%" ng-model="license.Construction.RiverId">
                                    <option value="" hidden class="" selected="selected">[--Chọn sông--]</option>
                                    <option value="136" class="">Sông Mã</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label class="font-13"> Tiểu vùng quy hoạch </label>
                                <select ng-options="opt.Id as opt.Name for opt in Basins" ng-model="license.Construction.BasinId" ng-change="changeBasinAddNew(license.Construction.BasinId)" class="floating-select" style="width:100%"><option value="" hidden class="" selected="selected">[--Chọn lưu vực--]</option></select>
                            </div>
                            <div class="col-md-6">
                                <label class="font-13"> Nguồn nước khai thác </label>
                                <input type="text" class="floating-input w-100" placeholder="Nguồn nước khai thác" ng-model="license.Construction.ExploitedWS">
                            </div>
                            <div class="col-md-6">
                                <label class="font-13"> Phương thức khai thác </label>
                                <input type="text" class="floating-input w-100" placeholder="Phương thức khai thác" ng-model="license.Construction.MiningMethod">
                            </div>
                        </div>
                    </fieldset>
                    <fieldset ng-if="Id == 4 || Id == 5 || Id == 13 || Id == 6" class="col-12 border border-secondary p-2 mb-2 background-color bg-lightgray">
                        <legend class="font-18 font-weight-bold text-primary" style="width: auto">THÔNG SỐ CÔNG TRÌNH</legend>
                        <div class="row col-12 P-0 m-0">

                            <div ng-if="Id == 4 || Id == 5" class="row col-md-12 m-0 p-0">
                                <div class="col-md-6">
                                    <label class="font-13"> Công suất </label>
                                    <input type="text" class="floating-input w-100" placeholder="Công suất" ng-model="license.Construction.Power">
                                </div>
                                <div class="col-md-6">
                                    <label class="font-13"> Chiều cao đập </label>
                                    <input type="text" class="floating-input w-100" placeholder="Chiều cao đập" ng-model="license.Construction.DamHeight">
                                </div>
                                <div class="col-md-6">
                                    <label class="font-13"> Lưu lượng tối đa </label>
                                    <input type="text" class="floating-input w-100" placeholder="Lưu lượng tối đa" ng-model="license.Construction.MaximumFlow">
                                </div>
                                <div class="col-md-6">
                                    <label class="font-13"> Lưu lượng tối thiểu </label>
                                    <input type="text" class="floating-input w-100" placeholder="Lưu lượng tối thiểu" ng-model="license.Construction.MinimumFlow">
                                </div>

                                <div ng-if="Id == 4" class="col-md-12 m-0 p-0 row">
                                    <div class="col-md-6">
                                        <label class="font-13"> Mực nước chết </label>
                                        <input type="text" class="floating-input w-100" placeholder="Mực nước chết" ng-model="license.Construction.DeadWL">
                                    </div>
                                    <div class="col-md-6">
                                        <label class="font-13"> Mực nước dâng bình thường </label>
                                        <input type="text" class="floating-input w-100" placeholder="Mực nước dâng bình thường" ng-model="license.Construction.RiseWL">
                                    </div>
                                    <div class="col-md-6">
                                        <label class="font-13"> Mực nước lũ thiết kế </label>
                                        <input type="text" class="floating-input w-100" placeholder="Mực nước lũ thiết kế" ng-model="license.Construction.DesignFloodLevel">
                                    </div>
                                    <div class="col-md-6">
                                        <label class="font-13"> Mực nước lũ kiểm tra </label>
                                        <input type="text" class="floating-input w-100" placeholder="Mực nước lũ kiểm tra" ng-model="license.Construction.CheckFloodWL">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <label class="font-13"> Dung tích toàn bộ </label>
                                    <input type="text" class="floating-input w-100" placeholder="Dung tích toàn bộ" ng-model="license.Construction.TotalCapacity">
                                </div>
                                <div class="col-md-6">
                                    <label class="font-13"> Dung tích hữu ích </label>
                                    <input type="text" class="floating-input w-100" placeholder="Dung tích hữu ích" ng-model="license.Construction.UsefulCapacity">
                                </div>
                            </div>

                            <div ng-if="Id == 6" class="row col-md-12 m-0 p-0">
                                <div class="col-md-6">
                                    <label class="font-13"> Số máy bơm </label>
                                    <input type="text" class="floating-input w-100" placeholder="Số máy bơm" ng-model="license.Construction.PumpNumber">
                                </div>
                                <div class="col-md-6">
                                    <label class="font-13"> Qtk(m3/ngày đêm) </label>
                                    <input type="text" class="floating-input w-100" placeholder="Qtk(m3/ngày đêm)" ng-model="license.Construction.PumpDesignFlow">
                                </div>
                                <div class="col-md-6">
                                    <label class="font-13"> Qmax (m3/ngày đêm) </label>
                                    <input type="text" class="floating-input w-100" placeholder="Qmax (m3/ngày đêm)" ng-model="license.Construction.PumpMaxFlow">
                                </div>
                                <div class="col-md-6">
                                    <label class="font-13"> Mực nước bể hút  </label>
                                    <input type="text" class="floating-input w-100" placeholder="Mực nước bể hút " ng-model="license.Construction.SuctionTankWL">
                                </div>
                            </div>
                            <div ng-if="Id == 13" class="row col-md-12 m-0 p-0">
                                <div class="col-md-6">
                                    <label class="font-13"> Cao trình cống </label>
                                    <input type="text" class="floating-input w-100" placeholder="Cao trình cống" ng-model="license.Construction.DrainElevation">
                                </div>
                                <div class="col-md-6">
                                    <label class="font-13"> Chiều dài cống </label>
                                    <input type="text" class="floating-input w-100" placeholder="Chiều dài cống" ng-model="license.Construction.DrainLength">
                                </div>
                                <div class="col-md-6">
                                    <label class="font-13"> Đường kính (m) </label>
                                    <input type="text" class="floating-input w-100" placeholder="Đường kính (m)" ng-model="license.Construction.DrainDiameter">
                                </div>
                                <div class="col-md-6">
                                    <label class="font-13"> Kích thước (rộng * cao)  </label>
                                    <input type="text" class="floating-input w-100" placeholder="Kích thước (rộng * cao) " ng-model="license.Construction.DrainSize">
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="col-12 border border-secondary p-2 mb-2 background-color bg-lightgray">
                        <legend class="font-18 font-weight-bold text-primary" style="width: auto">VỊ TRÍ CÁC HẠNG MỤC CỦA CÔNG TRÌNH</legend>
                        <div class="mb-2 p-0">
                            <div class="table-responsive">
                                <table class="table table-sm table-bordered">
                                    <thead>
                                        <tr>
                                            <th class="text-center align-middle font-13" rowspan="2">TT</th>
                                            <th class="text-center align-middle font-13" rowspan="2">Hạng mục</th>
                                            <th colspan="2" class="text-center align-middle font-13">Tọa độ (VN2000)</th>
                                            <th colspan="2" class="text-center align-middle font-13">Tọa độ (WGS84)</th>
                                            <th rowspan="2" class="text-center align-middle font-13" style="width:50px">
                                                <button title="Tạo mới hạng mục" type="button" ng-click="AddConstructionItem()" class="w-100 d-flex center-center btn btn-link btn-sm">
                                                    Thêm
                                                </button>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th class="text-center align-middle font-13">X</th>
                                            <th class="text-center align-middle font-13">Y</th>
                                            <th class="text-center align-middle font-13">X</th>
                                            <th class="text-center align-middle font-13">Y</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in license.Construction.ConstructionItems">
                                            <th class="text-center align-middle font-13" ng-bind-html="$index+1"></th>
                                            <td style="min-width: 250px;"><input type="text" placeholder="Tên hạng mục" class="floating-input w-100" ng-model="item.Name"></td>
                                            <td style="min-width: 100px;"><input type="number" placeholder="X(VN2000)" class="floating-input w-100" ng-model="item.X"></td>
                                            <td style="min-width: 100px;"><input type="number" placeholder="Y(VN2000)" class="floating-input w-100" ng-model="item.Y"></td>
                                            <td style="min-width: 100px;"><input type="number" placeholder="X(WGS84)" class="floating-input w-100" ng-model="item.Lng"></td>
                                            <td style="min-width: 100px;"><input type="number" placeholder="Y(WGS84)" class="floating-input w-100" ng-model="item.Lat"></td>
                                            <td class="text-center align-middle">
                                                <button type="button" ng-click="RemoveConstructionItem($index, item)" class="center-center text-danger btn btn-link btn-sm">
                                                    <i class="fa fa-trash text-danger"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-cancel" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-addnew" data-dismiss="modal"><i class="fa fa-fw fa-save"></i>&nbsp;Lưu</button>
            </div>
        </div>
    </div>
</div>