/*
 *
 *
 */

 /* Reset CSS*/
 *{font-family:"Segoe UI","Segoe UI Web Regular","Segoe UI Symbol","Helvetica Neue","BBAlpha Sans","S60 Sans",Arial,sans-serif;}
 
/* body */
body{background:white; line-height:0px;}
/* end body*/

#WebPartAdderUpdatePanelContainer{position:fixed !important;bottom:30px !important;z-index:999;}
.div-block{display:block !important;}    
.div-hide{display:none !important;}
.img-circle{height:32px !important;width:32px;}
ul.dropdown-menu li{height:30px;}
ul.dropdown-menu li a{font-family:Arial, Segoe UI, sans-serif;color:#000000 !important;font-size:13px;}
ul.dropdown-menu i{font-size:16px;}
.page-logo a, .page-logo a img{height:40px;display:inline-block;margin:0px !important;} 
.page-logo a img[src='']{width:40px;}
.page-header{height:40px !important;min-height:40px !important;}

/* Welcome bar*/
.dropdown-extended{width:48px;}    
.dropdown-extended a{height:46px;}    
.welcomebar-detail > li > span{font-family:"Segoe UI", Arial;
}
/*End welcome bar*/

/* side bar*/
.ctrl-sidebar-search{width:200px;}
@media(max-width:992px){
.ctrl-sidebar-search{width:auto;}
}
.sidebar-search-closed .ctrl-sidebar-search{width:35px;margin-left:-20px;}
.sidebar-search-closed .ctrl-sidebar-search input{display:none;}  
.sidebar-search-closed .ctrl-sidebar-search .input-group-btn{width: 35px;height:34px;display: block;z-index: 6666;background: #3B6992;}
.sidebar-search-closed .sidebar-search-btn a{width:100%;height:100%;}
 
#SidebarSearchButton a i{margin-left:8px;}
/*end side bar*/

/*header*/
.switch-app{display:inline-block;float:left;height:40px;width:45px;}
.switch-app>a{width:100%;height:100%;display:block;padding:12px}
.switch-app>a>i{font-size:20px;color:#fff}
.switch-app-list{width:100%;height:auto;padding:20px;display:inline-block;position:absolute;z-index:1000000;background:#000}    
.switch-app-list-closed{width:100%;height:0px;display:none;background:white;position:absolute;z-index:0;}  

.page-header.navbar .page-logo
{
    padding-left:5px !important;
    }

.hor-menu-dropstyle .dropdown-menu > li
{
    height:50px;
    display:block;
    }
.hor-menu-dropstyle .dropdown-menu > li > a
{
    height:100%;
    padding-top:14px !important;
    }

.hor-menu-dropstyle .dropdown-menu li a i
{
    font-size:24px;
    }
    
.dropdown-submenu li
{
    height:36px !important;
    line-height:36px !important;
    }

.page-header.navbar .hor-menu .navbar-nav > li > a
{
    height:40px !important;
    }

/*end header*/

/* begin footer */
.page-footer
{
    height:26px;
    line-height:26px !important;
    padding:0px !important;
    }
    
.page-footer-tools, .page-footer-tools ul
{    
    margin: 0px;
    height: 26px;
	padding:0;
    }
.page-footer-tools
{
    margin-top: 0px;
    text-align:right;
    margin-right:20px !important;
    }
    
.page-footer-tools ul li
{
    display:inline-block;
    cursor:pointer;
    }
 .page-footer-tools ul li span
 {
     margin:0px !important;     
     height:26px;
     width:26px;
     display:block;
     text-align:center;
     vertical-align:middle;
     }
 .page-footer-tools ul li span i
 {
     font-size:16px !important;
     margin-top:5px;
     }
     
.setting-dialog
{
    width: 180px;
    height: 200px;
    position: fixed;
    margin: auto;
    bottom: 33px;
    right:15px;
    }
    
.theme-colors span
{
    width: 100% !important;
    text-align: left;
    padding:5px;
    }
    
.theme-colors ul
{
    width:100%;
    height:auto;
    display:inline-block;
    padding:0px;
    }
.theme-colors ul li
{
    width:30px;
    height:30px;
    display:block;
    margin:5px;
    float:left;
    }
    
.theme-color-1
{
    background:pink;
    }
    
.theme-color-2
{
    background:pink;
    }
    
.theme-color-3
{
    background:pink;
    }
    
.theme-color-4
{
    background:pink;
    }
    
.theme-color-5
{
    background:pink;
    }
    
.theme-color-6
{
    background:pink;
    }

.theme-color-7
{
    background:pink;
    }

.theme-color-8
{
    background:pink;
    }
  
/* end footer*/


@media (max-width: 991px)
{
    .nav-colapsed
    {
        display:block;
        }
        
    .nav-expanded
    {
        display:none;
        }
    .page-content
    {
        height:auto !important;
        /*overflow:inherit;*/
        }
}
    
/* Fix panel */    
.action-bar-wrapper{width:100%;height:40px;max-height:40px;display:block;}    
 /* Action bar*/ 
 .action-bar
 {
     width:auto;
     height:40px;
     background:inherit; 
     padding:0px;
     padding-left:10px;
	 margin:0px;
}
 .action-bar>.btn-group>.btn{
     padding: 5px 8px;border-radius:2px!important
 }    
 .action-bar li
 {
    list-style:none;
    float:left;
    display:inline-block;
    height:40px;
    line-height:40px;
    padding:5px;
     }
         
 .page-sidebar
 {
     z-index:10;
}
 
 .child-action
 {
     margin-top:-8px;
     }  
 .child-action li
 {
     width:100% !important;
     }  

     /* Fix Css */
.ms-inputuserfield
{
    height:42px !important;
    line-height:42px !important;
    }
    
.ms-dlgFrameContainer
{
    overflow:none !important;
    }
@media (min-width: 991px)
{
    .action-bar-wrapper
    {         
        position: fixed;  
        }
}
  
@media (max-width: 991px)
{
    .action-bar-wrapper
    {         
        position: relative;  
        margin-left:0px !important;
        }
} 
/* end layout */

/* fix popup */
.popup-container
{
    width:100%;
    height:100%;
    display:block;
    background:white;
    margin:0px;
    }

.popup-footer
{
    height:30px;
    width:100%;
    display:block;
    background:pink;
    bottom:0px;   
    position:fixed;     
    }
    
.popup-action-bar
{
    height:44px;
    width:100%;
    display:block;
    border-bottom:solid 1px #CED7E7;
    top:0px;   
    position:fixed;     
    }
 .bottom-action-bar   
 {
     display:block;
     left:0;right:0;
     height:50px;
     border-top:solid 1px #E5E5E5;
     background:#F5F5F5;
     position:fixed;
     bottom:0px;
     padding-top:12px;
     padding-right:25px;
     text-align:right;
     z-index:9999;
     }
 
    
.popup-page-content
{
    width:100%;
    height:auto;
    top:44px;
    background:white;
    position:fixed;
    }
    
.popup-page-content2
{position:relative;
    width:100%;
	padding:10px;
    height:auto;
    top:0px;
    bottom:51px;
    background:white;
    }
    
.go-top-popup
{
    position:fixed;
    bottom:50px;
    left:20px;
    width:32px;
    height:32px;
    display:block;
    background:#CED7E7;
    opacity:0.5;
    padding:7px;
    }
.go-top-popup:hover, .change-layout-popup:hover
{
    opacity:1;
    cursor:pointer;
    }
.go-top-popup i, .change-layout-popup i
{
    font-size:18px;
    }
 .change-layout-popup
 {
    position:fixed;
    bottom:50px;
    left:60px;
    width:32px;
    height:32px;
    display:block;
    background:#CED7E7;
    opacity:0.5;
    padding:7px;
     }   
    
.tool-bar-popup
{
    position:fixed;
    top:5px;
    right:20px;
    height:40px;
    }
 
.ms-dlgBorder
{
    border:none !important;
    }
    
/* end popup*/

/* form */
.row-fluid
{
    margin-left:0px !important;
    margin-right:0px !important;
    margin-top: 0px !important;
    }
.row-fluid [class*="span"]{
	margin-left:0px!important;
}
.row-fluid .span6{
	width:50%!important;
}
select
{
    border:solid 1px #7CACFA !important;
    }

.btn {text-decoration:none !important; line-height:20px !important;}
.btn-sm{height:26px !important;line-height:26px !important;font-size:13px; color:white !important;border-radius:2px !important;min-width:70px !important;padding-top:2px !important;}
.btn-sm i{font-size:16px !important;margin-left: -7px; top:2px !important;}

/* Form layouts*/

.form-horizontal{padding:12px 8px 12px 8px;}
div.form-horizontal, .input-sm, label{font-family:Arial, Segoe UI, sans-serif;font-size:13px !important; }
div.form-horizontal .form-control-static
{
    padding-top:0px !important;
    padding-bottom:0px !important;
    height:24px;
    line-height:24px;
    margin:0px;
    }

.page-header.navbar .top-menu .navbar-nav > li.dropdown-language > .dropdown-toggle
{
    padding:0px 2px 0px 2px !important;
    height:40px;
    line-height:40px;
    }
.navbar .dropdown-toggle
{    
    padding: 8px !important;
    height: 40px !important;
    width: auto;
    vertical-align:middle;
    }

.input-sm
{
    height:24px !important;
    min-height:24px !important;
    line-height:24px !important;
    padding:0px 5px !important;
    }

    
div.form-horizontal label
{
    color:Black; 
    min-height:24px !important;
    line-height:24px !important;
    padding:0px !important;
    margin-top:0px;
    }
/*fix checkbox-list*/
div.form-horizontal .checkbox-list label
{
    height:auto !important;
}    
    
.control-group
{
    margin:0px;
    padding-top:2px;
    padding-bottom:2px;
    border-bottom:1px dotted #EEEEEE;
    }
.input-icon > .form-control
{
padding-left:28px !important;
    }
    
.right > .form-control  
{
    padding-right:28px !important;
    padding-left:5px !important;
    }
    
.input-icon > i
{
	margin: 5px!important;
    }
.input-icon.right > i
{
    right:0px !important;
    }
.datepick, timepicker
{
    width:120px !important;
    }
 .datepick
 {
     display:inline-block;
 }
.datepicker-switch
{
    font-size:14px;
    font-family:Arial, Segoe UI, sans-serif;
    color:Black !important;
    font-weight:bold !important;
    }
    
td.day
{
    font-family:Arial, Segoe UI, sans-serif !important;
    font-size:14px;
    }
input.datetimepicker
{
    width:160px !important;
    } 
  
textarea, .tagsinput{border:solid 1px #7CACFA !important; font-family:Arial}

textarea
{
    padding:0px 5px !important;
    font-size:13px !important;
    border:solid 1px #7CACFA !important;
    }

.input-append .add-on, .input-prepend .add-on{
	padding: 2px 3px !important;
	border:solid 1px #7CACFA !important;
}
.input-square{
	width:228px;
}  
.tagsinput 
{
	padding:1px 2px !important;
}
 .colspan2{
	width:50% !important;
}
 .colspan3{
	width:75% !important;
}
 .colspan4{
	width:100% !important;
}
.control-group label{
	margin-bottom:0px;
}
/*combobox*/
.input-group-addon
{
    width:24px !important;
    min-width:24px !important;
    padding:0px;
    border:solid 1px #7CACFA !important;
    background: #E9F1FC !important;
    border-left:none !important;
    }
.input-group-addon i
{
    color:#4A5473 !important;
    }
    
.input-group-addon:hover .input-group-addon i
{
    color:#3C8DBC !important;
    }
/* end combobox*/


input[type=text], input[type=password]
{
    border:solid 1px #7CACFA;
    }
 
input[type=text]:hover, input[type=password]:hover
{
    border:solid 1px #305090;
    }   
input[type=text]:focus, input[type=password]:focus
{ 
    border:solid 1px #305090;
    }

.input-icon input[type=text]:focus .input-icon i
{
    color:Red;
    }
.input-icon i
{
    color:#7CACFA !important;
    }
    
.input-group-addon .fa-sort-down
{
    margin-top:-4px;
    }
   
.radio-inline label
{
    text-align:left;
    height:24px !important;
    line-height:24px !important;
    }
 
.btn-w
{
    min-width:70px !important;
    }
.no-responsive .control-group
{
    margin:0px;
    padding:2px 4px 3px 4px !important;
    } 
 
.no-responsive .control-group label
{
    width:30% !important;
    display:inline-block !important;
    text-align:right;
    margin-bottom:0px !important;
    min-height:24px;
    line-height:24px;
    }

.no-responsive .control-group > div
{
    display:inline-block !important;
    width:68%;
    }
    
.no-responsive .control-group .radio-list label
{
    margin-bottom:0px !important;
    text-align:left;
    }
/* control size*/
.ctrl-120
{
    width:120px;
    }

.ctrl-160
{
    width:200px;
    }

.ctrl-200
{
    width:120px;
    }

.ctrl-240
{
    width:240px;
    }

.ctrl-280
{
    width:280px;
    }

.ctrl-320
{
    width:320px;
    }

.ctrl-360
{
    width:360px;
    }

.ctrl-400
{
    width:400px;
    }

.ctrl-440
{
    width:440px;
    }

.ctrl-480
{
    width:480px;
    }

.ctrl-520
{
    width:520px;
    }

.ctrl-560
{
    width:560px;
    }
.ctrl-600
{
    width:600px;
    }
.ctrl-640
{
    width:640px;
    }

.ctrl-720
{
    width:720px;
    }
    
.ctrl-760
{
    width:760px;
    }
    
.ctrl-800
{
    width:800px;
    }

.submit-error
{
    font-size:12px;
    }
    
.submit-error div
{
    margin-top:10px;
    }
    
.required-flag{
    padding-left:2px;
    color:Red;
    }
/* Datatable */
.table > tbody > tr{border:solid 1px #E2E2E2 !important; border-left:none !important; border-right:none !important;}
.table > tbody > tr:nth-child(even) {background: #fff;}
.table > tbody > tr:nth-child(odd) {background: #fff;}
.table > tbody > tr > td{font-family:"Segoe UI", Arial;font-size:12px;padding-left: 7px;background:inherit !important;}
.table > tbody > tr:hover{
	background:#F5FBFF !important;
	border-top:solid 1px #91CDF2 !important;
	border-bottom:solid 1px #91CDF2 !important;
}

.table > tbody > tr > td > span{padding-left:3px;}
.table > tbody > tr.tr-selected{background:#3875D7;border-top:solid 1px #3875D7;border-bottom:solid 1px #3875D7;color:#fff !important;}
.table > thead{}
.table > thead > tr > th:hover{background:#F1F1F1;border-left:solid 1px #E2E2E2;}
.table > thead > tr > th.th-checkall{width:28px;}
.table > thead > tr > th{font-family: Segoe UI, Arial; font-size: 14px;font-weight: bold;padding-left: 7px; border-left:solid 1px inherit;}   
/* End datatable */

/* portlet */
.portlet-full-screen{	
    width: 100% !important;
    height: 100% !important;
    display: block !important;
    position: fixed !important;
    top: 0px !important;
    left: 0px !important;
    z-index: 9999 !important;
}
/*end portlet*/
	
/* kypv*/
/* mutiselect ,select2*/
.select2-container .select2-choice .select2-arrow b{background:url('/_layouts/tandan/assets/global/plugins/select2/select2.png') no-repeat scroll 3px -1px transparent !important;}
.select2-container .select2-choice abbr{right:26px; top:6px;}
.select2-choice, .select2-chosen{height:24px !important;line-height:24px;font-size:12px;font-family:Segoe UI;}
.select2-choices{margin-left:-6px !important; margin-right:6px !important; border:solid 1px #7CACFA !important; padding:0px !important;}
.select2-container{margin-left:6px !important;}
.select2-choice{background:white !important;border:solid 1px #7CACFA !important;}    
.select2-arrow{width:24px;min-width:24px !important;height:24px;border:none;border-left:solid 1px #7CACFA !important;}
.select2-search{margin-top:5px !important;} 
.select2-input{height:24px !important;min-height:24px !important;max-height:24px !important;}
.ms-optgroup-label{font-weight:bold;}
.select2-search-choice{margin:2px;background:#E5E5E5;border:solid 1px #E5E5E5;}
.ms-selectable span,.ms-selection span
{
    font-size:12px;
    color:Black !important;
}
.select2-search-field, .select2-search-choice, .select2-results
{
    font-size:12px;
}
.ms-selected
{
    background:#ffffff !important;
}
.ms-hover,.ms-selected:hover
{
    background-color:#08c  !important;
}
.ms-hover span,.ms-selected:hover span
{
    color:White !important;
}
/* Radiolist, CheckBoxlist*/
.td-radiolist label,.td-checkboxlist label
{
    margin-left:8px;
}
.td-radiolist input,.td-radiolist-inline input,
.td-checkboxlist input,.td-checkboxlist-inline input
{
    margin:0px;
}
.td-radiolist-inline label,.td-checkboxlist-inline label
{
    margin-left:8px;
}
.td-radiolist-inline td,.td-checkboxlist-inline td
{
    padding:0px 20px 0px 0px !important;
}
.control-group>div>.radio,.control-group>div>.checker{display:none}
@media (max-width: 992px){
	.sm-align-left.control-label{text-align:left}
}
@media (max-width: 768px){
	.xs-align-left.control-label{text-align:left}
	.form-horizontal .row-fluid .row-fluid .control-label{margin-left:15px}
	.form-horizontal .row-fluid .row-fluid .row-fluid .control-label{margin-left:30px}
	.form-horizontal .repeat{padding-bottom: 32px;padding-left:6px}
	.form-horizontal .repeat>.row-fluid>div>div>div{padding-left:26px}
}
@media (min-width: 992px){.form-horizontal .col-md-12>.control-group>.control-label{width:12.555%}}
.control-group .rep-tbl input[ctype='TextBox']{border:0}
.control-group .rep-tbl .input-group-addon{border:0!important;background:#f8f8f8!important}
.control-group .rep-tbl input[ctype='combobox']{
	border:0;border-right:1px #bfbfbf solid
}
table.ms-ToolPaneOuter{margin-top:80px;margin-bottom:24px;}

.i-green{color:green;}
.i-red{color:Red;}
.cell-level-1{padding-left:5px !important;}
.cell-level-2{padding-left:20px !important;}
.cell-level-3{padding-left:35px !important;}
.cell-level-4{padding-left:50px !important;}
.cell-level-5{padding-left:65px !important;}
.cell-level-6{padding-left:80px !important;}
.cell-level-7{padding-left:95px !important;}
.cell-level-8{padding-left:110px !important;}
.cell-level-9{padding-left:125px !important;}
.cell-level-10{padding-left:140px !important;}
/* js tree*/
.jstree-anchor{	font-family:"Segoe UI", Arial;font-size:12px;}
.jstree-anchor:visited{}
/* fix for loading box*/
.loading-message{color:#35AA47 !important; border:solid 1px #35AA47; background:white; min-width:200px !important;}

/*pvky*/
.tiles
{
    margin-right:0px !important;
    padding-left: 10px;
}
.pickcolor-sm
{
    height:24px !important;
    line-height:24px !important;
    min-width: 30px !important;
}
.row-fluid-red
{
    background-color:rgb(255, 87, 87);
}
.row-fluid-blue
{
    background-color:rgb(139, 184, 255);
}