/***
default theme
***/

/***
	for Login pages - edited by AnhND
***/
#s4-simple-card{
	width:400px !important;
	margin-top:40px !important;
}
#s4-simple-content{
	margin-left:0px !important;
}

#s4-simple-content #LoginLabel{
	font-family:Segoe UI;
	font-size:32px;
	color:#0072C6;
	margin-left:20px;
	height:48px;
	line-height:48px;
}

/***
Reset and overrides  
***/
body { 
  background-color:#F4F5F6 !important;
}

/***
Page header
***/
.header .navbar-inner {
  filter:none !important;
  background-image: none !important;
  background-color: #0072C6 !important;
  border-bottom:solid 1px #2A4053;
}

.header .btn-navbar {  
  background-color: #005798 !important;
  padding:8px 0px;
}

.btn-navbar img {  
  background-color: #fff !important;
}  

.header .nav .dropdown-toggle:hover, 
.header .nav .dropdown.open .dropdown-toggle {
  background-color: #005798 !important;
}

.header .nav li.dropdown .dropdown-toggle i {
  color: #EEEEEE !important;
}

/***
Page sidebar
***/
.page-sidebar>ul li>a {
  border-top: 1px solid #C8D5E2 !important;
  color: #0072C6 !important;
  font-family:"Segoe UI";
}
.page-sidebar>ul .sub li>a {
  border:none!important
}


.page-sidebar ul li:last-child a {
   border-bottom: 1px solid transparent !important;
}

.page-sidebar ul li a i {
   color: #808080;
}

.page-sidebar ul li.has-sub.open ul li a{
	background:#fff;
	border-top: 1px solid #F8 !important;
}
.page-sidebar ul li.has-sub.open>a,
.page-sidebar ul li a:hover, 
.page-sidebar ul li:hover>a {  
  background: #D9EFFD;
}

.page-sidebar ul li.active a {
  background: #0072C6 !important;  
  border-top-color: transparent !important;
  color:#FFFFFF;
}  

.page-sidebar ul li.active a i {
  color:#FFFFFF;
}

.page-sidebar ul li a.open {
  background: #FFFFFF;
}

.page-sidebar ul li a .arrow:before,
.page-sidebar ul li a .arrow.open:before {  
   color: #4D90FE !important;
}

.page-sidebar ul li.active a .arrow:before,
.page-sidebar ul li.active a .arrow.open:before {  
   color: #4D90FE !important;
}

.page-sidebar ul li ul.sub li a {
  color:#444444;
  font-size:16px;
  margin-left:0px;  
  padding-left: 3px; 
}

.page-sidebar ul li ul.sub li:first-child a {
  border-top: 0px !important;
}

.page-sidebar ul li ul.sub li.active a, 
.page-sidebar ul li ul.sub li a:hover {
  color: #0072C6335B7E335B7E335B7E !important;
  background: #D9EFFD !important;  
}

.page-sidebar ul li ul.sub li a:hover {
  background: #D9EFFD !important;
}

.page-sidebar .sidebar-search input{
  background-color: #F4F5F6  !important;  
  color: #bababa !important;
}

.page-sidebar .sidebar-search .input-box {
  border-bottom-color: #959595  !important;
}

/* search box bg color on expanded */
.sidebar-closed .page-sidebar .sidebar-search.open {
  background-color: #F4F5F6 !important;
}

.sidebar-closed .page-sidebar .sidebar-search.open .remove {  
  background-image: url("../img/sidebar-search-close.png");
}

/* sub menu bg color on hover menu item */
.sidebar-closed .page-sidebar ul li.has-sub:hover .sub {
  background-color: #F4F5F6;
}

/***
Landscape phone to portrait tablet
***/
@media (max-width:979px) { 
  /***
  page sidebar
  ***/
  .page-sidebar {
    background-color: #F4F5F6 !important;
	border:solid 1px #C8D5E2 !important;
  }

  .page-sidebar ul li:last-child a {
    border-bottom: 0 !important;
  }

  .page-sidebar .sidebar-search input{
    background-color: #232427  !important;  
  }
}