.lich-cong-tac{
	border:1px silver solid;
	border-right:none;
	border-bottom:none;
}
.lich-cong-tac tr td,
.lich-cong-tac tr th{
	border:1px silver solid;
	border-left:none;
	border-top:none; 
	padding:2px;
}.lich-cong-tac tr th{
}