.form-2-col{
	width:800px;
	display:block;
	margin:0px;
	padding:5px 10px;
}

/*********************Reset CSS*********************/
/*
li {
margin: 0;
padding: 0;
border: 0;
outline: 0;
vertical-align: baseline;
background: transparent;
}

ul { 
margin: 0;
padding: 0;
border: 0;
outline: 0;
vertical-align: baseline;
background: transparent;
}

ol {
margin: 0;
padding: 0;
border: 0;
outline: 0;
vertical-align: baseline;
background: transparent;
}

strong {
margin: 0;
padding: 0;
border: 0;
outline: 0;
vertical-align: baseline;
background: transparent;
}

img {
margin: 0;
padding: 0;
border: 0;
outline: 0;
vertical-align: middle;
background: transparent;
}

em {
margin: 0;
padding: 0;
border: 0;
outline: 0;
vertical-align: baseline;
background: transparent;
}

a {
margin: 0;
padding: 0;
border: 0;
outline: 0;
vertical-align: baseline;
background: transparent;
}

p {
margin: 0;
padding: 0;
border: 0;
outline: 0;
vertical-align: baseline;
background: transparent;
}

h6 {
margin: 0;
padding: 0;
border: 0;
outline: 0;
vertical-align: baseline;
background: transparent;
}

h5 {
margin: 0;
padding: 0;
border: 0;
outline: 0;
vertical-align: baseline;
background: transparent;
}

h4 {
margin: 0;
padding: 0;
border: 0;
outline: 0;
vertical-align: baseline;
background: transparent;
}

h3 {
margin: 0;
padding: 0;
border: 0;
outline: 0;
vertical-align: baseline;
background: transparent;
}

h2 {
margin: 0;
padding: 0;
border: 0;
outline: 0;
vertical-align: baseline;
background: transparent;
}

h1 {
margin: 0;
padding: 0;
border: 0;
outline: 0;
vertical-align: baseline;
background: transparent;
}

span {
margin: 0;
padding: 0;
border: 0;
outline: 0;
vertical-align: baseline;
background: transparent;
}

div {
margin: 0;
padding: 0;
border: 0;
outline: 0;
vertical-align: baseline;
background: transparent;
}

body {
margin: 0;
padding: 0;
border: 0;
outline: 0;
vertical-align: baseline;
background: transparent;
}

html {
margin: 0;
padding: 0;
border: 0;
outline: 0;
vertical-align: baseline;
background: transparent;
}
*/

@font-face {
font-family: "Segoe-UI-SP";
src: url("/font/Segoe%20UI.ttf");
font-style: normal;
font-weight: normal;
}

@font-face {
font-family: "Segoe-UI-Light-SP";
src: url("/font/Segoe%20UI%20Light.ttf");
font-style: normal;
font-weight: normal;
}

@font-face {
font-family: "Segoe-UI-Bold-SP";
src: url("/font/Segoe%20UI%20Bold.ttf");
font-style: normal;
font-weight: normal;
}

@font-face {
font-family: "Segoe-UI-Semibold-SP";
src: url("/font/Segoe%20UI%20Semibold.ttf");
font-style: normal;
font-weight: normal;
}

@font-face {
font-family: "Segoe-UI-Semilight-SP";
src: url("/font/Segoe%20UI%20Semilight.ttf");
font-style: normal;
font-weight: normal;
}


@font-face {
font-family: "Segoe-UI-Bold-Italic-SP";
src: url("/font/Segoe%20UI%20Bold%20Italic.ttf");
font-style: normal;
font-weight: normal;
}

@font-face {
font-family: "Segoe-UI-Italic-SP";
src: url("/font/Segoe%20UI%20Italic.ttf");
font-style: normal;
font-weight: normal;
}
@font-face {
font-family: "Segoe-UI-Light-Italic-SP";
src: url("/font/Segoe%20UI%20Light%20Italic.ttf");
font-style: normal;
font-weight: normal;
}
@font-face {
font-family: "Segoe-UI-Semibold-Italic-SP";
src: url("/font/Segoe%20UI%20Semibold%20Italic.ttf");
font-style: normal;
font-weight: normal;
}
@font-face {
font-family: "Segoe-UI-Semilight-Light-SP";
src: url("/font/Segoe%20UI%20Semilight%20Light.ttf");
font-style: normal;
font-weight: normal;
}

ol  {
list-style: none;
}

ul  {
list-style: none;
}
/*
body{
	font-size: 9pt;
	line-height: 1.5em;
	width:100%;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}

html{
	font-size: 10pt;
	line-height: 1.5em;
	height: 100%;
	width:100%;
}
*/

/** initial setup **/
.ScrollMe,
.ScrollDefault{
  position : relative;
  width    : 100%;
  height   : 100%;
  overflow-y:auto;
  overflow : hidden;
}
.ScrollMe .content,
.ScrollDefault .content{
  position      : absolute;
  overflow      : scroll;
  overflow-x    : hidden;
  top           : 0;
  right         : 0;
  bottom        : 0;
  left          : 0;
  margin: -1px 0px 0px 0px;
}

.ScrollMe .content,
.ScrollDefault .content{
	padding: 0px;	
}

.ScrollMe .content:focus,
.ScrollDefault .content:focus {
  outline: thin dotted;
}
.ScrollMe .content::-webkit-scrollbar,
.ScrollDefault .content::-webkit-scrollbar {
  visibility: hidden;
}
.has-scrollbar .content::-webkit-scrollbar{
  visibility: visible;
}
.ScrollMe > .pane,
.ScrollDefault > .pane {
  background : rgba(0,0,0,.25);
  position   : absolute;
  width      : 8px;
  right      : 0;
  top        : 0;
  bottom     : 0;
  visibility : hidden\7; /* Target only IE7 and IE8 with this hack */
  opacity    : .01; 
  -webkit-transition    : .2s;
  -moz-transition       : .2s;
  -o-transition         : .2s;
  transition            : .2s;
  -moz-border-radius    : 5px;
  -webkit-border-radius : 5px;  
  border-radius         : 5px;
}
.ScrollMe > .pane > .slider,
.ScrollDefault > .pane > .slider  {
  background: #444;
  background: rgba(0,0,0,.5);
  position              : relative;
  margin                : 0 1px;
  -moz-border-radius    : 3px;
  -webkit-border-radius : 3px;  
  border-radius         : 3px;
}
.pane.flashed {
  visibility : visible\9; /* Target only IE7 and IE8 with this hack */
  opacity    : 0.9;
}

.pane.active {
  visibility : visible\9; /* Target only IE7 and IE8 with this hack */
  opacity    : 0.9;
}

.ScrollMe:hover > .pane,
.ScrollDefault:hover > .pane{
  visibility : visible\9; /* Target only IE7 and IE8 with this hack */
  opacity    : 0.9;
}


#UserToolBar{
	margin:0;
	padding: 0;
	width:100%;
	z-index: 200;	
	height: 40px;
	position: relative;
}

#UserToolBar .DivLogo{
	float: left;
	height: 40px;
	width: 100%;
	max-width: 240px;
}

.UlControl{
	height: 40px;
	position: relative;
}

.LiUlControl{
	height: 40px;
	line-height: 40px;
	float: left;
	padding: 0px 10px;
	cursor: pointer;
	text-align:center;
	white-space: nowrap;
}

.LiUlControl:hover{
	background: #1e74c5;
}

.LiUlControlActive{
	background: #FCFCFC;
}

.LiUlControlActive:hover{
	background: #FCFCFC;
}

.SpanLiUlControl{
	height: 40px;
	line-height: 40px;
	color: #fff;
}

.SpanLiUlControl > a
{
	color:#fff
}

.LiUlControlActive .SpanLiUlControl > a{
	color:#2A2A2A
}

.LiUlControlActive .SpanLiUlControl{
	padding: 0;
	color: #2a2a2a;
	background: none;
}

.SubUlNavigation{
	position:absolute;
	height: 40px;
	top: 40px;
	left: 0;
	width: auto;
	display: none;
}

.SubLiNavigation {
	display : block ;
	float: left;
	padding: 0px 15px;
}


.SubUlNavigation li{
	height:40px;
	float: left;
	padding: 0px 5px;
	border: 1px transparent solid !important;
}

.SubUlNavigation li span{
	border: 1px transparent solid;
	font-size: 1.1em;
	line-height: 38px;
	padding: 4px;
}


.SubUlNavigation .SubLiNavigationActive a{
	margin: 5px;
	height: 20px;
	line-height: 20px;
}



.SubUlNavigation .SubLiNavigationActive span
{
	border: 1px #BCDCF0 solid !important;
	background: url("/images/liactivetopLink.png") repeat-x 0 100%;
	color: #003759;
}

.SubUlNavigation > li:hover > span
{
	background: url("/images/lihovertopLink.png") repeat-x 0 100%;
	border: 1px #c6e5f8 solid !important;
}


.SubUlNavigation .Title{
	height:40px;
	line-height: 40px;
	margin: 0px 3px;
	font-size: 1em !important;
}




#UserToolBar .DivControl{
	width:100%;
	height: 40px;
}


#UserToolBar .DivUserTool{
	width: auto;
	height: 40px;
}

#UserToolBar .ViewControl{
	height:40px;
	line-height: 40px;
	padding: 0 10px;
}

#UserToolBar .ThongBao{
	height:40px;
	line-height: 40px;
	padding: 0 10px;
}

#UserToolBar .UserName{
	height:36px;
	line-height:36px;
	padding: 0 10px 0 0px;
}

#UserToolBar .Avatar{
	height:40px;
	line-height: 40px;
	width: 40px;
	padding: 0 10px;
}

#UserToolBar .Avatar img {
	margin: 10px 0px 0px 0px;
}

#NavigationBar{
	padding: 0;
	margin: 0px 0px 0px 0px;
	height:40px;
}


.SearchNavigationBar{
	width: 100%;
	height:40px;
	line-height:36px;
	vertical-align:middle;
	text-align:center;
}

#WorkSpace{
	width: 100%;
	z-index: 190;
}

.MenuLeftWorkSpace{
	padding: 0;
}

.MenuLeftWorkSpace .MenuLeft{
	margin: 20px 10px 10px 10px;
}

.MenuLeftWorkSpace .ParentLi{
	margin: 0px 0px 15px 0px;
}


.MenuLeftWorkSpace .ParentLiA{
	height: 25px;
	line-height: 25px;
	color:#666666;
	font-weight: bold;
	white-space: nowrap;
	background: url("/_layouts/images/NEWDOCUMENTSET16.PNG") no-repeat 0;
	padding:1px;
	padding-left: 20px;
}

.MenuLeftWorkSpace .SubLi{
	height: 23px;
	padding: 0px 0px 0px 12px;
	border: 1px transparent solid;	
	margin:1px 0px;
	margin-left:15px;
	background-image:url("/_layouts/images/setrect.gif");
	background-position:left 11px;
	background-repeat: no-repeat;
}

.MenuLeftWorkSpace .SubLiActive{
	height: 25px;
	padding: 0px 0px 0px 10px;
	background: #D3EEFF  url("/images/hieuungcong.png") 0 0 repeat-x;
	border: 1px #91CDF2 solid;
	white-space: nowrap;
	   -moz-box-border-radius:2px;
	-webkit-box-border-radius:2px;
	            border-radius:2px;
}

.MenuLeftWorkSpace .SubLiA{
	height: 25px;
	line-height: 25px;
	font-size: 9pt;
	color: #3b4f65;
	white-space: nowrap;
}

.MenuLeftWorkSpace .SubLi:hover .SubLiA{
	color: #44AFF6;	
	text-decoration: underline;
}

 .Paging{
	margin: 0px 20px 0px 0px;
	height: 29px;
	float: right;
}

 .Paging span{
	float: right;
}

 .Paging .NumberPage{
	height: 29px;
	margin: 0px 10px 0px 0px;
	font-size: 9pt ;
	white-space:nowrap;	
}

 .Paging a{
	line-height: 29px;
	font-size: 1em !important;
}	

 .Paging .NextPage{
	display: block;
	height: 29px;
	width: 36px;
	min-height: 29px;
	min-width: 36px;
	margin: 0;
	padding:0;
	border: 0;
}

.Paging .PrevPage{
	display: block;
	height: 29px;
	width: 36px;
	min-width: 36px;
	min-height: 29px;
	margin: 0;
	padding:0;
	border: 0;
}

 .Paging .NextPage:hover{
	cursor: pointer;
}

 .Paging .PrevPage:hover{
	cursor: pointer;
}


.Actions{
	height: 40px;
	line-height: 40px;
	border-bottom: 1px #C8D5E2 solid;
}

.Actions a{
	font-size: 1em;
}

.Actions > ul{
	height: 40px;
	width: auto;
	float: left;
}
.Actions #ActionsUl{
	margin: 0px 0px 0px 20px;
}

.Actions > ul > li{
 	min-width: 60px;
 	white-space:nowrap;
	float: left;
	padding-left:5px;
	padding-right:5px;
	margin-right:10px;
	height: 25px;
	line-height: 25px;
	   -moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	   		border-radius: 2px;	
	margin: 6px;
}

.Actions .ShowMenuCap2{
	position:relative;
	padding: 0px 20px 0px 3px;
}

.Actions .MenuCap2{
	padding: 5px 0px 5px 0px;
	position:absolute;
	min-width: 170px;
	display:none;
	top: 27px;
	left: -1px; 
	z-index: 1000;
	background: #fff;
}

.Actions .ActiveChucNang{
	display:block;
	width: 25px;
	height: 27px;
	position: absolute;
	top: 0; 
	right: 0;
	text-indent: 99999px;
}

.Actions .MenuCap2 li{
	height: 16px;
	padding: 0px 5px 10px 10px;	
	text-align: left;
}

.Actions .MenuCap2 a{
	line-height: 16px;	
	height: 16px;
}

/*AdminTool*/
.AdminToolClass{
	height: 40px;
	padding: 0px 0px 0px 10px;
}

.AdminToolClass .UserNameWelcome{
	margin: 0px 5px 0px 0px;
	padding:0;
}

.AdminToolClass .Notification{
	height: 100%;
	line-height: 20px;
	padding: 0 0 0 5px;
	float:left;
}

.AdminToolClass .ModeView{
	height: 100%;
}

.UserNameWelcome{
	vertical-align: middle;
}

.UserNameWelcome .TitleName{
	display: block;
	float: left;
	height: 36px;
	line-height: 36px;
	border: 1px solid transparent;
	padding: 0px;
	/*margin: 11px 0px 0px 0px;*/
	background: url('/images/muitenxuong.png') no-repeat 93% 55% ; 
}

.UserNameWelcome .TitleName span:hover{
	border: 1px solid #cdf0ff;
	cursor: pointer;
	background: url("/images/hieuungcong.png") 0 0 repeat-x;
}

.UserNameWelcome .TitleName span{
	text-align: center;
	line-height:18px;
	vertical-align: middle; 
	border: 1px transparent solid;
	cursor: pointer;
	color: #fff;
	padding: 4px 25px 4px 5px;
}

.UserNameWelcome .ProfileImage {
    display: block;
    float: right;
    height: 40px;
    position: relative;
    width: 30px;
}

.UserNameWelcome .Avartar {
    border: 1px solid #FFFFFF !important;
    height: 30px;
    position: absolute;
    top: 4px;
    vertical-align: middle;
    width: 30px;
    margin-left:2px;
    box-shadow: 1px 1px 2px rgb(9, 29, 71);
    background: #fff;
}

.UserNameWelcome #_infoUser{
	width: 250px;
	margin: -6px 2px 0px 0px;
	border: 1px solid #057caf;
	border-collapse: collapse;
	z-index: 5000;
	padding: 0;
	background: #fff;
	   -moz-box-shadow: 2px 2px 3px #c5c5c5;
	-webkit-box-shadow: 2px 2px 3px #c5c5c5;
	   		box-shadow: 2px 2px 3px #c5c5c5;	
}

.UserNameWelcome .MenuItemTable{
	background: url("/images/tableCustom/bgul.png") 15px 0 repeat-y;
}

.UserNameWelcome .MenuItem a{
	color: #000;
	line-height: 15px;
	height: 20px;
}


.UserNameWelcome .MenuItemTitle{
	height: 20px;
	vertical-align: bottom;
}

.UserNameWelcome .LineBorder{
	height: 1px;
	border-top: 1px #aeaeae dashed;
	margin: 0px 0px 0px 42px;	
	display:block;
}

.UserNameWelcome .MenuItemTitleA{
	color: 	#1A70B9 !important;
	font-size: 9pt;
}

.UserNameWelcome .DescriptionClass{
	padding: 0px 0px 0px 0px;
	line-height: 10px;
	height: 10px;
}

.UserNameWelcome .DescriptionClassA{
	color: 	#363636 !important;
}

.UserNameWelcome .MenuItemTd{
	z-index: 4000;
	padding: 2px 0px 5px 0px;
	border: 1px transparent solid;
	white-space:nowrap
}

.UserNameWelcome .TdPreImage{
	z-index: 5000;
	padding: 5px 0px 0px 0px;
	width: 35px;
}

.UserNameWelcome .MenuItemTitle{
	padding: 0px 0px 0px 10px;
}

.Notification{
	color: #fff;
}

.Notification .LabelAlert{
	color: #ff0000;
}

.UserNameWelcome .MenuItemTd:hover{
	border: 1px #a7e3ff solid;
	background: #CCEBFF url("/images/hieuungcong.png") 0 0 repeat-x;
}

.UserNameWelcome .MenuItemTd:hover .MenuItemTitleA{
	color: #363636 !important;
}

/*ModeView*/
.AdminToolClass .UserControl{
	float: right;
    background: #2C4157;
    vertical-align: middle;
    color: #FFFFFF;
    display: inline;
}

.AdminToolClass .UserControl: hover{
    background: url("/_layouts/images/bgximg.png") repeat-x scroll 0 -489px #21374C;
    border-color: #8B929A;
}

.AdminToolClass .Title-User{
    margin-top: 3px;
}

.SearchBox{
	background-color:#fff;
	height:24px;
	font-size:9pt;
	width:90%;
	vertical-align:middle;
	border:1px #cccccc solid;
	line-height: 24px;
	color:#999;
	text-indent:3px;
	font-style:italic;
	outline: none;
}

.SearchButton{
	background: #119ed5;
}

/**************Quy trình***************/

.WrapperDivTrangThai{
	width:210px;	
	height: 305px;
	overflow: hidden;
	margin: 0px 0px 0px 40px;
	background: #f0f5f7;
	border: 1px #119ed5 solid;
}

.DivTrangThai{
	width:250px;
	float:left;
	margin: 20px 0px 0px 0px;
	background: url(/images/muitentrangthai.png) 10px 50% no-repeat;
}

.DivTrangThai .ValueInput{
	display:none;
	visibility: hidden;
}

.TopTrangThai{
	width:100%;
	height: 35px;
	background: #119ed5;
	vertical-align: middle;
}

.DivTopTrangThai{
	overflow: hidden;
	height: 21px;
	padding: 8px 0px 0px 5px;
}

.DivTopTrangThai .DivSelectBox{
	height: 21px;
	width: 160px;
	padding: 0;
	float: left;
	position: relative;
}

.DivTrangThai .DivSelectBox .ClickShow{
	position: absolute;
	right: -1px;
	top: 0px;
	display: block;
	height: 21px;
	width: 21px;
	background:  url(/images/bgselectquytrinh.png) 50% 50% no-repeat;
	cursor:pointer;
}

.DivTrangThai select{
	min-height: 21px;
	height: 21px;
	width:100%;
	border: none;
	outline: none;
	display:block;
}

.DivTrangThai select > option{
	display:block;
	padding: 5px 0px;
}

.DivXoaTrangThai{
	float:right;
	width: 40px;
	height: 21px;
}

.DivXoaTrangThai .ThemTrangThai{
	float:left;
	display:block;
	height: 21px;
	width: 20px;
	background: transparent url(/images/themdivtrangthai.png) 50% 50% no-repeat ;
}

.DivXoaTrangThai .ThemTrangThai:hover{
	background: transparent url(/images/themdivtrangthaihover.png) 50% 50% no-repeat ;
}

.DivXoaTrangThai .XoaTrangThai{
	float:right;
	display:block;
	height: 21px;
	width: 20px;
	background: transparent url(/images/xoadivtrangthai.png) 50% 50% no-repeat ;
}

.DivXoaTrangThai .XoaTrangThai:hover{
	background: transparent url(/images/xoadivtrangthaihover.png) 50% 50% no-repeat ;
}

.DivNguoiNhan{
	margin: 0px 5px;
}

.DivNguoiNhan .Title{
	height: 20px;
	margin: 5px 0px 2px 0px;
	color: #11546F;
	font-size: 0.9em;
}

.DivNguoiNhan .Title p{
	height: 20px;
	line-height: 20px;
	text-indent: 10px;
}

.DivContentNguoiNhan{
	overflow: hidden;
	position:relative;
}

.DivContentNguoiNhan textarea{
	width: 193px;
	max-width: 193px;
	margin: 0px 0px 5px 0px;
	outline: none;
	border: 1px #ccc solid;
	overflow: hidden;
}

.DivContentNguoiNhan .ClickShow{
	position: absolute;
	height: 24px;
	width: 24px;
	top: 1px;
	right: 2px;
	background: url(/images/popuptextarea.png) 50% 50% no-repeat;
}


.MenuLeft .MenuLeft_Count{ 
	position:absolute;
	margin: 5px 0px 0px 0px;
	padding: 0px 10px 0px 10px;
	right: 0px;
	background: #fcfcfc;
}

.MenuLeft .MenuLeft_Count span{
	display:block;
	padding: 0px 5px;
	height: 13px;
	color: #FFF;
	font-weight: bold;
	font-size: 0.8em;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 13px;
	vertical-align:middle;
		background: #FF3A20 url("/images/hieuungcong.png") 0 0 repeat-x;
	border: 1px #F81010 solid;
	   -moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	   		border-radius: 3px;	
}

.Notification{
	position: relative;
	margin: 0px 7px 0px 0px;
}

.Notification .WPAlert_Detail{
	padding: 5px;
	width: 150px;
	position: absolute;
	top: 23px;
	right: 0;
		background: #fff;
	border: 1px solid #057caf;
	   -moz-box-shadow: 2px 2px 3px #c5c5c5;
	-webkit-box-shadow: 2px 2px 3px #c5c5c5;
	   		box-shadow: 2px 2px 3px #c5c5c5;
}

.Notification .WPAlert_Tong{
	position:absolute;
	top: -2px;
	right: -5px;
		background: #FF0000  url("/images/hieuungcong.png") 0 0 repeat-x;
	   -moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	   		border-radius: 2px;	
	   -moz-box-shadow: 1px 2px 2px #616161;
	-webkit-box-shadow: 1px 2px 2px #616161;
	   		box-shadow: 1px 2px 2px #616161;	
}

.Notification .WPAlert_Tong{
	color: #fff;
	font-weight: bold;
	padding: 1px 2px;
	font-size: 0.8em;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 11px;
	vertical-align:middle;
}

.Notification .TieuDeThongBao{
	color: #464646;
	font-weight: bold;
	padding: 0px 0px 0px 5px;
}

.Notification .WPAlert_Title{
	display:block;
	width: 23px;
	height: 26px;
	background: url(/images/thongbao1.png) 0 0 no-repeat;
	cursor: pointer;
}
.Notification .WPAlert_Title:hover{
	background: url(/images/thongbao.png) 0 0 no-repeat;
}


.Notification .DivNotifi{
	height: 25px;
	line-height: 25px;
	padding: 0px 5px;
	border: 1px transparent solid;
	cursor: pointer;
	position: relative;
}

.Notification .DivNotifi:hover{
	background: #D3EEFF url("/images/hieuungcong.png") 0 0 repeat-x;
	border: 1px #a7e3ff solid;
}


.Notification .TitleVB{
	color: #0085b8;
	margin: 0px 3px 0px 0px;
}


.Notification .CountVB{
	color: #E60000;
	font-weight: bold;
	position:absolute;
	right: 5px;
}

.ProcessingBox{
	display:none;
	position:absolute;
	bottom:10px;
	right:10px;
	width:auto;
	border:1px solid #057caf;
	padding:0px 10px 0px 50px;
	height:30px;
	line-height: 30px;
	background-color:#FFFBDC;
	color:#057caf;
	font-size:9pt;
	background-image:url(/images/loading.gif);
	background-repeat:no-repeat;
	background-position: 10px center;
	text-align:justify;
	z-index:999999
}

.LoadingIcon{
	position:absolute;
	top:-5px;
	right:30px;
	height:50px;
	width:auto;
	padding:10px 10px 10px 50px;
	line-height: 50px;
	color:#057caf;
	font-size:9pt;
	background-image:url(/images/loading.gif);
	background-repeat:no-repeat;
	background-position: 10px center;
	text-align:left;
	z-index:999999
}

.HighLight{
	background-color:#FFFF96;
}

.ActionsSearchBar > table{
	height: 40px;
	width: 480px;
	margin: 0 auto;

}

.ActionsSearchBar .DivTextBox{
	width: 98%;
	height: 26px !important;
	padding: 0;
	
}

.ActionsSearchBar .TimKiem{
	height: 26px;
	background: #fff url("/images/hieuungcong3.png") 0 100%  repeat-x;
	border: 1px #9c9c9c solid;
	min-width: 50px;
	text-align: center;
	border: 1px #a5a5a5 solid;
	outline: none;
}

.ActionsSearchBar .TimKiem{
	float: right;
	margin: 0px 0px 0px 4px;
}

.ActionsSearchBar .TimKiem:hover{
	border: 1px #606060 solid;
	color: #858585;
}


/*///////////////////////////////////////////////////////////////////*/


.SPForm{
	margin: 0 10px;
}

/*.TableForm tr td{
	padding: 2px 0px;
	vertical-align:top;
}

.SPForm input[type=text],.SPForm input[type=password],
.SPForm textarea{
	width: 100%;
	padding: 0px;
	border: 1px #cecece solid !important;
	background:#fafafa;
	font-family: inherit;
	font-size: 9pt;
	overflow: hidden;
	text-indent: 7px;
	   -moz-box-border-radius:2px;
	-webkit-box-border-radius:2px;
	            border-radius:2px;
}

.SPForm input[type=text], .SPForm input[type=password]{
	height: 24px;
}

.SPForm textarea{
	min-height: 50px !important;
	max-width: 100%;
	min-width: 100%;
}

.SPForm input[type=text]:hover, .SPForm input[type=password]:hover,
.SPForm textarea:hover{
	border: 1px #f98c39 solid !important;
	background:#fafafa;
	cursor: default;
}

.SPForm input[type=text]:focus, .SPForm input[type=password]:focus,
.SPForm textarea:focus{
	border: 1px #f98c39 solid !important;
	background: #fff !important;
}*/

.SPForm .TitleControl{
	float: right;
	font-weight: bold;
	font-family:inherit;	
	min-height: 26px;
	text-align:right;
	white-space:nowrap;
	vertical-align: middle;
	padding: 0px 3px 0px 0px;
	line-height: 26px;
}

.SPForm .DivTextBox,
.SPForm .DivDateTime,
.SPForm .DivComboBox,
.SPForm .DivPopup,
.SPForm .DivSelectBox{
	border-right: 1px transparent solid;	
}

.SPForm .ShortInput5 > div{
	width: 5%;
}

.SPForm .ShortInput10 > div{
	width: 10%;
}
.SPForm .ShortInput15 > div{
	width: 15%;
}

.SPForm .ShortInput20 > div{
	width: 20%;
}

.SPForm .ShortInput25 > div{
	width: 25%;
}

.SPForm .ShortInput30 > div{
	width: 30%;
}
.SPForm .ShortInput35 > div{
	width: 35%;
}

.SPForm .ShortInput40 > div{
	width: 40%;
}
.SPForm .ShortInput45 > div{
	width: 45%;
}

.SPForm .ShortInput50 > div{
	width: 50%;
}
.SPForm .ShortInput55 > div{
	width: 55%;
}

.SPForm .ShortInput60 > div{
	width: 60%;
}
.SPForm .ShortInput65 > div{
	width: 65%;
}

.SPForm .ShortInput70 > div{
	width: 70%;
}
.SPForm .ShortInput75 > div{
	width: 75%;
}

.SPForm .ShortInput80 > div{
	width: 80%;
}
.SPForm .ShortInput85 > div{
	width: 85%;
}
.SPForm .ShortInput95 > div{
	width: 95%;
}


.SPForm .DivTextBox,
.SPForm .DivDateTime,
.SPForm .DivComboBox,
.SPForm .DivPopup,
.SPForm .DivSelectBox,
.SPForm .DivUploadImg,
.SPForm .DivMultiSelect{
	position:relative;
}

.SPForm .ClickShow{
	display:block;
	position:absolute;
	top: 5px;
	right:-1px;
	text-align:center;	
	height: 24px;
	width: 24px;
	margin: -4px 0px 0px -24px;
	vertical-align: middle;
	z-index: 50;
	   -moz-box-border-radius:0px 2px 2px 0px;
	-webkit-box-border-radius:0px 2px 2px 0px;
	            border-radius:0px 2px 2px 0px;
}

.SPForm .Required{
	position: absolute;
	top: 1px;
	right: -1px;
	width: 1px;
	height: 24px;
	background: #ff0000;
	z-index: 100;
}	

.SPForm .DivDateTime .ClickShow{
	cursor: pointer;
	background: url(/images/date.png) 50% 50%  no-repeat;
}

.SPForm .DivDate .ClickShow{
	cursor: pointer;
	background: url(/images/date.png) 50% 50% no-repeat;
}

.SPForm .DivComboBox .ClickShow{
	cursor: pointer;
	background: url(/images/muitenxuongcombobox.png)  50% 50% no-repeat;
}

.SPForm .DivSelectBox .ClickShow{
	cursor: pointer;
	background: url(/images/muitenxuongcombobox.png)  50% 50% no-repeat;
}

.SPForm .DivPopup .ClickShow{
	cursor: pointer;
	background: url(/images/showpopup.png) 50% 50% no-repeat;
}

.SPForm .DivChonNguoiDungPhongBan .ClickShow,
.SPForm .DivMultiSelect .ClickShow{
	cursor: pointer;
	background: url(/images/popuptextarea.png) 50% 50% no-repeat;
}

.SPForm .DivEmail .ClickShow{
	background: url(/images/mail.png) 50% 50% no-repeat;
}


.SPForm .DivPhoneNumber .ClickShow{
	background: url(/images/phonenumber1.png) 50% 50% no-repeat;
}


.SPForm .DivChoise label{
	padding: 0px 10px 0px 3px;
	cursor:pointer;
}

.SPForm .DivChoise input{
	cursor:pointer;
}

.SPForm .MessageError{
	position: absolute;
	bottom: 20px;
	left: 1px;
	width: 200px;
	z-index: 3000;
}

.SPForm .MessageContent{
	background:#fff url(/images/canhbao.png) no-repeat 5px 5px;
	border: 1px #4a9fda solid;
	display: block;
	color:#C50000;
	z-index: 2000;
	padding:  6px 3px;
	padding-left:30px;
	text-align:left;
	font-size: 1em;
	   -moz-box-border-radius:5px;
	-webkit-box-border-radius:5px;
	            border-radius:5px;	
	   -moz-box-shadow: 1px 1px 3px #999;
	-webkit-box-shadow: 1px 1px 3px #999;
	       -box-shadow: 1px 1px 3px #999;
}

.SPForm .MessageShowContent{
	display: block;
	height: 9px;
	margin: -2px 0px 0px 0px;
	z-index: 2100;
	background: url(/images/massage.png) 15px 0 no-repeat;
}

.SPForm .FormButton{
 	white-space:nowrap;
	padding-left:5px;
	padding-right:5px;
	margin-right:10px;
	line-height: 25px;
	   -moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	   		border-radius: 2px;	
	margin: 6px;
	background: #f7f7f7 url("/images/hieuungcong3.png") 0 100%  repeat-x;
	border: 1px #9c9c9c solid;
	min-width: 60px;
	text-align: center;
}

.SPForm .FormButton:hover{
	border: 1px #606060 solid;
	   -moz-box-shadow: 1px 1px 3px #c5c5c5;
	-webkit-box-shadow: 1px 1px 3px #c5c5c5;
	   		box-shadow: 1px 1px 3px #c5c5c5;
}

.SPForm .DivMultiSelect{
	width:100%;
	margin: 0px 0px 5px 0px;
}

.SPForm .DivMultiSelect .as-results{
	width: 100%;
	max-height: 100px !important;
	overflow-y: auto;
}

.SPForm .DivMultiSelect input,
.SPForm .DivMultiSelect input:hover,
.SPForm .DivMultiSelect input:focus{
	outline:none !important;
	border: none !important;
	background: none !important;
}

.SPForm .DivUploadImg img{
	width: 100%;
	border: 3px #fff solid !important;
		   -moz-box-shadow: 2px 2px 3px #c5c5c5;
	-webkit-box-shadow: 2px 2px 3px #c5c5c5;
	   		box-shadow: 2px 2px 3px #c5c5c5;
	   		background: #fff;
}

.SPForm .EditImage{
	position: absolute;
	display:none;
	top: 8px;
	right: 2px;
	height: 20px;
	width: 44px;
	overflow: hidden;
	cursor:pointer;
}

.SPForm .DivUploadImg .DivImgAnhDaiDien{
	display: block;	
	float: left;
	height: 20px;
	width: 22px;
	padding: 0 !important;
	margin: 0 !important;
	background: rgba(130,130,130,0.5) url(/images/editavartar.png) no-repeat 50% 50%;
	border: none !important;	
	-moz-border-radius:13px 0px 0px 13px;
	-webkit-border-radius: 13px 0px 0px 13px;
	   		border-radius: 13px 0px 0px 13px;

}

.SPForm .DivUploadImg .DeleteImage{
	display: block;
	background: rgba(130,130,130,0.5) url(/images/delavatar.png) no-repeat 50% 50%;
	width: 22px;
	height: 20px;
	float: right;
	padding: 0 !important;
	margin: 0 !important;
	border: none !important;
		-moz-border-radius:0px 13px 13px 0px ;
	-webkit-border-radius: 0px 13px 13px 0px ;
	   		border-radius: 0px 13px 13px 0px ;

}

.SPForm .DivUploadImg:hover .EditImage{
	display:block;
}

.SPForm .DivUploadImg .DivImgAnhDaiDien:hover{
	background: rgba(130,130,130,0.9) url(/images/editavartar.png) no-repeat 50% 50%;	
}

.SPForm .DivUploadImg .DeleteImage:hover{
	background: rgba(130,130,130,0.9) url(/images/delavatar.png) no-repeat 50% 50%;
}

.SPForm .DivUploadImg .DivImgAnhDaiDien .dz-message,{
	display: none;
	visibility: hidden;
}

/* Nút chức năng */
.SPForm .SPWebFormAction{
	position:fixed;
	bottom: 0;
	left: 0;
	height: 40px;
	background: #fff;
	width:100%;
	text-align:center;
	z-index: 4000;
}

.SPForm .SPWebFormAction input{
	min-height: 27px;
	text-align:center;
	min-width: 60px;
	background:  #fff url(/images/hieuungcong3.png) 0 100% repeat-x;
	color: #464646;
	border: none;
	font-size: 8pt;
	font-weight:bold;
	padding: 0 5px;
	margin: 3px 10px 0px 0px;
	border: 1px #3e3e3e solid;
	   -moz-box-border-radius:2px;
	-webkit-box-border-radius:2px;
	            border-radius:2px;
}

.SPForm .SPWebFormAction input:hover{
	color: #000;
	cursor: pointer;
	border: 1px #606060 solid;
	   -moz-box-shadow: 1px 1px 3px #c5c5c5;
	-webkit-box-shadow: 1px 1px 3px #c5c5c5;
	       -box-shadow: 1px 1px 3px #c5c5c5;
}

.SPForm .ActionTab{
	z-index: 100;
	height: 35px;
	padding: 0px 0px 0px 10px;
	background: #f8f8f8;
}

.SPForm .ActionTab .SpanActionTab{
	height: 35px;
	display:block;
	float: left;
	line-height: 35px;
	border: 1px transparent solid;
	cursor: pointer;
}

.SPForm .ActionTab .SpanActionTab a{
	padding: 6px 15px;
	background: url("/images/liactivetopLink.png") repeat-x 0 100%;;
	border: 1px #c6e5f8 solid;
	   -moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	   		border-radius: 2px;
	margin: 0px 5px;
	font-weight: bold;
	color: #7994AA;
}

.SPForm .ActionTab .ActiveTab{
	border: 1px #D5DAE0 solid;
	border-bottom: none;
	background: #fff;
	   -moz-border-radius: 3px 3px 0px 0px;
	-webkit-border-radius: 3px 3px 0px 0px;
	   		border-radius: 3px 3px 0px 0px;	
}

.SPForm .ActionTab .ActiveTab a{
	color: #000;
	background: none;
	border: 1px transparent solid;
}

.SPForm .MainTab{
	z-index: 50;
	border: 1px #D5DAE0 solid;
	   -moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	   		border-radius: 3px;		
	margin: 0px;
	background: #fff;
	padding: 10px;
}

.SPForm .SubDivMainTab{
	display: none;
}

/** initial setup **/
.div-combobox-data,
.div-selectbox-data
{
	position:relative;
	top:0px;
}
.selectbox-new
{
	background:white !important;
}
.SelectBoxItem,
.ComboBoxItem
{
	position: absolute;
	min-width:217px;
	height:auto;
	display:none;
	overflow-y: auto;
	background: #fff;
	margin: 0px 0px 0px 0px;
	padding: 0px;
	border: 1px #9b9b9b solid;
	z-index: 5000;
	max-height: 300px;
	overflow:hidden;
	*border-right-width: 2px;
	*border-bottom-width: 2px;
	  -webkit-border-radius: 0 0 5px 5px;
	     -moz-border-radius: 0 0 5px 5px;
	          border-radius: 0 0 5px 5px;
	  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	     -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.SelectBoxItem span,
.ComboBoxItem  span{	
    display:block;
    min-width:100%;
    height: 25px;
	line-height: 25px;
	padding: 0px 0px 0px 5px;
	color: #232323;
	font-size: 13px;
}
.SelectBoxItem  span:hover,
.ComboBoxItem  span:hover,.selected-hover{
	background: #CCE6F7;
	cursor: pointer;
}
.not-found
{
 	display:none !important;
}
.note-not-found
{
 	display:block !important;
}

/**/
.rep-tbl{border-left:1px #bfbfbf solid;}
.rep-tbl .th{border-top:1px #bfbfbf solid;}
.rep-tbl .th,.rep-tbl .td{border-right:1px #bfbfbf solid;border-bottom:1px #bfbfbf solid;vertical-align:middle}
.rep-tbl .th{background:#f8f8f8}
.rep-tbl .add-on,.rep-tbl textarea,.rep-tbl .input-square,.rep-tbl .datepick,.rep-tbl .timepicker,.rep-tbl .chzn-choices,.rep-tbl input[type="password"],.rep-tbl input[type="datetime"],.rep-tbl input[type="datetime-local"],.rep-tbl input[type="date"],.rep-tbl input[type="month"],.rep-tbl input[type="time"],.rep-tbl input[type="week"],.rep-tbl input[type="number"],.rep-tbl input[type="email"],.rep-tbl input[type="url"],.rep-tbl input[type="search"],.rep-tbl input[type="tel"],.rep-tbl input[type="color"],.rep-tbl .uneditable-input{
	border:none;
	background-color:transparent;
	margin:0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.rep-tbl .input-prepend{margin:0}
.rep-tbl .chzn-container{height:100%;-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;}
.rep-tbl .chzn-choices{background-image:none}
.form-horizontal .icon-add:before{content:"+";font-size:14px;font-weight:bold;margin:0}
.form-horizontal .icon-rem:before{content:"-";font-size:14px;font-weight:bold;margin:0}
.form-horizontal .Repeat .cmd{position:absolute;left:0;bottom:0;}
.form-horizontal .Repeat .cmd .btn{opacity: 0;transition: opacity .2s ease-in-out;-moz-transition: opacity .2s ease-in-out;-webkit-transition: opacity .2s ease-in-out;}
.form-horizontal .Repeat:hover .cmd .btn,.form-horizontal .Repeat .cmd .btn:focus{opacity:1}
.form-horizontal .Repeat{margin-top:6px;padding-bottom:6px;border:1px #E5E5E5 solid;position:relative}
.form-horizontal .Repeat .row-fluid:last-child .control-group{margin-bottom:8px!important;}
.form-horizontal .content-view{margin:2px auto 5px auto;padding-top:5px;font-weight:500}
.ajax__fileupload_dropzone{display:none}
/*.rep-tbl .first-row .btnrem{display:none}*/