<div class="col-12 col-md-3 row p-2 justify-content-between justify-content-md-start">
    <div class="col-12 p-0 align-items-center d-flex">Tổng số bản ghi đã tìm thấy: <span class="font-weight-bold text-success" ng-bind-html="TotalItems"></span> </div>
</div>

<div class="col-md-8 col-12 p-0 row m-0">
    <div class="col-10 p-0 row m-0 justify-content-center justify-content-md-end align-items-center">
        <div class="col-12 col-md-3 p-2">
            <div class="floating-label w-100">
                <input readonly class="floating-input w-100" type="text" data-toggle="dropdown" placeholder=" " ng-model="TypeOfConstructionFilter">
                <ul class="dropdown-menu w-100" role="menu">
                    <li role="option" class="border-bottom border-secondary m-0 p-1">
                        <a href="javascript:void(0)" class="m-0" ng-click="filterConsByType(0, 'Chọn loại CT')">
                            <p class="m-0 text-primary" style="font-size: 0.85rem">Chọn loại CT</p>
                        </a>
                    </li>
                    <li role="option" class="border-bottom border-secondary m-0 p-1" ng-repeat="e in TypeOfConstructions">
                        <a href="javascript:void(0)" class="m-0" ng-click="filterConsByType(e.Id, e.TypeName)">
                            <p class="m-0 text-primary" style="font-size: 0.85rem" ng-bind="e.TypeName"></p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-12 col-md-3 p-2">
            <div class="floating-label w-100 p-1">
                <input readonly class="floating-input w-100" type="text" data-toggle="dropdown" placeholder=" " ng-model="OperatingStatusFilter">
                <ul class="dropdown-menu w-100" role="menu">
                    <li role="option" class="border-bottom border-secondary m-0 p-1" ng-repeat="e in ListOperatingStatus">
                        <a href="javascript:void(0)" class="m-0" ng-click="filterByOperatingStatus(e.Id, e.Name)">
                            <p class="m-0 text-primary" style="font-size: 0.85rem" ng-bind="e.Name"></p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-12 col-md-3 p-2">
            <div class="floating-label w-100 p-1">
                <input readonly class="floating-input w-100" type="text" data-toggle="dropdown" placeholder=" " ng-model="LicensingAuthoritiesFilter">
                <ul class="dropdown-menu w-100" role="menu">
                    <li role="option" class="border-bottom border-secondary m-0 p-1" ng-repeat="e in ListLicensingAuthorities">
                        <a href="javascript:void(0)" class="m-0" ng-click="filterConsByLicensingAuthorities(e.Id, e.Name)">
                            <p class="m-0 text-primary" style="font-size: 0.85rem" ng-bind="e.Name"></p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-12 col-md-3 p-2">
            <div class="floating-label w-100 p-1">
                <input readonly class="floating-input w-100" type="text" data-toggle="dropdown" placeholder=" Chọn loại quy chuẩn ">
                <ul class="dropdown-menu w-100" role="menu">
                    <li role="option" class="border-bottom border-secondary m-0 p-1" ng-repeat="e in ListSurfacewaterQualities">
                        <a href="javascript:void(0)" class="m-0" ng-click="filterSurfacewaterQuality(e.Name)">
                            <p class="m-0 text-primary" style="font-size: 0.85rem" ng-bind="e.Name"></p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-12 col-md-3 p-2">
            <div class="floating-label w-100 p-1">
                <input class="floating-input w-100" type="text" placeholder="Nhập tên CT" ng-model="Keyword">
            </div>
        </div>
    </div>
    <div class="col-2 p-0 row m-0 justify-content-center justify-content-md-end align-items-center">
        <div class="row m-0 align-items-center p-2">
            <button class="btn btn-sm font-10 btn-addnew px-4 mx-1" ng-click="Search()">
                <i class="fa-solid fa-magnifying-glass"></i> Tìm kiếm
            </button>
        </div>
    </div>
</div>