@using WaterResource.Service;
@{
    ViewBag.Title = "Giám sát khai thác, sử dụng nước mặt";
    UserRightService _service = new UserRightService();
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (_service.IsViewAction("/he-thong-giam-sat", User.Identity.Name, "VIEW"))
{
    <link href="~/Assets/leaflet/leaflet.css" rel="stylesheet" />
    <script src="~/Assets/leaflet/leaflet.js"></script>
    <script src="~/Assets/leaflet/L.KML.js"></script>
    <!-- Load Esri Leaflet from CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/esri-leaflet/2.0.4/esri-leaflet.js"></script>

    <!-- Load Esri Leaflet Vector from CDN -->
    <script src="https://unpkg.com/esri-leaflet-vector@3.1.3/dist/esri-leaflet-vector.js" crossorigin=""></script>
    <script src="~/Assets/leaflet/leaflet-bing-layer.js"></script>
    <script src="~/Assets/leaflet/Bing.js"></script>
    <div ng-controller="myCntrl as demo">
        <script src="~/Scripts/MonitoringSystem/Controller.js"></script>
        @Html.Partial("ImportServiceJs")

        <!-- Main content -->
    <section class="content p-0" id="Surfacewater">
        <div class="row m-0">
            <!--Bắt đầu bản đồ -->
            <div class="col-md-12 p-0">
                <div style="width: 100%; height: calc( 60vh - 50px )">
                    <select id="basemaps" class="form-select switch-basemap" aria-label="Default select example">
                        <option value="Imagery">Bản đồ vệ tinh</option>
                        <option value="Topographic">Bản đồ địa hình</option>
                        <option value="Streets">Bản đồ đường</option>
                        <option value="Gray">Bản đồ xám</option>
                    </select>
                    <div class="common-map" id="Map_Surfacewater"></div>
                </div>
            </div>
            <!--Hết bản đồ -->
            <!--phần kiểm soát vận hành các biểu tượng-->
            <div class="col-md-12 p-0">
                <div class="col-md-12 px-2 py-2 m-0 row center-center flex-column flex-md-row">
                    <div class="col-6 d-flex center-center text-center p-0">
                        <div class="p-1 row mx-0 col-md-6 col-12 p-0 justify-content-center">
                            <p class="mb-0 col-12 text-center text-violet font-weight-bold quantrac_title">Kiểm soát mực nước hồ</p>
                            <div class="row mx-0 mx-sm-auto">
                                <div class="col-0 row mx-0 align-items-center">
                                    <p class="mb-0 w-100  font-weight-bold text-primary p-0"><span>{{checkRiseWL}}</span>/<span> {{TotalCons}} </span></p>
                                    <p class="mb-0 w-100 p-0 text-danger font-weight-bold fst-italic">Hồ</p>
                                </div>
                                <div class="col-0">
                                    <img src="~/LocalFiles/images/HE_THONG_GIAM_SAT/ANH_QXANHAMAY.png" alt="HE_THONG_GIAM_SAT/ANH_QXANHAMAY" width="50" height="50" />
                                </div>
                            </div>
                        </div>
                        <div class="p-1 row mx-0 col-md-6 col-12 p-0 justify-content-center">
                            <p class="mb-0 col-12 text-center text-violet font-weight-bold quantrac_title">Kiểm soát xả DCTT</p>
                            <div class="row mx-0 mx-sm-auto">
                                <div class="col-0 row mx-0 align-items-center">
                                    <p class="mb-0 w-100  font-weight-bold text-primary p-0"><span>{{checkMinimumFlow}}</span>/<span> {{TotalCons}} </span></p>
                                    <p class="mb-0 w-100 p-0 text-danger font-weight-bold fst-italic">Hồ</p>
                                </div>
                                <div class="col-0">
                                    <img src="~/LocalFiles/images/HE_THONG_GIAM_SAT/ANH_QXANHAMAY.png" alt="HE_THONG_GIAM_SAT/ANH_QXANHAMAY" width="50" height="50" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 d-flex center-center text-center p-0">
                        <div class="p-1 row mx-0 col-md-6 col-12 p-0 justify-content-center">
                            <p class="mb-0 col-12  text-center text-violet font-weight-bold quantrac_title">Kiểm soát Qxa nhà máy</p>
                            <div class="row mx-0 mx-sm-auto">
                                <div class="col-0 row mx-0 align-items-center">
                                    <p class="mb-0 w-100  font-weight-bold text-primary p-0"><span>{{checkMiningMaxFlow}}</span>/<span> {{TotalCons}} </span></p>
                                    <p class="mb-0 w-100 p-0 text-danger font-weight-bold fst-italic">Hồ</p>
                                </div>
                                <div class="col-0">
                                    <img src="~/LocalFiles/images/HE_THONG_GIAM_SAT/ANH_QXANHAMAY.png" alt="HE_THONG_GIAM_SAT/ANH_QXANHAMAY" width="50" height="50" />
                                </div>
                            </div>
                        </div>
                        <div class="p-1 row mx-0 col-md-6 col-12 p-0 justify-content-center">
                            <p class="mb-0 col-12  text-center text-violet font-weight-bold quantrac_title">Kiểm soát Qxa tràn </p>
                            <div class="row mx-0 mx-sm-auto">
                                <div class="col-0 row mx-0 align-items-center">
                                    <p class="mb-0 w-100  font-weight-bold text-primary p-0"><span>{{checkMaximumDischargeFlow}}</span>/<span> {{TotalCons}} </span></p>
                                    <p class="mb-0 w-100 p-0 text-danger font-weight-bold fst-italic">Hồ</p>
                                </div>
                                <div class="col-0">
                                    <img src="~/LocalFiles/images/HE_THONG_GIAM_SAT/ANH_QXANHAMAY.png" alt="HE_THONG_GIAM_SAT/ANH_QXANHAMAY" width="50" height="50" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row m-0 justify-content-center align-items-center pt-2 pb-1 px-2 justify-content-md-between">
                    @Html.Partial("_search")
                </div>
                <!--hết Phần các nút chọn-->
                <!--Phần bảng -->
                <div class="table-responsive">
                    <table class="table no-margin table-hover table-bordered">
                        <thead class="custom-table-thead">
                            <tr>
                                <th rowspan="2" class="text-center align-middle text-nowrap">STT</th>
                                <th rowspan="2" class="text-center align-middle text-nowrap sticky-col start-col">Tên công trình</th>
                                <th rowspan="2" class="text-center align-middle">Trạng thái vận hành </th>

                                @*<th ng-if="ShowColumns(TypeOfConstructionId,[1,4,5])" rowspan="2" class="text-center align-middle">Lượng mưa (mm)</th>*@
                                <th ng-if="ShowColumns(TypeOfConstructionId,[1,4,5])" rowspan="2" class="text-center align-middle text-nowrap">Mực nước <br /> hạ lưu (m)</th>
                                <th ng-if="ShowColumns(TypeOfConstructionId,[1,4,5])" rowspan="2" class="text-center align-middle text-nowrap">Dung tích hồ  <br /> (triệu m<sup>3</sup>)</th>
                                @*<th ng-if="ShowColumns(TypeOfConstructionId,[1,4])" rowspan="2" class="text-center align-middle text-nowrap">Q đến hồ (m3/s)</th>*@
                                <!--Mưc nước thượng lưu hồ -->
                                <th ng-if="ShowColumns(TypeOfConstructionId,[1,4,5])" colspan="3" class="text-center align-middle text-nowrap"> Mưc nước thượng lưu hồ (m) <span class="text-danger">(*)</span></th>
                                <!--Lưu lượng xả qua tràn -->
                                <th ng-if="ShowColumns(TypeOfConstructionId,[1,4,5])" colspan="1" class="text-center align-middle text-nowrap">Lưu lượng xả qua tràn  (m3/s)<span class="text-danger">(*)</span></th>
                                <!--Lưu lượng lớn nhất -->
                                <th colspan="3" class="text-center align-middle text-nowrap">Lưu lượng lớn nhất (m3/s) <span class="text-danger">(*)</span></th>
                                <!--Lưu lượng xả duy trì DCTT -->
                                <th ng-if="ShowColumns(TypeOfConstructionId,[1,4,5])" colspan="3" class="text-center align-middle text-nowrap">Lưu lượng xả duy trì DCTT (m3/s) <span class="text-danger">(*)</span></th>
                                <!--Lưu lượng về hạ du -->
                                <th ng-if="ShowColumns(TypeOfConstructionId,[1,4])" colspan="3" class="text-center align-middle text-nowrap">Lưu lượng về hạ du (m3/s)</th>
                                @*<th ng-if="ShowColumns(TypeOfConstructionId,[1,4])" rowspan="2" class="text-center align-middle text-nowrap">Dự kiến Q về hạ du trong 12h tới (m3/s)</th>*@
                                @*<th ng-if="ShowColumns(TypeOfConstructionId,[1,4])" rowspan="2" class="text-center align-middle text-nowrap">Mực nước hồ dự kiến 12h tới (m)</th>*@

                                <th rowspan="2" class="text-center align-middle sticky-col end-col">Thao tác</th>
                            </tr>
                            <tr>
                                <!--Mưc nước thượng lưu hồ -->
                                <th class="text-nowrap" ng-if="ShowColumns(TypeOfConstructionId,[1,4,5])">Ngưỡng tràn </th>
                                <th class="text-nowrap" ng-if="ShowColumns(TypeOfConstructionId,[1,4,5])">Thực tế </th>
                                <th class="text-nowrap" ng-if="ShowColumns(TypeOfConstructionId,[1,4,5])">Chênh lệch (+/-) </th>
                                <!--Lưu lượng xả qua tràn -->
                                @*<th class="text-nowrap" ng-if="ShowColumns(TypeOfConstructionId,[1,4,5])">Yêu cầu </th>*@
                                <th class="text-nowrap text-center" ng-if="ShowColumns(TypeOfConstructionId,[1,4,5])">Thực tế </th>
                                @*<th class="text-nowrap" ng-if="ShowColumns(TypeOfConstructionId,[1,4,5])">Chênh lệch (+/-) </th>*@
                                <!--Lưu lượng lớn nhất -->
                                <th class="text-nowrap" ng-if="ShowColumns(TypeOfConstructionId,[1,4,5,6,11,13])">Yêu cầu </th>
                                <th class="text-nowrap" ng-if="ShowColumns(TypeOfConstructionId,[1,4,5,6,11,13])">Thực tế </th>
                                <th class="text-nowrap" ng-if="ShowColumns(TypeOfConstructionId,[1,4,5,6,11,13])">Chênh lệch (+/-) </th>
                                <!--Lưu lượng xả duy trì DCTT -->
                                <th class="text-nowrap" ng-if="ShowColumns(TypeOfConstructionId,[1,4,5])">Yêu cầu </th>
                                <th class="text-nowrap" ng-if="ShowColumns(TypeOfConstructionId,[1,4,5])">Thực tế </th>
                                <th class="text-nowrap" ng-if="ShowColumns(TypeOfConstructionId,[1,4,5])">Chênh lệch (+/-) </th>
                                <!--Lưu lượng về hạ du -->
                                <th class="text-nowrap" ng-if="ShowColumns(TypeOfConstructionId,[1,4])">Yêu cầu </th>
                                <th class="text-nowrap" ng-if="ShowColumns(TypeOfConstructionId,[1,4])">Thực tế </th>
                                <th class="text-nowrap" ng-if="ShowColumns(TypeOfConstructionId,[1,4])">Chênh lệch (+/-) </th>
                            </tr>
                        </thead>
                        <tbody class="custom-table-tbody">
                            <tr ng-repeat="item in DataConstruction">
                                <th class="text-center align-middle" ng-bind="(currentPage -1)*numPerPage+$index+1"> </th>
                                <td class="text-nowrap sticky-col start-col" style="min-width:100px">
                                    <span ng-bind-html="item.ConstructionName" class="text-primary" ng-click="zoomConstruction(item.Lng, item.Lat, item.Id)"></span>
                                    <img class="grid-item-image" style="width: 15px;" src="~/LocalFiles/images/earth.png" alt="altImg">
                                </td>
                                <td class="text-center align-middle d-flex align-items-center" ng-bind-html="displayOperatingStatus(item)"></td>

                                @*<td ng-if="ShowColumns(TypeOfConstructionId,[1,4,5])" ng-bind-html="checkValuePreData(item.MuathuongluuPre)"></td>*@
                                <td ng-if="ShowColumns(TypeOfConstructionId,[1,4,5])" class="text-center" ng-bind-html="checkValuePreData(item.DownstreamWLPre)"></td>
                                <td ng-if="ShowColumns(TypeOfConstructionId,[1,4,5])" class="text-center" ng-bind-html="checkValuePreData(item.CapacityPre)"></td>
                                @*<td ng-if="ShowColumns(TypeOfConstructionId,[1,4])" class="text-center" ng-bind-html-html="checkValuePreData(item.Luuluongden)"></td>*@
                                <!--Mưc nước thượng lưu hồ -->
                                <td ng-if="ShowColumns(TypeOfConstructionId,[1,4,5])" class="text-center bg-lightblue" ng-bind-html="checkValuePreData(item.UpstreamWL)"></td>
                                <td ng-if="ShowColumns(TypeOfConstructionId,[1,4,5])" class="text-center bg-lightblue" ng-bind-html="checkValuePreData(item.UpstreamWLPre)"> </td>
                                <td ng-if="ShowColumns(TypeOfConstructionId,[1,4,5])" class="text-center bg-lightblue" ng-bind-html="item.UpstreamWLPre - item.UpstreamWL | number: 2"></td>
                                <!--Lưu lượng xả qua tràn -->
                                @*<td ng-if="ShowColumns(TypeOfConstructionId,[1,4,5])" class="text-center bg-brownyellow" ng-bind-html="checkValuePreData(item.MaximumDischargeFlow)"></td>*@
                                <td ng-if="ShowColumns(TypeOfConstructionId,[1,4,5])" class="text-center bg-brownyellow" ng-bind-html="checkValuePreData(item.MaximumDischargeFlowPre)"> </td>
                                @*<td ng-if="ShowColumns(TypeOfConstructionId,[1,4,5])" class="text-center bg-brownyellow font-weight-bold" ng-bind-html="calculatePreData(item.MaximumDischargeFlowPre, item.MaximumDischargeFlow)"></td>*@
                                <!--Lưu lượng lớn nhất -->
                                <td class="text-center bg-lightblue" ng-bind-html="checkValuePreData(item.MaximumFlow)"></td>
                                <td class="text-center bg-lightblue" ng-bind-html="checkValuePreData(item.MaximumFlowPre)"></td>
                                <td class="text-center bg-lightblue font-weight-bold" ng-bind-html="calculatePreData(item.MaximumFlowPre, item.MaximumFlow)"></td>
                                <!--Lưu lượng xả duy trì DCTT -->
                                <td ng-if="ShowColumns(TypeOfConstructionId,[1,4,5])" class="text-center bg-brownyellow" ng-bind-html="checkValuePreData(item.MinimumFlow)"></td>
                                <td ng-if="ShowColumns(TypeOfConstructionId,[1,4,5])" class="text-center bg-brownyellow" ng-bind-html="checkValuePreData(item.MinimumFlowPre)"></td>
                                <td ng-if="ShowColumns(TypeOfConstructionId,[1,4,5])" class="text-center bg-brownyellow" ng-bind-html="calculatePreDataNegative(item.MinimumFlowPre, item.MinimumFlow)"></td>
                                <!--Lưu lượng về hạ du -->
                                <td ng-if="ShowColumns(TypeOfConstructionId,[1,4])" class="text-center bg-lightblue" ng-bind-html="calculateSumPreData(item.MaximumDischargeFlow, item.MaximumFlow, item.MinimumFlow)"></td>
                                <td ng-if="ShowColumns(TypeOfConstructionId,[1,4])" class="text-center bg-lightblue" ng-bind-html="calculateSumPreData(item.MaximumDischargeFlowPre, item.MaximumDischargeFlowPre, item.MinimumFlowPre)"></td>
                                <td ng-if="ShowColumns(TypeOfConstructionId,[1,4])" class="text-center bg-lightblue font-weight-bold" ng-bind-html="calculateSumPreData(item.MaximumDischargeFlow, item.MaximumFlow, item.MinimumFlow) - calculateSumPreData(item.MaximumDischargeFlowPre, item.MaximumDischargeFlowPre, item.MinimumFlowPre) | number: 2"></td>
                                <!--Dự kiến về hạ du -->
                                @*<td ng-if="ShowColumns(TypeOfConstructionId,[1,4])" class="text-center" ng-bind-html="item.DukienluuluonghaduPre"></td>
                                <td ng-if="ShowColumns(TypeOfConstructionId,[1,4])" class="text-center" ng-bind-html="item.DukienmucnuochoPre"></td>*@
                                <td class="sticky-col end-col bg-white">
                                    <div class="d-flex">
                                        <a href="javascript:void(0)" class="px-2 text-nowrap" title="Xem chi tiết" ng-click="openAside('Hydroelectric_Online_Operate_Monitoring', 0, item, 'operateHydroelectric')"> <i> </i> Chi tiết</a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="floating-label col-md-4 p-0 mx-1">
                    <i class="font-16 font-weight-bold text-danger">(*): Các thông số giám sát theo thông tư 17/2021/TT-BTNMT</i>
                </div>
                <!-- pagination phân trang -->
                <div class="box-footer ">
                    <div class="box-tools pull-right">
                        <ul uib-pagination
                            total-items="TotalItems"
                            ng-model="currentPage"
                            items-per-page="numPerPage"
                            boundary-links="true"
                            previous-text=" &#xf104; " next-text=" &#xf105; "
                            first-text=" &#xf100; " last-text=" &#xf101; "
                            max-size="5" ng-change="pageChanged()"
                            rotate="true"
                            force-ellipses="true" class="pagination pagination-sm d-flex fa my-3"></ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="Hydroelectric_Online_Operate_Monitoring" class="sidenav p-0 ">
            <div>
                <div class="doc-title p-2 col-12 d-flex align-items-center" style="background:#15538f; color: #fff; height: 50px">
                    <div class="d-flex col-12 p-0 align-items-center">
                        <div class="col-10 p-0">
                            <div class="admission-title d-flex center-center">
                                <p class="m-0 col-12 p-0 text-left text-uppercase font-16"> SỐ LIỆU VẬN HÀNH CỦA CÔNG TRÌNH - {{ConsName}} </p>
                            </div>
                        </div>
                        <a href="javascript:void(0)" class="closebtn m-0 p-0 text-white" ng-click="closeAside('Hydroelectric_Online_Operate_Monitoring')"><i class="fa fa-arrow-right font-20"></i></a>
                    </div>
                </div>
            </div>
            <div class="row m-0">
                <!-- GIAM SAT KET NOI -->
                <div class="col-md-12 py-2">
                    <div class="card-header rounded-0 p-0">
                        <ul class="nav nav-tabs" id="Hydroelectric_Online_Operate-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link rounded-0 active" id="Hydroelectric_Online_Operate_Monitoring_Data-tab" data-toggle="pill" href="#Hydroelectric_Online_Operate_Monitoring_Data" role="tab" aria-controls="Hydroelectric_Online_Operate_Monitoring_Data" aria-selected="false">Số liệu vận hành</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link rounded-0" id="Hydroelectric_Online_Operate_Monitoring_Chart-tab" data-toggle="pill" href="#Hydroelectric_Online_Operate_Monitoring_Chart" role="tab" aria-controls="Hydroelectric_Online_Operate_Monitoring_Chart" aria-selected="false">Đồ thị vận hành</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="Hydroelectric_Online_Operate_Monitoring_Data">
                                <div class="row m-0 justify-content-between align-items-center py-2">
                                    <div class="row m-0 align-items-center">
                                        <span class="px-2"><img src="~/LocalFiles/images/live.gif" class="mr-2" width="25" />Thời gian hiện tại: <span ng-bind-html="currentTime"></span> </span>
                                    </div>
                                    <div class="row m-0">
                                        <div class="row m-0 align-items-center">
                                            <span class="px-2">Thời gian từ: </span>
                                            <div class="row m-0">
                                                <input type="datetime-local" class="form-control form-control-sm col-md-12" ng-model="inputStartTime" id="inputStartTime">
                                            </div>
                                            <span class="px-2">Đến: </span>
                                            <div class="row m-0">
                                                <input type="datetime-local" class="form-control form-control-sm col-md-12" ng-model="inputEndTime" id="inputEndTime">
                                            </div>
                                        </div>
                                        <div class="row m-0 align-items-center p-1">
                                            <button ng-click="filterPreData('operateHydroelectric')" class="btn btn-sm btn-addnew px-4 mx-2"><i class="fa-solid fa-filter"></i> Lọc</button>
                                            <button class="btn btn-sm btn-addnew px-4 mx-2"> <i class="fa-regular fa-file"></i> Thêm file xls</button>
                                            <button class="btn btn-sm btn-addnew px-4 mx-2" data-toggle="modal" data-target="#manualDataEntry"><i class="fa-solid fa-desktop"></i> Nhập thủ công </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body p-0">
                                    <div class="table-responsive">
                                        <table class="table no-margin table-hover table-bordered" id="table-show-license">
                                            <thead class="custom-table-thead">
                                                <tr>
                                                    <th rowspan="2" class="text-center align-middle">STT</th>
                                                    <th rowspan="2" class="text-center align-middle">Thời gian </th>
                                                    <th rowspan="2" class="text-center align-middle">Lưu lượng khai thác</th>
                                                    <th rowspan="2" class="text-center align-middle">Lượng mưa (mm)</th>
                                                    <th rowspan="2" class="text-center align-middle">Mực nước hạ lưu (m)</th>
                                                    <th rowspan="2" class="text-center align-middle">Dung tích hồ (triệu m<sup>3</sup>)</th>
                                                    <th rowspan="2" class="text-center align-middle">Q đến hồ (m3/s)</th>
                                                    <th colspan="3" class="text-center align-middle">Mực nước thượng lưu hồ (m) <span class="text-danger">(*)</span></th>
                                                    <th colspan="3" class="text-center align-middle">Lưu lượng xả qua tràn  (m3/s)<span class="text-danger">(*)</span></th>
                                                    <th colspan="3" class="text-center align-middle">Lưu lượng xả qua nhà máy (m3/s) <span class="text-danger">(*)</span></th>
                                                    <th colspan="3" class="text-center align-middle">Lưu lượng xả duy trì DCTT (m3/s) <span class="text-danger">(*)</span></th>
                                                    <th colspan="3" class="text-center align-middle">Lưu lượng về hạ du (m3/s) <span class="text-danger">(*)</span></th>
                                                    <th rowspan="2" class="text-center align-middle">Dự kiến Q về hạ du trong 12h tới (m3/s)</th>
                                                    <th rowspan="2" class="text-center align-middle">Mực nước hồ dự kiến 12h tới (m)</th>
                                                    <th rowspan="2" class="text-center align-middle">Trạng thái đo </th>
                                                </tr>
                                                <tr>
                                                    <th>Yêu cầu </th>
                                                    <th>Thực tế </th>
                                                    <th>Chênh lệch (+/-) </th>
                                                    <th>Yêu cầu </th>
                                                    <th>Thực tế </th>
                                                    <th>Chênh lệch (+/-) </th>
                                                    <th>Yêu cầu </th>
                                                    <th>Thực tế </th>
                                                    <th>Chênh lệch (+/-) </th>
                                                    <th>Yêu cầu </th>
                                                    <th>Thực tế </th>
                                                    <th>Chênh lệch (+/-) </th>
                                                    <th>Yêu cầu </th>
                                                    <th>Thực tế </th>
                                                    <th>Chênh lệch (+/-) </th>
                                                </tr>
                                            </thead>
                                            <tbody class="custom-table-tbody">
                                                <tr ng-repeat="item in DataPre">
                                                    <th class="text-center align-middle" ng-bind="(currentPage -1)*numPerPage+$index+1"> </th>
                                                    <td class="text-nowrap" ng-bind="item.Time | date:'dd/MM/yyyy HH:mm'"></td>
                                                    <td ng-bind-html="item.khaithac"></td>
                                                    <td ng-bind-html="item.muathuongluu"></td>
                                                    <td ng-bind-html="item.mucnuochaluu"></td>
                                                    <td class="text-center" ng-bind-html="item.dungtich"></td>
                                                    <td ng-bind-html="item.qden"></td>
                                                    <td ng-bind-html="item.mucnuochoyeucau"></td>
                                                    <td>{{item.mucnuocthuongluu}}</td>
                                                    <td class="text-center font-weight-bold {{item.mucnuochoyeucau > item.mucnuocthuongluu ? 'text-success' : 'text-danger'}}">{{item.mucnuocthuongluu - item.mucnuochoyeucau | number: 2}}</td>
                                                    <td ng-bind-html="item.qquatranyeucau"></td>
                                                    <td ng-bind-html="item.qquatran"></td>
                                                    <td class="text-center font-weight-bold {{item.qquatranyeucau > item.qquatran ? 'text-success' : 'text-danger'}}">{{item.qquatran - item.qquatranyeucau | number: 2}}</td>
                                                    <td ng-bind-html="item.qnhamayyeucau"></td>
                                                    <td>{{item.qnhamay}}</td>
                                                    <td class="text-center font-weight-bold {{item.qnhamayyeucau > item.qnhamay ? 'text-success' : 'text-danger'}}">{{item.qnhamay - item.qnhamayyeucau | number: 2}}</td>
                                                    <td ng-bind-html="item.qxattyeucau"></td>
                                                    <td ng-bind-html="item.qxatt"></td>
                                                    <td class="text-center font-weight-bold {{item.qxatt > item.qxattyeucau ? 'text-success' : 'text-danger'}}">{{item.qxatt - item.qxattyeucau | number: 2}}</td>
                                                    <td>0</td>
                                                    <td ng-bind-html="item.qhadu"></td>
                                                    <td class="text-center font-weight-bold {{0 > item.qhadu ? 'text-success' : 'text-danger'}}">{{0 - item.qhadu | number: 2}}</td>
                                                    <td ng-bind-html="item.qhadudukien"></td>
                                                    <td ng-bind-html="item.mucnuochodukien12gio"></td>
                                                    <td ng-bind-html="checkDeviceStatus(item.trangthaithietbi)"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="Hydroelectric_Online_Operate_Monitoring_Chart">
                                <div class="col-12 p-0">
                                    <div class="row m-0 justify-content-between align-items-center py-2">
                                        <div class="row m-0 align-items-center">
                                            <span class="px-2"><img src="~/LocalFiles/images/live.gif" class="mr-2" width="25" />Thời gian hiện tại: <span ng-bind-html="currentTime"></span> </span>
                                        </div>
                                        <div class="row m-0">
                                            <div class="row m-0 align-items-center">
                                                <span class="px-2">Thời gian từ: </span>
                                                <div class="row m-0">
                                                    <input type="datetime-local" class="form-control form-control-sm col-md-12" ng-model="inputStartTime" id="inputStartTime">
                                                </div>
                                                <span class="px-2">Đến: </span>
                                                <div class="row m-0">
                                                    <input type="datetime-local" class="form-control form-control-sm col-md-12" ng-model="inputEndTime" id="inputEndTime">
                                                </div>
                                            </div>
                                            <div class="row m-0 align-items-center p-1">
                                                <button ng-click="filterPreData('operateHydroelectric')" class="btn btn-sm btn-addnew px-4 mx-2"><i class="fa-solid fa-filter"></i>Lọc</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="operateHydroelectric"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /primary modal -->
        <!-- Modal Manual Data -->
        <div class="modal fade" id="manualDataEntry" tabindex="-1" role="dialog" aria-labelledby="manualDataEntryLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="manualDataEntryLabel">Nhập số liệu vận hành</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <!-- Tên công trình -->
                            <div class="mb-3">
                                <label for="tenCongTrinh" class="form-label">Tên công trình</label>
                                <input type="text" class="form-control" id="tenCongTrinh" value="{{ConsName}}" readonly>
                                <input type="hidden" class="form-control" id="maCongTrinh" ng-model="storePreData.ConstructionCode">
                            </div>

                            <!-- Thời gian nhập dữ liệu -->
                            <div class="mb-4">
                                <label for="thoiGian" class="form-label">Thời gian nhập dữ liệu</label>
                                <input type="datetime-local" class="form-control" id="thoiGian" ng-model="storePreData.Time">
                            </div>

                            <!-- 11 hàng dữ liệu -->
                            <div class="row mb-2 fw-bold">
                                <div class="col-md-4">Yếu tố quan trắc</div>
                                <div class="col-md-4"></div>
                                <div class="col-md-2">Giá trị</div>
                                <div class="col-md-2">Đơn vị</div>
                            </div>

                            <!-- Loop 11 yếu tố -->
                            <div id="rowsContainer">
                                <!-- Các dòng dữ liệu sẽ được lặp ra phía dưới -->
                                <!-- Ví dụ dòng 1 -->
                                <div class="row mb-2">
                                    <div class="col-md-4">
                                        <input type="text" class="form-control" value="MUATHUONGLUU" readonly>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control" value="LUONGMUA" readonly>
                                    </div>
                                    <div class="col-md-2">
                                        <input type="number" class="form-control" placeholder="Nhập giá trị" ng-model="storePreData.Data.MUATHUONGLUU" required>
                                    </div>
                                    <div class="col-md-2 d-flex align-items-center">
                                        <span>(mm)</span>
                                    </div>
                                </div>

                                <!-- Copy và thay thế cho các yếu tố còn lại -->
                                <div class="row mb-2">
                                    <div class="col-md-4"><input type="text" class="form-control" value="THUONGLUU" readonly></div>
                                    <div class="col-md-4"><input type="text" class="form-control" value="MUCNUOC" readonly></div>
                                    <div class="col-md-2"><input type="number" class="form-control" placeholder="Nhập giá trị" ng-model="storePreData.Data.THUONGLUU" required></div>
                                    <div class="col-md-2 d-flex align-items-center"><span>(m)</span></div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-md-4"><input type="text" class="form-control" value="HALUU" readonly></div>
                                    <div class="col-md-4"><input type="text" class="form-control" value="MUCNUOC" readonly></div>
                                    <div class="col-md-2"><input type="number" class="form-control" placeholder="Nhập giá trị" ng-model="storePreData.Data.HALUU" required></div>
                                    <div class="col-md-2 d-flex align-items-center"><span>(m)</span></div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-md-4"><input type="text" class="form-control" value="DUNGTICH" readonly></div>
                                    <div class="col-md-4"><input type="text" class="form-control" value="MUCNUOC" readonly></div>
                                    <div class="col-md-2"><input type="number" class="form-control" placeholder="Nhập giá trị" ng-model="storePreData.Data.DUNGTICH" required></div>
                                    <div class="col-md-2 d-flex align-items-center"><span>(triệu m<sup>3</sup>)</span></div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-md-4"><input type="text" class="form-control" value="QDEN" readonly></div>
                                    <div class="col-md-4"><input type="text" class="form-control" value="LUULUONG" readonly></div>
                                    <div class="col-md-2"><input type="number" class="form-control" placeholder="Nhập giá trị" ng-model="storePreData.Data.QDEN" required></div>
                                    <div class="col-md-2 d-flex align-items-center"><span>(m<sup>3</sup>/s)</span></div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-md-4"><input type="text" class="form-control" value="QUATRAN" readonly></div>
                                    <div class="col-md-4"><input type="text" class="form-control" value="LUULUONG" readonly></div>
                                    <div class="col-md-2"><input type="number" class="form-control" placeholder="Nhập giá trị" ng-model="storePreData.Data.QUATRAN" required></div>
                                    <div class="col-md-2 d-flex align-items-center"><span>(m<sup>3</sup>/s)</span></div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-md-4"><input type="text" class="form-control" value="NHAMAY" readonly></div>
                                    <div class="col-md-4"><input type="text" class="form-control" value="LUULUONG" readonly></div>
                                    <div class="col-md-2"><input type="number" class="form-control" placeholder="Nhập giá trị" ng-model="storePreData.Data.NHAMAY" required></div>
                                    <div class="col-md-2 d-flex align-items-center"><span>(m<sup>3</sup>/s)</span></div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-md-4"><input type="text" class="form-control" value="DCTT" readonly></div>
                                    <div class="col-md-4"><input type="text" class="form-control" value="LUULUONG" readonly></div>
                                    <div class="col-md-2"><input type="number" class="form-control" placeholder="Nhập giá trị" ng-model="storePreData.Data.DCTT" required></div>
                                    <div class="col-md-2 d-flex align-items-center"><span>(m<sup>3</sup>/s)</span></div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-md-4"><input type="text" class="form-control" value="LUULUONGHADU" readonly></div>
                                    <div class="col-md-4"><input type="text" class="form-control" value="LUULUONG" readonly></div>
                                    <div class="col-md-2"><input type="number" class="form-control" placeholder="Nhập giá trị" ng-model="storePreData.Data.LUULUONGHADU" required></div>
                                    <div class="col-md-2 d-flex align-items-center"><span>(m<sup>3</sup>/s)</span></div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-md-4"><input type="text" class="form-control" value="DUKIENLUULUONGHADU" readonly></div>
                                    <div class="col-md-4"><input type="text" class="form-control" value="LUULUONG" readonly></div>
                                    <div class="col-md-2"><input type="number" class="form-control" placeholder="Nhập giá trị" ng-model="storePreData.Data.DUKIENLUULUONGHADU" required></div>
                                    <div class="col-md-2 d-flex align-items-center"><span>(m<sup>3</sup>/s)</span></div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-md-4"><input type="text" class="form-control" value="MUCNUOCHODUKIEN12GIO" readonly></div>
                                    <div class="col-md-4"><input type="text" class="form-control" value="MUCNUOC" readonly></div>
                                    <div class="col-md-2"><input type="number" class="form-control" placeholder="Nhập giá trị" ng-model="storePreData.Data.MUCNUOCHODUKIEN12GIO" required></div>
                                    <div class="col-md-2 d-flex align-items-center"><span>(m)</span></div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">ĐÓNG</button>
                        <button type="button" class="btn btn-primary" ng-click="saveStorePreData()"><i class="fa-solid fa-floppy-disk"></i>&nbsp;LƯU</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </div>
}
else
{
    @Html.Partial("_401")
}