@using WaterResource.Service;
@{
    UserRightService _service = new UserRightService();
}
<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar Menu -->
        <ul class="sidebar-menu tree" data-widget="tree" id="leftmenu">
            <li class="leftmenu"><a href="/"><i class="fa fa-fw fa-home" aria-hidden="true"></i> <span> TRANG CHỦ </span></a></li>
            <li class="treeview header p-0 text-uppercase border-bottom borber-light">
                <a href="javascript:void(0)">
                    <span class="font-14">CÔNG TRÌNH HỒ CHỨA</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu bg-white tree p-0">
                    <li class="treeview-item col-12 p-1 row m-0">
                        <a href="javascript:void(0)" class="col-6 p-1 d-flex justify-content-center quantrac_item font-12" ng-click="openAside('HoChua_ThuyLoi', 5)">
                            <div class="surfacewater-usage p-1 row mx-0 col-12 p-0">
                                <p class="mb-0 col-12 text-center text-violet font-weight-bold quantrac_title">Thủy lợi</p>
                                <div class="row mx-0 mx-sm-auto">
                                    <div class="col-12">
                                        <img src="~/LocalFiles/images/HE_THONG_QUAN_TRAC/NUOC_MAT/ANH_THUYLOI.png" alt="HE_THONG_QUAN_TRAC/NUOC_MAT/ANH_THUYLOI" />
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a href="javascript:void(0)" class="col-6 p-1 d-flex justify-content-center quantrac_item font-12" ng-click="openAside('HoChua_ThuyDien', 4)">
                            <div class="surfacewater-usage p-1 row mx-0 col-12 p-0">
                                <p class="mb-0 col-12 text-center text-violet font-weight-bold quantrac_title">Thủy điện</p>
                                <div class="row mx-0 mx-sm-auto">
                                    <div class="col-12">
                                        <img src="~/LocalFiles/images/HE_THONG_QUAN_TRAC/NUOC_MAT/ANH_THUYDIEN.png" alt="HE_THONG_QUAN_TRAC/NUOC_MAT/ANH_THUYDIEN" />
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="treeview header p-0 text-uppercase border-bottom borber-light">
                <a href="javascript:void(0)">
                    <span class="font-14">CỐNG, TRẠM BƠM, CÔNG TRÌNH CẤP NƯỚC SINH HOẠT </span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu bg-white tree p-0">
                    <li class="treeview-item col-12 p-1 row m-0">
                        <a href="javascript:void(0)" class="col-6 p-1 d-flex justify-content-center quantrac_item font-12" ng-click="openAside('CapNuocSinhHoat_Cong', 13)">
                            <div class="surfacewater-usage p-1 row mx-0 col-12 p-0">
                                <p class="mb-0 col-12 text-center text-violet font-weight-bold quantrac_title">CÔNG TRÌNH CỐNG</p>
                                <div class="row mx-0 mx-sm-auto">
                                    <div class="col-12">
                                        <img src="~/LocalFiles/images/HE_THONG_QUAN_TRAC/NUOC_MAT/ANH_MUA.png" alt="HE_THONG_QUAN_TRAC/NUOC_MAT/ANH_MUA" />
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a href="javascript:void(0)" class="col-6 p-1 d-flex justify-content-center quantrac_item font-12" ng-click="openAside('CapNuocSinhHoat_TramBom', 6)">
                            <div class="surfacewater-usage p-1 row mx-0 col-12 p-0">
                                <p class="mb-0 col-12 text-center text-violet font-weight-bold quantrac_title">CÔNG TRÌNH TRẠM BƠM </p>
                                <div class="row mx-0 mx-sm-auto">
                                    <div class="col-12">
                                        <img src="~/LocalFiles/images/HE_THONG_QUAN_TRAC/NUOC_MAT/ANH_MUC_NUOC_HO.png" alt="HE_THONG_QUAN_TRAC/NUOC_MAT/ANH_MUC_NUOC_HO" />
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a href="javascript:void(0)" class="col-6 p-1 d-flex justify-content-center quantrac_item font-12" ng-click="openAside('CapNuocSinhHoat_CapSinhHoat', 11)">
                            <div class="surfacewater-usage p-1 row mx-0 col-12 p-0">
                                <p class="mb-0 col-12 text-center text-violet font-weight-bold quantrac_title">CÔNG TRÌNH CẤP NƯỚC SINH HOẠT</p>
                                <div class="row mx-0 mx-sm-auto">
                                    <div class="col-12">
                                        <img src="~/LocalFiles/images/HE_THONG_QUAN_TRAC/NUOC_MAT/ANH_QDEN.png" alt="HE_THONG_QUAN_TRAC/NUOC_MAT/ANH_QDEN" />
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="treeview header p-0 text-uppercase border-bottom borber-light">
                <a href="javascript:void(0)">
                    <span class="font-14">CÔNG TRÌNH KHAI THÁC NƯỚC DƯỚI ĐẤT</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu bg-white tree p-0">
                    <li class="treeview-item col-12 p-1 row m-0">
                        <a href="javascript:void(0)" class="col-6 p-1 d-flex justify-content-center quantrac_item font-12" ng-click="openAside('NuocDuoiDat_HanhNgheKhoanNuocDuoiDat', 10)">
                            <div class="surfacewater-usage p-1 row mx-0 col-12 p-0">
                                <p class="mb-0 col-12 text-center text-violet font-weight-bold quantrac_title">HÀNH NGHỀ KHOAN NDĐ</p>
                                <div class="row mx-0 mx-sm-auto">
                                    <div class="col-12">
                                        <img src="~/LocalFiles/images/HE_THONG_QUAN_TRAC/NUOC_DUOI_DAT/ANH_LUULUONGKHAITHACNDD.png" alt="HE_THONG_QUAN_TRAC/NUOC_DUOI_DAT/ANH_LUULUONGKHAITHACNDD" />
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a href="javascript:void(0)" class="col-6 p-1 d-flex justify-content-center quantrac_item font-12" ng-click="openAside('NuocDuoiDat_ThamDoNuocDuoiDat', 9)">
                            <div class="surfacewater-usage p-1 row mx-0 col-12 p-0">
                                <p class="mb-0 col-12 text-center text-violet font-weight-bold quantrac_title">THĂM DÒ NƯỚC DƯỚI ĐẤT</p>
                                <div class="row mx-0 mx-sm-auto">
                                    <div class="col-12">
                                        <img src="~/LocalFiles/images/HE_THONG_QUAN_TRAC/NUOC_DUOI_DAT/MUC_NUOC_GIENG_KT.png" alt="HE_THONG_QUAN_TRAC/NUOC_DUOI_DAT/MUC_NUOC_GIENG_KT" />
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a href="javascript:void(0)" class="col-6 p-1 d-flex justify-content-center quantrac_item font-12" ng-click="openAside('NuocDuoiDat_KhaiThacNuocDuoiDat', 8)">
                            <div class="surfacewater-usage p-1 row mx-0 col-12 p-0">
                                <p class="mb-0 col-12 text-center text-violet font-weight-bold quantrac_title">KHAI THÁC NƯỚC DƯỚI ĐẤT</p>
                                <div class="row mx-0 mx-sm-auto">
                                    <div class="col-12">
                                        <img src="~/LocalFiles/images/HE_THONG_QUAN_TRAC/NUOC_MAT/ANH_KTNUOCDUOIDAT.png" alt="HE_THONG_QUAN_TRAC/NUOC_DUOI_DAT/MUC_NUOC_GIENG_KT" />
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="treeview header p-0 text-uppercase border-bottom borber-light">
                <a href="javascript:void(0)">
                    <span class="font-14">CÔNG TRÌNH XẢ THẢI VÀO NGUỒN NƯỚC</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu bg-white tree p-0">
                    <li class="treeview-item col-12 p-1 row m-0">
                        <a href="javascript:void(0)" class="col-6 p-1 d-flex justify-content-center quantrac_item font-12" ng-click="openAside('XaThai_LuuLuongXaThai', 3)">
                            <div class="surfacewater-usage p-1 row mx-0 col-12 p-0">
                                <p class="mb-0 col-12 text-center text-violet font-weight-bold quantrac_title">Q XẢ THẢI (m3/s)</p>
                                <div class="row mx-0 mx-sm-auto">
                                    <div class="col-12">
                                        <img src="~/LocalFiles/images/HE_THONG_QUAN_TRAC/NUOC_MAT/ANH_XATHAI.png" alt="HE_THONG_QUAN_TRAC/NUOC_DUOI_DAT/ANH_LUULUONGKHAITHACNDD" />
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
</aside>