<div id="sideViewFile" class="sidenav pt-0">
    <div class="doc-title py-2 px-0 col-12 d-flex align-items-center" style="background:#15538f; color: #fff; height: 50px">
        <div class="d-flex col-12 p-0 align-items-center">
            <div class="col-10">
                <div class="admission-title d-flex center-center">
                    <p class="m-0 col-12 p-0 text-left text-uppercase font-16 font-sm-13">XEM CHI TIẾT VĂN BẢN </p>
                </div>
            </div>
            <a href="javascript:void(0)" class="closebtn m-0 p-0 text-white" ng-click="closeAsideFile()">&times;</a>
        </div>
    </div>
    <div class="px-2">
        <object id="obj-license-file" ng-attr-data="{{fileSource}}#view=Fit" type="application/pdf" style="width:100%;height:850px;z-index:12;">
        </object>
    </div>
</div>