@using WaterResource.Service;
@{
    ViewBag.Title = "Danh mục loại công trình";
    UserRightService _service = new UserRightService();
}
@if (_service.IsViewAction("/typeofconstruction", User.Identity.Name, "VIEW"))
{
<style>
    .main-sidebar {
        min-height: unset !important;
    }
</style>
<div ng-controller="myCntrl as demo" id="pageView">
    <script src="~/Scripts/TypeOfConstruction/Service.js"></script>
    <script src="~/Scripts/TypeOfConstruction/Controller.js"></script>
    <!-- Main content -->
    <section class="content container-fluid">
        <div class="col-md-12">
            <!-- Horizontal Form -->
            <div class="box border-0">
                <div class="box-header with-border">
                    <div class="col-md-12 row m-0 justify-content-end py-2">
                        <div class="col-auto">
                            <select ng-options="opt.Id as opt.Name for opt in AllStatus" ng-model="StatusId" ng-change="StatusChange(StatusId)" class="floating-select w-100" style="width:100%">
                                <option value="">-- Trạng thái hiển thị --</option>
                            </select>
                        </div>
                        <div class="col-auto">
                            <select ng-options="opt.Id as opt.TypeName for opt in ParentTypes" ng-model="ParentId" ng-change="ParentChange(ParentId)" class="floating-select w-100" style="width:100%">
                                <option value="">-- Cấp cha --</option>
                            </select>
                        </div>
                        <div class="col-auto">
                            <div class="box-tools pull-right">
                                <div class="input-group input-group-sm">
                                    <input type="text" name="table_search" class="form-control pull-right" placeholder="Search" ng-model="Keyword">
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <button type="button" class="btn btn-sm btn-addnew" data-toggle="modal" data-target="#addnew-window" ng-click="AddItem()"><i class="fa fa-plus"></i> &nbsp; Thêm mới </button>
                        </div>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="col-md-12">
                        <table class="table no-margin table-hover" id="table-view-licene">
                            <thead class="custom-table-thead">
                                <tr>
                                    <th>STT</th>
                                    <th>Tên loại công trình</th>
                                    <th>Mô tả</th>
                                    <th>Thứ tự</th>
                                    <th class="command" style="text-align:center;width:70px">#</th>
                                </tr>
                            </thead>
                            <tbody class="custom-table-tbody">
                                <tr ng-repeat="item in AllTypes | filter:Keyword">
                                    <td ng-bind-html="(currentPage -1)*numPerPage+$index+1"></td>
                                    <td ng-bind-html="item.TypeName"></td>
                                    <td ng-bind-html="item.Description"></td>
                                    <td ng-bind-html="item.DisplayOrder"></td>
                                    <td class="command">
                                        <div class="tools d-flex">
                                            <a href="javascript:void(0)" class="py-0" ng-click="openSetting('myLicensingType',item)" title="Loại hình cấp phép" ng-if="item.ParentId>0">
                                                <i class="fa fa-address-card-o" aria-hidden="true"></i>
                                            </a>
                                            <a href="javascript:void(0)" class="py-0" ng-click="openSetting('myAttachment',item)" title="Tài liệu đính kèm" ng-if="item.ParentId>0">
                                                <i class="fa fa-list-alt" aria-hidden="true"></i>
                                            </a>
                                            <a href="javascript:void(0)" class="py-0" data-toggle="modal" data-target="#addnew-window" ng-click="EditItem(item)" title="Sửa">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                            <a href="javascript:void(0)" class="text-red py-0" ng-click="DeleteItem(item)" title="Xóa">
                                                <i class="fa-solid fa-trash-can"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <div class="box-tools pull-right">
                        <ul uib-pagination
                            total-items="TotalItem"
                            ng-model="currentPage"
                            items-per-page="numPerPage"
                            boundary-links="true"
                            previous-text=" &#xf104; "
                            next-text=" &#xf105; "
                            first-text=" &#xf100; "
                            last-text=" &#xf101; "
                            max-size="maxSize"
                            ng-change="pageChanged()"
                            class="pagination pagination-sm d-flex fa">
                        </ul>
                    </div>
                </div>
                <!-- /.box-footer -->
            </div>
            <!-- /.box -->
        </div>

        <!-- Primary modal -->
        <div id="addnew-window" class="modal fade">
            <div class="modal-dialog" style="max-width:50%">
                <div class="modal-content rounded">
                    <div class="modal-header bg-primary d-flex">
                        <h6 class="modal-title text-white"> CẬP NHẬT LOẠI CÔNG TRÌNH </h6>
                        <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-horizontal">
                            <div class="row">
                                <div class="col-md-12 py-3">
                                    <div class="floating-label mb-2">
                                        <select ng-options="opt.Id as opt.TypeName for opt in ParentTypes" ng-model="myitem.ParentId" class="floating-select" style="width:100%">
                                            <option value="" hidden>-- Cấp cha --</option>
                                        </select>
                                        <label>Tên nhóm</label>
                                    </div>
                                </div>
                                <div class="col-md-12 py-3">
                                    <div class="floating-label mb-2">
                                        <input type="text" id="tbxName" ng-model="myitem.TypeName" class="floating-input w-100" />
                                        <label>Tên loại công trình</label>
                                    </div>
                                </div>
                                <div class="col-md-12 py-3">
                                    <div class="floating-label mb-2">
                                        <input type="text" id="tbxDescription" ng-model="myitem.Description" class="floating-input w-100" />
                                        <label>Mô tả</label>
                                    </div>
                                </div>
                                <div class="col-md-12 row m-0 py-3">
                                    <div class="col-md-6" style="padding-left: 0px;">
                                        <div class="floating-label mb-2">
                                            <input type="number" id="tbxDescription" ng-model="myitem.DisplayOrder" class="floating-input w-100" />
                                            <label>Thứ tự hiển thị</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6" style="padding-right: 0px;">
                                        <div class="form-group" style="margin-left:0px;margin-right:0px;">
                                            <div class="floating-input w-100">
                                                <label>
                                                    <input type="checkbox" id="chkStatus" ng-model="myitem.Status" /> Trạng thái hiển thị :
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-sm btn-cancel" data-dismiss="modal">Huỷ</button>
                        <button type="button" class="btn btn-sm btn-addnew" data-dismiss="modal" ng-click="Save()">Xác nhận</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /primary modal -->
        <!----Begin Attachment Document Setting---->
        <div id="myAttachment" class="sidenav pt-0">
            <a href="javascript:void(0)" class="closebtn" style="top:0px; right: 0px" ng-click="closeAside('myAttachment')">&times;</a>
            <div class="doc-title">
                <div class="col-sm-12 col-12 p-0">
                    <div class="admission-title">
                        <h4>LOẠI CÔNG TRÌNH CẤP PHÉP</h4>
                    </div>
                </div>
                <div class="col">
                    <table class="table no-margin table-hover table-sm">
                        <thead>
                            <tr>
                                <th>Tên loại</th>
                                <th>Mô tả</th>
                                <th style="width:30%"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td ng-bind="typeitem.TypeName"></td>
                                <td ng-bind="typeitem.Description"></td>
                                <td>
                                    <select ng-options="opt.Id as opt.Name for opt in LicensingTypes" ng-model="LicensingTypeId" ng-change="LicensingTypeChanged(LicensingTypeId)" class="form-control" style="width:100%">
                                        <option value="" hidden>-- Loại hình cấp phép --</option>
                                    </select>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div>
                <div class="col-sm-12 col-12 p-0">
                    <div class="admission-title">
                        <h4><i class="fa fa-list-alt" aria-hidden="true"></i> DANH MỤC TÀI LIỆU ĐÍNH KÈM</h4>
                    </div>
                </div>
                <div class="col">
                    <table class="table no-margin table-hover table-sm">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Tên file: </th>
                                <th>File template: </th>
                                <th style="width:150px;text-align:center;">#</th>
                                <th style="width:100px;text-align:center;">#</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in LicenseFiles | filter:Keyword">
                                <td ng-bind-html="(currentPage -1)*numPerPage+$index+1"></td>
                                <td ng-bind-html="item.FileName"></td>
                                <td ng-bind-html="item.FileTemplate"></td>
                                <td>
                                    <input type="file" accept="application/pdf" id="{{item.Id}}" title="{{LicensingTypeId}}" placeholder="{{typeitem.Id}}" alt="{{item.FileTemp}}" onchange="angular.element(this).scope().loadFile(this.files,this.id, this.value, this.title, this.alt, this.placeholder)" ngf-select ngf-multiple="false" style="max-width:280px" />
                                </td>

                                <td class="command" style="width:70px;text-align:center;">
                                    <input type="checkbox" ng-model="item.IsAttach" ng-checked="CheckIsAttach()" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="p-4 d-flex justify-content-end">
                <button type="button" class="btn btn-addnew" ng-click="SaveFileSetting(typeitem.Id, LicensingTypeId, LicenseFiles)">Xác nhận</button>
            </div>
        </div>
        <!----End Attachment Document Setting---->
        <!----Begin myLicensingType Setting---->
        <div id="myLicensingType" class="sidenav pt-0">
            <a href="javascript:void(0)" class="closebtn" style="top:0px; right: 0px" ng-click="closeAside('myLicensingType')">&times;</a>
            <div class="doc-title">
                <div class="col-sm-12 col-12 p-0">
                    <div class="admission-title">
                        <h4> LOẠI CÔNG TRÌNH CẤP PHÉP</h4>
                    </div>
                </div>
                <div class="col">
                    <table class="table no-margin table-hover table-sm">
                        <thead>
                            <tr>
                                <th>Tên loại</th>
                                <th>Mô tả</th>
                                <th style="width:30%"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td ng-bind="typeitem.TypeName"></td>
                                <td ng-bind="typeitem.Description"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div>
                <div class="col-sm-12 col-12 p-0">
                    <div class="admission-title">
                        <h4> LOẠI HÌNH CẤP PHÉP</h4>
                    </div>
                </div>
                <div class="col">
                    <table class="table no-margin table-hover table-sm">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Tên file: </th>
                                <th style="width:100px;text-align:center;">#</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in LicensingTypes | filter:Keyword">
                                <td ng-bind-html="(currentPage -1)*numPerPage+$index+1"></td>
                                <td ng-bind-html="item.Name"></td>
                                <td class="command" style="width:70px;text-align:center;">
                                    <input type="checkbox" ng-model="item.IsSetting" ng-checked="CheckIsSetting()" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="p-4 d-flex justify-content-end">
                <button type="button" class="btn btn-addnew" ng-click="SaveLicensingTypeSetting(typeitem, LicensingTypes)">Xác nhận</button>
            </div>
        </div>
        <!----End myLicensingType Setting---->
    </section>
    <!-- /.content -->
</div>
 <!-- /.content-wrapper -->
}
else
{
@Html.Partial("_401")
}