@using WaterResource.Service;
@{
    ViewBag.Title = "Hệ thống quản lý cơ sở dữ liệu thanh tra, kiểm tra";
    UserRightService _service = new UserRightService();
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (_service.IsViewAction("thanh-tra-kiem-tra", User.Identity.Name, "VIEW"))
{
    <div ng-controller="myCntrl as demo">
        <script src="~/Scripts/Inspection/Controller.js"></script>
        @Html.Partial("ImportServiceJs")

        @Html.Partial("ViewFilePDF")
        <!-- Main content -->
        <section class="content px-2">
            <div class="box-header with-border">
                <div class="col-md-12 row m-0 py-3 justify-content-end">
                    <div class="col-auto">
                        <div class="floating-label mb-2">
                            <input class="floating-input w-100" type="text" placeholder=" " ng-model="Keyword" ng-change="SearchThanhTra()">
                            <label class="font-13">Tìm kiếm</label>
                        </div>
                    </div>
                    @if (_service.IsViewAction("thanh-tra-kiem-tra", User.Identity.Name, "ADD"))
                    {
                        <div class="col-auto">
                            <button type="button" class="btn btn-sm btn-addnew font-10" ng-click="AddThanhTra('ThanhTra_addnew-windows')"><i class="fa fa-plus"></i> Thêm mới</button>
                        </div>
                    }

                </div>
            </div>
            <div class="box-body">
                <div class="col-md-12 p-0">
                    <div class="table-responsive">
                        <table class="table no-margin table-hover table-bordered">
                            <thead class="custom-table-thead">
                                <tr>
                                    <th class="text-center align-middle text-nowrap">STT</th>
                                    <th class="text-center align-middle text-nowrap"> Số văn bản </th>
                                    <th class="text-center align-middle text-nowrap"> Đợt thanh tra </th>
                                    <th class="text-center align-middle text-nowrap"> Đơn vị thanh tra </th>
                                    <th class="text-center align-middle text-nowrap"> Ngày thanh tra </th>
                                    <th class="text-center align-middle text-nowrap"> Tên công trình được thanh tra </th>
                                    <th class="text-center align-middle text-nowrap"> Ghi chú </th>
                                    <th class="text-center align-middle text-nowrap"> Tổng số tiền xử phạt vi phạm hành chính </th>
                                    <th class="text-center align-middle text-nowrap"> Văn bản kết luận thanh tra </th>
                                    <th rowspan="2" class="text-center align-middle" style="width:50px">Thao tác</th>
                                </tr>
                                <tr>
                                    <th class="text-center align-middle">(1)</th>
                                    <th class="text-center align-middle">(2)</th>
                                    <th class="text-center align-middle">(3) </th>
                                    <th class="text-center align-middle">(4)</th>
                                    <th class="text-center align-middle">(5)</th>
                                    <th class="text-center align-middle">(6)</th>
                                    <th class="text-center align-middle">(7)</th>
                                    <th class="text-center align-middle">(8)</th>
                                    <th class="text-center align-middle">(9)</th>
                                </tr>
                            </thead>
                            <tbody class="custom-table-tbody">
                                <tr ng-repeat="item in DataInspection">
                                    <!-- Lấy trong hàng  $scope.getDataThongTinDuLieuHoSoTram = items.data.ListData; của controler.js-->
                                    <td class="text-center align-middle text-nowrap" ng-bind="(currentPage -1)*numPerPage+$index+1"></td>
                                    <td class="text-center align-middle text-nowrap" ng-bind="item.DecisionNumber"></td>
                                    <td class="text-center align-middle text-nowrap" ng-bind="item.InspectionName"></td>
                                    <td class="text-center align-middle text-nowrap" ng-bind="item.InspectionUnit"></td>
                                    <td class="text-center align-middle text-nowrap" ng-bind="item.InspectionDate | date:'dd/MM/yyyy'"></td>
                                    <td class="text-center align-middle text-nowrap" ng-bind="item.ConstructionName"></td>
                                    <td ng-bind="item.Description" style="min-width:400px"></td>
                                    <td class="text-center align-middle" ng-bind="item.Fines" style="width:150px"></td>
                                    <td class="command text-center align-middle">
                                        <div class="tools d-flex justify-content-center" ng-if="item.FilePDF != null">
                                            <a href="javascript:void(0)" ng-click="openThanhTraFile(item)">
                                                <i class="fa-solid fa-file-pdf" title="Xem file PDF" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </td>
                                    <td class="sticky-col end-col text-center align-middle">
                                        <div class="tools d-flex justify-content-center">
                                            @if (_service.IsViewAction("thanh-tra-kiem-tra", User.Identity.Name, "EDIT"))
                                            {
                                                <a href="javascript:void(0)" class="px-2" title="Chỉnh sửa văn bản" ng-click="EditThanhTra('ThanhTra_addnew-windows',item)"><i class="fa fa-edit"></i></a>
                                            }
                                            @if (_service.IsViewAction("thanh-tra-kiem-tra", User.Identity.Name, "DELETE"))
                                            {
                                                <a href="javascript:void(0)" class="px-2 text-danger" title="Xoá văn bản" ng-click="DeleteThanhTra(item)"><i class="fa-solid fa-trash-can"></i></a>
                                            }
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- pagination phân trang -->
                    <div class="box-footer ">
                        <div class="box-tools pull-right">
                            <ul uib-pagination
                                total-items="totalInspection"
                                ng-model="currentPage"
                                items-per-page="numPerPage"
                                boundary-links="true"
                                previous-text=" &#xf104; " next-text=" &#xf105; "
                                first-text=" &#xf100; " last-text=" &#xf101; "
                                max-size="5" ng-change="pageChanged()"
                                rotate="true"
                                force-ellipses="true" class="pagination pagination-sm d-flex fa my-3"></ul>
                        </div>
                    </div>
                    <div class="sidenav p-0" id="ThanhTra_addnew-windows">
                        <div class="modal-content rounded">
                            <div class="modal-content rounded">
                                <div class="modal-header bg-primary d-flex">
                                    <p class="text-center text-white font-sm-15">{{HeaderAction}} KẾT QUẢ THANH TRA KIỂM TRA </p>
                                    <a href="javascript:void(0)" class="closebtn m-0 p-0 text-white" title="Đóng" ng-click="closeAside('ThanhTra_addnew-windows')">&times;</a>
                                </div>
                                <div class="modal-body">
                                    <div class="row m-0">
                                        <p class="divHead hidden">{{Action}}</p>
                                        <div class="col-12 p-0 row m-0 py-3">
                                            <div class="col-12 p-0">
                                                <div class="floating-label">
                                                    <div class="dropdown dropdown-scroll">
                                                        <input class="floating-input w-100 text-left" type="text" readonly data-toggle="dropdown" placeholder=" " value="{{construction_name}}" />
                                                        <label class="font-13">Công trình</label>
                                                        <ul class="dropdown-menu w-100" role="menu">
                                                            <li>
                                                                <input class="floating-input w-100 text-left" type="text" ng-model="consData.ConstructionName" placeholder=" Tìm công trình " />
                                                            </li>
                                                            <li class="border-bottom border-secondary p-0">
                                                                <a href="javascript:void(0)" class="text-primary nav-link py-0 px-1" ng-click="SetConsId(0, 'Khác', 0)">Khác</a>
                                                            </li>
                                                            <li class="border-bottom border-secondary p-0" ng-repeat='cons in AllConstruction | filter: consData'>
                                                                <a href="javascript:void(0)" class="text-primary nav-link py-0 px-1" ng-click="SetConsId(cons.Id, cons.ConstructionName, cons.TypeOfConstructionId)"> {{cons.ConstructionName}}</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-12 row mx-0 p-0 pb-3">
                                            <fieldset class="border border-dark col-12 p-3 row mx-0">
                                                <legend class="font-14 text-violet" style="width: auto"> Kết quả thanh kiểm tra</legend>
                                                <div class="col-md-6">
                                                    <label class="font-13">Số công văn thanh tra</label>
                                                    <input class="floating-input w-100" ng-model="item.DecisionNumber" placeholder=" ">
                                                </div>
                                                <div class="col-md-6">
                                                    <label class="font-13">Đợt thanh tra</label>
                                                    <input class="floating-input w-100" ng-model="item.InspectionName" placeholder=" ">
                                                </div>
                                                <div class="col-md-6">
                                                    <label class="font-13">Đơn vị thanh tra</label>
                                                    <input class="floating-input w-100" ng-model="item.InspectionUnit" placeholder=" ">
                                                </div>
                                                <div class="col-md-6">
                                                    <label class="font-13">Ngày thanh tra</label>
                                                    <input type="text" class="floating-input w-100 dpicker" placeholder="" uib-datepicker-popup="{{format}}" ng-model="item.InspectionDate" is-open="InspectionDate.opened" datepicker-options="dateOptions" ng-required="true" close-text="Đóng" current-text="Hôm nay" clear-text="Xóa" alt-input-formats="altInputFormats" ng-click="openDatepicker('InspectionDate')" />
                                                    @*<input class="floating-input w-100 datepicker" datepicker="" ng-model="item.InspectionDate" placeholder=" ">*@
                                                </div>
                                                <div class="col-md-6">
                                                    <label class="font-13">Tổng số tiền xử phạt vi phạm hành chính</label>
                                                    <input class="floating-input w-100" ng-model="item.Fines" placeholder=" ">
                                                </div>
                                                <div class="col-md-6">
                                                    <label class="font-13">File kết luận thanh tra</label>
                                                    <input type="file" accept="application/pdf" class="floating-input w-100" ng-model="item.FilePDF" placeholder=" " id="fileAttachs">
                                                </div>
                                                <div class="col-12">
                                                    <div class="floating-label mb-2 mt-3">
                                                        <textarea class="floating-input floating-textarea w-100 h-100" rows="3" ng-model="item.Description" placeholder=" "></textarea>
                                                        <label class="font-13">Ghi chú</label>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </div>
                                        <div class="form-group d-flex align-items-center justify-content-end col-12 mt-2">
                                            <button type="button" class="btn btn-sm btn-addnew" data-dismiss="modal" ng-click="SaveThanhTra('ThanhTra_addnew-windows')">Lưu lại <i class="fa fa-chevron-right"></i> </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
}
else
{
    @Html.Partial("_401")
}