@using WaterResource.Service;
@{
    ViewBag.Title = "Giám sát xả thải vào nguồn nước";
    UserRightService _service = new UserRightService();
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (_service.IsViewAction("/he-thong-giam-sat", User.Identity.Name, "VIEW"))
{
    <link href="~/Assets/leaflet/leaflet.css" rel="stylesheet" />
    <script src="~/Assets/leaflet/leaflet.js"></script>
    <script src="~/Assets/leaflet/L.KML.js"></script>
    <!-- Load Esri Leaflet from CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/esri-leaflet/2.0.4/esri-leaflet.js"></script>

    <!-- Load Esri Leaflet Vector from CDN -->
    <script src="https://unpkg.com/esri-leaflet-vector@3.1.3/dist/esri-leaflet-vector.js" crossorigin=""></script>
    <script src="~/Assets/leaflet/leaflet-bing-layer.js"></script>
    <script src="~/Assets/leaflet/Bing.js"></script>
    <div ng-controller="myCntrl as demo" id="Dischargewater">
        <script src="~/Scripts/MonitoringSystem/Controller.js"></script>
        @Html.Partial("ImportServiceJs")

        <!-- Main content -->
        <section class="content p-0">
            <div class="row m-0">
                <!--Bắt đầu bản đồ -->
                <div class="col-md-12 p-0">
                    <div style="width: 100%; height: calc( 60vh - 50px )">
                        <select id="basemaps" class="form-select switch-basemap" aria-label="Default select example">
                            <option value="Imagery">Bản đồ vệ tinh</option>
                            <option value="Topographic">Bản đồ địa hình</option>
                            <option value="Streets">Bản đồ đường</option>
                            <option value="Gray">Bản đồ xám</option>
                        </select>
                        <div class="common-map" id="Map_Dischargewater"></div>
                    </div>
                </div>
                <!--Hết bản đồ -->
                <!--phần kiểm soát vận hành các biểu tượng-->
                <div class="col-md-12 p-0">
                    <div class="row m-0 justify-content-center align-items-center pt-2 pb-1 px-2 justify-content-md-between">
                        @Html.Partial("_search")
                    </div>
                    <!--hết Phần các nút chọn-->
                    <!--Phần bảng -->
                    <div class="table-responsive">
                        <table class="table no-margin table-hover table-bordered">
                            <thead class="custom-table-thead">
                                <tr class="text-center align-middle">
                                    <th rowspan="3" class="text-center align-middle text-nowrap">STT</th>
                                    <th rowspan="3" class="text-center align-middle text-nowrap sticky-col start-col">Tên công trình</th>
                                    <th rowspan="2" class="text-center align-middle text-nowrap">Trạng thái vận hành </th>
                                    <th colspan="3"> Lưu lượng nước thải sau xử lý </th>
                                    <th colspan="5"> Chất lượng nước sau xử lý</th>
                                    <th colspan="3"> Lưu lượng nước thải tại nguồn tiếp nhận  </th>
                                    <th rowspan="3" class="text-center align-middle">Thao tác</th>
                                </tr>

                                <tr>
                                    <th>Yêu cầu </th>
                                    <th>Thực tế </th>
                                    <th>Chênh lệch (+/-) </th>
                                    <th class="text-nowrap">BOD5 (<span ng-bind="WaterQuality[1]"></span>) </th>
                                    <th class="text-nowrap">COD (<span ng-bind="WaterQuality[2]"></span>) </th>
                                    <th class="text-nowrap">DO (<span ng-bind="WaterQuality[3]"></span>) </th>
                                    <th class="text-nowrap">TSS (<span ng-bind="WaterQuality[4]"></span>) </th>
                                    <th class="text-nowrap">Coliform (<span ng-bind="WaterQuality[6]"></span>) </th>
                                    <th>Yêu cầu </th>
                                    <th>Thực tế </th>
                                    <th>Chênh lệch (+/-) </th>
                                </tr>
                            </thead>
                            <tbody class="custom-table-tbody">
                                <tr ng-repeat="item in DataConstruction">
                                    <th class="text-center align-middle" ng-bind="(currentPage -1)*numPerPage+$index+1"> </th>
                                    <td class="text-nowrap sticky-col start-col" style="min-width:100px">
                                        <span ng-bind-html="item.ConstructionName" class="text-primary" ng-click="zoomConstruction(item.Lng, item.Lat, item.Id)"></span>
                                        <img class="grid-item-image" style="width: 15px;" src="~/LocalFiles/images/earth.png" alt="altImg">
                                    </td>
                                    <td class="text-center align-middle" ng-bind-html="displayOperatingStatus(item)"></td>
                                    <td ng-bind-html="checkValuePreData(item.DischargeFlow)"></td>
                                    <td ng-bind-html="checkValuePreData(item.Xathaixl)"></td>
                                    <td ng-bind-html="calculatePreData(item.Xathaixl, item.DischargeFlow)"></td>

                                    <td ng-bind-html="checkValuePreData(item.BOD5)"></td>
                                    <td ng-bind-html="checkValuePreData(item.COD)"></td>
                                    <td ng-bind-html="checkValuePreData(item.DO)"></td>
                                    <td ng-bind-html="checkValuePreData(item.TSS)"></td>
                                    <td ng-bind-html="checkValuePreData(item.Coliform)"></td>

                                    <td ng-bind-html="checkValuePreData(item.DischargeFlow)"></td>
                                    <td ng-bind-html="checkValuePreData(item.Xathaitn)"></td>
                                    <td ng-bind-html="calculatePreData(item.Xathaitn, item.DischargeFlow)"></td>

                                    <td>
                                        <div class="d-flex">
                                            <a href="javascript:void(0)" class="px-2 text-nowrap" title="Xem chi tiết" ng-click="openAside('Online_Discharge_Operate_Monitoring', 0, 0, item, 'operate_Online_Discharge')"> <i> </i> Chi tiết</a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="floating-label col-md-4 p-0 mx-1">
                        <i class="font-16 font-weight-bold text-danger">(*): Các thông số giám sát theo thông tư 17/2021/TT-BTNMT</i>
                    </div>
                    <!-- pagination phân trang -->
                    <div class="box-footer ">
                        <div class="box-tools pull-right">
                            <ul uib-pagination
                                total-items="TotalCons"
                                ng-model="currentPage"
                                items-per-page="numPerPage"
                                boundary-links="true"
                                previous-text=" &#xf104; " next-text=" &#xf105; "
                                first-text=" &#xf100; " last-text=" &#xf101; "
                                max-size="5" ng-change="pageChanged()"
                                rotate="true"
                                force-ellipses="true" class="pagination pagination-sm d-flex fa my-3"></ul>
                        </div>
                    </div>
                </div>
            </div>
            <div id="Online_Discharge_Operate_Monitoring" class="sidenav p-0 ">
                <div>
                    <div class="doc-title p-2 col-12 d-flex align-items-center" style="background:#15538f; color: #fff; height: 50px">
                        <div class="d-flex col-12 p-0 align-items-center">
                            <div class="col-10 p-0">
                                <div class="admission-title d-flex center-center">
                                    <p class="m-0 col-12 p-0 text-left text-uppercase font-16"> SỐ LIỆU VẬN HÀNH CỦA CÔNG TRÌNH - {{ConsName}} </p>
                                </div>
                            </div>
                            <a href="javascript:void(0)" class="closebtn m-0 p-0 text-white" ng-click="closeAside('Online_Discharge_Operate_Monitoring')"><i class="fa fa-arrow-right font-20"></i></a>
                        </div>
                    </div>
                </div>
                <div class="row m-0">
                    <!-- GIAM SAT KET NOI -->
                    <div class="col-md-12 py-2">
                        <div class="card-header rounded-0 p-0">
                            <ul class="nav nav-tabs" id="Irrigation_Operate-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link rounded-0 active" id="Online_Discharge_Operate_Monitoring_Data-tab" data-toggle="pill" href="#Online_Discharge_Operate_Monitoring_Data" role="tab" aria-controls="Online_Discharge_Operate_Monitoring_Data" aria-selected="false">Số liệu vận hành</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link rounded-0" id="Online_Discharge_Operate_Monitoring_Chart-tab" data-toggle="pill" href="#Online_Discharge_Operate_Monitoring_Chart" role="tab" aria-controls="Online_Discharge_Operate_Monitoring_Chart" aria-selected="false">Đồ thị vận hành</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="Online_Discharge_Operate_Monitoring_Data">
                                    <div class="row m-0 justify-content-between align-items-center py-2">
                                        <div class="row m-0 align-items-center">
                                            <span class="px-2"><img src="~/LocalFiles/images/live.gif" class="mr-2" width="25" />Thời gian hiện tại: <span ng-bind-html="currentTime"></span> </span>
                                        </div>
                                        <div class="row m-0">
                                            <div class="row m-0 align-items-center">
                                                <span class="px-2">Thời gian từ: </span>
                                                <div class="row m-0">
                                                    <input type="datetime-local" class="form-control form-control-sm col-md-12" ng-model="inputStartTime" id="inputStartTime">
                                                </div>
                                                <span class="px-2">Đến: </span>
                                                <div class="row m-0">
                                                    <input type="datetime-local" class="form-control form-control-sm col-md-12" ng-model="inputEndTime" id="inputEndTime">
                                                </div>
                                            </div>
                                            <div class="row m-0 align-items-center p-1">
                                                <button ng-click="filterPreData()" class="btn btn-sm btn-addnew px-4 mx-2">Lọc</button>
                                                <button class="btn btn-sm btn-addnew px-4 mx-2">Thêm file xls</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body p-0">
                                        <div class="table-responsive">
                                            <table class="table no-margin table-hover table-bordered">
                                                <thead class="custom-table-thead">
                                                    <tr class="text-center align-middle">
                                                        <th rowspan="3" class="text-center align-middle text-nowrap">STT</th>
                                                        <th rowspan="3" class="text-center align-middle text-nowrap">Thời gian</th>
                                                        <th colspan="3"> Lưu lượng nước thải sau xử lý </th>
                                                        <th colspan="5"> Chất lượng nước sau xử lý</th>
                                                        <th colspan="3"> Lưu lượng nước thải tại nguồn tiếp nhận  </th>
                                                        <th rowspan="3" class="text-center align-middle">Trạng thái vận hành </th>
                                                    </tr>

                                                    <tr>
                                                        <th>Yêu cầu </th>
                                                        <th>Thực tế </th>
                                                        <th>Chênh lệch (+/-) </th>
                                                        <th class="text-nowrap">BOD5 (<span ng-bind="WaterQuality[1]"></span>) </th>
                                                        <th class="text-nowrap">COD (<span ng-bind="WaterQuality[2]"></span>) </th>
                                                        <th class="text-nowrap">DO (<span ng-bind="WaterQuality[3]"></span>) </th>
                                                        <th class="text-nowrap">TSS (<span ng-bind="WaterQuality[4]"></span>) </th>
                                                        <th class="text-nowrap">Coliform (<span ng-bind="WaterQuality[6]"></span>) </th>
                                                        <th>Yêu cầu </th>
                                                        <th>Thực tế </th>
                                                        <th>Chênh lệch (+/-) </th>
                                                    </tr>
                                                </thead>
                                                <tbody class="custom-table-tbody">
                                                    <tr ng-repeat="item in DataPre">
                                                        <th class="text-center align-middle" ng-bind="(currentPage -1)*numPerPage+$index+1"> </th>
                                                        <td class="text-nowrap">{{item.time}}</td>
                                                        <td ng-bind-html="checkValuePreData(item.qxathaiyeucau)"></td>
                                                        <td ng-bind-html="checkValuePreData(item.xathaixuly)"></td>
                                                        <td class="text-center font-weight-bold {{item.qxathaiyeucau > item.xathaixuly ? 'text-success' : 'text-danger'}}">{{item.xathaixuly - item.qxathaiyeucau | number: 2}}</td>
                                                        <td ng-bind="item.BOD5"></td>
                                                        <td ng-bind="item.COD"></td>
                                                        <td ng-bind="item.DO"></td>
                                                        <td ng-bind="item.TSS"></td>
                                                        <td ng-bind="item.Coliform"></td>
                                                        <td ng-bind-html="checkValuePreData(item.qxathaiyeucau)"></td>
                                                        <td ng-bind-html="checkValuePreData(item.xathaitiepnhan)"></td>
                                                        <td class="text-center font-weight-bold {{item.qxathaiyeucau > item.xathaitiepnhan ? 'text-success' : 'text-danger'}}">{{item.xathaitiepnhan - item.qxathaiyeucau | number: 2}}</td>
                                                        <td ng-bind-html="checkDeviceStatus(item.trangthaithietbi)"></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="Online_Discharge_Operate_Monitoring_Chart">
                                    <div class="col-12 p-0">
                                        <div id="operate_Online_Discharge"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /primary modal -->
        </section>
    </div>
}
else
{
    @Html.Partial("_401")
}