@using Microsoft.AspNet.Identity
@using WaterResource.Service;
@{
    ViewBag.Title = "Thống kê cơ sở dữ liệu tiền cấp phép";
    UserRightService _service = new UserRightService();
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (_service.IsViewAction("/tien-cap-quyen", User.Identity.Name, "VIEW"))
{
<div ng-controller="myCntrl as demo">
    <script src="~/Scripts/LicenseFee/Controller.js"></script>
    @Html.Partial("ImportServiceJs")
    <!-- Main content -->
    <section class="content p-2">
        <div class="row m-0">
            <div class="col-md-12 row mx-0 p-0 pb-2">
                <div class="card col-12 px-0 py-2 m-0">
                    <div class="col-12 p-0 row mx-0">
                        <div class="col-12 text-center font-20 text-uppercase mb-3 py-2 border-bottom">Tổng tiền cấp quyền: <span class="font-weight-bold">{{TotalBTNMT + TotalUBND | number : fractionSize }} VNĐ</span> </div>
                        <div class="col-6 d-flex mx-0 p-2 pb-0 border-right">
                            <p class="col-12 text-center mb-0 font-16 px-0 pb-2">
                                Bộ TNMT phê duyệt: <span class="font-weight-bold d-block">{{TotalBTNMT - 0 | number : fractionSize }} VNĐ</span>
                            </p>
                        </div>
                        <div class="col-6 d-flex mx-0 p-2 pb-0 border-left">
                            <p class="col-12 text-center mb-0 font-16 px-0 pb-2">
                                UBND Tỉnh phê duyệt: <span class="font-weight-bold d-block">{{TotalUBND - 0 | number : fractionSize}} VNĐ</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 row mx-0 p-0 pb-2">
                <!-- BAR CHART -->
                <div class="card col-12 px-0 py-2 m-0">
                    <div class="card-header p-0 border-bottom ui-sortable-handle">
                        <p class="card-title col-auto font-16 pb-2 pr-5">
                            Số liệu thống kê tiền cấp quyền đã được cấp theo năm
                        </p>
                        <div class="card-tools mr-2">
                            <button type="button" class="btn btn-collapsed-box-count-license btn-outline-primary border-primary btn-sm" data-card-widget="collapse" title="Collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body p-0 mt-1" style="display: block;">
                        <div class="row m-0 justify-content-end pt-4 pb-2">
                            <div class="floating-label p-2 col-3 col-md-auto">
                                <select name="StartYear" ng-options="opt for opt in DataYear track by opt" ng-model="StartYear" class="floating-select w-100"></select>
                                <label>Từ năm</label>
                            </div>
                            <div class="floating-label p-2 col-3 col-md-auto">
                                <select name="StartYear" ng-options="opt for opt in DataYear track by opt" ng-model="EndYear" class="floating-select w-100"></select>
                                <label>Đến năm</label>
                            </div>
                            <div class="floating-label p-2 col-3 col-md-auto">
                                <select class="floating-select w-100" ng-model="LicensingAuthorities">
                                    <option value="">-- Tất cả --</option>
                                    <option value="0">Bộ Tài nguyên và môi trường</option>
                                    <option value="1">Ủy ban nhân dân tỉnh</option>
                                </select>
                                <label>Cơ quan</label>
                            </div>
                            <div class="floating-label p-2 col-3 col-md-auto">
                                <button class="btn btn-sm btn-addnew w-100" ng-click="Fillter()">Lọc</button>
                            </div>
                        </div>

                        <div>
                            <div id="chart"></div>
                        </div>
                    </div>
                    <!-- /BAR CHART -->
                </div>
            </div>
        </div>
    </section>
</div>
 <!-- /.content-wrapper -->
}
else
{
@Html.Partial("_401")
}