@using WaterResource.Service;
@{
    ViewBag.Title = "Action";
    UserRightService _service = new UserRightService();
}

<div ng-controller="myCntrl as demo">
    <link rel="stylesheet" type="text/css" href="~/Assets/AppResource/blockUI/angular-block-ui.css">
    <script type="text/javascript" src="~/Assets/AppResource/blockUI/angular-block-ui.js"></script>
    <script src="~/Assets/AppJs/Department/Service.js"></script>
    <script src="~/Assets/AppJs/Department/Controller.js"></script>
    <!-- Main content -->
    <section class="content container-fluid">
        <div class="col-md-12">
            <!-- Horizontal Form -->
            <div class="box box-info">
                <div class="box-header with-border">
                    <div class="col-md-3">
                        <h3 class="box-title"><i class="fa fa-users" aria-hidden="true"></i> @ViewBag.Title</h3>
                    </div>
                    <div class="col-md-9">
                        @if (_service.IsViewAction(Request.RawUrl, User.Identity.Name, "VIEW") == true)
                        {
                        <div class="col-sm-6">
                        </div>
                        <div class="col-sm-4">
                            <div class="box-tools pull-right">
                                <div class="input-group input-group-sm">
                                    <input type="text" name="table_search" class="form-control pull-right" placeholder="Search" ng-model="Keyword">
                                    <div class="input-group-btn">
                                        <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="input-group input-group-sm pull-right">
                                <button type="button" class="btn btn-block btn-addnew pull-right" style="width:100px;height:31px" data-toggle="modal" data-target="#addnew-window" ng-click="AddItem()"><i class="fa fa-plus"></i> Thêm mới</button>
                            </div>
                        </div>
                        }
                    </div>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form class="form-horizontal">
                    <div class="box-body">
                        <div class="col-md-12">
                            <table class="table no-margin table-hover">
                                <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Tên phòng ban</th>
                                        <th>Mô tả</th>
                                        <th>Thứ tự</th>
                                        <th class="command" style="text-align:center;width:70px">#</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in Departments | filter:Keyword">
                                        <td ng-bind-html="(currentPage -1)*numPerPage+$index+1"></td>
                                        <td ng-bind-html="item.Name"></td>
                                        <td ng-bind-html="item.Description"></td>
                                        <td ng-bind-html="item.DisplayOrder"></td>
                                        <td class="command">
                                            <div class="tools">
                                                <a href="javascript:void(0)" data-toggle="modal" data-target="#addnew-window" ng-click="EditItem(item)">
                                                    <i class="fa fa-edit"></i>
                                                </a>
                                                <a href="javascript:void(0)" class="text-red" ng-click="DeleteItem(item)">
                                                    <i class="fa-solid fa-trash-can"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <div class="box-tools pull-right">
                            <ul uib-pagination
                                total-items="TotalItem"
                                ng-model="currentPage"
                                items-per-page="numPerPage"
                                boundary-links="true"
                                previous-text=" &#xf104; " next-text=" &#xf105; "
                                first-text=" &#xf100; " last-text=" &#xf101; "
                                max-size="5" ng-change="pageChanged()"
                            rotate ="true"
                            force-ellipses="true" class="pagination pagination-sm inline fa"></ul>
                        </div>
                    </div>
                    <!-- /.box-footer -->
                </form>
            </div>
            <!-- /.box -->
        </div>

        <!-- Primary modal -->
        <div id="addnew-window" class="modal fade">
            <div class="modal-dialog" style="width:50%">
                <div class="modal-content">
                    <div class="modal-header bg-primary">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h6 class="modal-title"><i class="fa fa-users" aria-hidden="true"></i> Cập nhật phòng ban</h6>
                    </div>
                    <div class="modal-body">
                        <div class="form-horizontal">
                            <div class="row">
                                <div class="col-md-12">
                                    <label for="tbxName">Tên nhóm :</label>
                                    <input type="text" id="tbxName" ng-model="myitem.Name" class="form-control" />
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group" style="margin-left:0px;margin-right:0px;">
                                        <label>Mô tả :</label>
                                        <input type="text" id="tbxDescription" ng-model="myitem.Description" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="col-md-6" style="padding-left: 0px;">
                                        <div class="form-group" style="margin-left:0px;margin-right:0px;">
                                            <label>Thứ tự hiển thị :</label>
                                            <input type="number" id="tbxOrder" ng-model="myitem.DisplayOrder" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-md-6" style="padding-right: 0px;">
                                        <label>&nbsp; &nbsp;</label>
                                        <div class="form-group" style="margin-left:0px;margin-right:0px;">
                                            <div class="form-control">
                                                <label>
                                                    <input type="checkbox" id="chkStatus" ng-model="myitem.Status" /> Trạng thái hiển thị :
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-addnew" data-dismiss="modal" ng-click="Save()">Lưu thay đổi</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /primary modal -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->