<!-- Main Footer -->
<footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
        Viện Thủy văn, Môi trường và Biến đổi khí hậu
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; @DateTime.Now.Year <a href="javascript:void(0)">Trường ĐH Thủy Lợi</a>.</strong> All rights reserved.
</footer>