@using WaterResource.Service;
@{
    ViewBag.Title = "Quản lý tài khoản truyền dữ liệu";
    UserRightService _service = new UserRightService();
}
@if (_service.IsViewAction("/quan-ly-yeu-cau-ket-noi", User.Identity.Name, "VIEW"))
{
<div ng-controller="myCntrl as demo">
    <script src="~/Scripts/DataTransmission/Controller.js"></script>
    @Html.Partial("ImportServiceJs")
    <!-- Main content -->
    <section class="content container-fluid">
        <div class="col-md-12">
            <!-- Horizontal Form -->
            <div class="box border-0 pt-3">
                <div class="box-header with-border">
                    <div class="col-md-12 row m-0 justify-content-end py-2">
                        <div class="col-auto">
                            <div class="floating-label mb-2">
                                <input class="floating-input w-100" type="text" placeholder=" " ng-model="Keyword" ng-change="Search()">
                                <label>Tìm kiếm</label>
                            </div>
                        </div>
                        <div class="col-auto">
                            <button type="button" class="btn btn-sm btn-addnew" ng-click="RequestConnection()"> {{Status ? 'Tài khoản chưa được duyệt' : 'Tài khoản đã được duyệt'}} </button>
                        </div>
                        <div class="col-auto">
                            <button type="button" class="btn btn-sm btn-addnew" ng-click="AddItem('DataTransAcc-window')" title="Thêm tài khoản mới"><i class="fa fa-plus"></i>&nbsp;Thêm mới</button>
                        </div>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="col-md-12 table-responsive">
                        <table class="table no-margin table-hover" id="table-view-license">
                            <thead class="custom-table-thead">
                                <tr>
                                    <th style="width: 5%">STT</th>
                                    <th>Tài khoản đăng ký giám sát </th>
                                    <th style="width: 25%">Địa chỉ FTP </th>
                                    <th>Mật khẩu </th>
                                    <th>Thư mục lưu trữ </th>
                                    <th>Camera </th>
                                    <th>Thời gian tạo</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody class="custom-table-tbody">
                                <tr ng-repeat="item in DataTransmissions | filter:Keyword">
                                    <td ng-bind-html="(currentPage -1)*numPerPage+$index+1" class="text-center"></td>
                                    <td ng-bind-html="item.UserName"></td>
                                    <td ng-bind-html="item.FTPAddress"></td>
                                    <td ng-bind-html="item.Password"></td>
                                    <td ng-bind-html="item.WorkingDirectory"></td>
                                    <td><a ng-bind-html="item.CameraLink" href="{{item.CameraLink}}" target="_blank"></a></td>
                                    <td ng-bind-html="item.CreatedTime | date:'dd/MM/yyyy HH:mm:ss'"></td>
                                    <td class="command">
                                        <div class="tools d-flex">
                                            <div ng-if="!Status">
                                                <a href="javascript:void(0)" class="py-0" ng-click="confirmData(item)">
                                                    Duyệt
                                                </a>
                                            </div>
                                            <div ng-if="Status">
                                                <a href="#" class="py-0" data-toggle="modal" data-target="#addnew-window" ng-click="EditItem('DataTransAcc-window', item)">
                                                    <i class="fa fa-edit"></i>
                                                </a>
                                                <a href="javascript:void(0)" class="text-red py-0" ng-click="DeleteItem(item)">
                                                    <i class="fa-solid fa-trash-can"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-12 row m-0 justify-content-end">
                        <p class="m-0">Tổng số bản ghi: <span ng-bind-html="TotalItemTransAcc"></span></p>
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <div class="box-tools pull-right">
                        <ul uib-pagination
                            total-items="TotalItemTransAcc"
                            ng-model="currentPage"
                            items-per-page="numPerPage"
                            boundary-links="true"
                            previous-text=" &#xf104;"
                            next-text=" &#xf105;"
                            first-text=" &#xf100;"
                            last-text=" &#xf101;"
                            max-size="maxSize"
                            ng-change="pageChanged()"
                            class="pagination pagination-sm inline fa d-flex"></ul>
                    </div>
                </div>
                <!-- /.box-footer -->
            </div>
            <!-- /.box -->
        </div>
        <!-- Primary modal -->
        <div class="sidenav p-0" id="DataTransAcc-window">
            <div class="modal-content">
                <div>
                    <div class="doc-title py-2 pr-0 pl-2 col-12 d-flex align-items-center" style="background:#15538f; color: #fff; height: 50px">
                        <div class="d-flex col-12 p-0 align-items-center">
                            <div class="col-10 p-0">
                                <div class="admission-title d-flex center-center">
                                    <p class="m-0 col-12 p-0 text-left text-uppercase font-16"> {{HeaderAction}} TÀI KHOẢN </p>
                                </div>
                            </div>
                            <a href="javascript:void(0)" class="closebtn m-0 p-0 text-white" ng-click="closeAside('DataTransAcc-window')">&times;</a>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        <fieldset class="col-12 border border-secondary p-3 mb-2 background-color bg-lightgray">
                            <legend class="font-18 font-weight-bold text-primary pb-4" style="width: auto">THÔNG TIN TÀI KHOẢN</legend>
                            <div class="row col-12 m-0">
                                <div class="col-md-6 py-3">
                                    <div class="floating-label">
                                        <input type="text" class="floating-input w-100" placeholder=" " ng-model="myitem.UserName">
                                        <label> Tên tài khoản </label>
                                    </div>
                                </div>
                                <div class="col-md-6 py-3">
                                    <div class="floating-label">
                                        <input type="text" class="floating-input w-100" placeholder=" " ng-model="myitem.Password">
                                        <label> Mật khẩu </label>
                                    </div>
                                </div>
                                <div class="col-md-6 py-3">
                                    <div class="floating-label">
                                        <div class="floating-label">
                                            <input type="text" class="floating-input w-100" placeholder=" " ng-model="myitem.WorkingDirectory">
                                            <label>Thư mục lưu trữ</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 py-3">
                                    <div class="floating-label">
                                        <input type="text" class="floating-input w-100" placeholder=" " ng-model="myitem.CameraLink">
                                        <label>Kết nối camera</label>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-addnew" data-dismiss="modal" ng-click="Save('DataTransAcc-window')"><i class="fa fa-fw fa-save"></i>&nbsp;Lưu</button>
                </div>
            </div>
        </div>
        <!-- /primary modal -->
    </section>
    <!-- /.content -->
</div>
 <!-- /.content-wrapper -->
}
else
{
@Html.Partial("_401")
}