@using WaterResource.Service;
@{
    ViewBag.Title = "Thông tin tổ chức/cá nhân";
    UserRightService _service = new UserRightService();
}
@if (_service.IsViewAction("/doanh-nghiep", User.Identity.Name, "VIEW"))
{
    <style>
        .main-sidebar {
            min-height: unset !important;
        }
    </style>
    <div ng-controller="myCntrl as demo">
        <script src="~/Scripts/Business/Service.js"></script>
        <script src="~/Scripts/Business/Controller.js"></script>
        <!-- Main content -->

        <input type="hidden" id="tbxUsername" value="@User.Identity.Name" />
        <section class="content container-fluid">
            @if (_service.IsSuperUser(User.Identity.Name) || _service.IsGuestUser(User.Identity.Name))
            {
                <div class="col-md-12">
                    <!-- Horizontal Form -->
                    <div class="box">
                        <div class="box-header with-border pt-4 pb-2 ">
                            <div class="col-md-12 row m-0 justify-content-end align-items-center">
                                <div class="col-auto row m-0">
                                    <div class="floating-label mr-0 mr-md-2">
                                        <input class="floating-input w-100" type="text" placeholder=" Tìm kiếm " ng-model="Keyword">
                                    </div>
                                    <button type="button" class="btn btn-sm btn-addnew" ng-click="Search()">Tìm kiếm</button>
                                </div>
                                <div class="col-auto">
                                    @if (_service.IsSuperUser(User.Identity.Name))
                                    {
                                        <button type="button" class="btn btn-sm btn-addnew" data-toggle="modal" data-target="#addnew-window" ng-click="AddItem()"> Thêm mới</button>
                                    }
                                </div>
                            </div>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <div class="col-md-12 table-responsive">
                                <table class="table no-margin table-hover" id="table-view-license">
                                    <thead class="custom-table-thead">
                                        <tr>
                                            <th style="width: 25px">STT</th>
                                            <th class="text-nowrap">Tên</th>
                                            <th class="text-nowrap"> Địa chỉ </th>
                                            <th class="text-nowrap"> Điện thoại </th>
                                            <th class="text-nowrap"> Email </th>
                                            <th class="text-nowrap"> Tài khoản </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody class="custom-table-tbody">
                                        <tr ng-repeat="item in Busineses">
                                            <td class="text-center" ng-bind-html="(currentPage -1)*numPerPage+$index+1"></td>
                                            <td class="" ng-bind-html="item.Name"></td>
                                            <td ng-bind-html="item.Address"></td>
                                            <td class="" ng-bind-html="item.Phone"></td>
                                            <td class="" ng-bind-html="item.Email"></td>
                                            <td class="" ng-bind-html="item.UserName"></td>
                                            <td class="command">
                                                @if (_service.IsSuperUser(User.Identity.Name))
                                                {
                                                    <div class="tools d-flex">
                                                        <a href="#" class="py-0" data-toggle="modal" data-target="#addnew-window" ng-click="EditItem(item)">
                                                            <i class="fa fa-edit"></i>
                                                        </a>
                                                        <a href="#" class="text-red py-0" ng-click="DeleteItem(item)">
                                                            <i class="fa-solid fa-trash-can"></i>
                                                        </a>
                                                    </div>
                                                }

                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer">
                            <div class="box-tools pull-right">
                                <ul uib-pagination
                                    total-items="TotalItem"
                                    ng-model="currentPage"
                                    items-per-page="numPerPage"
                                    boundary-links="true"
                                    previous-text=" &#xf104;"
                                    next-text=" &#xf105;"
                                    first-text=" &#xf100;"
                                    last-text=" &#xf101;"
                                    max-size="maxSize"
                                    ng-change="pageChanged()"
                                    class="pagination pagination-sm inline fa d-flex"></ul>
                            </div>
                        </div>
                        <!-- /.box-footer -->
                    </div>
                    <!-- /.box -->
                </div>

                <!-- Primary modal -->
                <div id="addnew-window" class="modal fade">
                    <div class="modal-dialog" style="max-width:50%">
                        <div class="modal-content">
                            <div class="modal-header bg-primary d-flex">
                                <h6 class="modal-title text-white"><i class="fa fa-users" aria-hidden="true"></i> {{HeaderAction}} THÔNG TIN TỔ CHỨC/CÁ NHÂN </h6>
                                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                            </div>
                            <div class="modal-body">
                                <div class="form-horizontal">

                                    <div class="row">
                                        <div class="col-md-8 py-2">
                                            <div class="floating-label mb-2">
                                                <input class="floating-input w-100" type="text" placeholder=" " ng-model="myitem.Name" />
                                                <label>Tên tổ chức/cá nhân <sup class="text-danger">*</sup></label>
                                            </div>
                                        </div>
                                        <div class="col-md-4 py-2">
                                            <div class="floating-label mb-2">
                                                <input class="floating-input w-100" type="text" placeholder=" " ng-model="myitem.UserName" />
                                                <label>Tài khoản truy cập</label>
                                            </div>
                                        </div>
                                        <div class="col-md-12 py-2">
                                            <div class="floating-label mb-2">
                                                <input class="floating-input w-100" type="text" placeholder=" " ng-model="myitem.Address" />
                                                <label>Địa chỉ <sup class="text-danger">*</sup></label>
                                            </div>
                                        </div>
                                        <div class="col-md-6 py-2">
                                            <div class="floating-label mb-2">
                                                <input class="floating-input w-100" type="text" placeholder=" " ng-model="myitem.Phone" />
                                                <label>Điện thoại</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6 py-2">
                                            <div class="floating-label mb-2">
                                                <input class="floating-input w-100" type="text" placeholder=" " ng-model="myitem.Fax" />
                                                <label>Fax</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6 py-2">
                                            <div class="floating-label mb-2">
                                                <input class="floating-input w-100" type="text" placeholder=" " ng-model="myitem.Email" />
                                                <label>Email</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6 py-2">
                                            <div class="floating-label mb-2">
                                                <input class="floating-input w-100" type="text" placeholder=" " ng-model="myitem.IdentifierCode" />
                                                <label>Mã định danh(Số CMND/CCCD hoặc Mã định danh DN)</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-cancel" data-dismiss="modal">Đóng</button>
                                <button type="button" class="btn btn-addnew" data-dismiss="modal" ng-click="Save(myitem)"> Lưu</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /primary modal -->
            }
            else
            {
                <div class="col-md-12">
                    <!-- Horizontal Form -->
                    <div class="box border-0 pt-3">
                        <div class="box-header with-border">
                            <div class="col-md-12 row m-0 justify-content-end">
                                <div class="col-auto" ng-if="myitem">
                                    <button type="button" class="btn btn-addnew" ng-click="openAside('myDasboard', 'Update', myitem)">
                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Sửa thông tin doanh nghiệp
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <div class="col-md-12">
                                <!--IF NULL INFO-->
                                <div>
                                    <table class="table no-margin table-borderless table-sm">
                                        <tr>
                                            <td class="align-middle" style="width:30%">Tên doanh nghiệp: </td>
                                            <td class="align-middle"><input type="text" disabled ng-model="myitem.Name" class="form-control border-0" /></td>
                                        </tr>
                                        <tr>
                                            <td class="align-middle">Người đại diện pháp luật: </td>
                                            <td class="align-middle"><input type="text" disabled ng-model="myitem.Director" class="form-control border-0" /></td>
                                        </tr>
                                        <tr>
                                            <td class="align-middle">Người được ủy quyền: </td>
                                            <td class="align-middle"><input type="text" disabled ng-model="myitem.AuthorityPerson" class="form-control border-0" /></td>
                                        </tr>
                                        <tr>
                                            <td class="align-middle">Giấy phép kinh doanh: </td>
                                            <td class="align-middle"><input type="text" disabled ng-model="myitem.BusinessRegNumber" class="form-control border-0" /></td>
                                        </tr>
                                        <tr>
                                            <td class="align-middle">Mã số thuế: </td>
                                            <td class="align-middle"><input type="text" disabled ng-model="myitem.TaxNumber" class="form-control border-0" /></td>
                                        </tr>
                                        <tr>
                                            <td class="align-middle">Địa chỉ: </td>
                                            <td class="align-middle"><input type="text" disabled ng-model="myitem.Address" class="form-control border-0" /></td>
                                        </tr>
                                        <tr>
                                            <td class="align-middle">Điện thoại: </td>
                                            <td class="align-middle"><input type="text" disabled ng-model="myitem.Phone" class="form-control border-0" /></td>
                                        </tr>
                                        <tr>
                                            <td class="align-middle">Fax: </td>
                                            <td class="align-middle"><input type="text" disabled ng-model="myitem.Fax" class="form-control border-0" /></td>
                                        </tr>
                                        <tr>
                                            <td class="align-middle">Email: </td>
                                            <td class="align-middle"><input type="text" disabled ng-model="myitem.Email" class="form-control border-0" /></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box -->
                </div>
            }
            <!----Begin Add/Edit IF EXIST INFO---->
            <div id="myDasboard" class="sidenav p-0">
                <a href="#" class="closebtn" style="top:0px; right: 0px" ng-click="closeAside('myDasboard')">&times;</a>
                <div>
                    <div class="doc-title">
                        <div class="row">
                            <div class="col-sm-12 col-12">
                                <div class="admission-title">
                                    <h4><i class="fa fa-info-circle" aria-hidden="true"></i>  <span ng-bind-html="HeaderAction"></span> </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <table class="table no-margin table-hover table-sm">
                            <tr>
                                <td style="width:30%">Tên doanh nghiệp<sup class="text-danger">*</sup>: </td>
                                <td><input type="text" ng-model="myitem.Name" class="form-control" /></td>
                            </tr>
                            <tr>
                                <td>Người đại diện pháp luật: </td>
                                <td><input type="text" ng-model="myitem.Director" class="form-control" /></td>
                            </tr>
                            <tr>
                                <td>Người được ủy quyền: </td>
                                <td><input type="text" ng-model="myitem.AuthorityPerson" class="form-control" /></td>
                            </tr>
                            <tr>
                                <td>Giấy phép kinh doanh: </td>
                                <td><input type="text" ng-model="myitem.BusinessRegNumber" class="form-control" /></td>
                            </tr>
                            <tr>
                                <td>Mã số thuế: </td>
                                <td><input type="text" ng-model="myitem.TaxNumber" class="form-control" /></td>
                            </tr>
                            <tr>
                                <td>Địa chỉ<sup class="text-danger">*</sup>: </td>
                                <td><input type="text" ng-model="myitem.Address" class="form-control" /></td>
                            </tr>
                            <tr>
                                <td>Điện thoại: </td>
                                <td><input type="text" ng-model="myitem.Phone" class="form-control" /></td>
                            </tr>
                            <tr>
                                <td>Fax: </td>
                                <td><input type="text" ng-model="myitem.Fax" class="form-control" /></td>
                            </tr>
                            <tr>
                                <td>Email: </td>
                                <td><input type="text" ng-model="myitem.Email" class="form-control" /></td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-12 d-flex justify-content-end py-5">
                        @if (_service.IsSuperUser(User.Identity.Name))
                        {
                            <button type="button" class="btn btn-addnew" ng-click="Save(myitem)"><i class="fa fa-floppy-o" aria-hidden="true"></i> Lưu </button>
                        }
                    </div>
                </div>
            </div>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
}
else
{
    @Html.Partial("_401")
}